.light {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7C7296;
  --md-sys-color-tertiary-palette-key-color: #924274;
  --md-sys-color-neutral-palette-key-color: #7A767D;
  --md-sys-color-neutral-variant-palette-key-color: #7A7582;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FDF7FF;
  --md-sys-color-on-background: #343137;
  --md-sys-color-surface: #FDF7FF;
  --md-sys-color-surface-dim: #DED8E0;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F2FA;
  --md-sys-color-surface-container: #F2ECF4;
  --md-sys-color-surface-container-high: #ECE6EE;
  --md-sys-color-surface-container-highest: #E6E0E9;
  --md-sys-color-on-surface: #343137;
  --md-sys-color-surface-variant: #E6E0E9;
  --md-sys-color-on-surface-variant: #615E64;
  --md-sys-color-outline: #7D7980;
  --md-sys-color-outline-variant: #B5B0B8;
  --md-sys-color-inverse-surface: #0F0D13;
  --md-sys-color-inverse-on-surface: #A09BA3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6750A5;
  --md-sys-color-primary: #6750A5;
  --md-sys-color-primary-dim: #5B4497;
  --md-sys-color-on-primary: #FDF7FF;
  --md-sys-color-primary-container: #BBA2FD;
  --md-sys-color-on-primary-container: #381E72;
  --md-sys-color-primary-fixed: #BBA2FD;
  --md-sys-color-primary-fixed-dim: #AD95EF;
  --md-sys-color-on-primary-fixed: #1E0053;
  --md-sys-color-on-primary-fixed-variant: #41297C;
  --md-sys-color-inverse-primary: #BBA2FD;
  --md-sys-color-secondary: #645A7D;
  --md-sys-color-secondary-dim: #574E70;
  --md-sys-color-on-secondary: #FDF7FF;
  --md-sys-color-secondary-container: #E9DDFF;
  --md-sys-color-on-secondary-container: #564D6E;
  --md-sys-color-secondary-fixed: #E9DDFF;
  --md-sys-color-secondary-fixed-dim: #DBCEF7;
  --md-sys-color-on-secondary-fixed: #433A5B;
  --md-sys-color-on-secondary-fixed-variant: #605679;
  --md-sys-color-tertiary: #934375;
  --md-sys-color-tertiary-dim: #843768;
  --md-sys-color-on-tertiary: #FFF7F8;
  --md-sys-color-tertiary-container: #FA9AD2;
  --md-sys-color-on-tertiary-container: #62194A;
  --md-sys-color-tertiary-fixed: #FA9AD2;
  --md-sys-color-tertiary-fixed-dim: #B1A5CC;
  --md-sys-color-on-tertiary-fixed: #440032;
  --md-sys-color-on-tertiary-fixed-variant: #6D2253;
  --md-sys-color-error: #BB1B1B;
  --md-sys-color-error-dim: #A90810;
  --md-sys-color-on-error: #FFF7F6;
  --md-sys-color-error-container: #FE4E44;
  --md-sys-color-on-error-container: #1F0000;
  --md-sys-color-control-activated: #BBA2FD;
  --md-sys-color-control-normal: #615E64;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #A09BA3;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC4D2;
  --md-sys-color-text-primary-inverse-disable-only: #E6E0E9;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E0E9;
  --md-sys-color-text-hint-inverse: #E6E0E9;
  --md-sys-color-widget-background: #F6EEFF;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7C7296;
  --md-sys-color-tertiary-palette-key-color: #924274;
  --md-sys-color-neutral-palette-key-color: #7A767D;
  --md-sys-color-neutral-variant-palette-key-color: #7A7582;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FDF7FF;
  --md-sys-color-on-background: #252329;
  --md-sys-color-surface: #FDF7FF;
  --md-sys-color-surface-dim: #DED8E0;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F2FA;
  --md-sys-color-surface-container: #F2ECF4;
  --md-sys-color-surface-container-high: #ECE6EE;
  --md-sys-color-surface-container-highest: #E6E0E9;
  --md-sys-color-on-surface: #252329;
  --md-sys-color-surface-variant: #E6E0E9;
  --md-sys-color-on-surface-variant: #444248;
  --md-sys-color-outline: #615E64;
  --md-sys-color-outline-variant: #7D7980;
  --md-sys-color-inverse-surface: #0F0D13;
  --md-sys-color-inverse-on-surface: #C8C3CB;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4B3386;
  --md-sys-color-primary: #4B3386;
  --md-sys-color-primary-dim: #3F277A;
  --md-sys-color-on-primary: #E1D3FF;
  --md-sys-color-primary-container: #7E66BC;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #7E66BC;
  --md-sys-color-primary-fixed-dim: #715AAE;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #BBA2FD;
  --md-sys-color-secondary: #473E5F;
  --md-sys-color-secondary-dim: #3B3353;
  --md-sys-color-on-secondary: #E0D3FC;
  --md-sys-color-secondary-container: #E9DDFF;
  --md-sys-color-on-secondary-container: #4C4364;
  --md-sys-color-secondary-fixed: #796F93;
  --md-sys-color-secondary-fixed-dim: #6D6386;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #712657;
  --md-sys-color-tertiary-dim: #631A4B;
  --md-sys-color-on-tertiary: #FFCBE5;
  --md-sys-color-tertiary-container: #AC588B;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #AC588B;
  --md-sys-color-tertiary-fixed-dim: #6D6386;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #8C0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #FFCEC8;
  --md-sys-color-error-container: #DA342E;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #7E66BC;
  --md-sys-color-control-normal: #444248;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #C8C3CB;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC4D2;
  --md-sys-color-text-primary-inverse-disable-only: #E6E0E9;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E0E9;
  --md-sys-color-text-hint-inverse: #E6E0E9;
  --md-sys-color-widget-background: #F6EEFF;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7C7296;
  --md-sys-color-tertiary-palette-key-color: #924274;
  --md-sys-color-neutral-palette-key-color: #7A767D;
  --md-sys-color-neutral-variant-palette-key-color: #7A7582;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FDF7FF;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #FDF7FF;
  --md-sys-color-surface-dim: #DED8E0;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F2FA;
  --md-sys-color-surface-container: #F2ECF4;
  --md-sys-color-surface-container-high: #ECE6EE;
  --md-sys-color-surface-container-highest: #E6E0E9;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E6E0E9;
  --md-sys-color-on-surface-variant: #252329;
  --md-sys-color-outline: #444248;
  --md-sys-color-outline-variant: #615E64;
  --md-sys-color-inverse-surface: #0F0D13;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #2B0D65;
  --md-sys-color-primary: #2B0D65;
  --md-sys-color-primary-dim: #200058;
  --md-sys-color-on-primary: #E1D3FF;
  --md-sys-color-primary-container: #6750A5;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #6750A5;
  --md-sys-color-primary-fixed-dim: #5B4497;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #CEBAFF;
  --md-sys-color-secondary: #271F3E;
  --md-sys-color-secondary-dim: #1D1433;
  --md-sys-color-on-secondary: #E1D4FD;
  --md-sys-color-secondary-container: #E9DDFF;
  --md-sys-color-on-secondary-container: #2D2544;
  --md-sys-color-secondary-fixed: #645A7D;
  --md-sys-color-secondary-fixed-dim: #574E70;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #4A0236;
  --md-sys-color-tertiary-dim: #390029;
  --md-sys-color-on-tertiary: #FFCCE6;
  --md-sys-color-tertiary-container: #934375;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #934375;
  --md-sys-color-tertiary-fixed-dim: #574E70;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3E0002;
  --md-sys-color-on-error: #FFCFC9;
  --md-sys-color-error-container: #BB1B1B;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #6750A5;
  --md-sys-color-control-normal: #252329;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #FFFFFF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC4D2;
  --md-sys-color-text-primary-inverse-disable-only: #E6E0E9;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E0E9;
  --md-sys-color-text-hint-inverse: #E6E0E9;
  --md-sys-color-widget-background: #F6EEFF;
}
.dark {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7C7296;
  --md-sys-color-tertiary-palette-key-color: #924274;
  --md-sys-color-neutral-palette-key-color: #7A767D;
  --md-sys-color-neutral-variant-palette-key-color: #7A7582;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #0F0D13;
  --md-sys-color-on-background: #E9E3EB;
  --md-sys-color-surface: #0F0D13;
  --md-sys-color-surface-dim: #0F0D13;
  --md-sys-color-surface-bright: #2D2B31;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141218;
  --md-sys-color-surface-container: #1B191E;
  --md-sys-color-surface-container-high: #211F24;
  --md-sys-color-surface-container-highest: #27252B;
  --md-sys-color-on-surface: #E9E3EB;
  --md-sys-color-surface-variant: #27252B;
  --md-sys-color-on-surface-variant: #AEA9B1;
  --md-sys-color-outline: #78747B;
  --md-sys-color-outline-variant: #4A474D;
  --md-sys-color-inverse-surface: #FDF7FF;
  --md-sys-color-inverse-on-surface: #57545A;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #BBA2FD;
  --md-sys-color-primary: #BBA2FD;
  --md-sys-color-primary-dim: #AD95EF;
  --md-sys-color-on-primary: #381E72;
  --md-sys-color-primary-container: #AB92EC;
  --md-sys-color-on-primary-container: #2A0B64;
  --md-sys-color-primary-fixed: #BBA2FD;
  --md-sys-color-primary-fixed-dim: #AD95EF;
  --md-sys-color-on-primary-fixed: #1E0053;
  --md-sys-color-on-primary-fixed-variant: #41297C;
  --md-sys-color-inverse-primary: #6750A4;
  --md-sys-color-secondary: #CDC0E9;
  --md-sys-color-secondary-dim: #BFB3DA;
  --md-sys-color-on-secondary: #443B5C;
  --md-sys-color-secondary-container: #3F3657;
  --md-sys-color-on-secondary-container: #C6B9E1;
  --md-sys-color-secondary-fixed: #E9DDFF;
  --md-sys-color-secondary-fixed-dim: #DBCEF7;
  --md-sys-color-on-secondary-fixed: #433A5B;
  --md-sys-color-on-secondary-fixed-variant: #605679;
  --md-sys-color-tertiary: #FFAEDB;
  --md-sys-color-tertiary-dim: #FA9AD2;
  --md-sys-color-on-tertiary: #6D2354;
  --md-sys-color-tertiary-container: #FA9AD2;
  --md-sys-color-on-tertiary-container: #62194A;
  --md-sys-color-tertiary-fixed: #FA9AD2;
  --md-sys-color-tertiary-fixed-dim: #B1A5CC;
  --md-sys-color-on-tertiary-fixed: #440032;
  --md-sys-color-on-tertiary-fixed-variant: #6D2253;
  --md-sys-color-error: #FF7164;
  --md-sys-color-error-dim: #DA342E;
  --md-sys-color-on-error: #4A0002;
  --md-sys-color-error-container: #AC0C12;
  --md-sys-color-on-error-container: #FFE0DC;
  --md-sys-color-control-activated: #AB92EC;
  --md-sys-color-control-normal: #AEA9B1;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #57545A;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494551;
  --md-sys-color-text-primary-inverse-disable-only: #1D1B20;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1B20;
  --md-sys-color-text-hint-inverse: #1D1B20;
  --md-sys-color-widget-background: #381E72;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7C7296;
  --md-sys-color-tertiary-palette-key-color: #924274;
  --md-sys-color-neutral-palette-key-color: #7A767D;
  --md-sys-color-neutral-variant-palette-key-color: #7A7582;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #0F0D13;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #0F0D13;
  --md-sys-color-surface-dim: #0F0D13;
  --md-sys-color-surface-bright: #2D2B31;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141218;
  --md-sys-color-surface-container: #1B191E;
  --md-sys-color-surface-container-high: #211F24;
  --md-sys-color-surface-container-highest: #27252B;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #27252B;
  --md-sys-color-on-surface-variant: #BCB7BF;
  --md-sys-color-outline: #969299;
  --md-sys-color-outline-variant: #78747B;
  --md-sys-color-inverse-surface: #FDF7FF;
  --md-sys-color-inverse-on-surface: #3A373D;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #C3ACFF;
  --md-sys-color-primary: #C3ACFF;
  --md-sys-color-primary-dim: #B59DF7;
  --md-sys-color-on-primary: #33196E;
  --md-sys-color-primary-container: #AB92EC;
  --md-sys-color-on-primary-container: #1A004A;
  --md-sys-color-primary-fixed: #BBA2FD;
  --md-sys-color-primary-fixed-dim: #AD95EF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #1E0053;
  --md-sys-color-inverse-primary: #5D469A;
  --md-sys-color-secondary: #CDC0E9;
  --md-sys-color-secondary-dim: #BFB3DA;
  --md-sys-color-on-secondary: #3A3151;
  --md-sys-color-secondary-container: #3F3657;
  --md-sys-color-on-secondary-container: #D5C8F0;
  --md-sys-color-secondary-fixed: #E9DDFF;
  --md-sys-color-secondary-fixed-dim: #DBCEF7;
  --md-sys-color-on-secondary-fixed: #231A39;
  --md-sys-color-on-secondary-fixed-variant: #433A5B;
  --md-sys-color-tertiary: #FFAEDB;
  --md-sys-color-tertiary-dim: #FA9AD2;
  --md-sys-color-on-tertiary: #61184A;
  --md-sys-color-tertiary-container: #FA9AD2;
  --md-sys-color-on-tertiary-container: #540C3F;
  --md-sys-color-tertiary-fixed: #FA9AD2;
  --md-sys-color-tertiary-fixed-dim: #B1A5CC;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #440032;
  --md-sys-color-error: #FF9F94;
  --md-sys-color-error-dim: #FF887C;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #DA342E;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #AB92EC;
  --md-sys-color-control-normal: #BCB7BF;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #3A373D;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494551;
  --md-sys-color-text-primary-inverse-disable-only: #1D1B20;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1B20;
  --md-sys-color-text-hint-inverse: #1D1B20;
  --md-sys-color-widget-background: #381E72;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7C7296;
  --md-sys-color-tertiary-palette-key-color: #924274;
  --md-sys-color-neutral-palette-key-color: #7A767D;
  --md-sys-color-neutral-variant-palette-key-color: #7A7582;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #0F0D13;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #0F0D13;
  --md-sys-color-surface-dim: #0F0D13;
  --md-sys-color-surface-bright: #2D2B31;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141218;
  --md-sys-color-surface-container: #1B191E;
  --md-sys-color-surface-container-high: #211F24;
  --md-sys-color-surface-container-highest: #27252B;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #27252B;
  --md-sys-color-on-surface-variant: #E9E3EB;
  --md-sys-color-outline: #BCB7BF;
  --md-sys-color-outline-variant: #969299;
  --md-sys-color-inverse-surface: #FDF7FF;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #EBE1FF;
  --md-sys-color-primary: #EBE1FF;
  --md-sys-color-primary-dim: #DCCDFF;
  --md-sys-color-on-primary: #33196E;
  --md-sys-color-primary-container: #AB92EC;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #BBA2FD;
  --md-sys-color-primary-fixed-dim: #AD95EF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-inverse-primary: #40277A;
  --md-sys-color-secondary: #EBE1FF;
  --md-sys-color-secondary-dim: #DED1FA;
  --md-sys-color-on-secondary: #2F2746;
  --md-sys-color-secondary-container: #3F3657;
  --md-sys-color-on-secondary-container: #FFFEFF;
  --md-sys-color-secondary-fixed: #E9DDFF;
  --md-sys-color-secondary-fixed-dim: #DBCEF7;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #231A39;
  --md-sys-color-tertiary: #FFDCEC;
  --md-sys-color-tertiary-dim: #FFC4E3;
  --md-sys-color-on-tertiary: #540C3F;
  --md-sys-color-tertiary-container: #FA9AD2;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #FA9AD2;
  --md-sys-color-tertiary-fixed-dim: #B1A5CC;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFDEDA;
  --md-sys-color-error-dim: #FFC8C1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #FF7164;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #AB92EC;
  --md-sys-color-control-normal: #E9E3EB;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494551;
  --md-sys-color-text-primary-inverse-disable-only: #1D1B20;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1B20;
  --md-sys-color-text-hint-inverse: #1D1B20;
  --md-sys-color-widget-background: #381E72;
}
