.light {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7C7296;
  --md-sys-color-tertiary-palette-key-color: #C9A74D;
  --md-sys-color-neutral-palette-key-color: #7A767D;
  --md-sys-color-neutral-variant-palette-key-color: #7A7582;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FDF7FF;
  --md-sys-color-on-background: #1D1B20;
  --md-sys-color-surface: #FDF7FF;
  --md-sys-color-surface-dim: #DED8E0;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F2FA;
  --md-sys-color-surface-container: #F2ECF4;
  --md-sys-color-surface-container-high: #ECE6EE;
  --md-sys-color-surface-container-highest: #E6E0E9;
  --md-sys-color-on-surface: #1D1B20;
  --md-sys-color-surface-variant: #E7E0EE;
  --md-sys-color-on-surface-variant: #494551;
  --md-sys-color-outline: #7A7582;
  --md-sys-color-outline-variant: #CBC4D2;
  --md-sys-color-inverse-surface: #322F35;
  --md-sys-color-inverse-on-surface: #F5EFF7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6750A4;
  --md-sys-color-primary: #4F378A;
  --md-sys-color-primary-dim: #7159AE;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #6750A4;
  --md-sys-color-on-primary-container: #E0D2FF;
  --md-sys-color-primary-fixed: #E9DDFF;
  --md-sys-color-primary-fixed-dim: #CFBCFF;
  --md-sys-color-on-primary-fixed: #22005D;
  --md-sys-color-on-primary-fixed-variant: #4F378A;
  --md-sys-color-inverse-primary: #CFBCFF;
  --md-sys-color-secondary: #63597C;
  --md-sys-color-secondary-dim: #6D6386;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #E1D4FD;
  --md-sys-color-on-secondary-container: #645A7D;
  --md-sys-color-secondary-fixed: #E9DDFF;
  --md-sys-color-secondary-fixed-dim: #CDC0E9;
  --md-sys-color-on-secondary-fixed: #1F1635;
  --md-sys-color-on-secondary-fixed-variant: #4B4263;
  --md-sys-color-tertiary: #765B00;
  --md-sys-color-tertiary-dim: #80640C;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #C9A74D;
  --md-sys-color-on-tertiary-container: #503D00;
  --md-sys-color-tertiary-fixed: #FFDF93;
  --md-sys-color-tertiary-fixed-dim: #E7C365;
  --md-sys-color-on-tertiary-fixed: #241A00;
  --md-sys-color-on-tertiary-fixed-variant: #594400;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #E9DDFF;
  --md-sys-color-control-normal: #494551;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E6E0E9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC4D2;
  --md-sys-color-text-primary-inverse-disable-only: #E6E0E9;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E0E9;
  --md-sys-color-text-hint-inverse: #E6E0E9;
  --md-sys-color-widget-background: #F6EEFF;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7C7296;
  --md-sys-color-tertiary-palette-key-color: #C9A74D;
  --md-sys-color-neutral-palette-key-color: #7A767D;
  --md-sys-color-neutral-variant-palette-key-color: #7A7582;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FDF7FF;
  --md-sys-color-on-background: #1D1B20;
  --md-sys-color-surface: #FDF7FF;
  --md-sys-color-surface-dim: #CAC5CC;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F2FA;
  --md-sys-color-surface-container: #ECE6EE;
  --md-sys-color-surface-container-high: #E1DBE3;
  --md-sys-color-surface-container-highest: #D5D0D8;
  --md-sys-color-on-surface: #121016;
  --md-sys-color-surface-variant: #E7E0EE;
  --md-sys-color-on-surface-variant: #383440;
  --md-sys-color-outline: #55505D;
  --md-sys-color-outline-variant: #706B78;
  --md-sys-color-inverse-surface: #322F35;
  --md-sys-color-inverse-on-surface: #F5EFF7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6750A4;
  --md-sys-color-primary: #3E2578;
  --md-sys-color-primary-dim: #4C3588;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #6750A4;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #765FB4;
  --md-sys-color-primary-fixed-dim: #5D4699;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #CFBCFF;
  --md-sys-color-secondary: #3A3151;
  --md-sys-color-secondary-dim: #483F60;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #72688B;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #72688B;
  --md-sys-color-secondary-fixed-dim: #595072;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #453400;
  --md-sys-color-tertiary-dim: #564200;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #866912;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #866912;
  --md-sys-color-tertiary-fixed-dim: #6A5100;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8F0009;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #CF2C27;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #E9DDFF;
  --md-sys-color-control-normal: #494551;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E6E0E9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC4D2;
  --md-sys-color-text-primary-inverse-disable-only: #E6E0E9;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E0E9;
  --md-sys-color-text-hint-inverse: #E6E0E9;
  --md-sys-color-widget-background: #F6EEFF;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7C7296;
  --md-sys-color-tertiary-palette-key-color: #C9A74D;
  --md-sys-color-neutral-palette-key-color: #7A767D;
  --md-sys-color-neutral-variant-palette-key-color: #7A7582;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FDF7FF;
  --md-sys-color-on-background: #1D1B20;
  --md-sys-color-surface: #FDF7FF;
  --md-sys-color-surface-dim: #BCB7BF;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F5EFF7;
  --md-sys-color-surface-container: #E6E0E9;
  --md-sys-color-surface-container-high: #D8D2DA;
  --md-sys-color-surface-container-highest: #CAC5CC;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E7E0EE;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #2E2A35;
  --md-sys-color-outline-variant: #4B4753;
  --md-sys-color-inverse-surface: #322F35;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6750A4;
  --md-sys-color-primary: #33196E;
  --md-sys-color-primary-dim: #260561;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #513A8D;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #513A8D;
  --md-sys-color-primary-fixed-dim: #3A2174;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #CFBCFF;
  --md-sys-color-secondary: #302747;
  --md-sys-color-secondary-dim: #231A39;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #4D4465;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #4D4465;
  --md-sys-color-secondary-fixed-dim: #362E4D;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #392A00;
  --md-sys-color-tertiary-dim: #291E00;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #5C4600;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #5C4600;
  --md-sys-color-tertiary-fixed-dim: #403000;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #98000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #E9DDFF;
  --md-sys-color-control-normal: #494551;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E6E0E9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC4D2;
  --md-sys-color-text-primary-inverse-disable-only: #E6E0E9;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E0E9;
  --md-sys-color-text-hint-inverse: #E6E0E9;
  --md-sys-color-widget-background: #F6EEFF;
}
.dark {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7C7296;
  --md-sys-color-tertiary-palette-key-color: #C9A74D;
  --md-sys-color-neutral-palette-key-color: #7A767D;
  --md-sys-color-neutral-variant-palette-key-color: #7A7582;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #141218;
  --md-sys-color-on-background: #E6E0E9;
  --md-sys-color-surface: #141218;
  --md-sys-color-surface-dim: #141218;
  --md-sys-color-surface-bright: #3B383E;
  --md-sys-color-surface-container-lowest: #0F0D13;
  --md-sys-color-surface-container-low: #1D1B20;
  --md-sys-color-surface-container: #211F24;
  --md-sys-color-surface-container-high: #2B292F;
  --md-sys-color-surface-container-highest: #36343A;
  --md-sys-color-on-surface: #E6E0E9;
  --md-sys-color-surface-variant: #494551;
  --md-sys-color-on-surface-variant: #CBC4D2;
  --md-sys-color-outline: #948E9C;
  --md-sys-color-outline-variant: #494551;
  --md-sys-color-inverse-surface: #E6E0E9;
  --md-sys-color-inverse-on-surface: #322F35;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CFBCFF;
  --md-sys-color-primary: #CFBCFF;
  --md-sys-color-primary-dim: #DCCDFF;
  --md-sys-color-on-primary: #381E72;
  --md-sys-color-primary-container: #6750A4;
  --md-sys-color-on-primary-container: #E0D2FF;
  --md-sys-color-primary-fixed: #E9DDFF;
  --md-sys-color-primary-fixed-dim: #CFBCFF;
  --md-sys-color-on-primary-fixed: #22005D;
  --md-sys-color-on-primary-fixed-variant: #4F378A;
  --md-sys-color-inverse-primary: #6750A4;
  --md-sys-color-secondary: #CDC0E9;
  --md-sys-color-secondary-dim: #DED1FA;
  --md-sys-color-on-secondary: #342B4B;
  --md-sys-color-secondary-container: #4D4465;
  --md-sys-color-on-secondary-container: #BFB2DA;
  --md-sys-color-secondary-fixed: #E9DDFF;
  --md-sys-color-secondary-fixed-dim: #CDC0E9;
  --md-sys-color-on-secondary-fixed: #1F1635;
  --md-sys-color-on-secondary-fixed-variant: #4B4263;
  --md-sys-color-tertiary: #E7C365;
  --md-sys-color-tertiary-dim: #FFD979;
  --md-sys-color-on-tertiary: #3E2E00;
  --md-sys-color-tertiary-container: #C9A74D;
  --md-sys-color-on-tertiary-container: #503D00;
  --md-sys-color-tertiary-fixed: #FFDF93;
  --md-sys-color-tertiary-fixed-dim: #E7C365;
  --md-sys-color-on-tertiary-fixed: #241A00;
  --md-sys-color-on-tertiary-fixed-variant: #594400;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #4F378A;
  --md-sys-color-control-normal: #CBC4D2;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1B20;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494551;
  --md-sys-color-text-primary-inverse-disable-only: #1D1B20;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1B20;
  --md-sys-color-text-hint-inverse: #1D1B20;
  --md-sys-color-widget-background: #381E72;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7C7296;
  --md-sys-color-tertiary-palette-key-color: #C9A74D;
  --md-sys-color-neutral-palette-key-color: #7A767D;
  --md-sys-color-neutral-variant-palette-key-color: #7A7582;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #141218;
  --md-sys-color-on-background: #E6E0E9;
  --md-sys-color-surface: #141218;
  --md-sys-color-surface-dim: #141218;
  --md-sys-color-surface-bright: #46434A;
  --md-sys-color-surface-container-lowest: #08070B;
  --md-sys-color-surface-container-low: #1F1D22;
  --md-sys-color-surface-container: #29272D;
  --md-sys-color-surface-container-high: #343138;
  --md-sys-color-surface-container-highest: #3F3C43;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #494551;
  --md-sys-color-on-surface-variant: #E1DAE8;
  --md-sys-color-outline: #B6AFBD;
  --md-sys-color-outline-variant: #948E9B;
  --md-sys-color-inverse-surface: #E6E0E9;
  --md-sys-color-inverse-on-surface: #2B292F;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CFBCFF;
  --md-sys-color-primary: #E3D6FF;
  --md-sys-color-primary-dim: #DCCDFF;
  --md-sys-color-on-primary: #2C1067;
  --md-sys-color-primary-container: #9A83DB;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #E9DDFF;
  --md-sys-color-primary-fixed-dim: #CFBCFF;
  --md-sys-color-on-primary-fixed: #160042;
  --md-sys-color-on-primary-fixed-variant: #3E2578;
  --md-sys-color-inverse-primary: #50398B;
  --md-sys-color-secondary: #E3D6FF;
  --md-sys-color-secondary-dim: #DED1FA;
  --md-sys-color-on-secondary: #292140;
  --md-sys-color-secondary-container: #968BB1;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #E9DDFF;
  --md-sys-color-secondary-fixed-dim: #CDC0E9;
  --md-sys-color-on-secondary-fixed: #140B2A;
  --md-sys-color-on-secondary-fixed-variant: #3A3151;
  --md-sys-color-tertiary: #FED879;
  --md-sys-color-tertiary-dim: #FFD979;
  --md-sys-color-on-tertiary: #312400;
  --md-sys-color-tertiary-container: #C9A74D;
  --md-sys-color-on-tertiary-container: #2A1F00;
  --md-sys-color-tertiary-fixed: #FFDF93;
  --md-sys-color-tertiary-fixed-dim: #E7C365;
  --md-sys-color-on-tertiary-fixed: #181000;
  --md-sys-color-on-tertiary-fixed-variant: #453400;
  --md-sys-color-error: #FFD2CC;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #FF5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #4F378A;
  --md-sys-color-control-normal: #CBC4D2;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1B20;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494551;
  --md-sys-color-text-primary-inverse-disable-only: #1D1B20;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1B20;
  --md-sys-color-text-hint-inverse: #1D1B20;
  --md-sys-color-widget-background: #381E72;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7C7296;
  --md-sys-color-tertiary-palette-key-color: #C9A74D;
  --md-sys-color-neutral-palette-key-color: #7A767D;
  --md-sys-color-neutral-variant-palette-key-color: #7A7582;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #141218;
  --md-sys-color-on-background: #E6E0E9;
  --md-sys-color-surface: #141218;
  --md-sys-color-surface-dim: #141218;
  --md-sys-color-surface-bright: #524F55;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #211F24;
  --md-sys-color-surface-container: #322F35;
  --md-sys-color-surface-container-high: #3D3A41;
  --md-sys-color-surface-container-highest: #48464C;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #494551;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #F5EDFC;
  --md-sys-color-outline-variant: #C7C0CE;
  --md-sys-color-inverse-surface: #E6E0E9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CFBCFF;
  --md-sys-color-primary: #F5EDFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #CCB8FF;
  --md-sys-color-on-primary-container: #0F0033;
  --md-sys-color-primary-fixed: #E9DDFF;
  --md-sys-color-primary-fixed-dim: #CFBCFF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #160042;
  --md-sys-color-inverse-primary: #50398B;
  --md-sys-color-secondary: #F5EDFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #C9BDE5;
  --md-sys-color-on-secondary-container: #0E0624;
  --md-sys-color-secondary-fixed: #E9DDFF;
  --md-sys-color-secondary-fixed-dim: #CDC0E9;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #140B2A;
  --md-sys-color-tertiary: #FFEECD;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #E2BF62;
  --md-sys-color-on-tertiary-container: #110A00;
  --md-sys-color-tertiary-fixed: #FFDF93;
  --md-sys-color-tertiary-fixed-dim: #E7C365;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #181000;
  --md-sys-color-error: #FFECE9;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #FFAEA4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #4F378A;
  --md-sys-color-control-normal: #CBC4D2;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1B20;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494551;
  --md-sys-color-text-primary-inverse-disable-only: #1D1B20;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1B20;
  --md-sys-color-text-hint-inverse: #1D1B20;
  --md-sys-color-widget-background: #381E72;
}
