.light {
  --md-sys-color-primary-palette-key-color: #7A757F;
  --md-sys-color-secondary-palette-key-color: #79767A;
  --md-sys-color-tertiary-palette-key-color: #747591;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #BD5665;
  --md-sys-color-background: #FDF8F9;
  --md-sys-color-on-background: #333233;
  --md-sys-color-surface: #FDF8F9;
  --md-sys-color-surface-dim: #DDD9DD;
  --md-sys-color-surface-bright: #FDF8FC;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F7F2F4;
  --md-sys-color-surface-container: #F1EDEF;
  --md-sys-color-surface-container-high: #ECE7EA;
  --md-sys-color-surface-container-highest: #E6E1E4;
  --md-sys-color-on-surface: #333235;
  --md-sys-color-surface-variant: #E6E1E2;
  --md-sys-color-on-surface-variant: #615E61;
  --md-sys-color-outline: #7D7A7D;
  --md-sys-color-outline-variant: #B5B1B4;
  --md-sys-color-inverse-surface: #0F0E0F;
  --md-sys-color-inverse-on-surface: #9F9C9D;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #615D66;
  --md-sys-color-primary: #615D66;
  --md-sys-color-primary-dim: #54515A;
  --md-sys-color-on-primary: #FCF5FF;
  --md-sys-color-primary-container: #E7E0EB;
  --md-sys-color-on-primary-container: #545059;
  --md-sys-color-primary-fixed: #E7E0EB;
  --md-sys-color-primary-fixed-dim: #D8D2DD;
  --md-sys-color-on-primary-fixed: #413E47;
  --md-sys-color-on-primary-fixed-variant: #5E5A63;
  --md-sys-color-inverse-primary: #F8F1FD;
  --md-sys-color-secondary: #615E62;
  --md-sys-color-secondary-dim: #555256;
  --md-sys-color-on-secondary: #FDF7FC;
  --md-sys-color-secondary-container: #E6E1E6;
  --md-sys-color-on-secondary-container: #535155;
  --md-sys-color-secondary-fixed: #E6E1E6;
  --md-sys-color-secondary-fixed-dim: #D8D3D8;
  --md-sys-color-on-secondary-fixed: #413E42;
  --md-sys-color-on-secondary-fixed-variant: #5D5A5F;
  --md-sys-color-tertiary: #5C5D78;
  --md-sys-color-tertiary-dim: #50516C;
  --md-sys-color-on-tertiary: #FBF7FF;
  --md-sys-color-tertiary-container: #DBDAFB;
  --md-sys-color-on-tertiary-container: #4B4C67;
  --md-sys-color-tertiary-fixed: #DBDAFB;
  --md-sys-color-tertiary-fixed-dim: #D2CDD2;
  --md-sys-color-on-tertiary-fixed: #393A53;
  --md-sys-color-on-tertiary-fixed-variant: #555671;
  --md-sys-color-error: #9E3F4E;
  --md-sys-color-error-dim: #4F0116;
  --md-sys-color-on-error: #FFF7F7;
  --md-sys-color-error-container: #FF8B9A;
  --md-sys-color-on-error-container: #5E0D20;
  --md-sys-color-control-activated: #E7E0EB;
  --md-sys-color-control-normal: #DDD9DA;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0F0E0F;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C9C5C9;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E2;
  --md-sys-color-text-hint-inverse: #E6E1E2;
  --md-sys-color-widget-background: #F5EEFA;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7A757F;
  --md-sys-color-secondary-palette-key-color: #79767A;
  --md-sys-color-tertiary-palette-key-color: #747591;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #BD5665;
  --md-sys-color-background: #FDF8F9;
  --md-sys-color-on-background: #252425;
  --md-sys-color-surface: #FDF8F9;
  --md-sys-color-surface-dim: #DDD9DD;
  --md-sys-color-surface-bright: #FDF8FC;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F7F2F4;
  --md-sys-color-surface-container: #F1EDEF;
  --md-sys-color-surface-container-high: #ECE7EA;
  --md-sys-color-surface-container-highest: #E6E1E4;
  --md-sys-color-on-surface: #252326;
  --md-sys-color-surface-variant: #E6E1E2;
  --md-sys-color-on-surface-variant: #444245;
  --md-sys-color-outline: #615E61;
  --md-sys-color-outline-variant: #7D7A7D;
  --md-sys-color-inverse-surface: #0F0E0F;
  --md-sys-color-inverse-on-surface: #C7C4C5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #615D66;
  --md-sys-color-primary: #45414A;
  --md-sys-color-primary-dim: #39363F;
  --md-sys-color-on-primary: #DED7E3;
  --md-sys-color-primary-container: #77737D;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #77737D;
  --md-sys-color-primary-fixed-dim: #6A6670;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #F8F1FD;
  --md-sys-color-secondary: #444246;
  --md-sys-color-secondary-dim: #39373B;
  --md-sys-color-on-secondary: #DDD8DD;
  --md-sys-color-secondary-container: #E6E1E6;
  --md-sys-color-on-secondary-container: #49474B;
  --md-sys-color-secondary-fixed: #777378;
  --md-sys-color-secondary-fixed-dim: #6A676B;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #40415B;
  --md-sys-color-tertiary-dim: #34354F;
  --md-sys-color-on-tertiary: #D8D7F7;
  --md-sys-color-tertiary-container: #72728F;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #72728F;
  --md-sys-color-tertiary-fixed-dim: #6A676B;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #7A2333;
  --md-sys-color-error-dim: #4F0116;
  --md-sys-color-on-error: #FFCDD1;
  --md-sys-color-error-container: #B95463;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #E7E0EB;
  --md-sys-color-control-normal: #DDD9DA;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0F0E0F;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C9C5C9;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E2;
  --md-sys-color-text-hint-inverse: #E6E1E2;
  --md-sys-color-widget-background: #F5EEFA;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #7A757F;
  --md-sys-color-secondary-palette-key-color: #79767A;
  --md-sys-color-tertiary-palette-key-color: #747591;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #BD5665;
  --md-sys-color-background: #FDF8F9;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #FDF8F9;
  --md-sys-color-surface-dim: #DDD9DD;
  --md-sys-color-surface-bright: #FDF8FC;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F7F2F4;
  --md-sys-color-surface-container: #F1EDEF;
  --md-sys-color-surface-container-high: #ECE7EA;
  --md-sys-color-surface-container-highest: #E6E1E4;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E6E1E2;
  --md-sys-color-on-surface-variant: #252326;
  --md-sys-color-outline: #444245;
  --md-sys-color-outline-variant: #615E61;
  --md-sys-color-inverse-surface: #0F0E0F;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #615D66;
  --md-sys-color-primary: #25232B;
  --md-sys-color-primary-dim: #1B1920;
  --md-sys-color-on-primary: #DED8E3;
  --md-sys-color-primary-container: #615D67;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #615D67;
  --md-sys-color-primary-fixed-dim: #55515B;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #F8F1FD;
  --md-sys-color-secondary: #252327;
  --md-sys-color-secondary-dim: #1B191D;
  --md-sys-color-on-secondary: #DDD8DD;
  --md-sys-color-secondary-container: #E6E1E6;
  --md-sys-color-on-secondary-container: #2B292D;
  --md-sys-color-secondary-fixed: #615E62;
  --md-sys-color-secondary-fixed-dim: #555256;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #21223A;
  --md-sys-color-tertiary-dim: #16172F;
  --md-sys-color-on-tertiary: #D8D7F8;
  --md-sys-color-tertiary-container: #5C5D78;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #5C5D78;
  --md-sys-color-tertiary-fixed-dim: #555256;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #4F0116;
  --md-sys-color-error-dim: #3D000F;
  --md-sys-color-on-error: #FFCED2;
  --md-sys-color-error-container: #9E3F4E;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #E7E0EB;
  --md-sys-color-control-normal: #DDD9DA;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0F0E0F;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C9C5C9;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E2;
  --md-sys-color-text-hint-inverse: #E6E1E2;
  --md-sys-color-widget-background: #F5EEFA;
}
.dark {
  --md-sys-color-primary-palette-key-color: #7A757F;
  --md-sys-color-secondary-palette-key-color: #79767A;
  --md-sys-color-tertiary-palette-key-color: #747591;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #BD5665;
  --md-sys-color-background: #0F0E0F;
  --md-sys-color-on-background: #E9E4E5;
  --md-sys-color-surface: #0F0E0F;
  --md-sys-color-surface-dim: #0F0E0F;
  --md-sys-color-surface-bright: #2D2C2D;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141314;
  --md-sys-color-surface-container: #1A191B;
  --md-sys-color-surface-container-high: #201F21;
  --md-sys-color-surface-container-highest: #272528;
  --md-sys-color-on-surface: #E9E4E7;
  --md-sys-color-surface-variant: #262526;
  --md-sys-color-on-surface-variant: #AEAAAD;
  --md-sys-color-outline: #777478;
  --md-sys-color-outline-variant: #49474A;
  --md-sys-color-inverse-surface: #FDF8F9;
  --md-sys-color-inverse-on-surface: #565455;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CAC4CF;
  --md-sys-color-primary: #CAC4CF;
  --md-sys-color-primary-dim: #BCB7C1;
  --md-sys-color-on-primary: #423F48;
  --md-sys-color-primary-container: #49454E;
  --md-sys-color-on-primary-container: #D4CED9;
  --md-sys-color-primary-fixed: #E7E0EB;
  --md-sys-color-primary-fixed-dim: #D8D2DD;
  --md-sys-color-on-primary-fixed: #413E47;
  --md-sys-color-on-primary-fixed-variant: #5E5A63;
  --md-sys-color-inverse-primary: #615D67;
  --md-sys-color-secondary: #A09DA1;
  --md-sys-color-secondary-dim: #A09DA1;
  --md-sys-color-on-secondary: #211F23;
  --md-sys-color-secondary-container: #3D3B3E;
  --md-sys-color-on-secondary-container: #C2BEC3;
  --md-sys-color-secondary-fixed: #E6E1E6;
  --md-sys-color-secondary-fixed-dim: #D8D3D8;
  --md-sys-color-on-secondary-fixed: #413E42;
  --md-sys-color-on-secondary-fixed-variant: #5D5A5F;
  --md-sys-color-tertiary: #EBE9FF;
  --md-sys-color-tertiary-dim: #DBDAFB;
  --md-sys-color-on-tertiary: #54546F;
  --md-sys-color-tertiary-container: #DBDAFB;
  --md-sys-color-on-tertiary-container: #4B4C67;
  --md-sys-color-tertiary-fixed: #DBDAFB;
  --md-sys-color-tertiary-fixed-dim: #D2CDD2;
  --md-sys-color-on-tertiary-fixed: #393A53;
  --md-sys-color-on-tertiary-fixed-variant: #555671;
  --md-sys-color-error: #EC7C8A;
  --md-sys-color-error-dim: #B95463;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #7F2737;
  --md-sys-color-on-error-container: #FFC0C6;
  --md-sys-color-control-activated: #49454E;
  --md-sys-color-control-normal: #2D2C2D;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FDF8F9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #484649;
  --md-sys-color-text-primary-inverse-disable-only: #1C1B1C;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1C1B1C;
  --md-sys-color-text-hint-inverse: #1C1B1C;
  --md-sys-color-widget-background: #322F38;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7A757F;
  --md-sys-color-secondary-palette-key-color: #79767A;
  --md-sys-color-tertiary-palette-key-color: #747591;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #BD5665;
  --md-sys-color-background: #0F0E0F;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #0F0E0F;
  --md-sys-color-surface-dim: #0F0E0F;
  --md-sys-color-surface-bright: #2D2C2D;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141314;
  --md-sys-color-surface-container: #1A191B;
  --md-sys-color-surface-container-high: #201F21;
  --md-sys-color-surface-container-highest: #272528;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #262526;
  --md-sys-color-on-surface-variant: #BCB7BB;
  --md-sys-color-outline: #969296;
  --md-sys-color-outline-variant: #777478;
  --md-sys-color-inverse-surface: #FDF8F9;
  --md-sys-color-inverse-on-surface: #393839;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CAC4CF;
  --md-sys-color-primary: #CAC4CF;
  --md-sys-color-primary-dim: #BCB7C1;
  --md-sys-color-on-primary: #38353D;
  --md-sys-color-primary-container: #77737D;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #E7E0EB;
  --md-sys-color-primary-fixed-dim: #D8D2DD;
  --md-sys-color-on-primary-fixed: #211E26;
  --md-sys-color-on-primary-fixed-variant: #413E47;
  --md-sys-color-inverse-primary: #57535D;
  --md-sys-color-secondary: #BCB7BC;
  --md-sys-color-secondary-dim: #AEAAAE;
  --md-sys-color-on-secondary: #2D2B2F;
  --md-sys-color-secondary-container: #3D3B3E;
  --md-sys-color-on-secondary-container: #D1CDD1;
  --md-sys-color-secondary-fixed: #E6E1E6;
  --md-sys-color-secondary-fixed-dim: #D8D3D8;
  --md-sys-color-on-secondary-fixed: #201F22;
  --md-sys-color-on-secondary-fixed-variant: #413E42;
  --md-sys-color-tertiary: #EBE9FF;
  --md-sys-color-tertiary-dim: #DBDAFB;
  --md-sys-color-on-tertiary: #4A4B65;
  --md-sys-color-tertiary-container: #DBDAFB;
  --md-sys-color-on-tertiary-container: #41425C;
  --md-sys-color-tertiary-fixed: #DBDAFB;
  --md-sys-color-tertiary-fixed-dim: #D2CDD2;
  --md-sys-color-on-tertiary-fixed: #171830;
  --md-sys-color-on-tertiary-fixed-variant: #393A53;
  --md-sys-color-error: #FF9DA8;
  --md-sys-color-error-dim: #FB8896;
  --md-sys-color-on-error: #5B0A1E;
  --md-sys-color-error-container: #B95463;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #49454E;
  --md-sys-color-control-normal: #2D2C2D;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FDF8F9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #484649;
  --md-sys-color-text-primary-inverse-disable-only: #1C1B1C;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1C1B1C;
  --md-sys-color-text-hint-inverse: #1C1B1C;
  --md-sys-color-widget-background: #322F38;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #7A757F;
  --md-sys-color-secondary-palette-key-color: #79767A;
  --md-sys-color-tertiary-palette-key-color: #747591;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #BD5665;
  --md-sys-color-background: #0F0E0F;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #0F0E0F;
  --md-sys-color-surface-dim: #0F0E0F;
  --md-sys-color-surface-bright: #2D2C2D;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141314;
  --md-sys-color-surface-container: #1A191B;
  --md-sys-color-surface-container-high: #201F21;
  --md-sys-color-surface-container-highest: #272528;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #262526;
  --md-sys-color-on-surface-variant: #E9E4E7;
  --md-sys-color-outline: #BCB7BB;
  --md-sys-color-outline-variant: #969296;
  --md-sys-color-inverse-surface: #FDF8F9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CAC4CF;
  --md-sys-color-primary: #EAE3EE;
  --md-sys-color-primary-dim: #D8D2DD;
  --md-sys-color-on-primary: #2D2B33;
  --md-sys-color-primary-container: #A19CA6;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #E7E0EB;
  --md-sys-color-primary-fixed-dim: #D8D2DD;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #211E26;
  --md-sys-color-inverse-primary: #3A373F;
  --md-sys-color-secondary: #E9E4E9;
  --md-sys-color-secondary-dim: #D8D3D8;
  --md-sys-color-on-secondary: #2D2B2F;
  --md-sys-color-secondary-container: #3D3B3E;
  --md-sys-color-on-secondary-container: #FFFEFF;
  --md-sys-color-secondary-fixed: #E6E1E6;
  --md-sys-color-secondary-fixed-dim: #D8D3D8;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #201F22;
  --md-sys-color-tertiary: #EBE9FF;
  --md-sys-color-tertiary-dim: #DBDAFB;
  --md-sys-color-on-tertiary: #2C2D46;
  --md-sys-color-tertiary-container: #DBDAFB;
  --md-sys-color-on-tertiary-container: #23243C;
  --md-sys-color-tertiary-fixed: #DBDAFB;
  --md-sys-color-tertiary-fixed-dim: #D2CDD2;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #171830;
  --md-sys-color-error: #FFDDDF;
  --md-sys-color-error-dim: #FFC7CB;
  --md-sys-color-on-error: #5B0A1E;
  --md-sys-color-error-container: #EC7C8A;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #49454E;
  --md-sys-color-control-normal: #2D2C2D;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FDF8F9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #484649;
  --md-sys-color-text-primary-inverse-disable-only: #1C1B1C;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1C1B1C;
  --md-sys-color-text-hint-inverse: #1C1B1C;
  --md-sys-color-widget-background: #322F38;
}
