.light {
  --md-sys-color-primary-palette-key-color: #247CBB;
  --md-sys-color-secondary-palette-key-color: #4B7BA7;
  --md-sys-color-tertiary-palette-key-color: #7E6EA9;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B748A;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FDF7FF;
  --md-sys-color-on-background: #34313C;
  --md-sys-color-surface: #FDF7FF;
  --md-sys-color-surface-dim: #DED7E6;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F1FF;
  --md-sys-color-surface-container: #F2EBFA;
  --md-sys-color-surface-container-high: #EDE5F4;
  --md-sys-color-surface-container-highest: #E7E0EF;
  --md-sys-color-on-surface: #34313C;
  --md-sys-color-surface-variant: #E7E0EF;
  --md-sys-color-on-surface-variant: #625D69;
  --md-sys-color-outline: #7E7885;
  --md-sys-color-outline-variant: #B6AFBD;
  --md-sys-color-inverse-surface: #0F0D16;
  --md-sys-color-inverse-on-surface: #A09AA8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #00639D;
  --md-sys-color-primary: #00639D;
  --md-sys-color-primary-dim: #00578A;
  --md-sys-color-on-primary: #F6F9FF;
  --md-sys-color-primary-container: #6BB6FA;
  --md-sys-color-on-primary-container: #003354;
  --md-sys-color-primary-fixed: #6BB6FA;
  --md-sys-color-primary-fixed-dim: #5DA9EB;
  --md-sys-color-on-primary-fixed: #00192D;
  --md-sys-color-on-primary-fixed-variant: #003C62;
  --md-sys-color-inverse-primary: #6BB6FA;
  --md-sys-color-secondary: #31638D;
  --md-sys-color-secondary-dim: #225780;
  --md-sys-color-on-secondary: #F6F9FF;
  --md-sys-color-secondary-container: #CEE5FF;
  --md-sys-color-on-secondary-container: #20557F;
  --md-sys-color-secondary-fixed: #CEE5FF;
  --md-sys-color-secondary-fixed-dim: #B4D8FF;
  --md-sys-color-on-secondary-fixed: #00426B;
  --md-sys-color-on-secondary-fixed-variant: #2C5F89;
  --md-sys-color-tertiary: #655690;
  --md-sys-color-tertiary-dim: #594A83;
  --md-sys-color-on-tertiary: #FDF7FF;
  --md-sys-color-tertiary-container: #C7B4F5;
  --md-sys-color-on-tertiary-container: #403168;
  --md-sys-color-tertiary-fixed: #C7B4F5;
  --md-sys-color-tertiary-fixed-dim: #86B5E4;
  --md-sys-color-on-tertiary-fixed: #2A1B51;
  --md-sys-color-on-tertiary-fixed-variant: #493A72;
  --md-sys-color-error: #BB1B1B;
  --md-sys-color-error-dim: #A90810;
  --md-sys-color-on-error: #FFF7F6;
  --md-sys-color-error-container: #FE4E44;
  --md-sys-color-on-error-container: #1F0000;
  --md-sys-color-widget-background: #E8F2FF;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #247CBB;
  --md-sys-color-secondary-palette-key-color: #4B7BA7;
  --md-sys-color-tertiary-palette-key-color: #7E6EA9;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B748A;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FDF7FF;
  --md-sys-color-on-background: #25222D;
  --md-sys-color-surface: #FDF7FF;
  --md-sys-color-surface-dim: #DED7E6;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F1FF;
  --md-sys-color-surface-container: #F2EBFA;
  --md-sys-color-surface-container-high: #EDE5F4;
  --md-sys-color-surface-container-highest: #E7E0EF;
  --md-sys-color-on-surface: #25222D;
  --md-sys-color-surface-variant: #E7E0EF;
  --md-sys-color-on-surface-variant: #45414D;
  --md-sys-color-outline: #625D69;
  --md-sys-color-outline-variant: #7E7885;
  --md-sys-color-inverse-surface: #0F0D16;
  --md-sys-color-inverse-on-surface: #C9C2D0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #004671;
  --md-sys-color-primary: #004671;
  --md-sys-color-primary-dim: #003A5F;
  --md-sys-color-on-primary: #BEDDFF;
  --md-sys-color-primary-container: #2079B9;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #2079B9;
  --md-sys-color-primary-fixed-dim: #006DAB;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #6BB6FA;
  --md-sys-color-secondary: #07466F;
  --md-sys-color-secondary-dim: #003A5F;
  --md-sys-color-on-secondary: #BEDDFF;
  --md-sys-color-secondary-container: #CEE5FF;
  --md-sys-color-on-secondary-container: #124B74;
  --md-sys-color-secondary-fixed: #4878A4;
  --md-sys-color-secondary-fixed-dim: #3B6C97;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #493971;
  --md-sys-color-tertiary-dim: #3D2E65;
  --md-sys-color-on-tertiary: #E1D3FF;
  --md-sys-color-tertiary-container: #7B6BA7;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #7B6BA7;
  --md-sys-color-tertiary-fixed-dim: #3B6C97;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #8C0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #FFCEC8;
  --md-sys-color-error-container: #DA342E;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-widget-background: #E8F2FF;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #247CBB;
  --md-sys-color-secondary-palette-key-color: #4B7BA7;
  --md-sys-color-tertiary-palette-key-color: #7E6EA9;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B748A;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FDF7FF;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #FDF7FF;
  --md-sys-color-surface-dim: #DED7E6;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F1FF;
  --md-sys-color-surface-container: #F2EBFA;
  --md-sys-color-surface-container-high: #EDE5F4;
  --md-sys-color-surface-container-highest: #E7E0EF;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E7E0EF;
  --md-sys-color-on-surface-variant: #25222D;
  --md-sys-color-outline: #45414D;
  --md-sys-color-outline-variant: #625D69;
  --md-sys-color-inverse-surface: #0F0D16;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #002640;
  --md-sys-color-primary: #002640;
  --md-sys-color-primary-dim: #001B30;
  --md-sys-color-on-primary: #BFDDFF;
  --md-sys-color-primary-container: #00639D;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #00639D;
  --md-sys-color-primary-fixed-dim: #00578A;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #94CAFF;
  --md-sys-color-secondary: #002640;
  --md-sys-color-secondary-dim: #001B30;
  --md-sys-color-on-secondary: #BFDDFF;
  --md-sys-color-secondary-container: #CEE5FF;
  --md-sys-color-on-secondary-container: #002C4A;
  --md-sys-color-secondary-fixed: #31638D;
  --md-sys-color-secondary-fixed-dim: #225780;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #291950;
  --md-sys-color-tertiary-dim: #1E0D45;
  --md-sys-color-on-tertiary: #E1D3FF;
  --md-sys-color-tertiary-container: #655690;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #655690;
  --md-sys-color-tertiary-fixed-dim: #225780;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3E0002;
  --md-sys-color-on-error: #FFCFC9;
  --md-sys-color-error-container: #BB1B1B;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-widget-background: #E8F2FF;
}
.dark {
  --md-sys-color-primary-palette-key-color: #247CBB;
  --md-sys-color-secondary-palette-key-color: #4B7BA7;
  --md-sys-color-tertiary-palette-key-color: #7E6EA9;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B748A;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #0F0D16;
  --md-sys-color-on-background: #EAE3F2;
  --md-sys-color-surface: #0F0D16;
  --md-sys-color-surface-dim: #0F0D16;
  --md-sys-color-surface-bright: #2E2A35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #15121C;
  --md-sys-color-surface-container: #1B1822;
  --md-sys-color-surface-container-high: #211E28;
  --md-sys-color-surface-container-highest: #27242F;
  --md-sys-color-on-surface: #EAE3F2;
  --md-sys-color-surface-variant: #27242F;
  --md-sys-color-on-surface-variant: #AFA9B6;
  --md-sys-color-outline: #787380;
  --md-sys-color-outline-variant: #4A4652;
  --md-sys-color-inverse-surface: #FDF7FF;
  --md-sys-color-inverse-on-surface: #57535F;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6BB6FA;
  --md-sys-color-primary: #6BB6FA;
  --md-sys-color-primary-dim: #5DA9EB;
  --md-sys-color-on-primary: #003354;
  --md-sys-color-primary-container: #5AA6E8;
  --md-sys-color-on-primary-container: #00253E;
  --md-sys-color-primary-fixed: #6BB6FA;
  --md-sys-color-primary-fixed-dim: #5DA9EB;
  --md-sys-color-on-primary-fixed: #00192D;
  --md-sys-color-on-primary-fixed-variant: #003C62;
  --md-sys-color-inverse-primary: #00639D;
  --md-sys-color-secondary: #9CCBFB;
  --md-sys-color-secondary-dim: #8EBDEC;
  --md-sys-color-on-secondary: #02436C;
  --md-sys-color-secondary-container: #003E65;
  --md-sys-color-on-secondary-container: #94C4F3;
  --md-sys-color-secondary-fixed: #CEE5FF;
  --md-sys-color-secondary-fixed-dim: #B4D8FF;
  --md-sys-color-on-secondary-fixed: #00426B;
  --md-sys-color-on-secondary-fixed-variant: #2C5F89;
  --md-sys-color-tertiary: #D4C3FF;
  --md-sys-color-tertiary-dim: #C7B4F5;
  --md-sys-color-on-tertiary: #4A3A72;
  --md-sys-color-tertiary-container: #C7B4F5;
  --md-sys-color-on-tertiary-container: #403168;
  --md-sys-color-tertiary-fixed: #C7B4F5;
  --md-sys-color-tertiary-fixed-dim: #86B5E4;
  --md-sys-color-on-tertiary-fixed: #2A1B51;
  --md-sys-color-on-tertiary-fixed-variant: #493A72;
  --md-sys-color-error: #FF7164;
  --md-sys-color-error-dim: #DA342E;
  --md-sys-color-on-error: #4A0002;
  --md-sys-color-error-container: #AC0C12;
  --md-sys-color-on-error-container: #FFE0DC;
  --md-sys-color-widget-background: #003354;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #247CBB;
  --md-sys-color-secondary-palette-key-color: #4B7BA7;
  --md-sys-color-tertiary-palette-key-color: #7E6EA9;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B748A;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #0F0D16;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #0F0D16;
  --md-sys-color-surface-dim: #0F0D16;
  --md-sys-color-surface-bright: #2E2A35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #15121C;
  --md-sys-color-surface-container: #1B1822;
  --md-sys-color-surface-container-high: #211E28;
  --md-sys-color-surface-container-highest: #27242F;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #27242F;
  --md-sys-color-on-surface-variant: #BDB6C4;
  --md-sys-color-outline: #97919F;
  --md-sys-color-outline-variant: #787380;
  --md-sys-color-inverse-surface: #FDF7FF;
  --md-sys-color-inverse-on-surface: #3A3642;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #78BEFF;
  --md-sys-color-primary: #78BEFF;
  --md-sys-color-primary-dim: #65B1F4;
  --md-sys-color-on-primary: #002E4D;
  --md-sys-color-primary-container: #5AA6E8;
  --md-sys-color-on-primary-container: #001628;
  --md-sys-color-primary-fixed: #6BB6FA;
  --md-sys-color-primary-fixed-dim: #5DA9EB;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #00192D;
  --md-sys-color-inverse-primary: #00598D;
  --md-sys-color-secondary: #9CCBFB;
  --md-sys-color-secondary-dim: #8EBDEC;
  --md-sys-color-on-secondary: #00395D;
  --md-sys-color-secondary-container: #003E65;
  --md-sys-color-on-secondary-container: #A7D2FF;
  --md-sys-color-secondary-fixed: #CEE5FF;
  --md-sys-color-secondary-fixed-dim: #B4D8FF;
  --md-sys-color-on-secondary-fixed: #002139;
  --md-sys-color-on-secondary-fixed-variant: #00426B;
  --md-sys-color-tertiary: #D4C3FF;
  --md-sys-color-tertiary-dim: #C7B4F5;
  --md-sys-color-on-tertiary: #3F3067;
  --md-sys-color-tertiary-container: #C7B4F5;
  --md-sys-color-on-tertiary-container: #36265D;
  --md-sys-color-tertiary-fixed: #C7B4F5;
  --md-sys-color-tertiary-fixed-dim: #86B5E4;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #2A1B51;
  --md-sys-color-error: #FF9F94;
  --md-sys-color-error-dim: #FF887C;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #DA342E;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-widget-background: #003354;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #247CBB;
  --md-sys-color-secondary-palette-key-color: #4B7BA7;
  --md-sys-color-tertiary-palette-key-color: #7E6EA9;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B748A;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #0F0D16;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #0F0D16;
  --md-sys-color-surface-dim: #0F0D16;
  --md-sys-color-surface-bright: #2E2A35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #15121C;
  --md-sys-color-surface-container: #1B1822;
  --md-sys-color-surface-container-high: #211E28;
  --md-sys-color-surface-container-highest: #27242F;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #27242F;
  --md-sys-color-on-surface-variant: #EAE3F2;
  --md-sys-color-outline: #BDB6C4;
  --md-sys-color-outline-variant: #97919F;
  --md-sys-color-inverse-surface: #FDF7FF;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D4E7FF;
  --md-sys-color-primary: #D4E7FF;
  --md-sys-color-primary-dim: #B4D8FF;
  --md-sys-color-on-primary: #002E4D;
  --md-sys-color-primary-container: #5AA6E8;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #6BB6FA;
  --md-sys-color-primary-fixed-dim: #5DA9EB;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-inverse-primary: #003B60;
  --md-sys-color-secondary: #D4E7FF;
  --md-sys-color-secondary-dim: #B4D8FF;
  --md-sys-color-on-secondary: #002E4D;
  --md-sys-color-secondary-container: #003E65;
  --md-sys-color-on-secondary-container: #FFFEFF;
  --md-sys-color-secondary-fixed: #CEE5FF;
  --md-sys-color-secondary-fixed-dim: #B4D8FF;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #002139;
  --md-sys-color-tertiary: #EBE1FF;
  --md-sys-color-tertiary-dim: #DCCDFF;
  --md-sys-color-on-tertiary: #312258;
  --md-sys-color-tertiary-container: #C7B4F5;
  --md-sys-color-on-tertiary-container: #040018;
  --md-sys-color-tertiary-fixed: #C7B4F5;
  --md-sys-color-tertiary-fixed-dim: #86B5E4;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFDEDA;
  --md-sys-color-error-dim: #FFC8C1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #FF7164;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-widget-background: #003354;
}
