.light {
  --md-sys-color-primary-palette-key-color: #1B8672;
  --md-sys-color-secondary-palette-key-color: #936B83;
  --md-sys-color-tertiary-palette-key-color: #8D6B9B;
  --md-sys-color-neutral-palette-key-color: #7C757E;
  --md-sys-color-neutral-variant-palette-key-color: #7E7382;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF7FD;
  --md-sys-color-on-background: #968D97;
  --md-sys-color-surface: #FFF7FD;
  --md-sys-color-surface-dim: #E1D7E2;
  --md-sys-color-surface-bright: #FFF7FD;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FBF0FB;
  --md-sys-color-surface-container: #F5EBF6;
  --md-sys-color-surface-container-high: #EFE5F0;
  --md-sys-color-surface-container-highest: #EADFEA;
  --md-sys-color-on-surface: #1F1A21;
  --md-sys-color-surface-variant: #ECDEF0;
  --md-sys-color-on-surface-variant: #4D4351;
  --md-sys-color-outline: #7E7383;
  --md-sys-color-outline-variant: #CFC2D3;
  --md-sys-color-inverse-surface: #342E37;
  --md-sys-color-inverse-on-surface: #F8EDF9;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006B5A;
  --md-sys-color-primary: #006B5A;
  --md-sys-color-primary-dim: #007663;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #95F4DC;
  --md-sys-color-on-primary-container: #005143;
  --md-sys-color-primary-fixed: #95F4DC;
  --md-sys-color-primary-fixed-dim: #79D7C0;
  --md-sys-color-on-primary-fixed: #00201A;
  --md-sys-color-on-primary-fixed-variant: #005143;
  --md-sys-color-inverse-primary: #79D7C0;
  --md-sys-color-secondary: #79536A;
  --md-sys-color-secondary-dim: #835C74;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #FFD8ED;
  --md-sys-color-on-secondary-container: #5F3C52;
  --md-sys-color-secondary-fixed: #FFD8ED;
  --md-sys-color-secondary-fixed-dim: #E8B9D4;
  --md-sys-color-on-secondary-fixed: #2E1125;
  --md-sys-color-on-secondary-fixed-variant: #5F3C52;
  --md-sys-color-tertiary: #735280;
  --md-sys-color-tertiary-dim: #7D5C8A;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #F7D8FF;
  --md-sys-color-on-tertiary-container: #593B67;
  --md-sys-color-tertiary-fixed: #F7D8FF;
  --md-sys-color-tertiary-fixed-dim: #E0B9EE;
  --md-sys-color-on-tertiary-fixed: #2B0E39;
  --md-sys-color-on-tertiary-fixed-variant: #593B67;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #95F4DC;
  --md-sys-color-control-normal: #4D4351;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #EADFEA;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CFC2D3;
  --md-sys-color-text-primary-inverse-disable-only: #EADFEA;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EADFEA;
  --md-sys-color-text-hint-inverse: #EADFEA;
  --md-sys-color-widget-background: #B7FFEB;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #1B8672;
  --md-sys-color-secondary-palette-key-color: #936B83;
  --md-sys-color-tertiary-palette-key-color: #8D6B9B;
  --md-sys-color-neutral-palette-key-color: #7C757E;
  --md-sys-color-neutral-variant-palette-key-color: #7E7382;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF7FD;
  --md-sys-color-on-background: #777079;
  --md-sys-color-surface: #FFF7FD;
  --md-sys-color-surface-dim: #CDC3CE;
  --md-sys-color-surface-bright: #FFF7FD;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FBF0FB;
  --md-sys-color-surface-container: #EFE5F0;
  --md-sys-color-surface-container-high: #E4DAE5;
  --md-sys-color-surface-container-highest: #D8CED9;
  --md-sys-color-on-surface: #140F17;
  --md-sys-color-surface-variant: #ECDEF0;
  --md-sys-color-on-surface-variant: #3C3340;
  --md-sys-color-outline: #594F5D;
  --md-sys-color-outline-variant: #746979;
  --md-sys-color-inverse-surface: #342E37;
  --md-sys-color-inverse-on-surface: #F8EDF9;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006B5A;
  --md-sys-color-primary: #003E33;
  --md-sys-color-primary-dim: #004E41;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #007B68;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #007B68;
  --md-sys-color-primary-fixed-dim: #006051;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #79D7C0;
  --md-sys-color-secondary: #4C2C41;
  --md-sys-color-secondary-dim: #5C3A4F;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #896179;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #896179;
  --md-sys-color-secondary-fixed-dim: #6E4A60;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #482A55;
  --md-sys-color-tertiary-dim: #573965;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #826190;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #826190;
  --md-sys-color-tertiary-fixed-dim: #684976;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8F0009;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #CF2C27;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #95F4DC;
  --md-sys-color-control-normal: #4D4351;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #EADFEA;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CFC2D3;
  --md-sys-color-text-primary-inverse-disable-only: #EADFEA;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EADFEA;
  --md-sys-color-text-hint-inverse: #EADFEA;
  --md-sys-color-widget-background: #B7FFEB;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #1B8672;
  --md-sys-color-secondary-palette-key-color: #936B83;
  --md-sys-color-tertiary-palette-key-color: #8D6B9B;
  --md-sys-color-neutral-palette-key-color: #7C757E;
  --md-sys-color-neutral-variant-palette-key-color: #7E7382;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF7FD;
  --md-sys-color-on-background: #59535C;
  --md-sys-color-surface: #FFF7FD;
  --md-sys-color-surface-dim: #BFB6C0;
  --md-sys-color-surface-bright: #FFF7FD;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8EDF9;
  --md-sys-color-surface-container: #EADFEA;
  --md-sys-color-surface-container-high: #DBD1DC;
  --md-sys-color-surface-container-highest: #CDC3CE;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #ECDEF0;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #312936;
  --md-sys-color-outline-variant: #4F4654;
  --md-sys-color-inverse-surface: #342E37;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006B5A;
  --md-sys-color-primary: #00332A;
  --md-sys-color-primary-dim: #00251E;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #005346;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #005346;
  --md-sys-color-primary-fixed-dim: #003A30;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #79D7C0;
  --md-sys-color-secondary: #412236;
  --md-sys-color-secondary-dim: #331529;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #613E54;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #613E54;
  --md-sys-color-secondary-fixed-dim: #48283D;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #3D204A;
  --md-sys-color-tertiary-dim: #2F133D;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #5C3D69;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #5C3D69;
  --md-sys-color-tertiary-fixed-dim: #442751;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #98000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #95F4DC;
  --md-sys-color-control-normal: #4D4351;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #EADFEA;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CFC2D3;
  --md-sys-color-text-primary-inverse-disable-only: #EADFEA;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EADFEA;
  --md-sys-color-text-hint-inverse: #EADFEA;
  --md-sys-color-widget-background: #B7FFEB;
}
.dark {
  --md-sys-color-primary-palette-key-color: #1B8672;
  --md-sys-color-secondary-palette-key-color: #936B83;
  --md-sys-color-tertiary-palette-key-color: #8D6B9B;
  --md-sys-color-neutral-palette-key-color: #7C757E;
  --md-sys-color-neutral-variant-palette-key-color: #7E7382;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #161219;
  --md-sys-color-on-background: #EADFEA;
  --md-sys-color-surface: #161219;
  --md-sys-color-surface-dim: #161219;
  --md-sys-color-surface-bright: #3D373F;
  --md-sys-color-surface-container-lowest: #110D14;
  --md-sys-color-surface-container-low: #1F1A21;
  --md-sys-color-surface-container: #231E25;
  --md-sys-color-surface-container-high: #2D2830;
  --md-sys-color-surface-container-highest: #38333B;
  --md-sys-color-on-surface: #EADFEA;
  --md-sys-color-surface-variant: #4D4351;
  --md-sys-color-on-surface-variant: #CFC2D3;
  --md-sys-color-outline: #988D9D;
  --md-sys-color-outline-variant: #4D4351;
  --md-sys-color-inverse-surface: #EADFEA;
  --md-sys-color-inverse-on-surface: #342E37;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #79D7C0;
  --md-sys-color-primary: #79D7C0;
  --md-sys-color-primary-dim: #95F4DC;
  --md-sys-color-on-primary: #00382E;
  --md-sys-color-primary-container: #005143;
  --md-sys-color-on-primary-container: #95F4DC;
  --md-sys-color-primary-fixed: #95F4DC;
  --md-sys-color-primary-fixed-dim: #79D7C0;
  --md-sys-color-on-primary-fixed: #00201A;
  --md-sys-color-on-primary-fixed-variant: #005143;
  --md-sys-color-inverse-primary: #006B5A;
  --md-sys-color-secondary: #E8B9D4;
  --md-sys-color-secondary-dim: #FDCCE8;
  --md-sys-color-on-secondary: #46263B;
  --md-sys-color-secondary-container: #5F3C52;
  --md-sys-color-on-secondary-container: #FFD8ED;
  --md-sys-color-secondary-fixed: #FFD8ED;
  --md-sys-color-secondary-fixed-dim: #E8B9D4;
  --md-sys-color-on-secondary-fixed: #2E1125;
  --md-sys-color-on-secondary-fixed-variant: #5F3C52;
  --md-sys-color-tertiary: #E0B9EE;
  --md-sys-color-tertiary-dim: #F1C9FF;
  --md-sys-color-on-tertiary: #41244F;
  --md-sys-color-tertiary-container: #593B67;
  --md-sys-color-on-tertiary-container: #F7D8FF;
  --md-sys-color-tertiary-fixed: #F7D8FF;
  --md-sys-color-tertiary-fixed-dim: #E0B9EE;
  --md-sys-color-on-tertiary-fixed: #2B0E39;
  --md-sys-color-on-tertiary-fixed-variant: #593B67;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #005143;
  --md-sys-color-control-normal: #CFC2D3;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1F1A21;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4D4351;
  --md-sys-color-text-primary-inverse-disable-only: #1F1A21;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1F1A21;
  --md-sys-color-text-hint-inverse: #1F1A21;
  --md-sys-color-widget-background: #00382E;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #1B8672;
  --md-sys-color-secondary-palette-key-color: #936B83;
  --md-sys-color-tertiary-palette-key-color: #8D6B9B;
  --md-sys-color-neutral-palette-key-color: #7C757E;
  --md-sys-color-neutral-variant-palette-key-color: #7E7382;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #161219;
  --md-sys-color-on-background: #EADFEA;
  --md-sys-color-surface: #161219;
  --md-sys-color-surface-dim: #161219;
  --md-sys-color-surface-bright: #49424B;
  --md-sys-color-surface-container-lowest: #0A060C;
  --md-sys-color-surface-container-low: #211C23;
  --md-sys-color-surface-container: #2B262E;
  --md-sys-color-surface-container-high: #363139;
  --md-sys-color-surface-container-highest: #423C44;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #4D4351;
  --md-sys-color-on-surface-variant: #E6D8E9;
  --md-sys-color-outline: #BAAEBE;
  --md-sys-color-outline-variant: #988C9C;
  --md-sys-color-inverse-surface: #EADFEA;
  --md-sys-color-inverse-on-surface: #2D2830;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #79D7C0;
  --md-sys-color-primary: #8FEED6;
  --md-sys-color-primary-dim: #95F4DC;
  --md-sys-color-on-primary: #002C24;
  --md-sys-color-primary-container: #3EA08B;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #95F4DC;
  --md-sys-color-primary-fixed-dim: #79D7C0;
  --md-sys-color-on-primary-fixed: #001510;
  --md-sys-color-on-primary-fixed-variant: #003E33;
  --md-sys-color-inverse-primary: #005245;
  --md-sys-color-secondary: #FFCFEA;
  --md-sys-color-secondary-dim: #FDCCE8;
  --md-sys-color-on-secondary: #3A1B30;
  --md-sys-color-secondary-container: #AF849D;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #FFD8ED;
  --md-sys-color-secondary-fixed-dim: #E8B9D4;
  --md-sys-color-on-secondary-fixed: #22071A;
  --md-sys-color-on-secondary-fixed-variant: #4C2C41;
  --md-sys-color-tertiary: #F4D0FF;
  --md-sys-color-tertiary-dim: #F1C9FF;
  --md-sys-color-on-tertiary: #361943;
  --md-sys-color-tertiary-container: #A884B5;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #F7D8FF;
  --md-sys-color-tertiary-fixed-dim: #E0B9EE;
  --md-sys-color-on-tertiary-fixed: #1F032D;
  --md-sys-color-on-tertiary-fixed-variant: #482A55;
  --md-sys-color-error: #FFD2CC;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #FF5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #005143;
  --md-sys-color-control-normal: #CFC2D3;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1F1A21;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4D4351;
  --md-sys-color-text-primary-inverse-disable-only: #1F1A21;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1F1A21;
  --md-sys-color-text-hint-inverse: #1F1A21;
  --md-sys-color-widget-background: #00382E;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #1B8672;
  --md-sys-color-secondary-palette-key-color: #936B83;
  --md-sys-color-tertiary-palette-key-color: #8D6B9B;
  --md-sys-color-neutral-palette-key-color: #7C757E;
  --md-sys-color-neutral-variant-palette-key-color: #7E7382;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #161219;
  --md-sys-color-on-background: #EADFEA;
  --md-sys-color-surface: #161219;
  --md-sys-color-surface-dim: #161219;
  --md-sys-color-surface-bright: #544E57;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #231E25;
  --md-sys-color-surface-container: #342E37;
  --md-sys-color-surface-container-high: #3F3942;
  --md-sys-color-surface-container-highest: #4B454D;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #4D4351;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FAEBFD;
  --md-sys-color-outline-variant: #CBBECF;
  --md-sys-color-inverse-surface: #EADFEA;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #79D7C0;
  --md-sys-color-primary: #B2FFEA;
  --md-sys-color-primary-dim: #FEFFFD;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #75D3BD;
  --md-sys-color-on-primary-container: #000E0A;
  --md-sys-color-primary-fixed: #95F4DC;
  --md-sys-color-primary-fixed-dim: #79D7C0;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001510;
  --md-sys-color-inverse-primary: #005245;
  --md-sys-color-secondary: #FFEBF4;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #E4B5D0;
  --md-sys-color-on-secondary-container: #1B0314;
  --md-sys-color-secondary-fixed: #FFD8ED;
  --md-sys-color-secondary-fixed-dim: #E8B9D4;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #22071A;
  --md-sys-color-tertiary: #FDEAFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #DCB5EA;
  --md-sys-color-on-tertiary-container: #180026;
  --md-sys-color-tertiary-fixed: #F7D8FF;
  --md-sys-color-tertiary-fixed-dim: #E0B9EE;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #1F032D;
  --md-sys-color-error: #FFECE9;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #FFAEA4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #005143;
  --md-sys-color-control-normal: #CFC2D3;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1F1A21;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4D4351;
  --md-sys-color-text-primary-inverse-disable-only: #1F1A21;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1F1A21;
  --md-sys-color-text-hint-inverse: #1F1A21;
  --md-sys-color-widget-background: #00382E;
}
