.light {
  --md-sys-color-primary-palette-key-color: #7D6FA2;
  --md-sys-color-secondary-palette-key-color: #7B748A;
  --md-sys-color-tertiary-palette-key-color: #956989;
  --md-sys-color-neutral-palette-key-color: #79767C;
  --md-sys-color-neutral-variant-palette-key-color: #7A7580;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #FDF7FE;
  --md-sys-color-on-background: #DED8DF;
  --md-sys-color-surface: #FDF7FE;
  --md-sys-color-surface-dim: #DED8E4;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F1FA;
  --md-sys-color-surface-container: #F2ECF5;
  --md-sys-color-surface-container-high: #ECE6F0;
  --md-sys-color-surface-container-highest: #E7E0EC;
  --md-sys-color-on-surface: #34313A;
  --md-sys-color-surface-variant: #E6E1E7;
  --md-sys-color-on-surface-variant: #615D68;
  --md-sys-color-outline: #7D7983;
  --md-sys-color-outline-variant: #B5B0BB;
  --md-sys-color-inverse-surface: #0F0D12;
  --md-sys-color-inverse-on-surface: #A09BA1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D4C3FD;
  --md-sys-color-primary: #655789;
  --md-sys-color-primary-dim: #594B7C;
  --md-sys-color-on-primary: #FDF7FF;
  --md-sys-color-primary-container: #D4C3FD;
  --md-sys-color-on-primary-container: #493C6C;
  --md-sys-color-primary-fixed: #D4C3FD;
  --md-sys-color-primary-fixed-dim: #C6B6EE;
  --md-sys-color-on-primary-fixed: #352857;
  --md-sys-color-on-primary-fixed-variant: #524576;
  --md-sys-color-inverse-primary: #D4C3FD;
  --md-sys-color-secondary: #625C71;
  --md-sys-color-secondary-dim: #565065;
  --md-sys-color-on-secondary: #FDF7FF;
  --md-sys-color-secondary-container: #E8DEF8;
  --md-sys-color-on-secondary-container: #554F63;
  --md-sys-color-secondary-fixed: #E8DEF8;
  --md-sys-color-secondary-fixed-dim: #DAD0EA;
  --md-sys-color-on-secondary-fixed: #423C50;
  --md-sys-color-on-secondary-fixed-variant: #5F586E;
  --md-sys-color-tertiary: #7B5270;
  --md-sys-color-tertiary-dim: #6E4664;
  --md-sys-color-on-tertiary: #FFF7F9;
  --md-sys-color-tertiary-container: #F4BFE3;
  --md-sys-color-on-tertiary-container: #5F3956;
  --md-sys-color-tertiary-fixed: #F4BFE3;
  --md-sys-color-tertiary-fixed-dim: #C6BDD6;
  --md-sys-color-on-tertiary-fixed: #4A2642;
  --md-sys-color-on-tertiary-fixed-variant: #694260;
  --md-sys-color-error: #A8364B;
  --md-sys-color-error-dim: #6B0221;
  --md-sys-color-on-error: #FFF7F7;
  --md-sys-color-error-container: #F97386;
  --md-sys-color-on-error-container: #490013;
  --md-sys-color-control-activated: #D4C3FD;
  --md-sys-color-control-normal: #DED8DF;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0F0D12;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CAC4D0;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E7;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E7;
  --md-sys-color-text-hint-inverse: #E6E1E7;
  --md-sys-color-widget-background: #F6EEFF;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7D6FA2;
  --md-sys-color-secondary-palette-key-color: #7B748A;
  --md-sys-color-tertiary-palette-key-color: #956989;
  --md-sys-color-neutral-palette-key-color: #79767C;
  --md-sys-color-neutral-variant-palette-key-color: #7A7580;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #FDF7FE;
  --md-sys-color-on-background: #DED8DF;
  --md-sys-color-surface: #FDF7FE;
  --md-sys-color-surface-dim: #DED8E4;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F1FA;
  --md-sys-color-surface-container: #F2ECF5;
  --md-sys-color-surface-container-high: #ECE6F0;
  --md-sys-color-surface-container-highest: #E7E0EC;
  --md-sys-color-on-surface: #25232B;
  --md-sys-color-surface-variant: #E6E1E7;
  --md-sys-color-on-surface-variant: #45414B;
  --md-sys-color-outline: #615D68;
  --md-sys-color-outline-variant: #7D7983;
  --md-sys-color-inverse-surface: #0F0D12;
  --md-sys-color-inverse-on-surface: #C8C3C9;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D4C3FD;
  --md-sys-color-primary: #483B6B;
  --md-sys-color-primary-dim: #3C305F;
  --md-sys-color-on-primary: #E1D3FF;
  --md-sys-color-primary-container: #7B6DA0;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #7B6DA0;
  --md-sys-color-primary-fixed-dim: #6E6093;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #D4C3FD;
  --md-sys-color-secondary: #464054;
  --md-sys-color-secondary-dim: #3A3548;
  --md-sys-color-on-secondary: #DFD5EF;
  --md-sys-color-secondary-container: #E8DEF8;
  --md-sys-color-on-secondary-container: #4B4559;
  --md-sys-color-secondary-fixed: #787187;
  --md-sys-color-secondary-fixed-dim: #6C657B;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #5C3653;
  --md-sys-color-tertiary-dim: #502B47;
  --md-sys-color-on-tertiary: #FFCAEE;
  --md-sys-color-tertiary-container: #936787;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #936787;
  --md-sys-color-tertiary-fixed-dim: #6C657B;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #821830;
  --md-sys-color-error-dim: #6B0221;
  --md-sys-color-on-error: #FFCDD1;
  --md-sys-color-error-container: #C44B5F;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #D4C3FD;
  --md-sys-color-control-normal: #DED8DF;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0F0D12;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CAC4D0;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E7;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E7;
  --md-sys-color-text-hint-inverse: #E6E1E7;
  --md-sys-color-widget-background: #F6EEFF;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #7D6FA2;
  --md-sys-color-secondary-palette-key-color: #7B748A;
  --md-sys-color-tertiary-palette-key-color: #956989;
  --md-sys-color-neutral-palette-key-color: #79767C;
  --md-sys-color-neutral-variant-palette-key-color: #7A7580;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #FDF7FE;
  --md-sys-color-on-background: #DED8DF;
  --md-sys-color-surface: #FDF7FE;
  --md-sys-color-surface-dim: #DED8E4;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F1FA;
  --md-sys-color-surface-container: #F2ECF5;
  --md-sys-color-surface-container-high: #ECE6F0;
  --md-sys-color-surface-container-highest: #E7E0EC;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E6E1E7;
  --md-sys-color-on-surface-variant: #25232B;
  --md-sys-color-outline: #45414B;
  --md-sys-color-outline-variant: #615D68;
  --md-sys-color-inverse-surface: #0F0D12;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D4C3FD;
  --md-sys-color-primary: #281B49;
  --md-sys-color-primary-dim: #1E103F;
  --md-sys-color-on-primary: #E1D3FF;
  --md-sys-color-primary-container: #655789;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #655789;
  --md-sys-color-primary-fixed-dim: #594B7C;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #D4C3FD;
  --md-sys-color-secondary: #262134;
  --md-sys-color-secondary-dim: #1C1729;
  --md-sys-color-on-secondary: #DFD6EF;
  --md-sys-color-secondary-container: #E8DEF8;
  --md-sys-color-on-secondary-container: #2C273A;
  --md-sys-color-secondary-fixed: #625C71;
  --md-sys-color-secondary-fixed-dim: #565065;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #391733;
  --md-sys-color-tertiary-dim: #2E0D28;
  --md-sys-color-on-tertiary: #FFCBEE;
  --md-sys-color-tertiary-container: #7B5270;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #7B5270;
  --md-sys-color-tertiary-fixed-dim: #565065;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #500016;
  --md-sys-color-error-dim: #3D000F;
  --md-sys-color-on-error: #FFCED2;
  --md-sys-color-error-container: #A8364B;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #D4C3FD;
  --md-sys-color-control-normal: #DED8DF;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0F0D12;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CAC4D0;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E7;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E7;
  --md-sys-color-text-hint-inverse: #E6E1E7;
  --md-sys-color-widget-background: #F6EEFF;
}
.dark {
  --md-sys-color-primary-palette-key-color: #7C7199;
  --md-sys-color-secondary-palette-key-color: #7B748A;
  --md-sys-color-tertiary-palette-key-color: #956989;
  --md-sys-color-neutral-palette-key-color: #79767C;
  --md-sys-color-neutral-variant-palette-key-color: #7A7580;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #0F0D12;
  --md-sys-color-on-background: #2D2B30;
  --md-sys-color-surface: #0F0D12;
  --md-sys-color-surface-dim: #0F0D12;
  --md-sys-color-surface-bright: #2D2B30;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141218;
  --md-sys-color-surface-container: #1B181F;
  --md-sys-color-surface-container-high: #211E26;
  --md-sys-color-surface-container-highest: #27242D;
  --md-sys-color-on-surface: #EAE3EF;
  --md-sys-color-surface-variant: #27252A;
  --md-sys-color-on-surface-variant: #96919C;
  --md-sys-color-outline: #78737E;
  --md-sys-color-outline-variant: #4A4650;
  --md-sys-color-inverse-surface: #FDF7FE;
  --md-sys-color-inverse-on-surface: #575459;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CDC0EC;
  --md-sys-color-primary: #CDC0EC;
  --md-sys-color-primary-dim: #BFB2DE;
  --md-sys-color-on-primary: #443A5F;
  --md-sys-color-primary-container: #574D72;
  --md-sys-color-on-primary-container: #E9DEFF;
  --md-sys-color-primary-fixed: #DED0FE;
  --md-sys-color-primary-fixed-dim: #D0C3EF;
  --md-sys-color-on-primary-fixed: #3C3256;
  --md-sys-color-on-primary-fixed-variant: #594E74;
  --md-sys-color-inverse-primary: #645980;
  --md-sys-color-secondary: #CBC2DB;
  --md-sys-color-secondary-dim: #BEB5CD;
  --md-sys-color-on-secondary: #433D51;
  --md-sys-color-secondary-container: #3E384C;
  --md-sys-color-on-secondary-container: #C4BBD4;
  --md-sys-color-secondary-fixed: #E8DEF8;
  --md-sys-color-secondary-fixed-dim: #DAD0EA;
  --md-sys-color-on-secondary-fixed: #423C50;
  --md-sys-color-on-secondary-fixed-variant: #5F586E;
  --md-sys-color-tertiary: #FFCFEF;
  --md-sys-color-tertiary-dim: #F4BFE3;
  --md-sys-color-on-tertiary: #69415F;
  --md-sys-color-tertiary-container: #F4BFE3;
  --md-sys-color-on-tertiary-container: #5F3956;
  --md-sys-color-tertiary-fixed: #F4BFE3;
  --md-sys-color-tertiary-fixed-dim: #C6BDD6;
  --md-sys-color-on-tertiary-fixed: #4A2642;
  --md-sys-color-on-tertiary-fixed-variant: #694260;
  --md-sys-color-error: #F97386;
  --md-sys-color-error-dim: #C44B5F;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #871C34;
  --md-sys-color-on-error-container: #FFC0C6;
  --md-sys-color-control-activated: #574D72;
  --md-sys-color-control-normal: #2D2B30;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FDF7FE;
  --md-sys-color-text-secondary-and-tertiary-inverse: #49454F;
  --md-sys-color-text-primary-inverse-disable-only: #1C1B1F;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1C1B1F;
  --md-sys-color-text-hint-inverse: #1C1B1F;
  --md-sys-color-widget-background: #342B4E;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7C7199;
  --md-sys-color-secondary-palette-key-color: #7B748A;
  --md-sys-color-tertiary-palette-key-color: #956989;
  --md-sys-color-neutral-palette-key-color: #79767C;
  --md-sys-color-neutral-variant-palette-key-color: #7A7580;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #0F0D12;
  --md-sys-color-on-background: #2D2B30;
  --md-sys-color-surface: #0F0D12;
  --md-sys-color-surface-dim: #0F0D12;
  --md-sys-color-surface-bright: #2D2B30;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141218;
  --md-sys-color-surface-container: #1B181F;
  --md-sys-color-surface-container-high: #211E26;
  --md-sys-color-surface-container-highest: #27242D;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #27252A;
  --md-sys-color-on-surface-variant: #BCB6C2;
  --md-sys-color-outline: #96919C;
  --md-sys-color-outline-variant: #78737E;
  --md-sys-color-inverse-surface: #FDF7FE;
  --md-sys-color-inverse-on-surface: #39373C;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CDC0EC;
  --md-sys-color-primary: #CDC0EC;
  --md-sys-color-primary-dim: #BFB2DE;
  --md-sys-color-on-primary: #3A3054;
  --md-sys-color-primary-container: #7A6F96;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #DED0FE;
  --md-sys-color-primary-fixed-dim: #D0C3EF;
  --md-sys-color-on-primary-fixed: #180E30;
  --md-sys-color-on-primary-fixed-variant: #3C3256;
  --md-sys-color-inverse-primary: #5A4F75;
  --md-sys-color-secondary: #CBC2DB;
  --md-sys-color-secondary-dim: #BEB5CD;
  --md-sys-color-on-secondary: #393347;
  --md-sys-color-secondary-container: #3E384C;
  --md-sys-color-on-secondary-container: #D3CAE3;
  --md-sys-color-secondary-fixed: #E8DEF8;
  --md-sys-color-secondary-fixed-dim: #DAD0EA;
  --md-sys-color-on-secondary-fixed: #221D2F;
  --md-sys-color-on-secondary-fixed-variant: #423C50;
  --md-sys-color-tertiary: #FFCFEF;
  --md-sys-color-tertiary-dim: #F4BFE3;
  --md-sys-color-on-tertiary: #5E3855;
  --md-sys-color-tertiary-container: #F4BFE3;
  --md-sys-color-on-tertiary-container: #542F4C;
  --md-sys-color-tertiary-fixed: #F4BFE3;
  --md-sys-color-tertiary-fixed-dim: #C6BDD6;
  --md-sys-color-on-tertiary-fixed: #180015;
  --md-sys-color-on-tertiary-fixed-variant: #4A2642;
  --md-sys-color-error: #FF9DA8;
  --md-sys-color-error-dim: #FF8695;
  --md-sys-color-on-error: #5F001C;
  --md-sys-color-error-container: #C44B5F;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #574D72;
  --md-sys-color-control-normal: #2D2B30;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FDF7FE;
  --md-sys-color-text-secondary-and-tertiary-inverse: #49454F;
  --md-sys-color-text-primary-inverse-disable-only: #1C1B1F;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1C1B1F;
  --md-sys-color-text-hint-inverse: #1C1B1F;
  --md-sys-color-widget-background: #342B4E;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #7C7199;
  --md-sys-color-secondary-palette-key-color: #7B748A;
  --md-sys-color-tertiary-palette-key-color: #956989;
  --md-sys-color-neutral-palette-key-color: #79767C;
  --md-sys-color-neutral-variant-palette-key-color: #7A7580;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #0F0D12;
  --md-sys-color-on-background: #2D2B30;
  --md-sys-color-surface: #0F0D12;
  --md-sys-color-surface-dim: #0F0D12;
  --md-sys-color-surface-bright: #2D2B30;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141218;
  --md-sys-color-surface-container: #1B181F;
  --md-sys-color-surface-container-high: #211E26;
  --md-sys-color-surface-container-highest: #27242D;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #27252A;
  --md-sys-color-on-surface-variant: #EAE3EF;
  --md-sys-color-outline: #BCB6C2;
  --md-sys-color-outline-variant: #96919C;
  --md-sys-color-inverse-surface: #FDF7FE;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CDC0EC;
  --md-sys-color-primary: #EBE1FF;
  --md-sys-color-primary-dim: #DED0FE;
  --md-sys-color-on-primary: #302649;
  --md-sys-color-primary-container: #A497C2;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #DED0FE;
  --md-sys-color-primary-fixed-dim: #D0C3EF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #180E30;
  --md-sys-color-inverse-primary: #3C3256;
  --md-sys-color-secondary: #EBE1FB;
  --md-sys-color-secondary-dim: #DDD3ED;
  --md-sys-color-on-secondary: #2E293C;
  --md-sys-color-secondary-container: #3E384C;
  --md-sys-color-on-secondary-container: #FFFEFF;
  --md-sys-color-secondary-fixed: #E8DEF8;
  --md-sys-color-secondary-fixed-dim: #DAD0EA;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #221D2F;
  --md-sys-color-tertiary: #FFDBF2;
  --md-sys-color-tertiary-dim: #FAC5E9;
  --md-sys-color-on-tertiary: #43203B;
  --md-sys-color-tertiary-container: #F4BFE3;
  --md-sys-color-on-tertiary-container: #2E0E29;
  --md-sys-color-tertiary-fixed: #F4BFE3;
  --md-sys-color-tertiary-fixed-dim: #C6BDD6;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #180015;
  --md-sys-color-error: #FFDDDF;
  --md-sys-color-error-dim: #FFC7CB;
  --md-sys-color-on-error: #5F001C;
  --md-sys-color-error-container: #F97386;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #574D72;
  --md-sys-color-control-normal: #2D2B30;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FDF7FE;
  --md-sys-color-text-secondary-and-tertiary-inverse: #49454F;
  --md-sys-color-text-primary-inverse-disable-only: #1C1B1F;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1C1B1F;
  --md-sys-color-text-hint-inverse: #1C1B1F;
  --md-sys-color-widget-background: #342B4E;
}
