.light {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7B748A;
  --md-sys-color-tertiary-palette-key-color: #996A79;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #F9F9F9;
  --md-sys-color-on-background: #323232;
  --md-sys-color-surface: #F9F9F9;
  --md-sys-color-surface-dim: #DADADA;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F3F3F3;
  --md-sys-color-surface-container: #EEEEEE;
  --md-sys-color-surface-container-high: #E8E8E8;
  --md-sys-color-surface-container-highest: #E2E2E2;
  --md-sys-color-on-surface: #323232;
  --md-sys-color-surface-variant: #E2E2E2;
  --md-sys-color-on-surface-variant: #5F5F5F;
  --md-sys-color-outline: #7B7B7B;
  --md-sys-color-outline-variant: #B2B2B2;
  --md-sys-color-inverse-surface: #0E0E0E;
  --md-sys-color-inverse-on-surface: #9D9D9D;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #BBA2FE;
  --md-sys-color-primary: #6850A5;
  --md-sys-color-primary-dim: #5B4498;
  --md-sys-color-on-primary: #FDF7FF;
  --md-sys-color-primary-container: #BBA2FE;
  --md-sys-color-on-primary-container: #381E73;
  --md-sys-color-primary-fixed: #BBA2FE;
  --md-sys-color-primary-fixed-dim: #AD95EF;
  --md-sys-color-on-primary-fixed: #1E0053;
  --md-sys-color-on-primary-fixed-variant: #41297C;
  --md-sys-color-inverse-primary: #BBA2FE;
  --md-sys-color-secondary: #625C71;
  --md-sys-color-secondary-dim: #565065;
  --md-sys-color-on-secondary: #FDF7FF;
  --md-sys-color-secondary-container: #E8DEF8;
  --md-sys-color-on-secondary-container: #554F63;
  --md-sys-color-secondary-fixed: #E8DEF8;
  --md-sys-color-secondary-fixed-dim: #DAD0EA;
  --md-sys-color-on-secondary-fixed: #423C50;
  --md-sys-color-on-secondary-fixed-variant: #5F586E;
  --md-sys-color-tertiary: #7E5261;
  --md-sys-color-tertiary-dim: #714755;
  --md-sys-color-on-tertiary: #FFF7F7;
  --md-sys-color-tertiary-container: #FEC5D6;
  --md-sys-color-on-tertiary-container: #663D4B;
  --md-sys-color-tertiary-fixed: #FEC5D6;
  --md-sys-color-tertiary-fixed-dim: #CBC2DB;
  --md-sys-color-on-tertiary-fixed: #502B38;
  --md-sys-color-on-tertiary-fixed-variant: #704654;
  --md-sys-color-error: #BB1B1B;
  --md-sys-color-error-dim: #A90810;
  --md-sys-color-on-error: #FFF7F6;
  --md-sys-color-error-container: #FE4E44;
  --md-sys-color-on-error-container: #1F0000;
  --md-sys-color-control-activated: #BBA2FE;
  --md-sys-color-control-normal: #DADADA;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0E0E0E;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C6C6C6;
  --md-sys-color-text-primary-inverse-disable-only: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E2E2E2;
  --md-sys-color-text-hint-inverse: #E2E2E2;
  --md-sys-color-widget-background: #F6EEFF;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7B748A;
  --md-sys-color-tertiary-palette-key-color: #996A79;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #F9F9F9;
  --md-sys-color-on-background: #242424;
  --md-sys-color-surface: #F9F9F9;
  --md-sys-color-surface-dim: #DADADA;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F3F3F3;
  --md-sys-color-surface-container: #EEEEEE;
  --md-sys-color-surface-container-high: #E8E8E8;
  --md-sys-color-surface-container-highest: #E2E2E2;
  --md-sys-color-on-surface: #242424;
  --md-sys-color-surface-variant: #E2E2E2;
  --md-sys-color-on-surface-variant: #434343;
  --md-sys-color-outline: #5F5F5F;
  --md-sys-color-outline-variant: #7B7B7B;
  --md-sys-color-inverse-surface: #0E0E0E;
  --md-sys-color-inverse-on-surface: #C5C5C5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #BBA2FE;
  --md-sys-color-primary: #4B3386;
  --md-sys-color-primary-dim: #3F277A;
  --md-sys-color-on-primary: #E1D3FF;
  --md-sys-color-primary-container: #7E66BC;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #7E66BC;
  --md-sys-color-primary-fixed-dim: #715AAF;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #BBA2FE;
  --md-sys-color-secondary: #464054;
  --md-sys-color-secondary-dim: #3A3548;
  --md-sys-color-on-secondary: #DFD5EF;
  --md-sys-color-secondary-container: #E8DEF8;
  --md-sys-color-on-secondary-container: #4B4559;
  --md-sys-color-secondary-fixed: #787187;
  --md-sys-color-secondary-fixed-dim: #6C657B;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #5F3744;
  --md-sys-color-tertiary-dim: #522C39;
  --md-sys-color-on-tertiary: #FFCCDB;
  --md-sys-color-tertiary-container: #966776;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #966776;
  --md-sys-color-tertiary-fixed-dim: #6C657B;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #8C0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #FFCEC8;
  --md-sys-color-error-container: #DA342E;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #BBA2FE;
  --md-sys-color-control-normal: #DADADA;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0E0E0E;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C6C6C6;
  --md-sys-color-text-primary-inverse-disable-only: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E2E2E2;
  --md-sys-color-text-hint-inverse: #E2E2E2;
  --md-sys-color-widget-background: #F6EEFF;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7B748A;
  --md-sys-color-tertiary-palette-key-color: #996A79;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #F9F9F9;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #F9F9F9;
  --md-sys-color-surface-dim: #DADADA;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F3F3F3;
  --md-sys-color-surface-container: #EEEEEE;
  --md-sys-color-surface-container-high: #E8E8E8;
  --md-sys-color-surface-container-highest: #E2E2E2;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E2E2E2;
  --md-sys-color-on-surface-variant: #242424;
  --md-sys-color-outline: #434343;
  --md-sys-color-outline-variant: #5F5F5F;
  --md-sys-color-inverse-surface: #0E0E0E;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #BBA2FE;
  --md-sys-color-primary: #2B0D66;
  --md-sys-color-primary-dim: #200058;
  --md-sys-color-on-primary: #E1D3FF;
  --md-sys-color-primary-container: #6850A5;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #6850A5;
  --md-sys-color-primary-fixed-dim: #5B4498;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #CEBAFF;
  --md-sys-color-secondary: #262134;
  --md-sys-color-secondary-dim: #1C1729;
  --md-sys-color-on-secondary: #DFD6EF;
  --md-sys-color-secondary-container: #E8DEF8;
  --md-sys-color-on-secondary-container: #2C273A;
  --md-sys-color-secondary-fixed: #625C71;
  --md-sys-color-secondary-fixed-dim: #565065;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #3B1925;
  --md-sys-color-tertiary-dim: #2F0F1B;
  --md-sys-color-on-tertiary: #FFCDDB;
  --md-sys-color-tertiary-container: #7E5261;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #7E5261;
  --md-sys-color-tertiary-fixed-dim: #565065;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3E0002;
  --md-sys-color-on-error: #FFCFC9;
  --md-sys-color-error-container: #BB1B1B;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #BBA2FE;
  --md-sys-color-control-normal: #DADADA;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0E0E0E;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C6C6C6;
  --md-sys-color-text-primary-inverse-disable-only: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E2E2E2;
  --md-sys-color-text-hint-inverse: #E2E2E2;
  --md-sys-color-widget-background: #F6EEFF;
}
.dark {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7B748A;
  --md-sys-color-tertiary-palette-key-color: #996A79;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #0E0E0E;
  --md-sys-color-on-background: #E5E5E5;
  --md-sys-color-surface: #0E0E0E;
  --md-sys-color-surface-dim: #0E0E0E;
  --md-sys-color-surface-bright: #2C2C2C;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1F1F1F;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #E5E5E5;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #ABABAB;
  --md-sys-color-outline: #757575;
  --md-sys-color-outline-variant: #484848;
  --md-sys-color-inverse-surface: #F9F9F9;
  --md-sys-color-inverse-on-surface: #555555;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #BBA2FE;
  --md-sys-color-primary: #BBA2FE;
  --md-sys-color-primary-dim: #AD95EF;
  --md-sys-color-on-primary: #381E73;
  --md-sys-color-primary-container: #AB92EC;
  --md-sys-color-on-primary-container: #2A0B64;
  --md-sys-color-primary-fixed: #BBA2FE;
  --md-sys-color-primary-fixed-dim: #AD95EF;
  --md-sys-color-on-primary-fixed: #1E0053;
  --md-sys-color-on-primary-fixed-variant: #41297C;
  --md-sys-color-inverse-primary: #6750A5;
  --md-sys-color-secondary: #CBC2DB;
  --md-sys-color-secondary-dim: #BEB5CD;
  --md-sys-color-on-secondary: #433D51;
  --md-sys-color-secondary-container: #3E384C;
  --md-sys-color-on-secondary-container: #C4BBD4;
  --md-sys-color-secondary-fixed: #E8DEF8;
  --md-sys-color-secondary-fixed-dim: #DAD0EA;
  --md-sys-color-on-secondary-fixed: #423C50;
  --md-sys-color-on-secondary-fixed-variant: #5F586E;
  --md-sys-color-tertiary: #FFD9E3;
  --md-sys-color-tertiary-dim: #FEC5D6;
  --md-sys-color-on-tertiary: #6F4553;
  --md-sys-color-tertiary-container: #FEC5D6;
  --md-sys-color-on-tertiary-container: #663D4B;
  --md-sys-color-tertiary-fixed: #FEC5D6;
  --md-sys-color-tertiary-fixed-dim: #CBC2DB;
  --md-sys-color-on-tertiary-fixed: #502B38;
  --md-sys-color-on-tertiary-fixed-variant: #704654;
  --md-sys-color-error: #FF7164;
  --md-sys-color-error-dim: #DA342E;
  --md-sys-color-on-error: #4A0002;
  --md-sys-color-error-container: #AC0C12;
  --md-sys-color-on-error-container: #FFE0DC;
  --md-sys-color-control-activated: #AB92EC;
  --md-sys-color-control-normal: #2C2C2C;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #F9F9F9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1B1B1B;
  --md-sys-color-text-hint-inverse: #1B1B1B;
  --md-sys-color-widget-background: #381E72;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7B748A;
  --md-sys-color-tertiary-palette-key-color: #996A79;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #0E0E0E;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #0E0E0E;
  --md-sys-color-surface-dim: #0E0E0E;
  --md-sys-color-surface-bright: #2C2C2C;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1F1F1F;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #B9B9B9;
  --md-sys-color-outline: #939393;
  --md-sys-color-outline-variant: #757575;
  --md-sys-color-inverse-surface: #F9F9F9;
  --md-sys-color-inverse-on-surface: #383838;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #BBA2FE;
  --md-sys-color-primary: #C3ACFF;
  --md-sys-color-primary-dim: #B69DF8;
  --md-sys-color-on-primary: #33196E;
  --md-sys-color-primary-container: #AB92EC;
  --md-sys-color-on-primary-container: #1A004A;
  --md-sys-color-primary-fixed: #BBA2FE;
  --md-sys-color-primary-fixed-dim: #AD95EF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #1E0053;
  --md-sys-color-inverse-primary: #5D469A;
  --md-sys-color-secondary: #CBC2DB;
  --md-sys-color-secondary-dim: #BEB5CD;
  --md-sys-color-on-secondary: #393347;
  --md-sys-color-secondary-container: #3E384C;
  --md-sys-color-on-secondary-container: #D3CAE3;
  --md-sys-color-secondary-fixed: #E8DEF8;
  --md-sys-color-secondary-fixed-dim: #DAD0EA;
  --md-sys-color-on-secondary-fixed: #221D2F;
  --md-sys-color-on-secondary-fixed-variant: #423C50;
  --md-sys-color-tertiary: #FFD9E3;
  --md-sys-color-tertiary-dim: #FEC5D6;
  --md-sys-color-on-tertiary: #643C4A;
  --md-sys-color-tertiary-container: #FEC5D6;
  --md-sys-color-on-tertiary-container: #5B3441;
  --md-sys-color-tertiary-fixed: #FEC5D6;
  --md-sys-color-tertiary-fixed-dim: #CBC2DB;
  --md-sys-color-on-tertiary-fixed: #240613;
  --md-sys-color-on-tertiary-fixed-variant: #502B38;
  --md-sys-color-error: #FF9F94;
  --md-sys-color-error-dim: #FF887C;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #DA342E;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #AB92EC;
  --md-sys-color-control-normal: #2C2C2C;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #F9F9F9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1B1B1B;
  --md-sys-color-text-hint-inverse: #1B1B1B;
  --md-sys-color-widget-background: #381E72;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7B748A;
  --md-sys-color-tertiary-palette-key-color: #996A79;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #0E0E0E;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #0E0E0E;
  --md-sys-color-surface-dim: #0E0E0E;
  --md-sys-color-surface-bright: #2C2C2C;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1F1F1F;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #E5E5E5;
  --md-sys-color-outline: #B9B9B9;
  --md-sys-color-outline-variant: #939393;
  --md-sys-color-inverse-surface: #F9F9F9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #BBA2FE;
  --md-sys-color-primary: #EBE1FF;
  --md-sys-color-primary-dim: #DCCDFF;
  --md-sys-color-on-primary: #33196E;
  --md-sys-color-primary-container: #AB92EC;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #BBA2FE;
  --md-sys-color-primary-fixed-dim: #AD95EF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-inverse-primary: #40277B;
  --md-sys-color-secondary: #EBE1FB;
  --md-sys-color-secondary-dim: #DDD3ED;
  --md-sys-color-on-secondary: #2E293C;
  --md-sys-color-secondary-container: #3E384C;
  --md-sys-color-on-secondary-container: #FFFEFF;
  --md-sys-color-secondary-fixed: #E8DEF8;
  --md-sys-color-secondary-fixed-dim: #DAD0EA;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #221D2F;
  --md-sys-color-tertiary: #FFDDE5;
  --md-sys-color-tertiary-dim: #FEC5D6;
  --md-sys-color-on-tertiary: #44212E;
  --md-sys-color-tertiary-container: #FEC5D6;
  --md-sys-color-on-tertiary-container: #361421;
  --md-sys-color-tertiary-fixed: #FEC5D6;
  --md-sys-color-tertiary-fixed-dim: #CBC2DB;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #240613;
  --md-sys-color-error: #FFDEDA;
  --md-sys-color-error-dim: #FFC8C1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #FF7164;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #AB92EC;
  --md-sys-color-control-normal: #2C2C2C;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #F9F9F9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1B1B1B;
  --md-sys-color-text-hint-inverse: #1B1B1B;
  --md-sys-color-widget-background: #381E72;
}
