.light {
  --md-sys-color-primary-palette-key-color: #777777;
  --md-sys-color-secondary-palette-key-color: #777777;
  --md-sys-color-tertiary-palette-key-color: #777777;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #F9F9F9;
  --md-sys-color-on-background: #1B1B1B;
  --md-sys-color-surface: #F9F9F9;
  --md-sys-color-surface-dim: #DADADA;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F3F3F3;
  --md-sys-color-surface-container: #EEEEEE;
  --md-sys-color-surface-container-high: #E8E8E8;
  --md-sys-color-surface-container-highest: #E2E2E2;
  --md-sys-color-on-surface: #1B1B1B;
  --md-sys-color-surface-variant: #E2E2E2;
  --md-sys-color-on-surface-variant: #474747;
  --md-sys-color-outline: #777777;
  --md-sys-color-outline-variant: #C6C6C6;
  --md-sys-color-inverse-surface: #303030;
  --md-sys-color-inverse-on-surface: #F1F1F1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #5E5E5E;
  --md-sys-color-primary: #000000;
  --md-sys-color-primary-dim: #686868;
  --md-sys-color-on-primary: #E2E2E2;
  --md-sys-color-primary-container: #3B3B3B;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #5E5E5E;
  --md-sys-color-primary-fixed-dim: #474747;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #E2E2E2;
  --md-sys-color-inverse-primary: #C6C6C6;
  --md-sys-color-secondary: #5E5E5E;
  --md-sys-color-secondary-dim: #686868;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #D4D4D4;
  --md-sys-color-on-secondary-container: #1B1B1B;
  --md-sys-color-secondary-fixed: #C6C6C6;
  --md-sys-color-secondary-fixed-dim: #ABABAB;
  --md-sys-color-on-secondary-fixed: #1B1B1B;
  --md-sys-color-on-secondary-fixed-variant: #3B3B3B;
  --md-sys-color-tertiary: #3B3B3B;
  --md-sys-color-tertiary-dim: #686868;
  --md-sys-color-on-tertiary: #E2E2E2;
  --md-sys-color-tertiary-container: #747474;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #5E5E5E;
  --md-sys-color-tertiary-fixed-dim: #474747;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #E2E2E2;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #410002;
  --md-sys-color-control-activated: #E2E2E2;
  --md-sys-color-control-normal: #474747;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C6C6C6;
  --md-sys-color-text-primary-inverse-disable-only: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E2E2E2;
  --md-sys-color-text-hint-inverse: #E2E2E2;
  --md-sys-color-widget-background: #F1F1F1;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #777777;
  --md-sys-color-secondary-palette-key-color: #777777;
  --md-sys-color-tertiary-palette-key-color: #777777;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #F9F9F9;
  --md-sys-color-on-background: #1B1B1B;
  --md-sys-color-surface: #F9F9F9;
  --md-sys-color-surface-dim: #C6C6C6;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F3F3F3;
  --md-sys-color-surface-container: #E8E8E8;
  --md-sys-color-surface-container-high: #DDDDDD;
  --md-sys-color-surface-container-highest: #D1D1D1;
  --md-sys-color-on-surface: #111111;
  --md-sys-color-surface-variant: #E2E2E2;
  --md-sys-color-on-surface-variant: #363636;
  --md-sys-color-outline: #525252;
  --md-sys-color-outline-variant: #6D6D6D;
  --md-sys-color-inverse-surface: #303030;
  --md-sys-color-inverse-on-surface: #F1F1F1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #5E5E5E;
  --md-sys-color-primary: #000000;
  --md-sys-color-primary-dim: #444444;
  --md-sys-color-on-primary: #E2E2E2;
  --md-sys-color-primary-container: #3B3B3B;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #5E5E5E;
  --md-sys-color-primary-fixed-dim: #474747;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #C6C6C6;
  --md-sys-color-secondary: #363636;
  --md-sys-color-secondary-dim: #444444;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #6D6D6D;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #6D6D6D;
  --md-sys-color-secondary-fixed-dim: #555555;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #363636;
  --md-sys-color-tertiary-dim: #444444;
  --md-sys-color-on-tertiary: #F5F5F5;
  --md-sys-color-tertiary-container: #6D6D6D;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #5E5E5E;
  --md-sys-color-tertiary-fixed-dim: #474747;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8F0009;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #CF2C27;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #E2E2E2;
  --md-sys-color-control-normal: #474747;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C6C6C6;
  --md-sys-color-text-primary-inverse-disable-only: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E2E2E2;
  --md-sys-color-text-hint-inverse: #E2E2E2;
  --md-sys-color-widget-background: #F1F1F1;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #777777;
  --md-sys-color-secondary-palette-key-color: #777777;
  --md-sys-color-tertiary-palette-key-color: #777777;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #F9F9F9;
  --md-sys-color-on-background: #1B1B1B;
  --md-sys-color-surface: #F9F9F9;
  --md-sys-color-surface-dim: #B9B9B9;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F1F1F1;
  --md-sys-color-surface-container: #E2E2E2;
  --md-sys-color-surface-container-high: #D4D4D4;
  --md-sys-color-surface-container-highest: #C6C6C6;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E2E2E2;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #2C2C2C;
  --md-sys-color-outline-variant: #494949;
  --md-sys-color-inverse-surface: #303030;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #5E5E5E;
  --md-sys-color-primary: #000000;
  --md-sys-color-primary-dim: #1F1F1F;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #3B3B3B;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #494949;
  --md-sys-color-primary-fixed-dim: #333333;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #C6C6C6;
  --md-sys-color-secondary: #2C2C2C;
  --md-sys-color-secondary-dim: #1F1F1F;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #494949;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #494949;
  --md-sys-color-secondary-fixed-dim: #333333;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #2C2C2C;
  --md-sys-color-tertiary-dim: #1F1F1F;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #494949;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #494949;
  --md-sys-color-tertiary-fixed-dim: #333333;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #98000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #E2E2E2;
  --md-sys-color-control-normal: #474747;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C6C6C6;
  --md-sys-color-text-primary-inverse-disable-only: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E2E2E2;
  --md-sys-color-text-hint-inverse: #E2E2E2;
  --md-sys-color-widget-background: #F1F1F1;
}
.dark {
  --md-sys-color-primary-palette-key-color: #777777;
  --md-sys-color-secondary-palette-key-color: #777777;
  --md-sys-color-tertiary-palette-key-color: #777777;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #E2E2E2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #393939;
  --md-sys-color-surface-container-lowest: #0E0E0E;
  --md-sys-color-surface-container-low: #1B1B1B;
  --md-sys-color-surface-container: #1F1F1F;
  --md-sys-color-surface-container-high: #2A2A2A;
  --md-sys-color-surface-container-highest: #353535;
  --md-sys-color-on-surface: #E2E2E2;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #C6C6C6;
  --md-sys-color-outline: #919191;
  --md-sys-color-outline-variant: #474747;
  --md-sys-color-inverse-surface: #E2E2E2;
  --md-sys-color-inverse-on-surface: #303030;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #C6C6C6;
  --md-sys-color-primary: #FFFFFF;
  --md-sys-color-primary-dim: #FFFFFF;
  --md-sys-color-on-primary: #1B1B1B;
  --md-sys-color-primary-container: #D4D4D4;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #5E5E5E;
  --md-sys-color-primary-fixed-dim: #474747;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #E2E2E2;
  --md-sys-color-inverse-primary: #5E5E5E;
  --md-sys-color-secondary: #C6C6C6;
  --md-sys-color-secondary-dim: #E2E2E2;
  --md-sys-color-on-secondary: #1B1B1B;
  --md-sys-color-secondary-container: #474747;
  --md-sys-color-on-secondary-container: #E2E2E2;
  --md-sys-color-secondary-fixed: #C6C6C6;
  --md-sys-color-secondary-fixed-dim: #ABABAB;
  --md-sys-color-on-secondary-fixed: #1B1B1B;
  --md-sys-color-on-secondary-fixed-variant: #3B3B3B;
  --md-sys-color-tertiary: #E2E2E2;
  --md-sys-color-tertiary-dim: #FFFFFF;
  --md-sys-color-on-tertiary: #1B1B1B;
  --md-sys-color-tertiary-container: #919191;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #5E5E5E;
  --md-sys-color-tertiary-fixed-dim: #474747;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #E2E2E2;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #474747;
  --md-sys-color-control-normal: #C6C6C6;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1B1B1B;
  --md-sys-color-text-hint-inverse: #1B1B1B;
  --md-sys-color-widget-background: #303030;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #777777;
  --md-sys-color-secondary-palette-key-color: #777777;
  --md-sys-color-tertiary-palette-key-color: #777777;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #E2E2E2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #444444;
  --md-sys-color-surface-container-lowest: #070707;
  --md-sys-color-surface-container-low: #1D1D1D;
  --md-sys-color-surface-container: #282828;
  --md-sys-color-surface-container-high: #323232;
  --md-sys-color-surface-container-highest: #3E3E3E;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #DCDCDC;
  --md-sys-color-outline: #B2B2B2;
  --md-sys-color-outline-variant: #909090;
  --md-sys-color-inverse-surface: #E2E2E2;
  --md-sys-color-inverse-on-surface: #2A2A2A;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #C6C6C6;
  --md-sys-color-primary: #FFFFFF;
  --md-sys-color-primary-dim: #FFFFFF;
  --md-sys-color-on-primary: #1B1B1B;
  --md-sys-color-primary-container: #D4D4D4;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #ABABAB;
  --md-sys-color-primary-fixed-dim: #919191;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-inverse-primary: #484848;
  --md-sys-color-secondary: #DCDCDC;
  --md-sys-color-secondary-dim: #E2E2E2;
  --md-sys-color-on-secondary: #1B1B1B;
  --md-sys-color-secondary-container: #919191;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #C6C6C6;
  --md-sys-color-secondary-fixed-dim: #ABABAB;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #202020;
  --md-sys-color-tertiary: #E2E2E2;
  --md-sys-color-tertiary-dim: #FFFFFF;
  --md-sys-color-on-tertiary: #1B1B1B;
  --md-sys-color-tertiary-container: #919191;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ABABAB;
  --md-sys-color-tertiary-fixed-dim: #919191;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFD2CC;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #FF5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #474747;
  --md-sys-color-control-normal: #C6C6C6;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1B1B1B;
  --md-sys-color-text-hint-inverse: #1B1B1B;
  --md-sys-color-widget-background: #303030;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #777777;
  --md-sys-color-secondary-palette-key-color: #777777;
  --md-sys-color-tertiary-palette-key-color: #777777;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #E2E2E2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #505050;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1F1F1F;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3B3B3B;
  --md-sys-color-surface-container-highest: #474747;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #F0F0F0;
  --md-sys-color-outline-variant: #C2C2C2;
  --md-sys-color-inverse-surface: #E2E2E2;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #C6C6C6;
  --md-sys-color-primary: #FFFFFF;
  --md-sys-color-primary-dim: #FFFFFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #D4D4D4;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #DEDEDE;
  --md-sys-color-primary-fixed-dim: #C2C2C2;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #0B0B0B;
  --md-sys-color-inverse-primary: #484848;
  --md-sys-color-secondary: #F0F0F0;
  --md-sys-color-secondary-dim: #FFFFFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #C2C2C2;
  --md-sys-color-on-secondary-container: #0B0B0B;
  --md-sys-color-secondary-fixed: #DEDEDE;
  --md-sys-color-secondary-fixed-dim: #C2C2C2;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #0B0B0B;
  --md-sys-color-tertiary: #F0F0F0;
  --md-sys-color-tertiary-dim: #FFFFFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #C2C2C2;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #DEDEDE;
  --md-sys-color-tertiary-fixed-dim: #C2C2C2;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0B0B0B;
  --md-sys-color-error: #FFECE9;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #FFAEA4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #474747;
  --md-sys-color-control-normal: #C6C6C6;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1B1B1B;
  --md-sys-color-text-hint-inverse: #1B1B1B;
  --md-sys-color-widget-background: #303030;
}
