.light {
  --md-sys-color-primary-palette-key-color: #247CBB;
  --md-sys-color-secondary-palette-key-color: #4B7BA7;
  --md-sys-color-tertiary-palette-key-color: #7E6EA9;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B748A;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #DED7E6;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #27242F;
  --md-sys-color-surface-container: #322F3A;
  --md-sys-color-surface-container-high: #3D3A45;
  --md-sys-color-surface-container-highest: #322F3A;
  --md-sys-color-on-surface: #EDE5F4;
  --md-sys-color-surface-variant: #322F3A;
  --md-sys-color-on-surface-variant: #D2CBDA;
  --md-sys-color-outline: #A9A3B1;
  --md-sys-color-outline-variant: #898391;
  --md-sys-color-inverse-surface: #0F0D16;
  --md-sys-color-inverse-on-surface: #A09AA8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6BB6FA;
  --md-sys-color-primary: #A7D2FF;
  --md-sys-color-primary-dim: #6BB6FA;
  --md-sys-color-on-primary: #002742;
  --md-sys-color-primary-container: #004A77;
  --md-sys-color-on-primary-container: #CAE3FF;
  --md-sys-color-primary-fixed: #004A77;
  --md-sys-color-primary-fixed-dim: #003E65;
  --md-sys-color-on-primary-fixed: #A7D2FF;
  --md-sys-color-on-primary-fixed-variant: #5FABEE;
  --md-sys-color-inverse-primary: #6BB6FA;
  --md-sys-color-secondary: #A7D2FF;
  --md-sys-color-secondary-dim: #95C5F4;
  --md-sys-color-on-secondary: #003456;
  --md-sys-color-secondary-container: #104A73;
  --md-sys-color-on-secondary-container: #CAE3FF;
  --md-sys-color-secondary-fixed: #104A73;
  --md-sys-color-secondary-fixed-dim: #003E65;
  --md-sys-color-on-secondary-fixed: #A7D2FF;
  --md-sys-color-on-secondary-fixed-variant: #7BAAD8;
  --md-sys-color-tertiary: #D6C5FF;
  --md-sys-color-tertiary-dim: #C7B4F5;
  --md-sys-color-on-tertiary: #36265D;
  --md-sys-color-tertiary-container: #AB9AD9;
  --md-sys-color-on-tertiary-container: #1D0B43;
  --md-sys-color-tertiary-fixed: #AB9AD9;
  --md-sys-color-tertiary-fixed-dim: #6B9AC8;
  --md-sys-color-on-tertiary-fixed: #010004;
  --md-sys-color-on-tertiary-fixed-variant: #34255B;
  --md-sys-color-error: #FFBEB7;
  --md-sys-color-error-dim: #FF8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFD7D2;
  --md-sys-color-control-activated: #004A77;
  --md-sys-color-control-normal: #3D3A45;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0F0D16;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC2DB;
  --md-sys-color-text-primary-inverse-disable-only: #E7E0EF;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E0EF;
  --md-sys-color-text-hint-inverse: #E7E0EF;
  --md-sys-color-widget-background: #E8F2FF;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #247CBB;
  --md-sys-color-secondary-palette-key-color: #4B7BA7;
  --md-sys-color-tertiary-palette-key-color: #7E6EA9;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B748A;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #DED7E6;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #27242F;
  --md-sys-color-surface-container: #322F3A;
  --md-sys-color-surface-container-high: #3D3A45;
  --md-sys-color-surface-container-highest: #322F3A;
  --md-sys-color-on-surface: #FFFEFF;
  --md-sys-color-surface-variant: #322F3A;
  --md-sys-color-on-surface-variant: #FFFEFF;
  --md-sys-color-outline: #D2CBDA;
  --md-sys-color-outline-variant: #A9A3B1;
  --md-sys-color-inverse-surface: #0F0D16;
  --md-sys-color-inverse-on-surface: #C9C2D0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6BB6FA;
  --md-sys-color-primary: #FFFEFF;
  --md-sys-color-primary-dim: #A7D2FF;
  --md-sys-color-on-primary: #001B30;
  --md-sys-color-primary-container: #004A77;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #004A77;
  --md-sys-color-primary-fixed-dim: #003E65;
  --md-sys-color-on-primary-fixed: #FFFEFF;
  --md-sys-color-on-primary-fixed-variant: #A7D2FF;
  --md-sys-color-inverse-primary: #94CAFF;
  --md-sys-color-secondary: #FFFEFF;
  --md-sys-color-secondary-dim: #A7D2FF;
  --md-sys-color-on-secondary: #001B30;
  --md-sys-color-secondary-container: #104A73;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #104A73;
  --md-sys-color-secondary-fixed-dim: #003E65;
  --md-sys-color-on-secondary-fixed: #FFFEFF;
  --md-sys-color-on-secondary-fixed-variant: #A7D2FF;
  --md-sys-color-tertiary: #FFFEFF;
  --md-sys-color-tertiary-dim: #D6C5FF;
  --md-sys-color-on-tertiary: #1E0D45;
  --md-sys-color-tertiary-container: #BBA9E9;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #AB9AD9;
  --md-sys-color-tertiary-fixed-dim: #6B9AC8;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #010004;
  --md-sys-color-error: #FFFEFF;
  --md-sys-color-error-dim: #FFBEB7;
  --md-sys-color-on-error: #3D0002;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #004A77;
  --md-sys-color-control-normal: #3D3A45;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0F0D16;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC2DB;
  --md-sys-color-text-primary-inverse-disable-only: #E7E0EF;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E0EF;
  --md-sys-color-text-hint-inverse: #E7E0EF;
  --md-sys-color-widget-background: #E8F2FF;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #247CBB;
  --md-sys-color-secondary-palette-key-color: #4B7BA7;
  --md-sys-color-tertiary-palette-key-color: #7E6EA9;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B748A;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #DED7E6;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #27242F;
  --md-sys-color-surface-container: #322F3A;
  --md-sys-color-surface-container-high: #3D3A45;
  --md-sys-color-surface-container-highest: #322F3A;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #322F3A;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FFFEFF;
  --md-sys-color-outline-variant: #D2CBDA;
  --md-sys-color-inverse-surface: #0F0D16;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6BB6FA;
  --md-sys-color-primary: #FFFFFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #004A77;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #004A77;
  --md-sys-color-primary-fixed-dim: #003E65;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFEFF;
  --md-sys-color-inverse-primary: #FFFFFF;
  --md-sys-color-secondary: #FFFFFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #104A73;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #104A73;
  --md-sys-color-secondary-fixed-dim: #003E65;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFEFF;
  --md-sys-color-tertiary: #FFFFFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #C7B4F5;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #AB9AD9;
  --md-sys-color-tertiary-fixed-dim: #6B9AC8;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFFFFF;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #004A77;
  --md-sys-color-control-normal: #3D3A45;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0F0D16;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC2DB;
  --md-sys-color-text-primary-inverse-disable-only: #E7E0EF;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E0EF;
  --md-sys-color-text-hint-inverse: #E7E0EF;
  --md-sys-color-widget-background: #E8F2FF;
}
.dark {
  --md-sys-color-primary-palette-key-color: #247CBB;
  --md-sys-color-secondary-palette-key-color: #4B7BA7;
  --md-sys-color-tertiary-palette-key-color: #7E6EA9;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B748A;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0F0D16;
  --md-sys-color-surface-bright: #2E2A35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #27242F;
  --md-sys-color-surface-container: #322F3A;
  --md-sys-color-surface-container-high: #3D3A45;
  --md-sys-color-surface-container-highest: #322F3A;
  --md-sys-color-on-surface: #FFFEFF;
  --md-sys-color-surface-variant: #322F3A;
  --md-sys-color-on-surface-variant: #D2CBDA;
  --md-sys-color-outline: #A9A3B1;
  --md-sys-color-outline-variant: #898391;
  --md-sys-color-inverse-surface: #FDF7FF;
  --md-sys-color-inverse-on-surface: #57535F;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6BB6FA;
  --md-sys-color-primary: #A7D2FF;
  --md-sys-color-primary-dim: #6BB6FA;
  --md-sys-color-on-primary: #002742;
  --md-sys-color-primary-container: #004A77;
  --md-sys-color-on-primary-container: #CAE3FF;
  --md-sys-color-primary-fixed: #004A77;
  --md-sys-color-primary-fixed-dim: #003E65;
  --md-sys-color-on-primary-fixed: #A7D2FF;
  --md-sys-color-on-primary-fixed-variant: #5FABEE;
  --md-sys-color-inverse-primary: #00598D;
  --md-sys-color-secondary: #A7D2FF;
  --md-sys-color-secondary-dim: #95C5F4;
  --md-sys-color-on-secondary: #003456;
  --md-sys-color-secondary-container: #104A73;
  --md-sys-color-on-secondary-container: #CAE3FF;
  --md-sys-color-secondary-fixed: #104A73;
  --md-sys-color-secondary-fixed-dim: #003E65;
  --md-sys-color-on-secondary-fixed: #A7D2FF;
  --md-sys-color-on-secondary-fixed-variant: #7BAAD8;
  --md-sys-color-tertiary: #D6C5FF;
  --md-sys-color-tertiary-dim: #C7B4F5;
  --md-sys-color-on-tertiary: #36265D;
  --md-sys-color-tertiary-container: #AB9AD9;
  --md-sys-color-on-tertiary-container: #1D0B43;
  --md-sys-color-tertiary-fixed: #AB9AD9;
  --md-sys-color-tertiary-fixed-dim: #6B9AC8;
  --md-sys-color-on-tertiary-fixed: #010004;
  --md-sys-color-on-tertiary-fixed-variant: #34255B;
  --md-sys-color-error: #FFBEB7;
  --md-sys-color-error-dim: #FF8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFD7D2;
  --md-sys-color-control-activated: #004A77;
  --md-sys-color-control-normal: #3D3A45;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FDF7FF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4A4458;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A24;
  --md-sys-color-text-hint-inverse: #1D1A24;
  --md-sys-color-widget-background: #003354;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #247CBB;
  --md-sys-color-secondary-palette-key-color: #4B7BA7;
  --md-sys-color-tertiary-palette-key-color: #7E6EA9;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B748A;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0F0D16;
  --md-sys-color-surface-bright: #2E2A35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #27242F;
  --md-sys-color-surface-container: #322F3A;
  --md-sys-color-surface-container-high: #3D3A45;
  --md-sys-color-surface-container-highest: #322F3A;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #322F3A;
  --md-sys-color-on-surface-variant: #FFFEFF;
  --md-sys-color-outline: #D2CBDA;
  --md-sys-color-outline-variant: #A9A3B1;
  --md-sys-color-inverse-surface: #FDF7FF;
  --md-sys-color-inverse-on-surface: #3A3642;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6BB6FA;
  --md-sys-color-primary: #FFFEFF;
  --md-sys-color-primary-dim: #A7D2FF;
  --md-sys-color-on-primary: #001B30;
  --md-sys-color-primary-container: #004A77;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #004A77;
  --md-sys-color-primary-fixed-dim: #003E65;
  --md-sys-color-on-primary-fixed: #FFFEFF;
  --md-sys-color-on-primary-fixed-variant: #A7D2FF;
  --md-sys-color-inverse-primary: #003B60;
  --md-sys-color-secondary: #FFFEFF;
  --md-sys-color-secondary-dim: #A7D2FF;
  --md-sys-color-on-secondary: #001B30;
  --md-sys-color-secondary-container: #104A73;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #104A73;
  --md-sys-color-secondary-fixed-dim: #003E65;
  --md-sys-color-on-secondary-fixed: #FFFEFF;
  --md-sys-color-on-secondary-fixed-variant: #A7D2FF;
  --md-sys-color-tertiary: #FFFEFF;
  --md-sys-color-tertiary-dim: #D6C5FF;
  --md-sys-color-on-tertiary: #1E0D45;
  --md-sys-color-tertiary-container: #BBA9E9;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #AB9AD9;
  --md-sys-color-tertiary-fixed-dim: #6B9AC8;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #010004;
  --md-sys-color-error: #FFFEFF;
  --md-sys-color-error-dim: #FFBEB7;
  --md-sys-color-on-error: #3D0002;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #004A77;
  --md-sys-color-control-normal: #3D3A45;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FDF7FF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4A4458;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A24;
  --md-sys-color-text-hint-inverse: #1D1A24;
  --md-sys-color-widget-background: #003354;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #247CBB;
  --md-sys-color-secondary-palette-key-color: #4B7BA7;
  --md-sys-color-tertiary-palette-key-color: #7E6EA9;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B748A;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0F0D16;
  --md-sys-color-surface-bright: #2E2A35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #27242F;
  --md-sys-color-surface-container: #322F3A;
  --md-sys-color-surface-container-high: #3D3A45;
  --md-sys-color-surface-container-highest: #322F3A;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #322F3A;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FFFEFF;
  --md-sys-color-outline-variant: #D2CBDA;
  --md-sys-color-inverse-surface: #FDF7FF;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6BB6FA;
  --md-sys-color-primary: #FFFFFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #004A77;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #004A77;
  --md-sys-color-primary-fixed-dim: #003E65;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFEFF;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-secondary: #FFFFFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #104A73;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #104A73;
  --md-sys-color-secondary-fixed-dim: #003E65;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFEFF;
  --md-sys-color-tertiary: #FFFFFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #C7B4F5;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #AB9AD9;
  --md-sys-color-tertiary-fixed-dim: #6B9AC8;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFFFFF;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #004A77;
  --md-sys-color-control-normal: #3D3A45;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FDF7FF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4A4458;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A24;
  --md-sys-color-text-hint-inverse: #1D1A24;
  --md-sys-color-widget-background: #003354;
}
