.light {
  --md-sys-color-primary-palette-key-color: #7F6CB0;
  --md-sys-color-secondary-palette-key-color: #647E5C;
  --md-sys-color-tertiary-palette-key-color: #4F8437;
  --md-sys-color-neutral-palette-key-color: #7D7484;
  --md-sys-color-neutral-variant-palette-key-color: #846F99;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #E6D3F5;
  --md-sys-color-surface-bright: #FFF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #2A2330;
  --md-sys-color-surface-container: #352E3B;
  --md-sys-color-surface-container-high: #403946;
  --md-sys-color-surface-container-highest: #372C43;
  --md-sys-color-on-surface: #F3E2FF;
  --md-sys-color-surface-variant: #352E3B;
  --md-sys-color-on-surface-variant: #D9C8E6;
  --md-sys-color-outline: #ACA2B3;
  --md-sys-color-outline-variant: #8C8292;
  --md-sys-color-inverse-surface: #110C18;
  --md-sys-color-inverse-on-surface: #A399AA;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #C7B3FD;
  --md-sys-color-primary: #D6C5FF;
  --md-sys-color-primary-dim: #C7B3FD;
  --md-sys-color-on-primary: #362464;
  --md-sys-color-primary-container: #4D3C7C;
  --md-sys-color-on-primary-container: #E6DAFF;
  --md-sys-color-primary-fixed: #4D3C7C;
  --md-sys-color-primary-fixed-dim: #423070;
  --md-sys-color-on-primary-fixed: #D6C5FF;
  --md-sys-color-on-primary-fixed-variant: #AE9BE3;
  --md-sys-color-inverse-primary: #C7B3FD;
  --md-sys-color-secondary: #CEEBC2;
  --md-sys-color-secondary-dim: #C0DDB4;
  --md-sys-color-on-secondary: #2E4528;
  --md-sys-color-secondary-container: #354D2F;
  --md-sys-color-on-secondary-container: #CBE8C0;
  --md-sys-color-secondary-fixed: #354D2F;
  --md-sys-color-secondary-fixed-dim: #2A4124;
  --md-sys-color-on-secondary-fixed: #BAD6AE;
  --md-sys-color-on-secondary-fixed-variant: #92AD88;
  --md-sys-color-tertiary: #C2FFA2;
  --md-sys-color-tertiary-dim: #B4F095;
  --md-sys-color-on-tertiary: #1E5107;
  --md-sys-color-tertiary-container: #99D37C;
  --md-sys-color-on-tertiary-container: #113D00;
  --md-sys-color-tertiary-fixed: #99D37C;
  --md-sys-color-tertiary-fixed-dim: #A2BE98;
  --md-sys-color-on-tertiary-fixed: #0C3100;
  --md-sys-color-on-tertiary-fixed-variant: #1F5208;
  --md-sys-color-error: #FFBDC3;
  --md-sys-color-error-dim: #F38593;
  --md-sys-color-on-error: #3F000F;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFD6D9;
  --md-sys-color-control-activated: #4D3C7C;
  --md-sys-color-control-normal: #403946;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #110C18;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D5BDEC;
  --md-sys-color-text-primary-inverse-disable-only: #EADEF0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EADEF0;
  --md-sys-color-text-hint-inverse: #EADEF0;
  --md-sys-color-widget-background: #F6EEFF;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7F6CB0;
  --md-sys-color-secondary-palette-key-color: #647E5C;
  --md-sys-color-tertiary-palette-key-color: #4F8437;
  --md-sys-color-neutral-palette-key-color: #7D7484;
  --md-sys-color-neutral-variant-palette-key-color: #846F99;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #E6D3F5;
  --md-sys-color-surface-bright: #FFF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #2A2330;
  --md-sys-color-surface-container: #352E3B;
  --md-sys-color-surface-container-high: #403946;
  --md-sys-color-surface-container-highest: #372C43;
  --md-sys-color-on-surface: #FFFEFF;
  --md-sys-color-surface-variant: #352E3B;
  --md-sys-color-on-surface-variant: #FFFEFF;
  --md-sys-color-outline: #D6CADC;
  --md-sys-color-outline-variant: #ACA2B3;
  --md-sys-color-inverse-surface: #110C18;
  --md-sys-color-inverse-on-surface: #CCC1D2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #C7B3FD;
  --md-sys-color-primary: #FFFEFF;
  --md-sys-color-primary-dim: #D6C5FF;
  --md-sys-color-on-primary: #1F094C;
  --md-sys-color-primary-container: #4D3C7C;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #4D3C7C;
  --md-sys-color-primary-fixed-dim: #423070;
  --md-sys-color-on-primary-fixed: #FFFEFF;
  --md-sys-color-on-primary-fixed-variant: #D6C5FF;
  --md-sys-color-inverse-primary: #CEBAFF;
  --md-sys-color-secondary: #FFFFF9;
  --md-sys-color-secondary-dim: #CEEBC2;
  --md-sys-color-on-secondary: #182F14;
  --md-sys-color-secondary-container: #354D2F;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #354D2F;
  --md-sys-color-secondary-fixed-dim: #2A4124;
  --md-sys-color-on-secondary-fixed: #FFFFF9;
  --md-sys-color-on-secondary-fixed-variant: #BAD6AE;
  --md-sys-color-tertiary: #FFFEFF;
  --md-sys-color-tertiary-dim: #C2FFA2;
  --md-sys-color-on-tertiary: #0F3A00;
  --md-sys-color-tertiary-container: #A6E289;
  --md-sys-color-on-tertiary-container: #062300;
  --md-sys-color-tertiary-fixed: #99D37C;
  --md-sys-color-tertiary-fixed-dim: #A2BE98;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0C3100;
  --md-sys-color-error: #FFFEFF;
  --md-sys-color-error-dim: #FFBDC3;
  --md-sys-color-on-error: #3D000F;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #4D3C7C;
  --md-sys-color-control-normal: #403946;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #110C18;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D5BDEC;
  --md-sys-color-text-primary-inverse-disable-only: #EADEF0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EADEF0;
  --md-sys-color-text-hint-inverse: #EADEF0;
  --md-sys-color-widget-background: #F6EEFF;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #7F6CB0;
  --md-sys-color-secondary-palette-key-color: #647E5C;
  --md-sys-color-tertiary-palette-key-color: #4F8437;
  --md-sys-color-neutral-palette-key-color: #7D7484;
  --md-sys-color-neutral-variant-palette-key-color: #846F99;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #E6D3F5;
  --md-sys-color-surface-bright: #FFF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #2A2330;
  --md-sys-color-surface-container: #352E3B;
  --md-sys-color-surface-container-high: #403946;
  --md-sys-color-surface-container-highest: #372C43;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #352E3B;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FFFEFF;
  --md-sys-color-outline-variant: #D6CADC;
  --md-sys-color-inverse-surface: #110C18;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #C7B3FD;
  --md-sys-color-primary: #FFFFFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #4D3C7C;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #4D3C7C;
  --md-sys-color-primary-fixed-dim: #423070;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFEFF;
  --md-sys-color-inverse-primary: #FFFFFF;
  --md-sys-color-secondary: #FFFFFF;
  --md-sys-color-secondary-dim: #FFFFF9;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #354D2F;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #354D2F;
  --md-sys-color-secondary-fixed-dim: #2A4124;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFF9;
  --md-sys-color-tertiary: #FFFFFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #B6F297;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #99D37C;
  --md-sys-color-tertiary-fixed-dim: #A2BE98;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFFFFF;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #4D3C7C;
  --md-sys-color-control-normal: #403946;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #110C18;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D5BDEC;
  --md-sys-color-text-primary-inverse-disable-only: #EADEF0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EADEF0;
  --md-sys-color-text-hint-inverse: #EADEF0;
  --md-sys-color-widget-background: #F6EEFF;
}
.dark {
  --md-sys-color-primary-palette-key-color: #7F6CB0;
  --md-sys-color-secondary-palette-key-color: #647E5C;
  --md-sys-color-tertiary-palette-key-color: #4F8437;
  --md-sys-color-neutral-palette-key-color: #7D7484;
  --md-sys-color-neutral-variant-palette-key-color: #846F99;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #110C18;
  --md-sys-color-surface-bright: #302937;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2A2330;
  --md-sys-color-surface-container: #352E3B;
  --md-sys-color-surface-container-high: #403946;
  --md-sys-color-surface-container-highest: #372C43;
  --md-sys-color-on-surface: #FFFEFF;
  --md-sys-color-surface-variant: #352E3B;
  --md-sys-color-on-surface-variant: #D9C8E6;
  --md-sys-color-outline: #ACA2B3;
  --md-sys-color-outline-variant: #8C8292;
  --md-sys-color-inverse-surface: #FFF7FF;
  --md-sys-color-inverse-on-surface: #5A5261;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #C7B3FD;
  --md-sys-color-primary: #D6C5FF;
  --md-sys-color-primary-dim: #C7B3FD;
  --md-sys-color-on-primary: #362464;
  --md-sys-color-primary-container: #4D3C7C;
  --md-sys-color-on-primary-container: #E6DAFF;
  --md-sys-color-primary-fixed: #4D3C7C;
  --md-sys-color-primary-fixed-dim: #423070;
  --md-sys-color-on-primary-fixed: #D6C5FF;
  --md-sys-color-on-primary-fixed-variant: #AE9BE3;
  --md-sys-color-inverse-primary: #5C4A8B;
  --md-sys-color-secondary: #CEEBC2;
  --md-sys-color-secondary-dim: #C0DDB4;
  --md-sys-color-on-secondary: #2E4528;
  --md-sys-color-secondary-container: #354D2F;
  --md-sys-color-on-secondary-container: #CBE8C0;
  --md-sys-color-secondary-fixed: #354D2F;
  --md-sys-color-secondary-fixed-dim: #2A4124;
  --md-sys-color-on-secondary-fixed: #BAD6AE;
  --md-sys-color-on-secondary-fixed-variant: #92AD88;
  --md-sys-color-tertiary: #C2FFA2;
  --md-sys-color-tertiary-dim: #B4F095;
  --md-sys-color-on-tertiary: #1E5107;
  --md-sys-color-tertiary-container: #99D37C;
  --md-sys-color-on-tertiary-container: #113D00;
  --md-sys-color-tertiary-fixed: #99D37C;
  --md-sys-color-tertiary-fixed-dim: #A2BE98;
  --md-sys-color-on-tertiary-fixed: #0C3100;
  --md-sys-color-on-tertiary-fixed-variant: #1F5208;
  --md-sys-color-error: #FFBDC3;
  --md-sys-color-error-dim: #F38593;
  --md-sys-color-on-error: #3F000F;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFD6D9;
  --md-sys-color-control-activated: #4D3C7C;
  --md-sys-color-control-normal: #403946;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FFF7FF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #513F65;
  --md-sys-color-text-primary-inverse-disable-only: #1F1926;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1F1926;
  --md-sys-color-text-hint-inverse: #1F1926;
  --md-sys-color-widget-background: #362464;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7F6CB0;
  --md-sys-color-secondary-palette-key-color: #647E5C;
  --md-sys-color-tertiary-palette-key-color: #4F8437;
  --md-sys-color-neutral-palette-key-color: #7D7484;
  --md-sys-color-neutral-variant-palette-key-color: #846F99;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #110C18;
  --md-sys-color-surface-bright: #302937;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2A2330;
  --md-sys-color-surface-container: #352E3B;
  --md-sys-color-surface-container-high: #403946;
  --md-sys-color-surface-container-highest: #372C43;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #352E3B;
  --md-sys-color-on-surface-variant: #FFFEFF;
  --md-sys-color-outline: #D6CADC;
  --md-sys-color-outline-variant: #ACA2B3;
  --md-sys-color-inverse-surface: #FFF7FF;
  --md-sys-color-inverse-on-surface: #3D3543;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #C7B3FD;
  --md-sys-color-primary: #FFFEFF;
  --md-sys-color-primary-dim: #D6C5FF;
  --md-sys-color-on-primary: #1F094C;
  --md-sys-color-primary-container: #4D3C7C;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #4D3C7C;
  --md-sys-color-primary-fixed-dim: #423070;
  --md-sys-color-on-primary-fixed: #FFFEFF;
  --md-sys-color-on-primary-fixed-variant: #D6C5FF;
  --md-sys-color-inverse-primary: #3E2D6C;
  --md-sys-color-secondary: #FFFFF9;
  --md-sys-color-secondary-dim: #CEEBC2;
  --md-sys-color-on-secondary: #182F14;
  --md-sys-color-secondary-container: #354D2F;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #354D2F;
  --md-sys-color-secondary-fixed-dim: #2A4124;
  --md-sys-color-on-secondary-fixed: #FFFFF9;
  --md-sys-color-on-secondary-fixed-variant: #BAD6AE;
  --md-sys-color-tertiary: #FFFEFF;
  --md-sys-color-tertiary-dim: #C2FFA2;
  --md-sys-color-on-tertiary: #0F3A00;
  --md-sys-color-tertiary-container: #A6E289;
  --md-sys-color-on-tertiary-container: #062300;
  --md-sys-color-tertiary-fixed: #99D37C;
  --md-sys-color-tertiary-fixed-dim: #A2BE98;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0C3100;
  --md-sys-color-error: #FFFEFF;
  --md-sys-color-error-dim: #FFBDC3;
  --md-sys-color-on-error: #3D000F;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #4D3C7C;
  --md-sys-color-control-normal: #403946;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FFF7FF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #513F65;
  --md-sys-color-text-primary-inverse-disable-only: #1F1926;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1F1926;
  --md-sys-color-text-hint-inverse: #1F1926;
  --md-sys-color-widget-background: #362464;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #7F6CB0;
  --md-sys-color-secondary-palette-key-color: #647E5C;
  --md-sys-color-tertiary-palette-key-color: #4F8437;
  --md-sys-color-neutral-palette-key-color: #7D7484;
  --md-sys-color-neutral-variant-palette-key-color: #846F99;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #110C18;
  --md-sys-color-surface-bright: #302937;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2A2330;
  --md-sys-color-surface-container: #352E3B;
  --md-sys-color-surface-container-high: #403946;
  --md-sys-color-surface-container-highest: #372C43;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #352E3B;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FFFEFF;
  --md-sys-color-outline-variant: #D6CADC;
  --md-sys-color-inverse-surface: #FFF7FF;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #C7B3FD;
  --md-sys-color-primary: #FFFFFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #4D3C7C;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #4D3C7C;
  --md-sys-color-primary-fixed-dim: #423070;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFEFF;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-secondary: #FFFFFF;
  --md-sys-color-secondary-dim: #FFFFF9;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #354D2F;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #354D2F;
  --md-sys-color-secondary-fixed-dim: #2A4124;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFF9;
  --md-sys-color-tertiary: #FFFFFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #B6F297;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #99D37C;
  --md-sys-color-tertiary-fixed-dim: #A2BE98;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFFFFF;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #4D3C7C;
  --md-sys-color-control-normal: #403946;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FFF7FF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #513F65;
  --md-sys-color-text-primary-inverse-disable-only: #1F1926;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1F1926;
  --md-sys-color-text-hint-inverse: #1F1926;
  --md-sys-color-widget-background: #362464;
}
