.light {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #DADADA;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #262626;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3B3B3B;
  --md-sys-color-surface-container-highest: #303030;
  --md-sys-color-on-surface: #E8E8E8;
  --md-sys-color-surface-variant: #303030;
  --md-sys-color-on-surface-variant: #CECECE;
  --md-sys-color-outline: #A6A6A6;
  --md-sys-color-outline-variant: #858585;
  --md-sys-color-inverse-surface: #0E0E0E;
  --md-sys-color-inverse-on-surface: #9D9D9D;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFB6FD;
  --md-sys-color-primary: #FFB6FD;
  --md-sys-color-primary-dim: #F3A6F2;
  --md-sys-color-on-primary: #541559;
  --md-sys-color-primary-container: #6C2D70;
  --md-sys-color-on-primary-container: #FFD2FA;
  --md-sys-color-primary-fixed: #6C2D70;
  --md-sys-color-primary-fixed-dim: #5F2164;
  --md-sys-color-on-primary-fixed: #FFB6FD;
  --md-sys-color-on-primary-fixed-variant: #D68CD6;
  --md-sys-color-inverse-primary: #FAACF9;
  --md-sys-color-secondary: #FFD4C5;
  --md-sys-color-secondary-dim: #F0C6B8;
  --md-sys-color-on-secondary: #51352B;
  --md-sys-color-secondary-container: #5D4036;
  --md-sys-color-on-secondary-container: #FFD8CB;
  --md-sys-color-secondary-fixed: #5D4036;
  --md-sys-color-secondary-fixed-dim: #50352B;
  --md-sys-color-on-secondary-fixed: #EFC5B7;
  --md-sys-color-on-secondary-fixed-variant: #C49D90;
  --md-sys-color-tertiary: #CECEF6;
  --md-sys-color-tertiary-dim: #C0C0E8;
  --md-sys-color-on-tertiary: #303151;
  --md-sys-color-tertiary-container: #A5A5CB;
  --md-sys-color-on-tertiary-container: #191B39;
  --md-sys-color-tertiary-fixed: #A5A5CB;
  --md-sys-color-tertiary-fixed-dim: #B99386;
  --md-sys-color-on-tertiary-fixed: #070826;
  --md-sys-color-on-tertiary-fixed-variant: #2F3050;
  --md-sys-color-error: #FFBEB7;
  --md-sys-color-error-dim: #FF8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFD7D2;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #DADADA;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #262626;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3B3B3B;
  --md-sys-color-surface-container-highest: #303030;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #303030;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #CECECE;
  --md-sys-color-outline-variant: #A6A6A6;
  --md-sys-color-inverse-surface: #0E0E0E;
  --md-sys-color-inverse-on-surface: #C5C5C5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFFEFF;
  --md-sys-color-primary: #FFFEFF;
  --md-sys-color-primary-dim: #FFB6FD;
  --md-sys-color-on-primary: #330039;
  --md-sys-color-primary-container: #6C2D70;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #6C2D70;
  --md-sys-color-primary-fixed-dim: #5F2164;
  --md-sys-color-on-primary-fixed: #FFFEFF;
  --md-sys-color-on-primary-fixed-variant: #FFB6FD;
  --md-sys-color-inverse-primary: #FAACF9;
  --md-sys-color-secondary: #FFFEFF;
  --md-sys-color-secondary-dim: #FFD4C5;
  --md-sys-color-on-secondary: #382017;
  --md-sys-color-secondary-container: #5D4036;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #5D4036;
  --md-sys-color-secondary-fixed-dim: #50352B;
  --md-sys-color-on-secondary-fixed: #FFFEFF;
  --md-sys-color-on-secondary-fixed-variant: #EFC5B7;
  --md-sys-color-tertiary: #FFFEFF;
  --md-sys-color-tertiary-dim: #CECEF6;
  --md-sys-color-on-tertiary: #191A38;
  --md-sys-color-tertiary-container: #B3B3D9;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #A5A5CB;
  --md-sys-color-tertiary-fixed-dim: #B99386;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #070826;
  --md-sys-color-error: #FFFEFF;
  --md-sys-color-error-dim: #FFBEB7;
  --md-sys-color-on-error: #3D0002;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #DADADA;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #262626;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3B3B3B;
  --md-sys-color-surface-container-highest: #303030;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #303030;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FFFFFF;
  --md-sys-color-outline-variant: #CECECE;
  --md-sys-color-inverse-surface: #0E0E0E;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFFFFF;
  --md-sys-color-primary: #FFFFFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #6C2D70;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #6C2D70;
  --md-sys-color-primary-fixed-dim: #5F2164;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFEFF;
  --md-sys-color-inverse-primary: #FFFFFF;
  --md-sys-color-secondary: #FFFFFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #5D4036;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #5D4036;
  --md-sys-color-secondary-fixed-dim: #50352B;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFEFF;
  --md-sys-color-tertiary: #FFFFFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #CECEF6;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #A5A5CB;
  --md-sys-color-tertiary-fixed-dim: #B99386;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFFFFF;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-widget-background: #FFEBFA;
}
.dark {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0E0E0E;
  --md-sys-color-surface-bright: #2C2C2C;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #262626;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3B3B3B;
  --md-sys-color-surface-container-highest: #303030;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #303030;
  --md-sys-color-on-surface-variant: #CECECE;
  --md-sys-color-outline: #A6A6A6;
  --md-sys-color-outline-variant: #858585;
  --md-sys-color-inverse-surface: #F9F9F9;
  --md-sys-color-inverse-on-surface: #555555;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFB6FD;
  --md-sys-color-primary: #FFB6FD;
  --md-sys-color-primary-dim: #F3A6F2;
  --md-sys-color-on-primary: #541559;
  --md-sys-color-primary-container: #6C2D70;
  --md-sys-color-on-primary-container: #FFD2FA;
  --md-sys-color-primary-fixed: #6C2D70;
  --md-sys-color-primary-fixed-dim: #5F2164;
  --md-sys-color-on-primary-fixed: #FFB6FD;
  --md-sys-color-on-primary-fixed-variant: #D68CD6;
  --md-sys-color-inverse-primary: #7C3C80;
  --md-sys-color-secondary: #FFD4C5;
  --md-sys-color-secondary-dim: #F0C6B8;
  --md-sys-color-on-secondary: #51352B;
  --md-sys-color-secondary-container: #5D4036;
  --md-sys-color-on-secondary-container: #FFD8CB;
  --md-sys-color-secondary-fixed: #5D4036;
  --md-sys-color-secondary-fixed-dim: #50352B;
  --md-sys-color-on-secondary-fixed: #EFC5B7;
  --md-sys-color-on-secondary-fixed-variant: #C49D90;
  --md-sys-color-tertiary: #CECEF6;
  --md-sys-color-tertiary-dim: #C0C0E8;
  --md-sys-color-on-tertiary: #303151;
  --md-sys-color-tertiary-container: #A5A5CB;
  --md-sys-color-on-tertiary-container: #191B39;
  --md-sys-color-tertiary-fixed: #A5A5CB;
  --md-sys-color-tertiary-fixed-dim: #B99386;
  --md-sys-color-on-tertiary-fixed: #070826;
  --md-sys-color-on-tertiary-fixed-variant: #2F3050;
  --md-sys-color-error: #FFBEB7;
  --md-sys-color-error-dim: #FF8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFD7D2;
  --md-sys-color-widget-background: #521458;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0E0E0E;
  --md-sys-color-surface-bright: #2C2C2C;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #262626;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3B3B3B;
  --md-sys-color-surface-container-highest: #303030;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #303030;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #CECECE;
  --md-sys-color-outline-variant: #A6A6A6;
  --md-sys-color-inverse-surface: #F9F9F9;
  --md-sys-color-inverse-on-surface: #383838;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFFEFF;
  --md-sys-color-primary: #FFFEFF;
  --md-sys-color-primary-dim: #FFB6FD;
  --md-sys-color-on-primary: #330039;
  --md-sys-color-primary-container: #6C2D70;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #6C2D70;
  --md-sys-color-primary-fixed-dim: #5F2164;
  --md-sys-color-on-primary-fixed: #FFFEFF;
  --md-sys-color-on-primary-fixed-variant: #FFB6FD;
  --md-sys-color-inverse-primary: #5B1D60;
  --md-sys-color-secondary: #FFFEFF;
  --md-sys-color-secondary-dim: #FFD4C5;
  --md-sys-color-on-secondary: #382017;
  --md-sys-color-secondary-container: #5D4036;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #5D4036;
  --md-sys-color-secondary-fixed-dim: #50352B;
  --md-sys-color-on-secondary-fixed: #FFFEFF;
  --md-sys-color-on-secondary-fixed-variant: #EFC5B7;
  --md-sys-color-tertiary: #FFFEFF;
  --md-sys-color-tertiary-dim: #CECEF6;
  --md-sys-color-on-tertiary: #191A38;
  --md-sys-color-tertiary-container: #B3B3D9;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #A5A5CB;
  --md-sys-color-tertiary-fixed-dim: #B99386;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #070826;
  --md-sys-color-error: #FFFEFF;
  --md-sys-color-error-dim: #FFBEB7;
  --md-sys-color-on-error: #3D0002;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-widget-background: #521458;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0E0E0E;
  --md-sys-color-surface-bright: #2C2C2C;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #262626;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3B3B3B;
  --md-sys-color-surface-container-highest: #303030;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #303030;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FFFFFF;
  --md-sys-color-outline-variant: #CECECE;
  --md-sys-color-inverse-surface: #F9F9F9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFFFFF;
  --md-sys-color-primary: #FFFFFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #6C2D70;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #6C2D70;
  --md-sys-color-primary-fixed-dim: #5F2164;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFEFF;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-secondary: #FFFFFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #5D4036;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #5D4036;
  --md-sys-color-secondary-fixed-dim: #50352B;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFEFF;
  --md-sys-color-tertiary: #FFFFFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #CECEF6;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #A5A5CB;
  --md-sys-color-tertiary-fixed-dim: #B99386;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFFFFF;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-widget-background: #521458;
}
