.light {
  --md-sys-color-primary-palette-key-color: #7F747C;
  --md-sys-color-secondary-palette-key-color: #7F7572;
  --md-sys-color-tertiary-palette-key-color: #65798E;
  --md-sys-color-neutral-palette-key-color: #7A7676;
  --md-sys-color-neutral-variant-palette-key-color: #7B7678;
  --md-sys-color-error-palette-key-color: #BD5665;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #363132;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #E2D7D8;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FAF2F2;
  --md-sys-color-surface-container: #F4ECEC;
  --md-sys-color-surface-container-high: #EFE6E6;
  --md-sys-color-surface-container-highest: #EAE0E1;
  --md-sys-color-on-surface: #363132;
  --md-sys-color-surface-variant: #EAE0E1;
  --md-sys-color-on-surface-variant: #645D5E;
  --md-sys-color-outline: #80797A;
  --md-sys-color-outline-variant: #B9B0B0;
  --md-sys-color-inverse-surface: #100E0E;
  --md-sys-color-inverse-on-surface: #A19C9C;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #665B63;
  --md-sys-color-primary: #665B63;
  --md-sys-color-primary-dim: #595057;
  --md-sys-color-on-primary: #FFF5FA;
  --md-sys-color-primary-container: #EDDEE8;
  --md-sys-color-on-primary-container: #594F57;
  --md-sys-color-primary-fixed: #EDDEE8;
  --md-sys-color-primary-fixed-dim: #DFD0DA;
  --md-sys-color-on-primary-fixed: #463D44;
  --md-sys-color-on-primary-fixed-variant: #635960;
  --md-sys-color-inverse-primary: #FEEFF9;
  --md-sys-color-secondary: #665D5A;
  --md-sys-color-secondary-dim: #5A514F;
  --md-sys-color-on-secondary: #FFF7F5;
  --md-sys-color-secondary-container: #EDE0DC;
  --md-sys-color-on-secondary-container: #58504D;
  --md-sys-color-secondary-fixed: #EDE0DC;
  --md-sys-color-secondary-fixed-dim: #DED2CE;
  --md-sys-color-on-secondary-fixed: #453E3B;
  --md-sys-color-on-secondary-fixed-variant: #625A57;
  --md-sys-color-tertiary: #4D6175;
  --md-sys-color-tertiary-dim: #415569;
  --md-sys-color-on-tertiary: #F6F9FF;
  --md-sys-color-tertiary-container: #C7DCF4;
  --md-sys-color-on-tertiary-container: #3B4F62;
  --md-sys-color-tertiary-fixed: #C7DCF4;
  --md-sys-color-tertiary-fixed-dim: #B9CEE6;
  --md-sys-color-on-tertiary-fixed: #283C4E;
  --md-sys-color-on-tertiary-fixed-variant: #44586C;
  --md-sys-color-error: #9E3F4E;
  --md-sys-color-error-dim: #4F0116;
  --md-sys-color-on-error: #FFF7F7;
  --md-sys-color-error-container: #FF8B9A;
  --md-sys-color-on-error-container: #782232;
  --md-sys-color-control-activated: #EDDEE8;
  --md-sys-color-control-normal: #645D5E;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #A19C9C;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CCC5C7;
  --md-sys-color-text-primary-inverse-disable-only: #E7E1E1;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E1E1;
  --md-sys-color-text-hint-inverse: #E7E1E1;
  --md-sys-color-widget-background: #FBEDF6;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7F747C;
  --md-sys-color-secondary-palette-key-color: #7F7572;
  --md-sys-color-tertiary-palette-key-color: #65798E;
  --md-sys-color-neutral-palette-key-color: #7A7676;
  --md-sys-color-neutral-variant-palette-key-color: #7B7678;
  --md-sys-color-error-palette-key-color: #BD5665;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #282323;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #E2D7D8;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FAF2F2;
  --md-sys-color-surface-container: #F4ECEC;
  --md-sys-color-surface-container-high: #EFE6E6;
  --md-sys-color-surface-container-highest: #EAE0E1;
  --md-sys-color-on-surface: #282323;
  --md-sys-color-surface-variant: #EAE0E1;
  --md-sys-color-on-surface-variant: #474142;
  --md-sys-color-outline: #645D5E;
  --md-sys-color-outline-variant: #80797A;
  --md-sys-color-inverse-surface: #100E0E;
  --md-sys-color-inverse-on-surface: #C9C3C3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #494048;
  --md-sys-color-primary: #494048;
  --md-sys-color-primary-dim: #3E353C;
  --md-sys-color-on-primary: #E4D6DF;
  --md-sys-color-primary-container: #7C717A;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #7C717A;
  --md-sys-color-primary-fixed-dim: #70656D;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #FEEFF9;
  --md-sys-color-secondary: #49413F;
  --md-sys-color-secondary-dim: #3D3634;
  --md-sys-color-on-secondary: #E4D7D3;
  --md-sys-color-secondary-container: #7C7270;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #7C7270;
  --md-sys-color-secondary-fixed-dim: #6F6663;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #314558;
  --md-sys-color-tertiary-dim: #25394C;
  --md-sys-color-on-tertiary: #C7DCF4;
  --md-sys-color-tertiary-container: #62778C;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #62778C;
  --md-sys-color-tertiary-fixed-dim: #566A7F;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #7A2333;
  --md-sys-color-error-dim: #4F0116;
  --md-sys-color-on-error: #FFCDD1;
  --md-sys-color-error-container: #B95463;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #7C717A;
  --md-sys-color-control-normal: #474142;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #C9C3C3;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CCC5C7;
  --md-sys-color-text-primary-inverse-disable-only: #E7E1E1;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E1E1;
  --md-sys-color-text-hint-inverse: #E7E1E1;
  --md-sys-color-widget-background: #FBEDF6;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #7F747C;
  --md-sys-color-secondary-palette-key-color: #7F7572;
  --md-sys-color-tertiary-palette-key-color: #65798E;
  --md-sys-color-neutral-palette-key-color: #7A7676;
  --md-sys-color-neutral-variant-palette-key-color: #7B7678;
  --md-sys-color-error-palette-key-color: #BD5665;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #E2D7D8;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FAF2F2;
  --md-sys-color-surface-container: #F4ECEC;
  --md-sys-color-surface-container-high: #EFE6E6;
  --md-sys-color-surface-container-highest: #EAE0E1;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #EAE0E1;
  --md-sys-color-on-surface-variant: #282323;
  --md-sys-color-outline: #474142;
  --md-sys-color-outline-variant: #645D5E;
  --md-sys-color-inverse-surface: #100E0E;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #292228;
  --md-sys-color-primary: #292228;
  --md-sys-color-primary-dim: #1F171E;
  --md-sys-color-on-primary: #E4D6E0;
  --md-sys-color-primary-container: #665C64;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #665C64;
  --md-sys-color-primary-fixed-dim: #5A5058;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #FEEFF9;
  --md-sys-color-secondary: #292220;
  --md-sys-color-secondary-dim: #1F1816;
  --md-sys-color-on-secondary: #E4D7D4;
  --md-sys-color-secondary-container: #665D5A;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #665D5A;
  --md-sys-color-secondary-fixed-dim: #5A514F;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #102637;
  --md-sys-color-tertiary-dim: #051B2D;
  --md-sys-color-on-tertiary: #C7DCF4;
  --md-sys-color-tertiary-container: #4D6175;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #4D6175;
  --md-sys-color-tertiary-fixed-dim: #415569;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #4F0116;
  --md-sys-color-error-dim: #3D000F;
  --md-sys-color-on-error: #FFCED2;
  --md-sys-color-error-container: #9E3F4E;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #665C64;
  --md-sys-color-control-normal: #282323;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #FFFFFF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CCC5C7;
  --md-sys-color-text-primary-inverse-disable-only: #E7E1E1;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E1E1;
  --md-sys-color-text-hint-inverse: #E7E1E1;
  --md-sys-color-widget-background: #FBEDF6;
}
.dark {
  --md-sys-color-primary-palette-key-color: #7F747C;
  --md-sys-color-secondary-palette-key-color: #7F7572;
  --md-sys-color-tertiary-palette-key-color: #65798E;
  --md-sys-color-neutral-palette-key-color: #7A7676;
  --md-sys-color-neutral-variant-palette-key-color: #7B7678;
  --md-sys-color-error-palette-key-color: #BD5665;
  --md-sys-color-background: #100E0E;
  --md-sys-color-on-background: #EDE3E4;
  --md-sys-color-surface: #100E0E;
  --md-sys-color-surface-dim: #100E0E;
  --md-sys-color-surface-bright: #302B2B;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #151313;
  --md-sys-color-surface-container: #1C1919;
  --md-sys-color-surface-container-high: #231F1F;
  --md-sys-color-surface-container-highest: #292525;
  --md-sys-color-on-surface: #EDE3E4;
  --md-sys-color-surface-variant: #292525;
  --md-sys-color-on-surface-variant: #B2A9AA;
  --md-sys-color-outline: #7B7474;
  --md-sys-color-outline-variant: #4C4647;
  --md-sys-color-inverse-surface: #FFF8F7;
  --md-sys-color-inverse-on-surface: #585454;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D0C3CC;
  --md-sys-color-primary: #D0C3CC;
  --md-sys-color-primary-dim: #C2B5BE;
  --md-sys-color-on-primary: #473D45;
  --md-sys-color-primary-container: #4D444C;
  --md-sys-color-on-primary-container: #DACCD6;
  --md-sys-color-primary-fixed: #EDDEE8;
  --md-sys-color-primary-fixed-dim: #DFD0DA;
  --md-sys-color-on-primary-fixed: #463D44;
  --md-sys-color-on-primary-fixed-variant: #635960;
  --md-sys-color-inverse-primary: #665C64;
  --md-sys-color-secondary: #A79C98;
  --md-sys-color-secondary-dim: #A79C98;
  --md-sys-color-on-secondary: #251F1D;
  --md-sys-color-secondary-container: #413A37;
  --md-sys-color-on-secondary-container: #C9BDB9;
  --md-sys-color-secondary-fixed: #EDE0DC;
  --md-sys-color-secondary-fixed-dim: #DED2CE;
  --md-sys-color-on-secondary-fixed: #453E3B;
  --md-sys-color-on-secondary-fixed-variant: #625A57;
  --md-sys-color-tertiary: #D8EAFF;
  --md-sys-color-tertiary-dim: #C7DCF4;
  --md-sys-color-on-tertiary: #43576B;
  --md-sys-color-tertiary-container: #C7DCF4;
  --md-sys-color-on-tertiary-container: #3B4F62;
  --md-sys-color-tertiary-fixed: #C7DCF4;
  --md-sys-color-tertiary-fixed-dim: #B9CEE6;
  --md-sys-color-on-tertiary-fixed: #283C4E;
  --md-sys-color-on-tertiary-fixed-variant: #44586C;
  --md-sys-color-error: #EC7C8A;
  --md-sys-color-error-dim: #B95463;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #7F2737;
  --md-sys-color-on-error-container: #FF97A3;
  --md-sys-color-control-activated: #4D444C;
  --md-sys-color-control-normal: #B2A9AA;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #585454;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4A4648;
  --md-sys-color-text-primary-inverse-disable-only: #1D1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1B1B;
  --md-sys-color-text-hint-inverse: #1D1B1B;
  --md-sys-color-widget-background: #362E35;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7F747C;
  --md-sys-color-secondary-palette-key-color: #7F7572;
  --md-sys-color-tertiary-palette-key-color: #65798E;
  --md-sys-color-neutral-palette-key-color: #7A7676;
  --md-sys-color-neutral-variant-palette-key-color: #7B7678;
  --md-sys-color-error-palette-key-color: #BD5665;
  --md-sys-color-background: #100E0E;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #100E0E;
  --md-sys-color-surface-dim: #100E0E;
  --md-sys-color-surface-bright: #302B2B;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #151313;
  --md-sys-color-surface-container: #1C1919;
  --md-sys-color-surface-container-high: #231F1F;
  --md-sys-color-surface-container-highest: #292525;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #292525;
  --md-sys-color-on-surface-variant: #C0B7B7;
  --md-sys-color-outline: #9A9192;
  --md-sys-color-outline-variant: #7B7474;
  --md-sys-color-inverse-surface: #FFF8F7;
  --md-sys-color-inverse-on-surface: #3A3738;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D0C3CC;
  --md-sys-color-primary: #D0C3CC;
  --md-sys-color-primary-dim: #C2B5BE;
  --md-sys-color-on-primary: #3C343B;
  --md-sys-color-primary-container: #7C717A;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #EDDEE8;
  --md-sys-color-primary-fixed-dim: #DFD0DA;
  --md-sys-color-on-primary-fixed: #251D24;
  --md-sys-color-on-primary-fixed-variant: #463D44;
  --md-sys-color-inverse-primary: #5C525A;
  --md-sys-color-secondary: #C2B6B3;
  --md-sys-color-secondary-dim: #B4A9A5;
  --md-sys-color-on-secondary: #322B28;
  --md-sys-color-secondary-container: #7C7270;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #EDE0DC;
  --md-sys-color-secondary-fixed-dim: #DED2CE;
  --md-sys-color-on-secondary-fixed: #241E1C;
  --md-sys-color-on-secondary-fixed-variant: #453E3B;
  --md-sys-color-tertiary: #D8EAFF;
  --md-sys-color-tertiary-dim: #C7DCF4;
  --md-sys-color-on-tertiary: #394D61;
  --md-sys-color-tertiary-container: #C7DCF4;
  --md-sys-color-on-tertiary-container: #314558;
  --md-sys-color-tertiary-fixed: #C7DCF4;
  --md-sys-color-tertiary-fixed-dim: #B9CEE6;
  --md-sys-color-on-tertiary-fixed: #03192B;
  --md-sys-color-on-tertiary-fixed-variant: #283C4E;
  --md-sys-color-error: #FF9DA8;
  --md-sys-color-error-dim: #FB8896;
  --md-sys-color-on-error: #5B0A1E;
  --md-sys-color-error-container: #B95463;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #7C717A;
  --md-sys-color-control-normal: #C0B7B7;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #3A3738;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4A4648;
  --md-sys-color-text-primary-inverse-disable-only: #1D1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1B1B;
  --md-sys-color-text-hint-inverse: #1D1B1B;
  --md-sys-color-widget-background: #362E35;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #7F747C;
  --md-sys-color-secondary-palette-key-color: #7F7572;
  --md-sys-color-tertiary-palette-key-color: #65798E;
  --md-sys-color-neutral-palette-key-color: #7A7676;
  --md-sys-color-neutral-variant-palette-key-color: #7B7678;
  --md-sys-color-error-palette-key-color: #BD5665;
  --md-sys-color-background: #100E0E;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #100E0E;
  --md-sys-color-surface-dim: #100E0E;
  --md-sys-color-surface-bright: #302B2B;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #151313;
  --md-sys-color-surface-container: #1C1919;
  --md-sys-color-surface-container-high: #231F1F;
  --md-sys-color-surface-container-highest: #292525;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #292525;
  --md-sys-color-on-surface-variant: #EDE3E4;
  --md-sys-color-outline: #C0B7B7;
  --md-sys-color-outline-variant: #9A9192;
  --md-sys-color-inverse-surface: #FFF8F7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #F0E1EB;
  --md-sys-color-primary: #F0E1EB;
  --md-sys-color-primary-dim: #DFD0DA;
  --md-sys-color-on-primary: #322931;
  --md-sys-color-primary-container: #A79AA3;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #EDDEE8;
  --md-sys-color-primary-fixed-dim: #DFD0DA;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #251D24;
  --md-sys-color-inverse-primary: #3E363D;
  --md-sys-color-secondary: #F0E3DF;
  --md-sys-color-secondary-dim: #DED2CE;
  --md-sys-color-on-secondary: #312A28;
  --md-sys-color-secondary-container: #A79C98;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #EDE0DC;
  --md-sys-color-secondary-fixed-dim: #DED2CE;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #241E1C;
  --md-sys-color-tertiary: #D8EAFF;
  --md-sys-color-tertiary-dim: #C7DCF4;
  --md-sys-color-on-tertiary: #1B3042;
  --md-sys-color-tertiary-container: #C7DCF4;
  --md-sys-color-on-tertiary-container: #102637;
  --md-sys-color-tertiary-fixed: #C7DCF4;
  --md-sys-color-tertiary-fixed-dim: #B9CEE6;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #03192B;
  --md-sys-color-error: #FFDDDF;
  --md-sys-color-error-dim: #FFC7CB;
  --md-sys-color-on-error: #5B0A1E;
  --md-sys-color-error-container: #EC7C8A;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #A79AA3;
  --md-sys-color-control-normal: #EDE3E4;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4A4648;
  --md-sys-color-text-primary-inverse-disable-only: #1D1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1B1B;
  --md-sys-color-text-hint-inverse: #1D1B1B;
  --md-sys-color-widget-background: #362E35;
}
