.light {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #64779D;
  --md-sys-color-neutral-palette-key-color: #7F7475;
  --md-sys-color-neutral-variant-palette-key-color: #80747D;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #E5D7D8;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #EBD5D8;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFF0F1;
  --md-sys-color-surface-container: #FDE9EC;
  --md-sys-color-surface-container-high: #F8E3E6;
  --md-sys-color-surface-container-highest: #F4DDE0;
  --md-sys-color-on-surface: #3D2F31;
  --md-sys-color-surface-variant: #EEDFE0;
  --md-sys-color-on-surface-variant: #6C5B5E;
  --md-sys-color-outline: #887679;
  --md-sys-color-outline-variant: #C2ADB0;
  --md-sys-color-inverse-surface: #130C0E;
  --md-sys-color-inverse-on-surface: #A69A9B;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #F8C4F4;
  --md-sys-color-primary: #7A517A;
  --md-sys-color-primary-dim: #6D456D;
  --md-sys-color-on-primary: #FFF7FA;
  --md-sys-color-primary-container: #F8C4F4;
  --md-sys-color-on-primary-container: #623B63;
  --md-sys-color-primary-fixed: #F8C4F4;
  --md-sys-color-primary-fixed-dim: #E9B6E6;
  --md-sys-color-on-primary-fixed: #4E284F;
  --md-sys-color-on-primary-fixed-variant: #6D446D;
  --md-sys-color-inverse-primary: #F8C4F4;
  --md-sys-color-secondary: #78584D;
  --md-sys-color-secondary-dim: #6B4C41;
  --md-sys-color-on-secondary: #FFF7F5;
  --md-sys-color-secondary-container: #FFDBCF;
  --md-sys-color-on-secondary-container: #694B40;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #F6CBBD;
  --md-sys-color-on-secondary-fixed: #55392F;
  --md-sys-color-on-secondary-fixed-variant: #745449;
  --md-sys-color-tertiary: #4C5F84;
  --md-sys-color-tertiary-dim: #405377;
  --md-sys-color-on-tertiary: #F9F8FF;
  --md-sys-color-tertiary-container: #BBCFFA;
  --md-sys-color-on-tertiary-container: #324669;
  --md-sys-color-tertiary-fixed: #BBCFFA;
  --md-sys-color-tertiary-fixed-dim: #E1B8AA;
  --md-sys-color-on-tertiary-fixed: #1E3254;
  --md-sys-color-on-tertiary-fixed-variant: #3B4F73;
  --md-sys-color-error: #A8364B;
  --md-sys-color-error-dim: #6B0221;
  --md-sys-color-on-error: #FFF7F7;
  --md-sys-color-error-container: #F97386;
  --md-sys-color-on-error-container: #490013;
  --md-sys-color-control-activated: #F8C4F4;
  --md-sys-color-control-normal: #E5D7D8;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #130C0E;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D1C2CC;
  --md-sys-color-text-primary-inverse-disable-only: #EEDFE0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EEDFE0;
  --md-sys-color-text-hint-inverse: #EEDFE0;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #64779D;
  --md-sys-color-neutral-palette-key-color: #7F7475;
  --md-sys-color-neutral-variant-palette-key-color: #80747D;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #E5D7D8;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #EBD5D8;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFF0F1;
  --md-sys-color-surface-container: #FDE9EC;
  --md-sys-color-surface-container-high: #F8E3E6;
  --md-sys-color-surface-container-highest: #F4DDE0;
  --md-sys-color-on-surface: #2D2123;
  --md-sys-color-surface-variant: #EEDFE0;
  --md-sys-color-on-surface-variant: #4E3F42;
  --md-sys-color-outline: #6C5B5E;
  --md-sys-color-outline-variant: #887679;
  --md-sys-color-inverse-surface: #130C0E;
  --md-sys-color-inverse-on-surface: #CFC1C3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #F8C4F4;
  --md-sys-color-primary: #5C355C;
  --md-sys-color-primary-dim: #4F2A50;
  --md-sys-color-on-primary: #FEC9F9;
  --md-sys-color-primary-container: #926690;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #926690;
  --md-sys-color-primary-fixed-dim: #845A83;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #F8C4F4;
  --md-sys-color-secondary: #593C32;
  --md-sys-color-secondary-dim: #4C3127;
  --md-sys-color-on-secondary: #FBD0C2;
  --md-sys-color-secondary-container: #FFDBCF;
  --md-sys-color-on-secondary-container: #5E4137;
  --md-sys-color-secondary-fixed: #8F6D61;
  --md-sys-color-secondary-fixed-dim: #826155;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #2F4366;
  --md-sys-color-tertiary-dim: #23385A;
  --md-sys-color-on-tertiary: #C9DAFF;
  --md-sys-color-tertiary-container: #61759B;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #61759B;
  --md-sys-color-tertiary-fixed-dim: #826155;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #821830;
  --md-sys-color-error-dim: #6B0221;
  --md-sys-color-on-error: #FFCDD1;
  --md-sys-color-error-container: #C44B5F;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #F8C4F4;
  --md-sys-color-control-normal: #E5D7D8;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #130C0E;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D1C2CC;
  --md-sys-color-text-primary-inverse-disable-only: #EEDFE0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EEDFE0;
  --md-sys-color-text-hint-inverse: #EEDFE0;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #64779D;
  --md-sys-color-neutral-palette-key-color: #7F7475;
  --md-sys-color-neutral-variant-palette-key-color: #80747D;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #E5D7D8;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #EBD5D8;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFF0F1;
  --md-sys-color-surface-container: #FDE9EC;
  --md-sys-color-surface-container-high: #F8E3E6;
  --md-sys-color-surface-container-highest: #F4DDE0;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #EEDFE0;
  --md-sys-color-on-surface-variant: #2D2123;
  --md-sys-color-outline: #4E3F42;
  --md-sys-color-outline-variant: #6C5B5E;
  --md-sys-color-inverse-surface: #130C0E;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #F8C4F4;
  --md-sys-color-primary: #39163B;
  --md-sys-color-primary-dim: #2D0B30;
  --md-sys-color-on-primary: #FECAFA;
  --md-sys-color-primary-container: #7A517A;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #7A517A;
  --md-sys-color-primary-fixed-dim: #6D456D;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #F8C4F4;
  --md-sys-color-secondary: #361E15;
  --md-sys-color-secondary-dim: #2A140C;
  --md-sys-color-on-secondary: #FCD1C3;
  --md-sys-color-secondary-container: #FFDBCF;
  --md-sys-color-on-secondary-container: #3D241B;
  --md-sys-color-secondary-fixed: #78584D;
  --md-sys-color-secondary-fixed-dim: #6B4C41;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #0D2445;
  --md-sys-color-tertiary-dim: #01193A;
  --md-sys-color-on-tertiary: #CADAFF;
  --md-sys-color-tertiary-container: #4C5F84;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #4C5F84;
  --md-sys-color-tertiary-fixed-dim: #6B4C41;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #500016;
  --md-sys-color-error-dim: #3D000F;
  --md-sys-color-on-error: #FFCED2;
  --md-sys-color-error-container: #A8364B;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #F8C4F4;
  --md-sys-color-control-normal: #E5D7D8;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #130C0E;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D1C2CC;
  --md-sys-color-text-primary-inverse-disable-only: #EEDFE0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EEDFE0;
  --md-sys-color-text-hint-inverse: #EEDFE0;
  --md-sys-color-widget-background: #FFEBFA;
}
.dark {
  --md-sys-color-primary-palette-key-color: #8F6C8D;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #64779D;
  --md-sys-color-neutral-palette-key-color: #7F7475;
  --md-sys-color-neutral-variant-palette-key-color: #80747D;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #130C0E;
  --md-sys-color-on-background: #322A2B;
  --md-sys-color-surface: #130C0E;
  --md-sys-color-surface-dim: #130C0E;
  --md-sys-color-surface-bright: #322A2B;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1A1113;
  --md-sys-color-surface-container: #211719;
  --md-sys-color-surface-container-high: #281D1F;
  --md-sys-color-surface-container-highest: #2F2225;
  --md-sys-color-on-surface: #F7E0E3;
  --md-sys-color-surface-variant: #2C2425;
  --md-sys-color-on-surface-variant: #A28F92;
  --md-sys-color-outline: #837174;
  --md-sys-color-outline-variant: #534447;
  --md-sys-color-inverse-surface: #FFF8F7;
  --md-sys-color-inverse-on-surface: #5C5354;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #E3BADF;
  --md-sys-color-primary: #E3BADF;
  --md-sys-color-primary-dim: #D4ACD1;
  --md-sys-color-on-primary: #543654;
  --md-sys-color-primary-container: #684867;
  --md-sys-color-on-primary-container: #FFD7FA;
  --md-sys-color-primary-fixed: #F7CDF3;
  --md-sys-color-primary-fixed-dim: #E9BFE4;
  --md-sys-color-on-primary-fixed: #4D304D;
  --md-sys-color-on-primary-fixed-variant: #6C4B6B;
  --md-sys-color-inverse-primary: #755474;
  --md-sys-color-secondary: #E7BDB0;
  --md-sys-color-secondary-dim: #D8B0A2;
  --md-sys-color-on-secondary: #56392F;
  --md-sys-color-secondary-container: #50352B;
  --md-sys-color-on-secondary-container: #DFB6A9;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #F6CBBD;
  --md-sys-color-on-secondary-fixed: #55392F;
  --md-sys-color-on-secondary-fixed-variant: #745449;
  --md-sys-color-tertiary: #CEDDFF;
  --md-sys-color-tertiary-dim: #BBCFFA;
  --md-sys-color-on-tertiary: #3B4E72;
  --md-sys-color-tertiary-container: #BBCFFA;
  --md-sys-color-on-tertiary-container: #324669;
  --md-sys-color-tertiary-fixed: #BBCFFA;
  --md-sys-color-tertiary-fixed-dim: #E1B8AA;
  --md-sys-color-on-tertiary-fixed: #1E3254;
  --md-sys-color-on-tertiary-fixed-variant: #3B4F73;
  --md-sys-color-error: #F97386;
  --md-sys-color-error-dim: #C44B5F;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #871C34;
  --md-sys-color-on-error-container: #FFC0C6;
  --md-sys-color-control-activated: #684867;
  --md-sys-color-control-normal: #322A2B;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FFF8F7;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4E444C;
  --md-sys-color-text-primary-inverse-disable-only: #211A1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #211A1B;
  --md-sys-color-text-hint-inverse: #211A1B;
  --md-sys-color-widget-background: #432643;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8F6C8D;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #64779D;
  --md-sys-color-neutral-palette-key-color: #7F7475;
  --md-sys-color-neutral-variant-palette-key-color: #80747D;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #130C0E;
  --md-sys-color-on-background: #322A2B;
  --md-sys-color-surface: #130C0E;
  --md-sys-color-surface-dim: #130C0E;
  --md-sys-color-surface-bright: #322A2B;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1A1113;
  --md-sys-color-surface-container: #211719;
  --md-sys-color-surface-container-high: #281D1F;
  --md-sys-color-surface-container-highest: #2F2225;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #2C2425;
  --md-sys-color-on-surface-variant: #C9B4B7;
  --md-sys-color-outline: #A28F92;
  --md-sys-color-outline-variant: #837174;
  --md-sys-color-inverse-surface: #FFF8F7;
  --md-sys-color-inverse-on-surface: #3F3637;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #E3BADF;
  --md-sys-color-primary: #E3BADF;
  --md-sys-color-primary-dim: #D4ACD1;
  --md-sys-color-on-primary: #492C49;
  --md-sys-color-primary-container: #8C698A;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #F7CDF3;
  --md-sys-color-primary-fixed-dim: #E9BFE4;
  --md-sys-color-on-primary-fixed: #270D29;
  --md-sys-color-on-primary-fixed-variant: #4D304D;
  --md-sys-color-inverse-primary: #6B4A6A;
  --md-sys-color-secondary: #E7BDB0;
  --md-sys-color-secondary-dim: #D8B0A2;
  --md-sys-color-on-secondary: #4A3026;
  --md-sys-color-secondary-container: #50352B;
  --md-sys-color-on-secondary-container: #EFC5B7;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #F6CBBD;
  --md-sys-color-on-secondary-fixed: #311911;
  --md-sys-color-on-secondary-fixed-variant: #55392F;
  --md-sys-color-tertiary: #CEDDFF;
  --md-sys-color-tertiary-dim: #BBCFFA;
  --md-sys-color-on-tertiary: #314568;
  --md-sys-color-tertiary-container: #BBCFFA;
  --md-sys-color-on-tertiary-container: #283C5E;
  --md-sys-color-tertiary-fixed: #BBCFFA;
  --md-sys-color-tertiary-fixed-dim: #E1B8AA;
  --md-sys-color-on-tertiary-fixed: #00081B;
  --md-sys-color-on-tertiary-fixed-variant: #1E3254;
  --md-sys-color-error: #FF9DA8;
  --md-sys-color-error-dim: #FF8695;
  --md-sys-color-on-error: #5F001C;
  --md-sys-color-error-container: #C44B5F;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #684867;
  --md-sys-color-control-normal: #322A2B;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FFF8F7;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4E444C;
  --md-sys-color-text-primary-inverse-disable-only: #211A1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #211A1B;
  --md-sys-color-text-hint-inverse: #211A1B;
  --md-sys-color-widget-background: #432643;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8F6C8D;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #64779D;
  --md-sys-color-neutral-palette-key-color: #7F7475;
  --md-sys-color-neutral-variant-palette-key-color: #80747D;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #130C0E;
  --md-sys-color-on-background: #322A2B;
  --md-sys-color-surface: #130C0E;
  --md-sys-color-surface-dim: #130C0E;
  --md-sys-color-surface-bright: #322A2B;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1A1113;
  --md-sys-color-surface-container: #211719;
  --md-sys-color-surface-container-high: #281D1F;
  --md-sys-color-surface-container-highest: #2F2225;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #2C2425;
  --md-sys-color-on-surface-variant: #F7E0E3;
  --md-sys-color-outline: #C9B4B7;
  --md-sys-color-outline-variant: #A28F92;
  --md-sys-color-inverse-surface: #FFF8F7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #E3BADF;
  --md-sys-color-primary: #FFDBFA;
  --md-sys-color-primary-dim: #F5CAF0;
  --md-sys-color-on-primary: #3E223E;
  --md-sys-color-primary-container: #B892B5;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #F7CDF3;
  --md-sys-color-primary-fixed-dim: #E9BFE4;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #270D29;
  --md-sys-color-inverse-primary: #4B2E4B;
  --md-sys-color-secondary: #FFDFD4;
  --md-sys-color-secondary-dim: #F9CEC0;
  --md-sys-color-on-secondary: #3F261D;
  --md-sys-color-secondary-container: #50352B;
  --md-sys-color-on-secondary-container: #FFFEFF;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #F6CBBD;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #311911;
  --md-sys-color-tertiary: #DBE5FF;
  --md-sys-color-tertiary-dim: #C2D5FF;
  --md-sys-color-on-tertiary: #172C4E;
  --md-sys-color-tertiary-container: #BBCFFA;
  --md-sys-color-on-tertiary-container: #021A3B;
  --md-sys-color-tertiary-fixed: #BBCFFA;
  --md-sys-color-tertiary-fixed-dim: #E1B8AA;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #00081B;
  --md-sys-color-error: #FFDDDF;
  --md-sys-color-error-dim: #FFC7CB;
  --md-sys-color-on-error: #5F001C;
  --md-sys-color-error-container: #F97386;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #684867;
  --md-sys-color-control-normal: #322A2B;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FFF8F7;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4E444C;
  --md-sys-color-text-primary-inverse-disable-only: #211A1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #211A1B;
  --md-sys-color-text-hint-inverse: #211A1B;
  --md-sys-color-widget-background: #432643;
}
