.light {
  --md-sys-color-primary-palette-key-color: #6570C4;
  --md-sys-color-secondary-palette-key-color: #A36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #EED4D8;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3C2C2F;
  --md-sys-color-surface-container-high: #48373A;
  --md-sys-color-surface-container-highest: #3C2C2F;
  --md-sys-color-on-surface: #FCE2E6;
  --md-sys-color-surface-variant: #3C2C2F;
  --md-sys-color-on-surface-variant: #E1C8CC;
  --md-sys-color-outline: #B7A0A4;
  --md-sys-color-outline-variant: #968084;
  --md-sys-color-inverse-surface: #170B0D;
  --md-sys-color-inverse-on-surface: #AE979B;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #97A2FA;
  --md-sys-color-primary: #C6CBFF;
  --md-sys-color-primary-dim: #97A2FA;
  --md-sys-color-on-primary: #010D67;
  --md-sys-color-primary-container: #343F90;
  --md-sys-color-on-primary-container: #DCDEFF;
  --md-sys-color-primary-fixed: #343F90;
  --md-sys-color-primary-fixed-dim: #273284;
  --md-sys-color-on-primary-fixed: #C6CBFF;
  --md-sys-color-on-primary-fixed-variant: #949FF7;
  --md-sys-color-inverse-primary: #97A2FA;
  --md-sys-color-secondary: #FFBADD;
  --md-sys-color-secondary-dim: #F4AAD1;
  --md-sys-color-on-secondary: #531F3F;
  --md-sys-color-secondary-container: #6C3454;
  --md-sys-color-on-secondary-container: #FFD5E8;
  --md-sys-color-secondary-fixed: #6C3454;
  --md-sys-color-secondary-fixed-dim: #5E2849;
  --md-sys-color-on-secondary-fixed: #FFBADD;
  --md-sys-color-on-secondary-fixed-variant: #D790B6;
  --md-sys-color-tertiary: #96DFFB;
  --md-sys-color-tertiary-dim: #88D1EC;
  --md-sys-color-on-tertiary: #003C4B;
  --md-sys-color-tertiary-container: #6CB5D0;
  --md-sys-color-on-tertiary-container: #00242F;
  --md-sys-color-tertiary-fixed: #6CB5D0;
  --md-sys-color-tertiary-fixed-dim: #CE89AE;
  --md-sys-color-on-tertiary-fixed: #00131A;
  --md-sys-color-on-tertiary-fixed-variant: #003A4A;
  --md-sys-color-error: #FFBEB7;
  --md-sys-color-error-dim: #FF8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFD7D2;
  --md-sys-color-control-activated: #343F90;
  --md-sys-color-control-normal: #48373A;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #170B0D;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D8BFD4;
  --md-sys-color-text-primary-inverse-disable-only: #F6DCE0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #F6DCE0;
  --md-sys-color-text-hint-inverse: #F6DCE0;
  --md-sys-color-widget-background: #F1EFFF;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6570C4;
  --md-sys-color-secondary-palette-key-color: #A36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #EED4D8;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3C2C2F;
  --md-sys-color-surface-container-high: #48373A;
  --md-sys-color-surface-container-highest: #3C2C2F;
  --md-sys-color-on-surface: #FFFEFF;
  --md-sys-color-surface-variant: #3C2C2F;
  --md-sys-color-on-surface-variant: #FFFEFF;
  --md-sys-color-outline: #E1C8CC;
  --md-sys-color-outline-variant: #B7A0A4;
  --md-sys-color-inverse-surface: #170B0D;
  --md-sys-color-inverse-on-surface: #D8BFC3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #97A2FA;
  --md-sys-color-primary: #FFFEFF;
  --md-sys-color-primary-dim: #C6CBFF;
  --md-sys-color-on-primary: #000A5D;
  --md-sys-color-primary-container: #343F90;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #343F90;
  --md-sys-color-primary-fixed-dim: #273284;
  --md-sys-color-on-primary-fixed: #FFFEFF;
  --md-sys-color-on-primary-fixed-variant: #C6CBFF;
  --md-sys-color-inverse-primary: #BAC1FF;
  --md-sys-color-secondary: #FFFEFF;
  --md-sys-color-secondary-dim: #FFBADD;
  --md-sys-color-on-secondary: #350525;
  --md-sys-color-secondary-container: #6C3454;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #6C3454;
  --md-sys-color-secondary-fixed-dim: #5E2849;
  --md-sys-color-on-secondary-fixed: #FFFEFF;
  --md-sys-color-on-secondary-fixed-variant: #FFBADD;
  --md-sys-color-tertiary: #FFFEFF;
  --md-sys-color-tertiary-dim: #96DFFB;
  --md-sys-color-on-tertiary: #00232D;
  --md-sys-color-tertiary-container: #7AC3DE;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #6CB5D0;
  --md-sys-color-tertiary-fixed-dim: #CE89AE;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #00131A;
  --md-sys-color-error: #FFFEFF;
  --md-sys-color-error-dim: #FFBEB7;
  --md-sys-color-on-error: #3D0002;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #343F90;
  --md-sys-color-control-normal: #48373A;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #170B0D;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D8BFD4;
  --md-sys-color-text-primary-inverse-disable-only: #F6DCE0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #F6DCE0;
  --md-sys-color-text-hint-inverse: #F6DCE0;
  --md-sys-color-widget-background: #F1EFFF;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #6570C4;
  --md-sys-color-secondary-palette-key-color: #A36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #EED4D8;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3C2C2F;
  --md-sys-color-surface-container-high: #48373A;
  --md-sys-color-surface-container-highest: #3C2C2F;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #3C2C2F;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FFFEFF;
  --md-sys-color-outline-variant: #E1C8CC;
  --md-sys-color-inverse-surface: #170B0D;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #97A2FA;
  --md-sys-color-primary: #FFFFFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #343F90;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #343F90;
  --md-sys-color-primary-fixed-dim: #273284;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFEFF;
  --md-sys-color-inverse-primary: #FFFFFF;
  --md-sys-color-secondary: #FFFFFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #6C3454;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #6C3454;
  --md-sys-color-secondary-fixed-dim: #5E2849;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFEFF;
  --md-sys-color-tertiary: #FFFFFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #96DFFB;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #6CB5D0;
  --md-sys-color-tertiary-fixed-dim: #CE89AE;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFFFFF;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #343F90;
  --md-sys-color-control-normal: #48373A;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #170B0D;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D8BFD4;
  --md-sys-color-text-primary-inverse-disable-only: #F6DCE0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #F6DCE0;
  --md-sys-color-text-hint-inverse: #F6DCE0;
  --md-sys-color-widget-background: #F1EFFF;
}
.dark {
  --md-sys-color-primary-palette-key-color: #6570C4;
  --md-sys-color-secondary-palette-key-color: #A36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #170B0D;
  --md-sys-color-surface-bright: #38282B;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3C2C2F;
  --md-sys-color-surface-container-high: #48373A;
  --md-sys-color-surface-container-highest: #3C2C2F;
  --md-sys-color-on-surface: #FFFEFF;
  --md-sys-color-surface-variant: #3C2C2F;
  --md-sys-color-on-surface-variant: #E1C8CC;
  --md-sys-color-outline: #B7A0A4;
  --md-sys-color-outline-variant: #968084;
  --md-sys-color-inverse-surface: #FFF8F7;
  --md-sys-color-inverse-on-surface: #635054;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #97A2FA;
  --md-sys-color-primary: #C6CBFF;
  --md-sys-color-primary-dim: #97A2FA;
  --md-sys-color-on-primary: #010D67;
  --md-sys-color-primary-container: #343F90;
  --md-sys-color-on-primary-container: #DCDEFF;
  --md-sys-color-primary-fixed: #343F90;
  --md-sys-color-primary-fixed-dim: #273284;
  --md-sys-color-on-primary-fixed: #C6CBFF;
  --md-sys-color-on-primary-fixed-variant: #949FF7;
  --md-sys-color-inverse-primary: #434D9F;
  --md-sys-color-secondary: #FFBADD;
  --md-sys-color-secondary-dim: #F4AAD1;
  --md-sys-color-on-secondary: #531F3F;
  --md-sys-color-secondary-container: #6C3454;
  --md-sys-color-on-secondary-container: #FFD5E8;
  --md-sys-color-secondary-fixed: #6C3454;
  --md-sys-color-secondary-fixed-dim: #5E2849;
  --md-sys-color-on-secondary-fixed: #FFBADD;
  --md-sys-color-on-secondary-fixed-variant: #D790B6;
  --md-sys-color-tertiary: #96DFFB;
  --md-sys-color-tertiary-dim: #88D1EC;
  --md-sys-color-on-tertiary: #003C4B;
  --md-sys-color-tertiary-container: #6CB5D0;
  --md-sys-color-on-tertiary-container: #00242F;
  --md-sys-color-tertiary-fixed: #6CB5D0;
  --md-sys-color-tertiary-fixed-dim: #CE89AE;
  --md-sys-color-on-tertiary-fixed: #00131A;
  --md-sys-color-on-tertiary-fixed-variant: #003A4A;
  --md-sys-color-error: #FFBEB7;
  --md-sys-color-error-dim: #FF8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFD7D2;
  --md-sys-color-control-activated: #343F90;
  --md-sys-color-control-normal: #48373A;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FFF8F7;
  --md-sys-color-text-secondary-and-tertiary-inverse: #534152;
  --md-sys-color-text-primary-inverse-disable-only: #26181B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #26181B;
  --md-sys-color-text-hint-inverse: #26181B;
  --md-sys-color-widget-background: #1B2678;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6570C4;
  --md-sys-color-secondary-palette-key-color: #A36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #170B0D;
  --md-sys-color-surface-bright: #38282B;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3C2C2F;
  --md-sys-color-surface-container-high: #48373A;
  --md-sys-color-surface-container-highest: #3C2C2F;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #3C2C2F;
  --md-sys-color-on-surface-variant: #FFFEFF;
  --md-sys-color-outline: #E1C8CC;
  --md-sys-color-outline-variant: #B7A0A4;
  --md-sys-color-inverse-surface: #FFF8F7;
  --md-sys-color-inverse-on-surface: #453437;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #97A2FA;
  --md-sys-color-primary: #FFFEFF;
  --md-sys-color-primary-dim: #C6CBFF;
  --md-sys-color-on-primary: #000A5D;
  --md-sys-color-primary-container: #343F90;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #343F90;
  --md-sys-color-primary-fixed-dim: #273284;
  --md-sys-color-on-primary-fixed: #FFFEFF;
  --md-sys-color-on-primary-fixed-variant: #C6CBFF;
  --md-sys-color-inverse-primary: #242F80;
  --md-sys-color-secondary: #FFFEFF;
  --md-sys-color-secondary-dim: #FFBADD;
  --md-sys-color-on-secondary: #350525;
  --md-sys-color-secondary-container: #6C3454;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #6C3454;
  --md-sys-color-secondary-fixed-dim: #5E2849;
  --md-sys-color-on-secondary-fixed: #FFFEFF;
  --md-sys-color-on-secondary-fixed-variant: #FFBADD;
  --md-sys-color-tertiary: #FFFEFF;
  --md-sys-color-tertiary-dim: #96DFFB;
  --md-sys-color-on-tertiary: #00232D;
  --md-sys-color-tertiary-container: #7AC3DE;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #6CB5D0;
  --md-sys-color-tertiary-fixed-dim: #CE89AE;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #00131A;
  --md-sys-color-error: #FFFEFF;
  --md-sys-color-error-dim: #FFBEB7;
  --md-sys-color-on-error: #3D0002;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #343F90;
  --md-sys-color-control-normal: #48373A;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FFF8F7;
  --md-sys-color-text-secondary-and-tertiary-inverse: #534152;
  --md-sys-color-text-primary-inverse-disable-only: #26181B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #26181B;
  --md-sys-color-text-hint-inverse: #26181B;
  --md-sys-color-widget-background: #1B2678;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #6570C4;
  --md-sys-color-secondary-palette-key-color: #A36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #170B0D;
  --md-sys-color-surface-bright: #38282B;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3C2C2F;
  --md-sys-color-surface-container-high: #48373A;
  --md-sys-color-surface-container-highest: #3C2C2F;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #3C2C2F;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FFFEFF;
  --md-sys-color-outline-variant: #E1C8CC;
  --md-sys-color-inverse-surface: #FFF8F7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #97A2FA;
  --md-sys-color-primary: #FFFFFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #343F90;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #343F90;
  --md-sys-color-primary-fixed-dim: #273284;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFEFF;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-secondary: #FFFFFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #6C3454;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #6C3454;
  --md-sys-color-secondary-fixed-dim: #5E2849;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFEFF;
  --md-sys-color-tertiary: #FFFFFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #96DFFB;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #6CB5D0;
  --md-sys-color-tertiary-fixed-dim: #CE89AE;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFFFFF;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #343F90;
  --md-sys-color-control-normal: #48373A;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FFF8F7;
  --md-sys-color-text-secondary-and-tertiary-inverse: #534152;
  --md-sys-color-text-primary-inverse-disable-only: #26181B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #26181B;
  --md-sys-color-text-hint-inverse: #26181B;
  --md-sys-color-widget-background: #1B2678;
}
