.light {
  --md-sys-color-primary-palette-key-color: #777777;
  --md-sys-color-secondary-palette-key-color: #777777;
  --md-sys-color-tertiary-palette-key-color: #777777;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #F9F9F9;
  --md-sys-color-on-background: #DADADA;
  --md-sys-color-surface: #F9F9F9;
  --md-sys-color-surface-dim: #DADADA;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F3F3F3;
  --md-sys-color-surface-container: #EEEEEE;
  --md-sys-color-surface-container-high: #E8E8E8;
  --md-sys-color-surface-container-highest: #E2E2E2;
  --md-sys-color-on-surface: #323232;
  --md-sys-color-surface-variant: #E2E2E2;
  --md-sys-color-on-surface-variant: #5F5F5F;
  --md-sys-color-outline: #7B7B7B;
  --md-sys-color-outline-variant: #B2B2B2;
  --md-sys-color-inverse-surface: #0E0E0E;
  --md-sys-color-inverse-on-surface: #9D9D9D;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #F9F9F9;
  --md-sys-color-primary: #5F5F5F;
  --md-sys-color-primary-dim: #535353;
  --md-sys-color-on-primary: #F9F9F9;
  --md-sys-color-primary-container: #EBEBEB;
  --md-sys-color-on-primary-container: #575757;
  --md-sys-color-primary-fixed: #EBEBEB;
  --md-sys-color-primary-fixed-dim: #DDDDDD;
  --md-sys-color-on-primary-fixed: #444444;
  --md-sys-color-on-primary-fixed-variant: #616161;
  --md-sys-color-inverse-primary: #FFFFFF;
  --md-sys-color-secondary: #5F5F5F;
  --md-sys-color-secondary-dim: #535353;
  --md-sys-color-on-secondary: #F9F9F9;
  --md-sys-color-secondary-container: #E2E2E2;
  --md-sys-color-on-secondary-container: #525252;
  --md-sys-color-secondary-fixed: #E2E2E2;
  --md-sys-color-secondary-fixed-dim: #D4D4D4;
  --md-sys-color-on-secondary-fixed: #3F3F3F;
  --md-sys-color-on-secondary-fixed-variant: #5B5B5B;
  --md-sys-color-tertiary: #5F5F5F;
  --md-sys-color-tertiary-dim: #535353;
  --md-sys-color-on-tertiary: #F9F9F9;
  --md-sys-color-tertiary-container: #FFFFFF;
  --md-sys-color-on-tertiary-container: #626262;
  --md-sys-color-tertiary-fixed: #FFFFFF;
  --md-sys-color-tertiary-fixed-dim: #F1F1F1;
  --md-sys-color-on-tertiary-fixed: #505050;
  --md-sys-color-on-tertiary-fixed-variant: #6D6D6D;
  --md-sys-color-error: #BB1B1B;
  --md-sys-color-error-dim: #A90810;
  --md-sys-color-on-error: #FFF7F6;
  --md-sys-color-error-container: #FE4E44;
  --md-sys-color-on-error-container: #1F0000;
  --md-sys-color-control-activated: #EBEBEB;
  --md-sys-color-control-normal: #DADADA;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0E0E0E;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C6C6C6;
  --md-sys-color-text-primary-inverse-disable-only: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E2E2E2;
  --md-sys-color-text-hint-inverse: #E2E2E2;
  --md-sys-color-widget-background: #F1F1F1;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #777777;
  --md-sys-color-secondary-palette-key-color: #777777;
  --md-sys-color-tertiary-palette-key-color: #777777;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #F9F9F9;
  --md-sys-color-on-background: #DADADA;
  --md-sys-color-surface: #F9F9F9;
  --md-sys-color-surface-dim: #DADADA;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F3F3F3;
  --md-sys-color-surface-container: #EEEEEE;
  --md-sys-color-surface-container-high: #E8E8E8;
  --md-sys-color-surface-container-highest: #E2E2E2;
  --md-sys-color-on-surface: #242424;
  --md-sys-color-surface-variant: #E2E2E2;
  --md-sys-color-on-surface-variant: #434343;
  --md-sys-color-outline: #5F5F5F;
  --md-sys-color-outline-variant: #7B7B7B;
  --md-sys-color-inverse-surface: #0E0E0E;
  --md-sys-color-inverse-on-surface: #C5C5C5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #F9F9F9;
  --md-sys-color-primary: #434343;
  --md-sys-color-primary-dim: #373737;
  --md-sys-color-on-primary: #DADADA;
  --md-sys-color-primary-container: #747474;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #747474;
  --md-sys-color-primary-fixed-dim: #686868;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #FFFFFF;
  --md-sys-color-secondary: #434343;
  --md-sys-color-secondary-dim: #373737;
  --md-sys-color-on-secondary: #DADADA;
  --md-sys-color-secondary-container: #E2E2E2;
  --md-sys-color-on-secondary-container: #484848;
  --md-sys-color-secondary-fixed: #747474;
  --md-sys-color-secondary-fixed-dim: #686868;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #434343;
  --md-sys-color-tertiary-dim: #373737;
  --md-sys-color-on-tertiary: #DADADA;
  --md-sys-color-tertiary-container: #747474;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #747474;
  --md-sys-color-tertiary-fixed-dim: #686868;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #8C0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #FFCEC8;
  --md-sys-color-error-container: #DA342E;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #EBEBEB;
  --md-sys-color-control-normal: #DADADA;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0E0E0E;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C6C6C6;
  --md-sys-color-text-primary-inverse-disable-only: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E2E2E2;
  --md-sys-color-text-hint-inverse: #E2E2E2;
  --md-sys-color-widget-background: #F1F1F1;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #777777;
  --md-sys-color-secondary-palette-key-color: #777777;
  --md-sys-color-tertiary-palette-key-color: #777777;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #F9F9F9;
  --md-sys-color-on-background: #DADADA;
  --md-sys-color-surface: #F9F9F9;
  --md-sys-color-surface-dim: #DADADA;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F3F3F3;
  --md-sys-color-surface-container: #EEEEEE;
  --md-sys-color-surface-container-high: #E8E8E8;
  --md-sys-color-surface-container-highest: #E2E2E2;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E2E2E2;
  --md-sys-color-on-surface-variant: #242424;
  --md-sys-color-outline: #434343;
  --md-sys-color-outline-variant: #5F5F5F;
  --md-sys-color-inverse-surface: #0E0E0E;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #F9F9F9;
  --md-sys-color-primary: #242424;
  --md-sys-color-primary-dim: #1A1A1A;
  --md-sys-color-on-primary: #DADADA;
  --md-sys-color-primary-container: #5F5F5F;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #5F5F5F;
  --md-sys-color-primary-fixed-dim: #535353;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #FFFFFF;
  --md-sys-color-secondary: #242424;
  --md-sys-color-secondary-dim: #1A1A1A;
  --md-sys-color-on-secondary: #DADADA;
  --md-sys-color-secondary-container: #E2E2E2;
  --md-sys-color-on-secondary-container: #2A2A2A;
  --md-sys-color-secondary-fixed: #5F5F5F;
  --md-sys-color-secondary-fixed-dim: #535353;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #242424;
  --md-sys-color-tertiary-dim: #1A1A1A;
  --md-sys-color-on-tertiary: #DADADA;
  --md-sys-color-tertiary-container: #5F5F5F;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #5F5F5F;
  --md-sys-color-tertiary-fixed-dim: #535353;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3E0002;
  --md-sys-color-on-error: #FFCFC9;
  --md-sys-color-error-container: #BB1B1B;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #EBEBEB;
  --md-sys-color-control-normal: #DADADA;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0E0E0E;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C6C6C6;
  --md-sys-color-text-primary-inverse-disable-only: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E2E2E2;
  --md-sys-color-text-hint-inverse: #E2E2E2;
  --md-sys-color-widget-background: #F1F1F1;
}
.dark {
  --md-sys-color-primary-palette-key-color: #777777;
  --md-sys-color-secondary-palette-key-color: #777777;
  --md-sys-color-tertiary-palette-key-color: #777777;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #0E0E0E;
  --md-sys-color-on-background: #2C2C2C;
  --md-sys-color-surface: #0E0E0E;
  --md-sys-color-surface-dim: #0E0E0E;
  --md-sys-color-surface-bright: #2C2C2C;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1F1F1F;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #E5E5E5;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #ABABAB;
  --md-sys-color-outline: #757575;
  --md-sys-color-outline-variant: #484848;
  --md-sys-color-inverse-surface: #F9F9F9;
  --md-sys-color-inverse-on-surface: #555555;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #F9F9F9;
  --md-sys-color-primary: #F9F9F9;
  --md-sys-color-primary-dim: #EBEBEB;
  --md-sys-color-on-primary: #5F5F5F;
  --md-sys-color-primary-container: #A0A0A0;
  --md-sys-color-on-primary-container: #232323;
  --md-sys-color-primary-fixed: #EBEBEB;
  --md-sys-color-primary-fixed-dim: #DDDDDD;
  --md-sys-color-on-primary-fixed: #444444;
  --md-sys-color-on-primary-fixed-variant: #616161;
  --md-sys-color-inverse-primary: #5F5F5F;
  --md-sys-color-secondary: #C6C6C6;
  --md-sys-color-secondary-dim: #B9B9B9;
  --md-sys-color-on-secondary: #404040;
  --md-sys-color-secondary-container: #3B3B3B;
  --md-sys-color-on-secondary-container: #BFBFBF;
  --md-sys-color-secondary-fixed: #E2E2E2;
  --md-sys-color-secondary-fixed-dim: #D4D4D4;
  --md-sys-color-on-secondary-fixed: #3F3F3F;
  --md-sys-color-on-secondary-fixed-variant: #5B5B5B;
  --md-sys-color-tertiary: #F9F9F9;
  --md-sys-color-tertiary-dim: #EBEBEB;
  --md-sys-color-on-tertiary: #5F5F5F;
  --md-sys-color-tertiary-container: #EBEBEB;
  --md-sys-color-on-tertiary-container: #575757;
  --md-sys-color-tertiary-fixed: #FFFFFF;
  --md-sys-color-tertiary-fixed-dim: #F1F1F1;
  --md-sys-color-on-tertiary-fixed: #505050;
  --md-sys-color-on-tertiary-fixed-variant: #6D6D6D;
  --md-sys-color-error: #FF7164;
  --md-sys-color-error-dim: #DA342E;
  --md-sys-color-on-error: #4A0002;
  --md-sys-color-error-container: #AC0C12;
  --md-sys-color-on-error-container: #FFE0DC;
  --md-sys-color-control-activated: #A0A0A0;
  --md-sys-color-control-normal: #2C2C2C;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #F9F9F9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1B1B1B;
  --md-sys-color-text-hint-inverse: #1B1B1B;
  --md-sys-color-widget-background: #303030;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #777777;
  --md-sys-color-secondary-palette-key-color: #777777;
  --md-sys-color-tertiary-palette-key-color: #777777;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #0E0E0E;
  --md-sys-color-on-background: #2C2C2C;
  --md-sys-color-surface: #0E0E0E;
  --md-sys-color-surface-dim: #0E0E0E;
  --md-sys-color-surface-bright: #2C2C2C;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1F1F1F;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #B9B9B9;
  --md-sys-color-outline: #939393;
  --md-sys-color-outline-variant: #757575;
  --md-sys-color-inverse-surface: #F9F9F9;
  --md-sys-color-inverse-on-surface: #383838;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #F9F9F9;
  --md-sys-color-primary: #F9F9F9;
  --md-sys-color-primary-dim: #EBEBEB;
  --md-sys-color-on-primary: #555555;
  --md-sys-color-primary-container: #A0A0A0;
  --md-sys-color-on-primary-container: #141414;
  --md-sys-color-primary-fixed: #EBEBEB;
  --md-sys-color-primary-fixed-dim: #DDDDDD;
  --md-sys-color-on-primary-fixed: #262626;
  --md-sys-color-on-primary-fixed-variant: #444444;
  --md-sys-color-inverse-primary: #555555;
  --md-sys-color-secondary: #C6C6C6;
  --md-sys-color-secondary-dim: #B9B9B9;
  --md-sys-color-on-secondary: #363636;
  --md-sys-color-secondary-container: #3B3B3B;
  --md-sys-color-on-secondary-container: #CECECE;
  --md-sys-color-secondary-fixed: #E2E2E2;
  --md-sys-color-secondary-fixed-dim: #D4D4D4;
  --md-sys-color-on-secondary-fixed: #1F1F1F;
  --md-sys-color-on-secondary-fixed-variant: #3F3F3F;
  --md-sys-color-tertiary: #F9F9F9;
  --md-sys-color-tertiary-dim: #EBEBEB;
  --md-sys-color-on-tertiary: #555555;
  --md-sys-color-tertiary-container: #EBEBEB;
  --md-sys-color-on-tertiary-container: #4D4D4D;
  --md-sys-color-tertiary-fixed: #FFFFFF;
  --md-sys-color-tertiary-fixed-dim: #F1F1F1;
  --md-sys-color-on-tertiary-fixed: #333333;
  --md-sys-color-on-tertiary-fixed-variant: #505050;
  --md-sys-color-error: #FF9F94;
  --md-sys-color-error-dim: #FF887C;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #DA342E;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #A0A0A0;
  --md-sys-color-control-normal: #2C2C2C;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #F9F9F9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1B1B1B;
  --md-sys-color-text-hint-inverse: #1B1B1B;
  --md-sys-color-widget-background: #303030;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #777777;
  --md-sys-color-secondary-palette-key-color: #777777;
  --md-sys-color-tertiary-palette-key-color: #777777;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #0E0E0E;
  --md-sys-color-on-background: #2C2C2C;
  --md-sys-color-surface: #0E0E0E;
  --md-sys-color-surface-dim: #0E0E0E;
  --md-sys-color-surface-bright: #2C2C2C;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1F1F1F;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #E5E5E5;
  --md-sys-color-outline: #B9B9B9;
  --md-sys-color-outline-variant: #939393;
  --md-sys-color-inverse-surface: #F9F9F9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #F9F9F9;
  --md-sys-color-primary: #F9F9F9;
  --md-sys-color-primary-dim: #EBEBEB;
  --md-sys-color-on-primary: #383838;
  --md-sys-color-primary-container: #A0A0A0;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #EBEBEB;
  --md-sys-color-primary-fixed-dim: #DDDDDD;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #262626;
  --md-sys-color-inverse-primary: #383838;
  --md-sys-color-secondary: #E5E5E5;
  --md-sys-color-secondary-dim: #D7D7D7;
  --md-sys-color-on-secondary: #2C2C2C;
  --md-sys-color-secondary-container: #3B3B3B;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #E2E2E2;
  --md-sys-color-secondary-fixed-dim: #D4D4D4;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #1F1F1F;
  --md-sys-color-tertiary: #F9F9F9;
  --md-sys-color-tertiary-dim: #EBEBEB;
  --md-sys-color-on-tertiary: #383838;
  --md-sys-color-tertiary-container: #EBEBEB;
  --md-sys-color-on-tertiary-container: #2F2F2F;
  --md-sys-color-tertiary-fixed: #FFFFFF;
  --md-sys-color-tertiary-fixed-dim: #F1F1F1;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #333333;
  --md-sys-color-error: #FFDEDA;
  --md-sys-color-error-dim: #FFC8C1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #FF7164;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #A0A0A0;
  --md-sys-color-control-normal: #2C2C2C;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #F9F9F9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1B1B1B;
  --md-sys-color-text-hint-inverse: #1B1B1B;
  --md-sys-color-widget-background: #303030;
}
