.light {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #5F77A4;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #877084;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #FACFD7;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3C2C2F;
  --md-sys-color-surface-container-high: #48373A;
  --md-sys-color-surface-container-highest: #FFD9E0;
  --md-sys-color-on-surface: #FCE2E6;
  --md-sys-color-surface-variant: #FFD9E0;
  --md-sys-color-on-surface-variant: #E1C8CC;
  --md-sys-color-outline: #B7A0A4;
  --md-sys-color-outline-variant: #968084;
  --md-sys-color-inverse-surface: #170B0D;
  --md-sys-color-inverse-on-surface: #AE979B;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #F8C4F4;
  --md-sys-color-primary: #F8C4F4;
  --md-sys-color-primary-dim: #E9B6E6;
  --md-sys-color-on-primary: #4E284F;
  --md-sys-color-primary-container: #603960;
  --md-sys-color-on-primary-container: #FFD2FA;
  --md-sys-color-primary-fixed: #603960;
  --md-sys-color-primary-fixed-dim: #532E54;
  --md-sys-color-on-primary-fixed: #F1BEED;
  --md-sys-color-on-primary-fixed-variant: #C696C4;
  --md-sys-color-inverse-primary: #F8C4F4;
  --md-sys-color-secondary: #FFD4C5;
  --md-sys-color-secondary-dim: #F0C6B8;
  --md-sys-color-on-secondary: #51352B;
  --md-sys-color-secondary-container: #5D4036;
  --md-sys-color-on-secondary-container: #FFD8CB;
  --md-sys-color-secondary-fixed: #5D4036;
  --md-sys-color-secondary-fixed-dim: #50352B;
  --md-sys-color-on-secondary-fixed: #EFC5B7;
  --md-sys-color-on-secondary-fixed-variant: #C49D90;
  --md-sys-color-tertiary: #B7CEFF;
  --md-sys-color-tertiary-dim: #A9C1F2;
  --md-sys-color-on-tertiary: #17315A;
  --md-sys-color-tertiary-container: #8EA5D5;
  --md-sys-color-on-tertiary-container: #00193C;
  --md-sys-color-tertiary-fixed: #8EA5D5;
  --md-sys-color-tertiary-fixed-dim: #8098C7;
  --md-sys-color-on-tertiary-fixed: #000412;
  --md-sys-color-on-tertiary-fixed-variant: #153058;
  --md-sys-color-error: #FFBDC3;
  --md-sys-color-error-dim: #F38593;
  --md-sys-color-on-error: #3F000F;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFD6D9;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #5F77A4;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #877084;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #FACFD7;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3C2C2F;
  --md-sys-color-surface-container-high: #48373A;
  --md-sys-color-surface-container-highest: #FFD9E0;
  --md-sys-color-on-surface: #FFFEFF;
  --md-sys-color-surface-variant: #FFD9E0;
  --md-sys-color-on-surface-variant: #FFFEFF;
  --md-sys-color-outline: #E1C8CC;
  --md-sys-color-outline-variant: #B7A0A4;
  --md-sys-color-inverse-surface: #170B0D;
  --md-sys-color-inverse-on-surface: #D8BFC3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFFEFF;
  --md-sys-color-primary: #FFFEFF;
  --md-sys-color-primary-dim: #F8C4F4;
  --md-sys-color-on-primary: #341136;
  --md-sys-color-primary-container: #603960;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #603960;
  --md-sys-color-primary-fixed-dim: #532E54;
  --md-sys-color-on-primary-fixed: #FFFEFF;
  --md-sys-color-on-primary-fixed-variant: #F1BEED;
  --md-sys-color-inverse-primary: #F8C4F4;
  --md-sys-color-secondary: #FFFEFF;
  --md-sys-color-secondary-dim: #FFD4C5;
  --md-sys-color-on-secondary: #382017;
  --md-sys-color-secondary-container: #5D4036;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #5D4036;
  --md-sys-color-secondary-fixed-dim: #50352B;
  --md-sys-color-on-secondary-fixed: #FFFEFF;
  --md-sys-color-on-secondary-fixed-variant: #EFC5B7;
  --md-sys-color-tertiary: #FFFEFF;
  --md-sys-color-tertiary-dim: #B7CEFF;
  --md-sys-color-on-tertiary: #00193B;
  --md-sys-color-tertiary-container: #9BB3E3;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #8EA5D5;
  --md-sys-color-tertiary-fixed-dim: #8098C7;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000412;
  --md-sys-color-error: #FFFEFF;
  --md-sys-color-error-dim: #FFBDC3;
  --md-sys-color-on-error: #3D000F;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #5F77A4;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #877084;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #FACFD7;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3C2C2F;
  --md-sys-color-surface-container-high: #48373A;
  --md-sys-color-surface-container-highest: #FFD9E0;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #FFD9E0;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FFFEFF;
  --md-sys-color-outline-variant: #E1C8CC;
  --md-sys-color-inverse-surface: #170B0D;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFFFFF;
  --md-sys-color-primary: #FFFFFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #603960;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #603960;
  --md-sys-color-primary-fixed-dim: #532E54;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFEFF;
  --md-sys-color-inverse-primary: #FFFFFF;
  --md-sys-color-secondary: #FFFFFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #5D4036;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #5D4036;
  --md-sys-color-secondary-fixed-dim: #50352B;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFEFF;
  --md-sys-color-tertiary: #FFFFFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #B4CCFE;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #8EA5D5;
  --md-sys-color-tertiary-fixed-dim: #8098C7;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFFFFF;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-widget-background: #FFEBFA;
}
.dark {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #5F77A4;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #877084;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #170B0D;
  --md-sys-color-surface-bright: #3F252B;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3C2C2F;
  --md-sys-color-surface-container-high: #48373A;
  --md-sys-color-surface-container-highest: #381E24;
  --md-sys-color-on-surface: #FCE2E6;
  --md-sys-color-surface-variant: #381E24;
  --md-sys-color-on-surface-variant: #E1C8CC;
  --md-sys-color-outline: #B7A0A4;
  --md-sys-color-outline-variant: #968084;
  --md-sys-color-inverse-surface: #FFF8F7;
  --md-sys-color-inverse-on-surface: #635054;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #F8C4F4;
  --md-sys-color-primary: #F8C4F4;
  --md-sys-color-primary-dim: #E9B6E6;
  --md-sys-color-on-primary: #4E284F;
  --md-sys-color-primary-container: #603960;
  --md-sys-color-on-primary-container: #FFD2FA;
  --md-sys-color-primary-fixed: #603960;
  --md-sys-color-primary-fixed-dim: #532E54;
  --md-sys-color-on-primary-fixed: #F1BEED;
  --md-sys-color-on-primary-fixed-variant: #C696C4;
  --md-sys-color-inverse-primary: #6F476F;
  --md-sys-color-secondary: #FFD4C5;
  --md-sys-color-secondary-dim: #F0C6B8;
  --md-sys-color-on-secondary: #51352B;
  --md-sys-color-secondary-container: #5D4036;
  --md-sys-color-on-secondary-container: #FFD8CB;
  --md-sys-color-secondary-fixed: #5D4036;
  --md-sys-color-secondary-fixed-dim: #50352B;
  --md-sys-color-on-secondary-fixed: #EFC5B7;
  --md-sys-color-on-secondary-fixed-variant: #C49D90;
  --md-sys-color-tertiary: #B7CEFF;
  --md-sys-color-tertiary-dim: #A9C1F2;
  --md-sys-color-on-tertiary: #17315A;
  --md-sys-color-tertiary-container: #8EA5D5;
  --md-sys-color-on-tertiary-container: #00193C;
  --md-sys-color-tertiary-fixed: #8EA5D5;
  --md-sys-color-tertiary-fixed-dim: #8098C7;
  --md-sys-color-on-tertiary-fixed: #000412;
  --md-sys-color-on-tertiary-fixed-variant: #153058;
  --md-sys-color-error: #FFBDC3;
  --md-sys-color-error-dim: #F38593;
  --md-sys-color-on-error: #3F000F;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFD6D9;
  --md-sys-color-widget-background: #472348;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #5F77A4;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #877084;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #170B0D;
  --md-sys-color-surface-bright: #3F252B;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3C2C2F;
  --md-sys-color-surface-container-high: #48373A;
  --md-sys-color-surface-container-highest: #381E24;
  --md-sys-color-on-surface: #FFFEFF;
  --md-sys-color-surface-variant: #381E24;
  --md-sys-color-on-surface-variant: #FFFEFF;
  --md-sys-color-outline: #E1C8CC;
  --md-sys-color-outline-variant: #B7A0A4;
  --md-sys-color-inverse-surface: #FFF8F7;
  --md-sys-color-inverse-on-surface: #453437;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFFEFF;
  --md-sys-color-primary: #FFFEFF;
  --md-sys-color-primary-dim: #F8C4F4;
  --md-sys-color-on-primary: #341136;
  --md-sys-color-primary-container: #603960;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #603960;
  --md-sys-color-primary-fixed-dim: #532E54;
  --md-sys-color-on-primary-fixed: #FFFEFF;
  --md-sys-color-on-primary-fixed-variant: #F1BEED;
  --md-sys-color-inverse-primary: #502A51;
  --md-sys-color-secondary: #FFFEFF;
  --md-sys-color-secondary-dim: #FFD4C5;
  --md-sys-color-on-secondary: #382017;
  --md-sys-color-secondary-container: #5D4036;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #5D4036;
  --md-sys-color-secondary-fixed-dim: #50352B;
  --md-sys-color-on-secondary-fixed: #FFFEFF;
  --md-sys-color-on-secondary-fixed-variant: #EFC5B7;
  --md-sys-color-tertiary: #FFFEFF;
  --md-sys-color-tertiary-dim: #B7CEFF;
  --md-sys-color-on-tertiary: #00193B;
  --md-sys-color-tertiary-container: #9BB3E3;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #8EA5D5;
  --md-sys-color-tertiary-fixed-dim: #8098C7;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000412;
  --md-sys-color-error: #FFFEFF;
  --md-sys-color-error-dim: #FFBDC3;
  --md-sys-color-on-error: #3D000F;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-widget-background: #472348;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #5F77A4;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #877084;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #170B0D;
  --md-sys-color-surface-bright: #3F252B;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3C2C2F;
  --md-sys-color-surface-container-high: #48373A;
  --md-sys-color-surface-container-highest: #381E24;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #381E24;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FFFEFF;
  --md-sys-color-outline-variant: #E1C8CC;
  --md-sys-color-inverse-surface: #FFF8F7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFFFFF;
  --md-sys-color-primary: #FFFFFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #603960;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #603960;
  --md-sys-color-primary-fixed-dim: #532E54;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFEFF;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-secondary: #FFFFFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #5D4036;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #5D4036;
  --md-sys-color-secondary-fixed-dim: #50352B;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFEFF;
  --md-sys-color-tertiary: #FFFFFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #B4CCFE;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #8EA5D5;
  --md-sys-color-tertiary-fixed-dim: #8098C7;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFFFFF;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-widget-background: #472348;
}
