.light {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #F9F9F9;
  --md-sys-color-on-background: #1B1B1B;
  --md-sys-color-surface: #F9F9F9;
  --md-sys-color-surface-dim: #DADADA;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F3F3F3;
  --md-sys-color-surface-container: #EEEEEE;
  --md-sys-color-surface-container-high: #E8E8E8;
  --md-sys-color-surface-container-highest: #E2E2E2;
  --md-sys-color-on-surface: #1B1B1B;
  --md-sys-color-surface-variant: #E2E2E2;
  --md-sys-color-on-surface-variant: #474747;
  --md-sys-color-outline: #777777;
  --md-sys-color-outline-variant: #C6C6C6;
  --md-sys-color-inverse-surface: #303030;
  --md-sys-color-inverse-on-surface: #F1F1F1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #87458A;
  --md-sys-color-primary: #87458A;
  --md-sys-color-primary-dim: #924F94;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #FFD6FA;
  --md-sys-color-on-primary-container: #6C2D70;
  --md-sys-color-primary-fixed: #FFD6FA;
  --md-sys-color-primary-fixed-dim: #FAACF9;
  --md-sys-color-on-primary-fixed: #36003C;
  --md-sys-color-on-primary-fixed-variant: #6C2D70;
  --md-sys-color-inverse-primary: #FAACF9;
  --md-sys-color-secondary: #77574C;
  --md-sys-color-secondary-dim: #816055;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #FFDBCF;
  --md-sys-color-on-secondary-container: #5D4036;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #E7BDB0;
  --md-sys-color-on-secondary-fixed: #2C160D;
  --md-sys-color-on-secondary-fixed-variant: #5D4036;
  --md-sys-color-tertiary: #5A5B7E;
  --md-sys-color-tertiary-dim: #646588;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #E1E0FF;
  --md-sys-color-on-tertiary-container: #434465;
  --md-sys-color-tertiary-fixed: #E1E0FF;
  --md-sys-color-tertiary-fixed-dim: #C3C3EB;
  --md-sys-color-on-tertiary-fixed: #171837;
  --md-sys-color-on-tertiary-fixed-variant: #434465;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #F9F9F9;
  --md-sys-color-on-background: #1B1B1B;
  --md-sys-color-surface: #F9F9F9;
  --md-sys-color-surface-dim: #C6C6C6;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F3F3F3;
  --md-sys-color-surface-container: #E8E8E8;
  --md-sys-color-surface-container-high: #DDDDDD;
  --md-sys-color-surface-container-highest: #D1D1D1;
  --md-sys-color-on-surface: #111111;
  --md-sys-color-surface-variant: #E2E2E2;
  --md-sys-color-on-surface-variant: #363636;
  --md-sys-color-outline: #525252;
  --md-sys-color-outline-variant: #6D6D6D;
  --md-sys-color-inverse-surface: #303030;
  --md-sys-color-inverse-on-surface: #F1F1F1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #87458A;
  --md-sys-color-primary: #591B5E;
  --md-sys-color-primary-dim: #6A2B6E;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #985499;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #985499;
  --md-sys-color-primary-fixed-dim: #7C3B7F;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #FAACF9;
  --md-sys-color-secondary: #4A3026;
  --md-sys-color-secondary-dim: #5A3E34;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #87655A;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #87655A;
  --md-sys-color-secondary-fixed-dim: #6C4E43;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #323353;
  --md-sys-color-tertiary-dim: #404262;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #696A8D;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #696A8D;
  --md-sys-color-tertiary-fixed-dim: #515273;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8F0009;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #CF2C27;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #F9F9F9;
  --md-sys-color-on-background: #1B1B1B;
  --md-sys-color-surface: #F9F9F9;
  --md-sys-color-surface-dim: #B9B9B9;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F1F1F1;
  --md-sys-color-surface-container: #E2E2E2;
  --md-sys-color-surface-container-high: #D4D4D4;
  --md-sys-color-surface-container-highest: #C6C6C6;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E2E2E2;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #2C2C2C;
  --md-sys-color-outline-variant: #494949;
  --md-sys-color-inverse-surface: #303030;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #87458A;
  --md-sys-color-primary: #4D0E53;
  --md-sys-color-primary-dim: #3D0043;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #6F2F73;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #6F2F73;
  --md-sys-color-primary-fixed-dim: #55165A;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #FAACF9;
  --md-sys-color-secondary: #3F261D;
  --md-sys-color-secondary-dim: #311911;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #604238;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #604238;
  --md-sys-color-secondary-fixed-dim: #462C23;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #282948;
  --md-sys-color-tertiary-dim: #1B1C3B;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #454667;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #454667;
  --md-sys-color-tertiary-fixed-dim: #2E304F;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #98000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-widget-background: #FFEBFA;
}
.dark {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #E2E2E2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #393939;
  --md-sys-color-surface-container-lowest: #0E0E0E;
  --md-sys-color-surface-container-low: #1B1B1B;
  --md-sys-color-surface-container: #1F1F1F;
  --md-sys-color-surface-container-high: #2A2A2A;
  --md-sys-color-surface-container-highest: #353535;
  --md-sys-color-on-surface: #E2E2E2;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #C6C6C6;
  --md-sys-color-outline: #919191;
  --md-sys-color-outline-variant: #474747;
  --md-sys-color-inverse-surface: #E2E2E2;
  --md-sys-color-inverse-on-surface: #303030;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FAACF9;
  --md-sys-color-primary: #FAACF9;
  --md-sys-color-primary-dim: #FFC0FC;
  --md-sys-color-on-primary: #521458;
  --md-sys-color-primary-container: #6C2D70;
  --md-sys-color-on-primary-container: #FFD6FA;
  --md-sys-color-primary-fixed: #FFD6FA;
  --md-sys-color-primary-fixed-dim: #FAACF9;
  --md-sys-color-on-primary-fixed: #36003C;
  --md-sys-color-on-primary-fixed-variant: #6C2D70;
  --md-sys-color-inverse-primary: #87458A;
  --md-sys-color-secondary: #E7BDB0;
  --md-sys-color-secondary-dim: #FFD4C5;
  --md-sys-color-on-secondary: #442A21;
  --md-sys-color-secondary-container: #5D4036;
  --md-sys-color-on-secondary-container: #FFDBCF;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #E7BDB0;
  --md-sys-color-on-secondary-fixed: #2C160D;
  --md-sys-color-on-secondary-fixed-variant: #5D4036;
  --md-sys-color-tertiary: #C3C3EB;
  --md-sys-color-tertiary-dim: #D1D1F9;
  --md-sys-color-on-tertiary: #2C2E4D;
  --md-sys-color-tertiary-container: #434465;
  --md-sys-color-on-tertiary-container: #E1E0FF;
  --md-sys-color-tertiary-fixed: #E1E0FF;
  --md-sys-color-tertiary-fixed-dim: #C3C3EB;
  --md-sys-color-on-tertiary-fixed: #171837;
  --md-sys-color-on-tertiary-fixed-variant: #434465;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-widget-background: #521458;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #E2E2E2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #444444;
  --md-sys-color-surface-container-lowest: #070707;
  --md-sys-color-surface-container-low: #1D1D1D;
  --md-sys-color-surface-container: #282828;
  --md-sys-color-surface-container-high: #323232;
  --md-sys-color-surface-container-highest: #3E3E3E;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #DCDCDC;
  --md-sys-color-outline: #B2B2B2;
  --md-sys-color-outline-variant: #909090;
  --md-sys-color-inverse-surface: #E2E2E2;
  --md-sys-color-inverse-on-surface: #2A2A2A;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FAACF9;
  --md-sys-color-primary: #FFCDFB;
  --md-sys-color-primary-dim: #FFC0FC;
  --md-sys-color-on-primary: #45044C;
  --md-sys-color-primary-container: #BF77C0;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #FFD6FA;
  --md-sys-color-primary-fixed-dim: #FAACF9;
  --md-sys-color-on-primary-fixed: #25002A;
  --md-sys-color-on-primary-fixed-variant: #591B5E;
  --md-sys-color-inverse-primary: #6E2E71;
  --md-sys-color-secondary: #FED3C5;
  --md-sys-color-secondary-dim: #FFD4C5;
  --md-sys-color-on-secondary: #381F17;
  --md-sys-color-secondary-container: #AD887C;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #E7BDB0;
  --md-sys-color-on-secondary-fixed: #200B05;
  --md-sys-color-on-secondary-fixed-variant: #4A3026;
  --md-sys-color-tertiary: #D9D9FF;
  --md-sys-color-tertiary-dim: #D1D1F9;
  --md-sys-color-on-tertiary: #212341;
  --md-sys-color-tertiary-container: #8D8EB3;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #E1E0FF;
  --md-sys-color-tertiary-fixed-dim: #C3C3EB;
  --md-sys-color-on-tertiary-fixed: #0C0E2C;
  --md-sys-color-on-tertiary-fixed-variant: #323353;
  --md-sys-color-error: #FFD2CC;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #FF5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-widget-background: #521458;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #E2E2E2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #505050;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1F1F1F;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3B3B3B;
  --md-sys-color-surface-container-highest: #474747;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #F0F0F0;
  --md-sys-color-outline-variant: #C2C2C2;
  --md-sys-color-inverse-surface: #E2E2E2;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FAACF9;
  --md-sys-color-primary: #FFEAFA;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #F6A8F5;
  --md-sys-color-on-primary-container: #1C001F;
  --md-sys-color-primary-fixed: #FFD6FA;
  --md-sys-color-primary-fixed-dim: #FAACF9;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #25002A;
  --md-sys-color-inverse-primary: #6E2E71;
  --md-sys-color-secondary: #FFECE6;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #E3BAAC;
  --md-sys-color-on-secondary-container: #190602;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #E7BDB0;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #200B05;
  --md-sys-color-tertiary: #F1EEFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #BFBFE7;
  --md-sys-color-on-tertiary-container: #060726;
  --md-sys-color-tertiary-fixed: #E1E0FF;
  --md-sys-color-tertiary-fixed-dim: #C3C3EB;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0C0E2C;
  --md-sys-color-error: #FFECE9;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #FFAEA4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-widget-background: #521458;
}
