.light {
  --md-sys-color-primary-palette-key-color: #9B639B;
  --md-sys-color-secondary-palette-key-color: #5B7B91;
  --md-sys-color-tertiary-palette-key-color: #9E5FAA;
  --md-sys-color-neutral-palette-key-color: #8B7172;
  --md-sys-color-neutral-variant-palette-key-color: #906B8E;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #FFCED0;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #342122;
  --md-sys-color-surface-container: #3F2B2C;
  --md-sys-color-surface-container-high: #4B3637;
  --md-sys-color-surface-container-highest: #FFDADB;
  --md-sys-color-on-surface: #FFE1E2;
  --md-sys-color-surface-variant: #FFDADB;
  --md-sys-color-on-surface-variant: #E6C7C7;
  --md-sys-color-outline: #BC9F9F;
  --md-sys-color-outline-variant: #9A7F80;
  --md-sys-color-inverse-surface: #190A0B;
  --md-sys-color-inverse-on-surface: #B39697;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FEBCFB;
  --md-sys-color-primary: #FEBCFB;
  --md-sys-color-primary-dim: #EFAFEC;
  --md-sys-color-on-primary: #512154;
  --md-sys-color-primary-container: #663468;
  --md-sys-color-on-primary-container: #FFD2FA;
  --md-sys-color-primary-fixed: #663468;
  --md-sys-color-primary-fixed-dim: #59285C;
  --md-sys-color-on-primary-fixed: #FAB9F7;
  --md-sys-color-on-primary-fixed-variant: #CE91CD;
  --md-sys-color-inverse-primary: #FEBCFB;
  --md-sys-color-secondary: #B7D9F2;
  --md-sys-color-secondary-dim: #AACBE3;
  --md-sys-color-on-secondary: #173A4D;
  --md-sys-color-secondary-container: #2A4A5F;
  --md-sys-color-on-secondary-container: #C3E5FE;
  --md-sys-color-secondary-fixed: #2A4A5F;
  --md-sys-color-secondary-fixed-dim: #1D3F53;
  --md-sys-color-on-secondary-fixed: #B1D2EB;
  --md-sys-color-on-secondary-fixed-variant: #89AAC1;
  --md-sys-color-tertiary: #F6B9FF;
  --md-sys-color-tertiary-dim: #EDA8F9;
  --md-sys-color-on-tertiary: #50175F;
  --md-sys-color-tertiary-container: #D08DDC;
  --md-sys-color-on-tertiary-container: #32003F;
  --md-sys-color-tertiary-fixed: #D08DDC;
  --md-sys-color-tertiary-fixed-dim: #C280CE;
  --md-sys-color-on-tertiary-fixed: #0D0013;
  --md-sys-color-on-tertiary-fixed-variant: #4E155D;
  --md-sys-color-error: #FFBDC3;
  --md-sys-color-error-dim: #F38593;
  --md-sys-color-on-error: #3F000F;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFD6D9;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #9B639B;
  --md-sys-color-secondary-palette-key-color: #5B7B91;
  --md-sys-color-tertiary-palette-key-color: #9E5FAA;
  --md-sys-color-neutral-palette-key-color: #8B7172;
  --md-sys-color-neutral-variant-palette-key-color: #906B8E;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #FFCED0;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #342122;
  --md-sys-color-surface-container: #3F2B2C;
  --md-sys-color-surface-container-high: #4B3637;
  --md-sys-color-surface-container-highest: #FFDADB;
  --md-sys-color-on-surface: #FFFEFF;
  --md-sys-color-surface-variant: #FFDADB;
  --md-sys-color-on-surface-variant: #FFFEFF;
  --md-sys-color-outline: #E6C7C7;
  --md-sys-color-outline-variant: #BC9F9F;
  --md-sys-color-inverse-surface: #190A0B;
  --md-sys-color-inverse-on-surface: #DDBDBE;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFFEFF;
  --md-sys-color-primary: #FFFEFF;
  --md-sys-color-primary-dim: #FEBCFB;
  --md-sys-color-on-primary: #36063B;
  --md-sys-color-primary-container: #663468;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #663468;
  --md-sys-color-primary-fixed-dim: #59285C;
  --md-sys-color-on-primary-fixed: #FFFEFF;
  --md-sys-color-on-primary-fixed-variant: #FAB9F7;
  --md-sys-color-inverse-primary: #FEBCFB;
  --md-sys-color-secondary: #FFFEFF;
  --md-sys-color-secondary-dim: #B7D9F2;
  --md-sys-color-on-secondary: #002233;
  --md-sys-color-secondary-container: #2A4A5F;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #2A4A5F;
  --md-sys-color-secondary-fixed-dim: #1D3F53;
  --md-sys-color-on-secondary-fixed: #FFFEFF;
  --md-sys-color-on-secondary-fixed-variant: #B1D2EB;
  --md-sys-color-tertiary: #FFFEFF;
  --md-sys-color-tertiary-dim: #F6B9FF;
  --md-sys-color-on-tertiary: #31003E;
  --md-sys-color-tertiary-container: #DE9AEA;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #D08DDC;
  --md-sys-color-tertiary-fixed-dim: #C280CE;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0D0013;
  --md-sys-color-error: #FFFEFF;
  --md-sys-color-error-dim: #FFBDC3;
  --md-sys-color-on-error: #3D000F;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #9B639B;
  --md-sys-color-secondary-palette-key-color: #5B7B91;
  --md-sys-color-tertiary-palette-key-color: #9E5FAA;
  --md-sys-color-neutral-palette-key-color: #8B7172;
  --md-sys-color-neutral-variant-palette-key-color: #906B8E;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #FFCED0;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #342122;
  --md-sys-color-surface-container: #3F2B2C;
  --md-sys-color-surface-container-high: #4B3637;
  --md-sys-color-surface-container-highest: #FFDADB;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #FFDADB;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FFFEFF;
  --md-sys-color-outline-variant: #E6C7C7;
  --md-sys-color-inverse-surface: #190A0B;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFFFFF;
  --md-sys-color-primary: #FFFFFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #663468;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #663468;
  --md-sys-color-primary-fixed-dim: #59285C;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFEFF;
  --md-sys-color-inverse-primary: #FFFFFF;
  --md-sys-color-secondary: #FFFFFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #2A4A5F;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #2A4A5F;
  --md-sys-color-secondary-fixed-dim: #1D3F53;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFEFF;
  --md-sys-color-tertiary: #FFFFFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #EEA8FA;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #D08DDC;
  --md-sys-color-tertiary-fixed-dim: #C280CE;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFFFFF;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-widget-background: #FFEBFA;
}
.dark {
  --md-sys-color-primary-palette-key-color: #9B639B;
  --md-sys-color-secondary-palette-key-color: #5B7B91;
  --md-sys-color-tertiary-palette-key-color: #9E5FAA;
  --md-sys-color-neutral-palette-key-color: #8B7172;
  --md-sys-color-neutral-variant-palette-key-color: #906B8E;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #190A0B;
  --md-sys-color-surface-bright: #442225;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #342122;
  --md-sys-color-surface-container: #3F2B2C;
  --md-sys-color-surface-container-high: #4B3637;
  --md-sys-color-surface-container-highest: #3B1D1F;
  --md-sys-color-on-surface: #FFFEFF;
  --md-sys-color-surface-variant: #3B1D1F;
  --md-sys-color-on-surface-variant: #E6C7C7;
  --md-sys-color-outline: #BC9F9F;
  --md-sys-color-outline-variant: #9A7F80;
  --md-sys-color-inverse-surface: #FFF8F7;
  --md-sys-color-inverse-on-surface: #674F50;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FEBCFB;
  --md-sys-color-primary: #FEBCFB;
  --md-sys-color-primary-dim: #EFAFEC;
  --md-sys-color-on-primary: #512154;
  --md-sys-color-primary-container: #663468;
  --md-sys-color-on-primary-container: #FFD2FA;
  --md-sys-color-primary-fixed: #663468;
  --md-sys-color-primary-fixed-dim: #59285C;
  --md-sys-color-on-primary-fixed: #FAB9F7;
  --md-sys-color-on-primary-fixed-variant: #CE91CD;
  --md-sys-color-inverse-primary: #764277;
  --md-sys-color-secondary: #B7D9F2;
  --md-sys-color-secondary-dim: #AACBE3;
  --md-sys-color-on-secondary: #173A4D;
  --md-sys-color-secondary-container: #2A4A5F;
  --md-sys-color-on-secondary-container: #C3E5FE;
  --md-sys-color-secondary-fixed: #2A4A5F;
  --md-sys-color-secondary-fixed-dim: #1D3F53;
  --md-sys-color-on-secondary-fixed: #B1D2EB;
  --md-sys-color-on-secondary-fixed-variant: #89AAC1;
  --md-sys-color-tertiary: #F6B9FF;
  --md-sys-color-tertiary-dim: #EDA8F9;
  --md-sys-color-on-tertiary: #50175F;
  --md-sys-color-tertiary-container: #D08DDC;
  --md-sys-color-on-tertiary-container: #32003F;
  --md-sys-color-tertiary-fixed: #D08DDC;
  --md-sys-color-tertiary-fixed-dim: #C280CE;
  --md-sys-color-on-tertiary-fixed: #0D0013;
  --md-sys-color-on-tertiary-fixed-variant: #4E155D;
  --md-sys-color-error: #FFBDC3;
  --md-sys-color-error-dim: #F38593;
  --md-sys-color-on-error: #3F000F;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFD6D9;
  --md-sys-color-widget-background: #4D1C50;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #9B639B;
  --md-sys-color-secondary-palette-key-color: #5B7B91;
  --md-sys-color-tertiary-palette-key-color: #9E5FAA;
  --md-sys-color-neutral-palette-key-color: #8B7172;
  --md-sys-color-neutral-variant-palette-key-color: #906B8E;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #190A0B;
  --md-sys-color-surface-bright: #442225;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #342122;
  --md-sys-color-surface-container: #3F2B2C;
  --md-sys-color-surface-container-high: #4B3637;
  --md-sys-color-surface-container-highest: #3B1D1F;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #3B1D1F;
  --md-sys-color-on-surface-variant: #FFFEFF;
  --md-sys-color-outline: #E6C7C7;
  --md-sys-color-outline-variant: #BC9F9F;
  --md-sys-color-inverse-surface: #FFF8F7;
  --md-sys-color-inverse-on-surface: #483334;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFFEFF;
  --md-sys-color-primary: #FFFEFF;
  --md-sys-color-primary-dim: #FEBCFB;
  --md-sys-color-on-primary: #36063B;
  --md-sys-color-primary-container: #663468;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #663468;
  --md-sys-color-primary-fixed-dim: #59285C;
  --md-sys-color-on-primary-fixed: #FFFEFF;
  --md-sys-color-on-primary-fixed-variant: #FAB9F7;
  --md-sys-color-inverse-primary: #562558;
  --md-sys-color-secondary: #FFFEFF;
  --md-sys-color-secondary-dim: #B7D9F2;
  --md-sys-color-on-secondary: #002233;
  --md-sys-color-secondary-container: #2A4A5F;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #2A4A5F;
  --md-sys-color-secondary-fixed-dim: #1D3F53;
  --md-sys-color-on-secondary-fixed: #FFFEFF;
  --md-sys-color-on-secondary-fixed-variant: #B1D2EB;
  --md-sys-color-tertiary: #FFFEFF;
  --md-sys-color-tertiary-dim: #F6B9FF;
  --md-sys-color-on-tertiary: #31003E;
  --md-sys-color-tertiary-container: #DE9AEA;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #D08DDC;
  --md-sys-color-tertiary-fixed-dim: #C280CE;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0D0013;
  --md-sys-color-error: #FFFEFF;
  --md-sys-color-error-dim: #FFBDC3;
  --md-sys-color-on-error: #3D000F;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-widget-background: #4D1C50;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #9B639B;
  --md-sys-color-secondary-palette-key-color: #5B7B91;
  --md-sys-color-tertiary-palette-key-color: #9E5FAA;
  --md-sys-color-neutral-palette-key-color: #8B7172;
  --md-sys-color-neutral-variant-palette-key-color: #906B8E;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #190A0B;
  --md-sys-color-surface-bright: #442225;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #342122;
  --md-sys-color-surface-container: #3F2B2C;
  --md-sys-color-surface-container-high: #4B3637;
  --md-sys-color-surface-container-highest: #3B1D1F;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #3B1D1F;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FFFEFF;
  --md-sys-color-outline-variant: #E6C7C7;
  --md-sys-color-inverse-surface: #FFF8F7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFFFFF;
  --md-sys-color-primary: #FFFFFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #663468;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #663468;
  --md-sys-color-primary-fixed-dim: #59285C;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFEFF;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-secondary: #FFFFFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #2A4A5F;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #2A4A5F;
  --md-sys-color-secondary-fixed-dim: #1D3F53;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFEFF;
  --md-sys-color-tertiary: #FFFFFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #EEA8FA;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #D08DDC;
  --md-sys-color-tertiary-fixed-dim: #C280CE;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFFFFF;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-widget-background: #4D1C50;
}
