.light {
  --md-sys-color-primary-palette-key-color: #A85AAA;
  --md-sys-color-secondary-palette-key-color: #A36853;
  --md-sys-color-tertiary-palette-key-color: #F2D8FF;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737E;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #3D3B3B;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #DED9D8;
  --md-sys-color-surface-bright: #FDF8F8;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #272525;
  --md-sys-color-surface-container: #323030;
  --md-sys-color-surface-container-high: #3D3B3B;
  --md-sys-color-surface-container-highest: #323030;
  --md-sys-color-on-surface: #ECE7E6;
  --md-sys-color-surface-variant: #323030;
  --md-sys-color-on-surface-variant: #D1CDCC;
  --md-sys-color-outline: #A9A5A4;
  --md-sys-color-outline-variant: #888585;
  --md-sys-color-inverse-surface: #0F0E0E;
  --md-sys-color-inverse-on-surface: #A09C9C;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FDA5FC;
  --md-sys-color-primary: #FFB6FD;
  --md-sys-color-primary-dim: #F9A2F9;
  --md-sys-color-on-primary: #570D5F;
  --md-sys-color-primary-container: #702776;
  --md-sys-color-on-primary-container: #FFD2FA;
  --md-sys-color-primary-fixed: #702776;
  --md-sys-color-primary-fixed-dim: #631A69;
  --md-sys-color-on-primary-fixed: #FFB6FD;
  --md-sys-color-on-primary-fixed-variant: #DC88DC;
  --md-sys-color-inverse-primary: #FDA5FC;
  --md-sys-color-secondary: #FFC0AA;
  --md-sys-color-secondary-dim: #F6B098;
  --md-sys-color-on-secondary: #512515;
  --md-sys-color-secondary-container: #6B3A28;
  --md-sys-color-on-secondary-container: #FFD8CB;
  --md-sys-color-secondary-fixed: #6B3A28;
  --md-sys-color-secondary-fixed-dim: #5D2F1D;
  --md-sys-color-on-secondary-fixed: #FFC0AA;
  --md-sys-color-on-secondary-fixed-variant: #D8967F;
  --md-sys-color-tertiary: #F1D7FE;
  --md-sys-color-tertiary-dim: #E2C9EF;
  --md-sys-color-on-tertiary: #493655;
  --md-sys-color-tertiary-container: #C6ADD3;
  --md-sys-color-on-tertiary-container: #342340;
  --md-sys-color-tertiary-fixed: #C6ADD3;
  --md-sys-color-tertiary-fixed-dim: #DB9981;
  --md-sys-color-on-tertiary-fixed: #271733;
  --md-sys-color-on-tertiary-fixed-variant: #493655;
  --md-sys-color-error: #FFBEB7;
  --md-sys-color-error-dim: #FF8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFD7D2;
  --md-sys-color-control-activated: #702776;
  --md-sys-color-control-normal: #3D3B3B;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0F0E0E;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D3C1CE;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E1;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E1;
  --md-sys-color-text-hint-inverse: #E6E1E1;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #A85AAA;
  --md-sys-color-secondary-palette-key-color: #A36853;
  --md-sys-color-tertiary-palette-key-color: #F2D8FF;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737E;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #3D3B3B;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #DED9D8;
  --md-sys-color-surface-bright: #FDF8F8;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #272525;
  --md-sys-color-surface-container: #323030;
  --md-sys-color-surface-container-high: #3D3B3B;
  --md-sys-color-surface-container-highest: #323030;
  --md-sys-color-on-surface: #FFFEFF;
  --md-sys-color-surface-variant: #323030;
  --md-sys-color-on-surface-variant: #FFFEFF;
  --md-sys-color-outline: #D1CDCC;
  --md-sys-color-outline-variant: #A9A5A4;
  --md-sys-color-inverse-surface: #0F0E0E;
  --md-sys-color-inverse-on-surface: #C8C4C3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FDA5FC;
  --md-sys-color-primary: #FFFEFF;
  --md-sys-color-primary-dim: #FFB6FD;
  --md-sys-color-on-primary: #330039;
  --md-sys-color-primary-container: #702776;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #702776;
  --md-sys-color-primary-fixed-dim: #631A69;
  --md-sys-color-on-primary-fixed: #FFFEFF;
  --md-sys-color-on-primary-fixed-variant: #FFB6FD;
  --md-sys-color-inverse-primary: #FDA5FC;
  --md-sys-color-secondary: #FFFEFF;
  --md-sys-color-secondary-dim: #FFC0AA;
  --md-sys-color-on-secondary: #330E02;
  --md-sys-color-secondary-container: #6B3A28;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #6B3A28;
  --md-sys-color-secondary-fixed-dim: #5D2F1D;
  --md-sys-color-on-secondary-fixed: #FFFEFF;
  --md-sys-color-on-secondary-fixed-variant: #FFC0AA;
  --md-sys-color-tertiary: #FFFEFF;
  --md-sys-color-tertiary-dim: #F1D7FE;
  --md-sys-color-on-tertiary: #32213E;
  --md-sys-color-tertiary-container: #D4BBE1;
  --md-sys-color-on-tertiary-container: #160622;
  --md-sys-color-tertiary-fixed: #C6ADD3;
  --md-sys-color-tertiary-fixed-dim: #DB9981;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #271733;
  --md-sys-color-error: #FFFEFF;
  --md-sys-color-error-dim: #FFBEB7;
  --md-sys-color-on-error: #3D0002;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #702776;
  --md-sys-color-control-normal: #3D3B3B;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0F0E0E;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D3C1CE;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E1;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E1;
  --md-sys-color-text-hint-inverse: #E6E1E1;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #A85AAA;
  --md-sys-color-secondary-palette-key-color: #A36853;
  --md-sys-color-tertiary-palette-key-color: #F2D8FF;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737E;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #3D3B3B;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #DED9D8;
  --md-sys-color-surface-bright: #FDF8F8;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #272525;
  --md-sys-color-surface-container: #323030;
  --md-sys-color-surface-container-high: #3D3B3B;
  --md-sys-color-surface-container-highest: #323030;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #323030;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FFFEFF;
  --md-sys-color-outline-variant: #D1CDCC;
  --md-sys-color-inverse-surface: #0F0E0E;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FDA5FC;
  --md-sys-color-primary: #FFFFFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #702776;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #702776;
  --md-sys-color-primary-fixed-dim: #631A69;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFEFF;
  --md-sys-color-inverse-primary: #FFFFFF;
  --md-sys-color-secondary: #FFFFFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #6B3A28;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #6B3A28;
  --md-sys-color-secondary-fixed-dim: #5D2F1D;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFEFF;
  --md-sys-color-tertiary: #FFFFFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #F1D7FE;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #C6ADD3;
  --md-sys-color-tertiary-fixed-dim: #DB9981;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFFFFF;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #702776;
  --md-sys-color-control-normal: #3D3B3B;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0F0E0E;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D3C1CE;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E1;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E1;
  --md-sys-color-text-hint-inverse: #E6E1E1;
  --md-sys-color-widget-background: #FFEBFA;
}
.dark {
  --md-sys-color-primary-palette-key-color: #A85AAA;
  --md-sys-color-secondary-palette-key-color: #A36853;
  --md-sys-color-tertiary-palette-key-color: #F2D8FF;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737E;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #3D3B3B;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0F0E0E;
  --md-sys-color-surface-bright: #2D2C2C;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #272525;
  --md-sys-color-surface-container: #323030;
  --md-sys-color-surface-container-high: #3D3B3B;
  --md-sys-color-surface-container-highest: #323030;
  --md-sys-color-on-surface: #FFFEFF;
  --md-sys-color-surface-variant: #323030;
  --md-sys-color-on-surface-variant: #D1CDCC;
  --md-sys-color-outline: #A9A5A4;
  --md-sys-color-outline-variant: #888585;
  --md-sys-color-inverse-surface: #FDF8F8;
  --md-sys-color-inverse-on-surface: #575454;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FDA5FC;
  --md-sys-color-primary: #FFB6FD;
  --md-sys-color-primary-dim: #F9A2F9;
  --md-sys-color-on-primary: #570D5F;
  --md-sys-color-primary-container: #702776;
  --md-sys-color-on-primary-container: #FFD2FA;
  --md-sys-color-primary-fixed: #702776;
  --md-sys-color-primary-fixed-dim: #631A69;
  --md-sys-color-on-primary-fixed: #FFB6FD;
  --md-sys-color-on-primary-fixed-variant: #DC88DC;
  --md-sys-color-inverse-primary: #813785;
  --md-sys-color-secondary: #FFC0AA;
  --md-sys-color-secondary-dim: #F6B098;
  --md-sys-color-on-secondary: #512515;
  --md-sys-color-secondary-container: #6B3A28;
  --md-sys-color-on-secondary-container: #FFD8CB;
  --md-sys-color-secondary-fixed: #6B3A28;
  --md-sys-color-secondary-fixed-dim: #5D2F1D;
  --md-sys-color-on-secondary-fixed: #FFC0AA;
  --md-sys-color-on-secondary-fixed-variant: #D8967F;
  --md-sys-color-tertiary: #F1D7FE;
  --md-sys-color-tertiary-dim: #E2C9EF;
  --md-sys-color-on-tertiary: #493655;
  --md-sys-color-tertiary-container: #C6ADD3;
  --md-sys-color-on-tertiary-container: #342340;
  --md-sys-color-tertiary-fixed: #C6ADD3;
  --md-sys-color-tertiary-fixed-dim: #DB9981;
  --md-sys-color-on-tertiary-fixed: #271733;
  --md-sys-color-on-tertiary-fixed-variant: #493655;
  --md-sys-color-error: #FFBEB7;
  --md-sys-color-error-dim: #FF8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFD7D2;
  --md-sys-color-control-activated: #702776;
  --md-sys-color-control-normal: #3D3B3B;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FDF8F8;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4F434E;
  --md-sys-color-text-primary-inverse-disable-only: #1C1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1C1B1B;
  --md-sys-color-text-hint-inverse: #1C1B1B;
  --md-sys-color-widget-background: #560A5D;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #A85AAA;
  --md-sys-color-secondary-palette-key-color: #A36853;
  --md-sys-color-tertiary-palette-key-color: #F2D8FF;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737E;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #3D3B3B;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0F0E0E;
  --md-sys-color-surface-bright: #2D2C2C;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #272525;
  --md-sys-color-surface-container: #323030;
  --md-sys-color-surface-container-high: #3D3B3B;
  --md-sys-color-surface-container-highest: #323030;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #323030;
  --md-sys-color-on-surface-variant: #FFFEFF;
  --md-sys-color-outline: #D1CDCC;
  --md-sys-color-outline-variant: #A9A5A4;
  --md-sys-color-inverse-surface: #FDF8F8;
  --md-sys-color-inverse-on-surface: #393838;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FDA5FC;
  --md-sys-color-primary: #FFFEFF;
  --md-sys-color-primary-dim: #FFB6FD;
  --md-sys-color-on-primary: #330039;
  --md-sys-color-primary-container: #702776;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #702776;
  --md-sys-color-primary-fixed-dim: #631A69;
  --md-sys-color-on-primary-fixed: #FFFEFF;
  --md-sys-color-on-primary-fixed-variant: #FFB6FD;
  --md-sys-color-inverse-primary: #5F1666;
  --md-sys-color-secondary: #FFFEFF;
  --md-sys-color-secondary-dim: #FFC0AA;
  --md-sys-color-on-secondary: #330E02;
  --md-sys-color-secondary-container: #6B3A28;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #6B3A28;
  --md-sys-color-secondary-fixed-dim: #5D2F1D;
  --md-sys-color-on-secondary-fixed: #FFFEFF;
  --md-sys-color-on-secondary-fixed-variant: #FFC0AA;
  --md-sys-color-tertiary: #FFFEFF;
  --md-sys-color-tertiary-dim: #F1D7FE;
  --md-sys-color-on-tertiary: #32213E;
  --md-sys-color-tertiary-container: #D4BBE1;
  --md-sys-color-on-tertiary-container: #160622;
  --md-sys-color-tertiary-fixed: #C6ADD3;
  --md-sys-color-tertiary-fixed-dim: #DB9981;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #271733;
  --md-sys-color-error: #FFFEFF;
  --md-sys-color-error-dim: #FFBEB7;
  --md-sys-color-on-error: #3D0002;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #702776;
  --md-sys-color-control-normal: #3D3B3B;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FDF8F8;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4F434E;
  --md-sys-color-text-primary-inverse-disable-only: #1C1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1C1B1B;
  --md-sys-color-text-hint-inverse: #1C1B1B;
  --md-sys-color-widget-background: #560A5D;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #A85AAA;
  --md-sys-color-secondary-palette-key-color: #A36853;
  --md-sys-color-tertiary-palette-key-color: #F2D8FF;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737E;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #3D3B3B;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0F0E0E;
  --md-sys-color-surface-bright: #2D2C2C;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #272525;
  --md-sys-color-surface-container: #323030;
  --md-sys-color-surface-container-high: #3D3B3B;
  --md-sys-color-surface-container-highest: #323030;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #323030;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FFFEFF;
  --md-sys-color-outline-variant: #D1CDCC;
  --md-sys-color-inverse-surface: #FDF8F8;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FDA5FC;
  --md-sys-color-primary: #FFFFFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #702776;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #702776;
  --md-sys-color-primary-fixed-dim: #631A69;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFEFF;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-secondary: #FFFFFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #6B3A28;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #6B3A28;
  --md-sys-color-secondary-fixed-dim: #5D2F1D;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFEFF;
  --md-sys-color-tertiary: #FFFFFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #F1D7FE;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #C6ADD3;
  --md-sys-color-tertiary-fixed-dim: #DB9981;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFFFFF;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #702776;
  --md-sys-color-control-normal: #3D3B3B;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FDF8F8;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4F434E;
  --md-sys-color-text-primary-inverse-disable-only: #1C1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1C1B1B;
  --md-sys-color-text-hint-inverse: #1C1B1B;
  --md-sys-color-widget-background: #560A5D;
}
