.light {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #F9F9F9;
  --md-sys-color-on-background: #DADADA;
  --md-sys-color-surface: #F9F9F9;
  --md-sys-color-surface-dim: #DADADA;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F3F3F3;
  --md-sys-color-surface-container: #EEEEEE;
  --md-sys-color-surface-container-high: #E8E8E8;
  --md-sys-color-surface-container-highest: #E2E2E2;
  --md-sys-color-on-surface: #323232;
  --md-sys-color-surface-variant: #E2E2E2;
  --md-sys-color-on-surface-variant: #5F5F5F;
  --md-sys-color-outline: #7B7B7B;
  --md-sys-color-outline-variant: #B2B2B2;
  --md-sys-color-inverse-surface: #0E0E0E;
  --md-sys-color-inverse-on-surface: #9D9D9D;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FAACF9;
  --md-sys-color-primary: #88468A;
  --md-sys-color-primary-dim: #7A3A7D;
  --md-sys-color-on-primary: #FFF7FA;
  --md-sys-color-primary-container: #FAACF9;
  --md-sys-color-on-primary-container: #652669;
  --md-sys-color-primary-fixed: #FAACF9;
  --md-sys-color-primary-fixed-dim: #EB9FEA;
  --md-sys-color-on-primary-fixed: #4D0E53;
  --md-sys-color-on-primary-fixed-variant: #6F2F73;
  --md-sys-color-inverse-primary: #FAACF9;
  --md-sys-color-secondary: #78584D;
  --md-sys-color-secondary-dim: #6B4C41;
  --md-sys-color-on-secondary: #FFF7F5;
  --md-sys-color-secondary-container: #FFDBCF;
  --md-sys-color-on-secondary-container: #694B40;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #F6CBBD;
  --md-sys-color-on-secondary-fixed: #55392F;
  --md-sys-color-on-secondary-fixed-variant: #745449;
  --md-sys-color-tertiary: #5B5C7E;
  --md-sys-color-tertiary-dim: #4F5072;
  --md-sys-color-on-tertiary: #FBF7FF;
  --md-sys-color-tertiary-container: #CECEF6;
  --md-sys-color-on-tertiary-container: #434565;
  --md-sys-color-tertiary-fixed: #CECEF6;
  --md-sys-color-tertiary-fixed-dim: #E4BBAD;
  --md-sys-color-on-tertiary-fixed: #303151;
  --md-sys-color-on-tertiary-fixed-variant: #4D4E6F;
  --md-sys-color-error: #BB1B1B;
  --md-sys-color-error-dim: #A90810;
  --md-sys-color-on-error: #FFF7F6;
  --md-sys-color-error-container: #FE4E44;
  --md-sys-color-on-error-container: #1F0000;
  --md-sys-color-control-activated: #FAACF9;
  --md-sys-color-control-normal: #DADADA;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0E0E0E;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C6C6C6;
  --md-sys-color-text-primary-inverse-disable-only: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E2E2E2;
  --md-sys-color-text-hint-inverse: #E2E2E2;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #F9F9F9;
  --md-sys-color-on-background: #DADADA;
  --md-sys-color-surface: #F9F9F9;
  --md-sys-color-surface-dim: #DADADA;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F3F3F3;
  --md-sys-color-surface-container: #EEEEEE;
  --md-sys-color-surface-container-high: #E8E8E8;
  --md-sys-color-surface-container-highest: #E2E2E2;
  --md-sys-color-on-surface: #242424;
  --md-sys-color-surface-variant: #E2E2E2;
  --md-sys-color-on-surface-variant: #434343;
  --md-sys-color-outline: #5F5F5F;
  --md-sys-color-outline-variant: #7B7B7B;
  --md-sys-color-inverse-surface: #0E0E0E;
  --md-sys-color-inverse-on-surface: #C5C5C5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FAACF9;
  --md-sys-color-primary: #68296C;
  --md-sys-color-primary-dim: #5B1C5F;
  --md-sys-color-on-primary: #FFC8FB;
  --md-sys-color-primary-container: #A05BA2;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #A05BA2;
  --md-sys-color-primary-fixed-dim: #924F94;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #FAACF9;
  --md-sys-color-secondary: #593C32;
  --md-sys-color-secondary-dim: #4C3127;
  --md-sys-color-on-secondary: #FBD0C2;
  --md-sys-color-secondary-container: #FFDBCF;
  --md-sys-color-on-secondary-container: #5E4137;
  --md-sys-color-secondary-fixed: #8F6D61;
  --md-sys-color-secondary-fixed-dim: #826155;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #3F4060;
  --md-sys-color-tertiary-dim: #333555;
  --md-sys-color-on-tertiary: #D6D6FF;
  --md-sys-color-tertiary-container: #717295;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #717295;
  --md-sys-color-tertiary-fixed-dim: #826155;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #8C0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #FFCEC8;
  --md-sys-color-error-container: #DA342E;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #FAACF9;
  --md-sys-color-control-normal: #DADADA;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0E0E0E;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C6C6C6;
  --md-sys-color-text-primary-inverse-disable-only: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E2E2E2;
  --md-sys-color-text-hint-inverse: #E2E2E2;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #F9F9F9;
  --md-sys-color-on-background: #DADADA;
  --md-sys-color-surface: #F9F9F9;
  --md-sys-color-surface-dim: #DADADA;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F3F3F3;
  --md-sys-color-surface-container: #EEEEEE;
  --md-sys-color-surface-container-high: #E8E8E8;
  --md-sys-color-surface-container-highest: #E2E2E2;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E2E2E2;
  --md-sys-color-on-surface-variant: #242424;
  --md-sys-color-outline: #434343;
  --md-sys-color-outline-variant: #5F5F5F;
  --md-sys-color-inverse-surface: #0E0E0E;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FAACF9;
  --md-sys-color-primary: #43024A;
  --md-sys-color-primary-dim: #340039;
  --md-sys-color-on-primary: #FFC9FB;
  --md-sys-color-primary-container: #88468A;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #88468A;
  --md-sys-color-primary-fixed-dim: #7A3A7D;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #FAACF9;
  --md-sys-color-secondary: #361E15;
  --md-sys-color-secondary-dim: #2A140C;
  --md-sys-color-on-secondary: #FCD1C3;
  --md-sys-color-secondary-container: #FFDBCF;
  --md-sys-color-on-secondary-container: #3D241B;
  --md-sys-color-secondary-fixed: #78584D;
  --md-sys-color-secondary-fixed-dim: #6B4C41;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #202140;
  --md-sys-color-tertiary-dim: #151735;
  --md-sys-color-on-tertiary: #D7D7FF;
  --md-sys-color-tertiary-container: #5B5C7E;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #5B5C7E;
  --md-sys-color-tertiary-fixed-dim: #6B4C41;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3E0002;
  --md-sys-color-on-error: #FFCFC9;
  --md-sys-color-error-container: #BB1B1B;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #FAACF9;
  --md-sys-color-control-normal: #DADADA;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #0E0E0E;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C6C6C6;
  --md-sys-color-text-primary-inverse-disable-only: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E2E2E2;
  --md-sys-color-text-hint-inverse: #E2E2E2;
  --md-sys-color-widget-background: #FFEBFA;
}
.dark {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #0E0E0E;
  --md-sys-color-on-background: #2C2C2C;
  --md-sys-color-surface: #0E0E0E;
  --md-sys-color-surface-dim: #0E0E0E;
  --md-sys-color-surface-bright: #2C2C2C;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1F1F1F;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #E5E5E5;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #ABABAB;
  --md-sys-color-outline: #757575;
  --md-sys-color-outline-variant: #484848;
  --md-sys-color-inverse-surface: #F9F9F9;
  --md-sys-color-inverse-on-surface: #555555;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FAACF9;
  --md-sys-color-primary: #FAACF9;
  --md-sys-color-primary-dim: #EB9FEA;
  --md-sys-color-on-primary: #652669;
  --md-sys-color-primary-container: #D187D0;
  --md-sys-color-on-primary-container: #420149;
  --md-sys-color-primary-fixed: #FAACF9;
  --md-sys-color-primary-fixed-dim: #EB9FEA;
  --md-sys-color-on-primary-fixed: #4D0E53;
  --md-sys-color-on-primary-fixed-variant: #6F2F73;
  --md-sys-color-inverse-primary: #88468A;
  --md-sys-color-secondary: #E7BDB0;
  --md-sys-color-secondary-dim: #D8B0A2;
  --md-sys-color-on-secondary: #56392F;
  --md-sys-color-secondary-container: #50352B;
  --md-sys-color-on-secondary-container: #DFB6A9;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #F6CBBD;
  --md-sys-color-on-secondary-fixed: #55392F;
  --md-sys-color-on-secondary-fixed-variant: #745449;
  --md-sys-color-tertiary: #DDDDFF;
  --md-sys-color-tertiary-dim: #CECEF6;
  --md-sys-color-on-tertiary: #4C4D6E;
  --md-sys-color-tertiary-container: #CECEF6;
  --md-sys-color-on-tertiary-container: #434565;
  --md-sys-color-tertiary-fixed: #CECEF6;
  --md-sys-color-tertiary-fixed-dim: #E4BBAD;
  --md-sys-color-on-tertiary-fixed: #303151;
  --md-sys-color-on-tertiary-fixed-variant: #4D4E6F;
  --md-sys-color-error: #FF7164;
  --md-sys-color-error-dim: #DA342E;
  --md-sys-color-on-error: #4A0002;
  --md-sys-color-error-container: #AC0C12;
  --md-sys-color-on-error-container: #FFE0DC;
  --md-sys-color-control-activated: #D187D0;
  --md-sys-color-control-normal: #2C2C2C;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #F9F9F9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1B1B1B;
  --md-sys-color-text-hint-inverse: #1B1B1B;
  --md-sys-color-widget-background: #521458;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #0E0E0E;
  --md-sys-color-on-background: #2C2C2C;
  --md-sys-color-surface: #0E0E0E;
  --md-sys-color-surface-dim: #0E0E0E;
  --md-sys-color-surface-bright: #2C2C2C;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1F1F1F;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #B9B9B9;
  --md-sys-color-outline: #939393;
  --md-sys-color-outline-variant: #757575;
  --md-sys-color-inverse-surface: #F9F9F9;
  --md-sys-color-inverse-on-surface: #383838;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FAACF9;
  --md-sys-color-primary: #FAACF9;
  --md-sys-color-primary-dim: #EB9FEA;
  --md-sys-color-on-primary: #591B5E;
  --md-sys-color-primary-container: #D187D0;
  --md-sys-color-on-primary-container: #2B0030;
  --md-sys-color-primary-fixed: #FAACF9;
  --md-sys-color-primary-fixed-dim: #EB9FEA;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #4D0E53;
  --md-sys-color-inverse-primary: #7C3C80;
  --md-sys-color-secondary: #E7BDB0;
  --md-sys-color-secondary-dim: #D8B0A2;
  --md-sys-color-on-secondary: #4A3026;
  --md-sys-color-secondary-container: #50352B;
  --md-sys-color-on-secondary-container: #EFC5B7;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #F6CBBD;
  --md-sys-color-on-secondary-fixed: #311911;
  --md-sys-color-on-secondary-fixed-variant: #55392F;
  --md-sys-color-tertiary: #DDDDFF;
  --md-sys-color-tertiary-dim: #CECEF6;
  --md-sys-color-on-tertiary: #424364;
  --md-sys-color-tertiary-container: #CECEF6;
  --md-sys-color-on-tertiary-container: #393B5B;
  --md-sys-color-tertiary-fixed: #CECEF6;
  --md-sys-color-tertiary-fixed-dim: #E4BBAD;
  --md-sys-color-on-tertiary-fixed: #080928;
  --md-sys-color-on-tertiary-fixed-variant: #303151;
  --md-sys-color-error: #FF9F94;
  --md-sys-color-error-dim: #FF887C;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #DA342E;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #D187D0;
  --md-sys-color-control-normal: #2C2C2C;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #F9F9F9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1B1B1B;
  --md-sys-color-text-hint-inverse: #1B1B1B;
  --md-sys-color-widget-background: #521458;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #0E0E0E;
  --md-sys-color-on-background: #2C2C2C;
  --md-sys-color-surface: #0E0E0E;
  --md-sys-color-surface-dim: #0E0E0E;
  --md-sys-color-surface-bright: #2C2C2C;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1F1F1F;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #E5E5E5;
  --md-sys-color-outline: #B9B9B9;
  --md-sys-color-outline-variant: #939393;
  --md-sys-color-inverse-surface: #F9F9F9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FAACF9;
  --md-sys-color-primary: #FFDBFA;
  --md-sys-color-primary-dim: #FFC1FC;
  --md-sys-color-on-primary: #4D0E53;
  --md-sys-color-primary-container: #D187D0;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #FAACF9;
  --md-sys-color-primary-fixed-dim: #EB9FEA;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-inverse-primary: #5B1D60;
  --md-sys-color-secondary: #FFDFD4;
  --md-sys-color-secondary-dim: #F9CEC0;
  --md-sys-color-on-secondary: #3F261D;
  --md-sys-color-secondary-container: #50352B;
  --md-sys-color-on-secondary-container: #FFFEFF;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #F6CBBD;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #311911;
  --md-sys-color-tertiary: #E4E3FF;
  --md-sys-color-tertiary-dim: #D1D1F9;
  --md-sys-color-on-tertiary: #282948;
  --md-sys-color-tertiary-container: #CECEF6;
  --md-sys-color-on-tertiary-container: #191A38;
  --md-sys-color-tertiary-fixed: #CECEF6;
  --md-sys-color-tertiary-fixed-dim: #E4BBAD;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #080928;
  --md-sys-color-error: #FFDEDA;
  --md-sys-color-error-dim: #FFC8C1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #FF7164;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #D187D0;
  --md-sys-color-control-normal: #2C2C2C;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #F9F9F9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1B1B1B;
  --md-sys-color-text-hint-inverse: #1B1B1B;
  --md-sys-color-widget-background: #521458;
}
