.light {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #5B7B91;
  --md-sys-color-tertiary-palette-key-color: #9E5FAA;
  --md-sys-color-neutral-palette-key-color: #946D6F;
  --md-sys-color-neutral-variant-palette-key-color: #9D639D;
  --md-sys-color-error-palette-key-color: #CB495F;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #532428;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #FFCED0;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFF0F0;
  --md-sys-color-surface-container: #FFE9E9;
  --md-sys-color-surface-container-high: #FFE1E2;
  --md-sys-color-surface-container-highest: #FFDADB;
  --md-sys-color-on-surface: #532428;
  --md-sys-color-surface-variant: #FFDADB;
  --md-sys-color-on-surface-variant: #884F53;
  --md-sys-color-outline: #A76A6E;
  --md-sys-color-outline-variant: #E5A0A3;
  --md-sys-color-inverse-surface: #1E0709;
  --md-sys-color-inverse-on-surface: #BD9294;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #88468A;
  --md-sys-color-primary: #88468A;
  --md-sys-color-primary-dim: #7A3A7D;
  --md-sys-color-on-primary: #FFF7FA;
  --md-sys-color-primary-container: #FAACF9;
  --md-sys-color-on-primary-container: #652669;
  --md-sys-color-primary-fixed: #FAACF9;
  --md-sys-color-primary-fixed-dim: #EB9FEA;
  --md-sys-color-on-primary-fixed: #4D0E53;
  --md-sys-color-on-primary-fixed-variant: #6F2F73;
  --md-sys-color-inverse-primary: #FAACF9;
  --md-sys-color-secondary: #436378;
  --md-sys-color-secondary-dim: #36576C;
  --md-sys-color-on-secondary: #F5F9FF;
  --md-sys-color-secondary-container: #C7E7FF;
  --md-sys-color-on-secondary-container: #35556A;
  --md-sys-color-secondary-fixed: #C7E7FF;
  --md-sys-color-secondary-fixed-dim: #B7D9F2;
  --md-sys-color-on-secondary-fixed: #214357;
  --md-sys-color-on-secondary-fixed-variant: #3F5F74;
  --md-sys-color-tertiary: #834790;
  --md-sys-color-tertiary-dim: #763B83;
  --md-sys-color-on-tertiary: #FFF7FB;
  --md-sys-color-tertiary-container: #EEA8FA;
  --md-sys-color-on-tertiary-container: #5D236B;
  --md-sys-color-tertiary-fixed: #EEA8FA;
  --md-sys-color-tertiary-fixed-dim: #DF9BEB;
  --md-sys-color-on-tertiary-fixed: #450954;
  --md-sys-color-on-tertiary-fixed-variant: #672D74;
  --md-sys-color-error: #AC3149;
  --md-sys-color-error-dim: #770326;
  --md-sys-color-on-error: #FFF7F7;
  --md-sys-color-error-container: #F76A80;
  --md-sys-color-on-error-container: #68001F;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #5B7B91;
  --md-sys-color-tertiary-palette-key-color: #9E5FAA;
  --md-sys-color-neutral-palette-key-color: #946D6F;
  --md-sys-color-neutral-variant-palette-key-color: #9D639D;
  --md-sys-color-error-palette-key-color: #CB495F;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #41161A;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #FFCED0;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFF0F0;
  --md-sys-color-surface-container: #FFE9E9;
  --md-sys-color-surface-container-high: #FFE1E2;
  --md-sys-color-surface-container-highest: #FFDADB;
  --md-sys-color-on-surface: #41161A;
  --md-sys-color-surface-variant: #FFDADB;
  --md-sys-color-on-surface-variant: #663438;
  --md-sys-color-outline: #884F53;
  --md-sys-color-outline-variant: #A76A6E;
  --md-sys-color-inverse-surface: #1E0709;
  --md-sys-color-inverse-on-surface: #E7BABB;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #68296C;
  --md-sys-color-primary: #68296C;
  --md-sys-color-primary-dim: #5B1C5F;
  --md-sys-color-on-primary: #FFC8FB;
  --md-sys-color-primary-container: #A05BA2;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #A05BA2;
  --md-sys-color-primary-fixed-dim: #924F94;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #FAACF9;
  --md-sys-color-secondary: #25465A;
  --md-sys-color-secondary-dim: #193B4F;
  --md-sys-color-on-secondary: #BDDEF7;
  --md-sys-color-secondary-container: #58788E;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #58788E;
  --md-sys-color-secondary-fixed-dim: #4C6C81;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #642A72;
  --md-sys-color-tertiary-dim: #571E65;
  --md-sys-color-on-tertiary: #FACAFF;
  --md-sys-color-tertiary-container: #9B5DA8;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #9B5DA8;
  --md-sys-color-tertiary-fixed-dim: #8D509A;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #85112F;
  --md-sys-color-error-dim: #740124;
  --md-sys-color-on-error: #FFCDD1;
  --md-sys-color-error-container: #C8475D;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #5B7B91;
  --md-sys-color-tertiary-palette-key-color: #9E5FAA;
  --md-sys-color-neutral-palette-key-color: #946D6F;
  --md-sys-color-neutral-variant-palette-key-color: #9D639D;
  --md-sys-color-error-palette-key-color: #CB495F;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #FFCED0;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFF0F0;
  --md-sys-color-surface-container: #FFE9E9;
  --md-sys-color-surface-container-high: #FFE1E2;
  --md-sys-color-surface-container-highest: #FFDADB;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #FFDADB;
  --md-sys-color-on-surface-variant: #41161A;
  --md-sys-color-outline: #663438;
  --md-sys-color-outline-variant: #884F53;
  --md-sys-color-inverse-surface: #1E0709;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #43024A;
  --md-sys-color-primary: #43024A;
  --md-sys-color-primary-dim: #340039;
  --md-sys-color-on-primary: #FFC9FB;
  --md-sys-color-primary-container: #88468A;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #88468A;
  --md-sys-color-primary-fixed-dim: #7A3A7D;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #FAACF9;
  --md-sys-color-secondary: #00273A;
  --md-sys-color-secondary-dim: #001C2B;
  --md-sys-color-on-secondary: #BDDEF7;
  --md-sys-color-secondary-container: #436378;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #436378;
  --md-sys-color-secondary-fixed-dim: #36576C;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #400350;
  --md-sys-color-tertiary-dim: #31003E;
  --md-sys-color-on-tertiary: #FACAFF;
  --md-sys-color-tertiary-container: #834790;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #834790;
  --md-sys-color-tertiary-fixed-dim: #763B83;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #500016;
  --md-sys-color-error-dim: #3D000F;
  --md-sys-color-on-error: #FFCED2;
  --md-sys-color-error-container: #AC3149;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-widget-background: #FFEBFA;
}
.dark {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #677987;
  --md-sys-color-tertiary-palette-key-color: #9E5FAA;
  --md-sys-color-neutral-palette-key-color: #8E7071;
  --md-sys-color-neutral-variant-palette-key-color: #946893;
  --md-sys-color-error-palette-key-color: #CB495F;
  --md-sys-color-background: #1B090A;
  --md-sys-color-on-background: #FFDEDE;
  --md-sys-color-surface: #1B090A;
  --md-sys-color-surface-dim: #1B090A;
  --md-sys-color-surface-bright: #472024;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #230D0F;
  --md-sys-color-surface-container: #2C1214;
  --md-sys-color-surface-container-high: #341719;
  --md-sys-color-surface-container-highest: #3E1B1E;
  --md-sys-color-on-surface: #FFDEDE;
  --md-sys-color-surface-variant: #3E1B1E;
  --md-sys-color-on-surface-variant: #D39DA0;
  --md-sys-color-outline: #98696B;
  --md-sys-color-outline-variant: #653D3F;
  --md-sys-color-inverse-surface: #FFF8F7;
  --md-sys-color-inverse-on-surface: #694E4F;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFCDFB;
  --md-sys-color-primary: #FFCDFB;
  --md-sys-color-primary-dim: #F6BCF3;
  --md-sys-color-on-primary: #6B3E6C;
  --md-sys-color-primary-container: #F6BCF3;
  --md-sys-color-on-primary-container: #623563;
  --md-sys-color-primary-fixed: #F6BCF3;
  --md-sys-color-primary-fixed-dim: #E8AFE5;
  --md-sys-color-on-primary-fixed: #4C224E;
  --md-sys-color-on-primary-fixed-variant: #6C3E6D;
  --md-sys-color-inverse-primary: #7E4E7E;
  --md-sys-color-secondary: #B6C9D8;
  --md-sys-color-secondary-dim: #A9BBCA;
  --md-sys-color-on-secondary: #31424F;
  --md-sys-color-secondary-container: #162833;
  --md-sys-color-on-secondary-container: #94A6B5;
  --md-sys-color-secondary-fixed: #D2E5F5;
  --md-sys-color-secondary-fixed-dim: #C4D7E6;
  --md-sys-color-on-secondary-fixed: #30414E;
  --md-sys-color-on-secondary-fixed-variant: #4C5E6B;
  --md-sys-color-tertiary: #F7BAFF;
  --md-sys-color-tertiary-dim: #EEA8FA;
  --md-sys-color-on-tertiary: #672D75;
  --md-sys-color-tertiary-container: #EEA8FA;
  --md-sys-color-on-tertiary-container: #5D236B;
  --md-sys-color-tertiary-fixed: #EEA8FA;
  --md-sys-color-tertiary-fixed-dim: #DF9BEB;
  --md-sys-color-on-tertiary-fixed: #450954;
  --md-sys-color-on-tertiary-fixed-variant: #672D74;
  --md-sys-color-error: #FD6F85;
  --md-sys-color-error-dim: #C8475D;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #8A1632;
  --md-sys-color-on-error-container: #FF97A3;
  --md-sys-color-widget-background: #4A204C;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #677987;
  --md-sys-color-tertiary-palette-key-color: #9E5FAA;
  --md-sys-color-neutral-palette-key-color: #8E7071;
  --md-sys-color-neutral-variant-palette-key-color: #946893;
  --md-sys-color-error-palette-key-color: #CB495F;
  --md-sys-color-background: #1B090A;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #1B090A;
  --md-sys-color-surface-dim: #1B090A;
  --md-sys-color-surface-bright: #472024;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #230D0F;
  --md-sys-color-surface-container: #2C1214;
  --md-sys-color-surface-container-high: #341719;
  --md-sys-color-surface-container-highest: #3E1B1E;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #3E1B1E;
  --md-sys-color-on-surface-variant: #E2ABAD;
  --md-sys-color-outline: #BA8689;
  --md-sys-color-outline-variant: #98696B;
  --md-sys-color-inverse-surface: #FFF8F7;
  --md-sys-color-inverse-on-surface: #4A3233;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFCDFB;
  --md-sys-color-primary: #FFCDFB;
  --md-sys-color-primary-dim: #F6BCF3;
  --md-sys-color-on-primary: #603462;
  --md-sys-color-primary-container: #F6BCF3;
  --md-sys-color-on-primary-container: #572B58;
  --md-sys-color-primary-fixed: #F6BCF3;
  --md-sys-color-primary-fixed-dim: #E8AFE5;
  --md-sys-color-on-primary-fixed: #16001A;
  --md-sys-color-on-primary-fixed-variant: #4C224E;
  --md-sys-color-inverse-primary: #734473;
  --md-sys-color-secondary: #B6C9D8;
  --md-sys-color-secondary-dim: #A9BBCA;
  --md-sys-color-on-secondary: #273844;
  --md-sys-color-secondary-container: #657784;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #D2E5F5;
  --md-sys-color-secondary-fixed-dim: #C4D7E6;
  --md-sys-color-on-secondary-fixed: #0F212D;
  --md-sys-color-on-secondary-fixed-variant: #30414E;
  --md-sys-color-tertiary: #F7BAFF;
  --md-sys-color-tertiary-dim: #EEA8FA;
  --md-sys-color-on-tertiary: #5C226A;
  --md-sys-color-tertiary-container: #EEA8FA;
  --md-sys-color-on-tertiary-container: #511760;
  --md-sys-color-tertiary-fixed: #EEA8FA;
  --md-sys-color-tertiary-fixed-dim: #DF9BEB;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #450954;
  --md-sys-color-error: #FF9DA8;
  --md-sys-color-error-dim: #FF8695;
  --md-sys-color-on-error: #5F001C;
  --md-sys-color-error-container: #C8475D;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-widget-background: #4A204C;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #677987;
  --md-sys-color-tertiary-palette-key-color: #9E5FAA;
  --md-sys-color-neutral-palette-key-color: #8E7071;
  --md-sys-color-neutral-variant-palette-key-color: #946893;
  --md-sys-color-error-palette-key-color: #CB495F;
  --md-sys-color-background: #1B090A;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #1B090A;
  --md-sys-color-surface-dim: #1B090A;
  --md-sys-color-surface-bright: #472024;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #230D0F;
  --md-sys-color-surface-container: #2C1214;
  --md-sys-color-surface-container-high: #341719;
  --md-sys-color-surface-container-highest: #3E1B1E;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #3E1B1E;
  --md-sys-color-on-surface-variant: #FFDEDE;
  --md-sys-color-outline: #E2ABAD;
  --md-sys-color-outline-variant: #BA8689;
  --md-sys-color-inverse-surface: #FFF8F7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFDBFA;
  --md-sys-color-primary: #FFDBFA;
  --md-sys-color-primary-dim: #FDC2F9;
  --md-sys-color-on-primary: #451B47;
  --md-sys-color-primary-container: #F6BCF3;
  --md-sys-color-on-primary-container: #310734;
  --md-sys-color-primary-fixed: #F6BCF3;
  --md-sys-color-primary-fixed-dim: #E8AFE5;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #16001A;
  --md-sys-color-inverse-primary: #532854;
  --md-sys-color-secondary: #D5E8F8;
  --md-sys-color-secondary-dim: #C7DAE9;
  --md-sys-color-on-secondary: #1C2E3A;
  --md-sys-color-secondary-container: #8EA0AF;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #D2E5F5;
  --md-sys-color-secondary-fixed-dim: #C4D7E6;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #0F212D;
  --md-sys-color-tertiary: #FEDAFF;
  --md-sys-color-tertiary-dim: #F9C3FF;
  --md-sys-color-on-tertiary: #4A0F59;
  --md-sys-color-tertiary-container: #EEA8FA;
  --md-sys-color-on-tertiary-container: #15001C;
  --md-sys-color-tertiary-fixed: #EEA8FA;
  --md-sys-color-tertiary-fixed-dim: #DF9BEB;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFDDDF;
  --md-sys-color-error-dim: #FFC7CB;
  --md-sys-color-on-error: #5F001C;
  --md-sys-color-error-container: #FD6F85;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-widget-background: #4A204C;
}
