.light {
  --md-sys-color-primary-palette-key-color: #BA43C3;
  --md-sys-color-secondary-palette-key-color: #BD5B15;
  --md-sys-color-tertiary-palette-key-color: #5271D5;
  --md-sys-color-neutral-palette-key-color: #9B6880;
  --md-sys-color-neutral-variant-palette-key-color: #9F648E;
  --md-sys-color-error-palette-key-color: #DB365A;
  --md-sys-color-background: #FFF4F6;
  --md-sys-color-on-background: #F4B8D3;
  --md-sys-color-surface: #FFF4F6;
  --md-sys-color-surface-dim: #FFC4DE;
  --md-sys-color-surface-bright: #FFF4F6;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFECF2;
  --md-sys-color-surface-container: #FFE0EC;
  --md-sys-color-surface-container-high: #FFD8E8;
  --md-sys-color-surface-container-highest: #FFD0E4;
  --md-sys-color-on-surface: #492136;
  --md-sys-color-surface-variant: #FFD0E4;
  --md-sys-color-on-surface-variant: #7C4D64;
  --md-sys-color-outline: #9B6880;
  --md-sys-color-outline-variant: #D69DB7;
  --md-sys-color-inverse-surface: #220215;
  --md-sys-color-inverse-on-surface: #C48DA7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #F67AFD;
  --md-sys-color-primary: #9920A5;
  --md-sys-color-primary-dim: #8B0997;
  --md-sys-color-on-primary: #FFEEFA;
  --md-sys-color-primary-container: #F67AFD;
  --md-sys-color-on-primary-container: #52005A;
  --md-sys-color-primary-fixed: #F67AFD;
  --md-sys-color-primary-fixed-dim: #E76DEE;
  --md-sys-color-on-primary-fixed: #240028;
  --md-sys-color-on-primary-fixed-variant: #61006A;
  --md-sys-color-inverse-primary: #F67AFD;
  --md-sys-color-secondary: #974300;
  --md-sys-color-secondary-dim: #843A00;
  --md-sys-color-on-secondary: #FFF0E9;
  --md-sys-color-secondary-container: #FFC5A6;
  --md-sys-color-on-secondary-container: #773300;
  --md-sys-color-secondary-fixed: #FFC5A6;
  --md-sys-color-secondary-fixed-dim: #FFB287;
  --md-sys-color-on-secondary-fixed: #592500;
  --md-sys-color-on-secondary-fixed-variant: #863A00;
  --md-sys-color-tertiary: #3354B7;
  --md-sys-color-tertiary-dim: #2548AB;
  --md-sys-color-on-tertiary: #F1F2FF;
  --md-sys-color-tertiary-container: #97ADFF;
  --md-sys-color-on-tertiary-container: #00287D;
  --md-sys-color-tertiary-fixed: #97ADFF;
  --md-sys-color-tertiary-fixed-dim: #F5853F;
  --md-sys-color-on-tertiary-fixed: #001346;
  --md-sys-color-on-tertiary-fixed-variant: #003091;
  --md-sys-color-error: #B41340;
  --md-sys-color-error-dim: #A20036;
  --md-sys-color-on-error: #FFEFEF;
  --md-sys-color-error-container: #F74B6D;
  --md-sys-color-on-error-container: #100002;
  --md-sys-color-control-activated: #F67AFD;
  --md-sys-color-control-normal: #FFC4DE;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #220215;
  --md-sys-color-text-secondary-and-tertiary-inverse: #F6B2E0;
  --md-sys-color-text-primary-inverse-disable-only: #FFD8E8;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #FFD8E8;
  --md-sys-color-text-hint-inverse: #FFD8E8;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #BA43C3;
  --md-sys-color-secondary-palette-key-color: #BD5B15;
  --md-sys-color-tertiary-palette-key-color: #5271D5;
  --md-sys-color-neutral-palette-key-color: #9B6880;
  --md-sys-color-neutral-variant-palette-key-color: #9F648E;
  --md-sys-color-error-palette-key-color: #DB365A;
  --md-sys-color-background: #FFF4F6;
  --md-sys-color-on-background: #F4B8D3;
  --md-sys-color-surface: #FFF4F6;
  --md-sys-color-surface-dim: #FFC4DE;
  --md-sys-color-surface-bright: #FFF4F6;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFECF2;
  --md-sys-color-surface-container: #FFE0EC;
  --md-sys-color-surface-container-high: #FFD8E8;
  --md-sys-color-surface-container-highest: #FFD0E4;
  --md-sys-color-on-surface: #371227;
  --md-sys-color-surface-variant: #FFD0E4;
  --md-sys-color-on-surface-variant: #5C3248;
  --md-sys-color-outline: #7C4D64;
  --md-sys-color-outline-variant: #9B6880;
  --md-sys-color-inverse-surface: #220215;
  --md-sys-color-inverse-on-surface: #F0B4CF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #F67AFD;
  --md-sys-color-primary: #71007C;
  --md-sys-color-primary-dim: #5F0068;
  --md-sys-color-on-primary: #FFC0FC;
  --md-sys-color-primary-container: #B740C1;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #B740C1;
  --md-sys-color-primary-fixed-dim: #A832B3;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #F67AFD;
  --md-sys-color-secondary: #6B2D00;
  --md-sys-color-secondary-dim: #592500;
  --md-sys-color-on-secondary: #FFC9AC;
  --md-sys-color-secondary-container: #FFC5A6;
  --md-sys-color-on-secondary-container: #682C00;
  --md-sys-color-secondary-fixed: #BA5912;
  --md-sys-color-secondary-fixed-dim: #AA4D02;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #09369A;
  --md-sys-color-tertiary-dim: #002B85;
  --md-sys-color-on-tertiary: #C8D2FF;
  --md-sys-color-tertiary-container: #4F6ED3;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #4F6ED3;
  --md-sys-color-tertiary-fixed-dim: #AA4D02;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #83002A;
  --md-sys-color-error-dim: #6E0022;
  --md-sys-color-on-error: #FFC6CA;
  --md-sys-color-error-container: #D73357;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #F67AFD;
  --md-sys-color-control-normal: #FFC4DE;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #220215;
  --md-sys-color-text-secondary-and-tertiary-inverse: #F6B2E0;
  --md-sys-color-text-primary-inverse-disable-only: #FFD8E8;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #FFD8E8;
  --md-sys-color-text-hint-inverse: #FFD8E8;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #BA43C3;
  --md-sys-color-secondary-palette-key-color: #BD5B15;
  --md-sys-color-tertiary-palette-key-color: #5271D5;
  --md-sys-color-neutral-palette-key-color: #9B6880;
  --md-sys-color-neutral-variant-palette-key-color: #9F648E;
  --md-sys-color-error-palette-key-color: #DB365A;
  --md-sys-color-background: #FFF4F6;
  --md-sys-color-on-background: #F4B8D3;
  --md-sys-color-surface: #FFF4F6;
  --md-sys-color-surface-dim: #FFC4DE;
  --md-sys-color-surface-bright: #FFF4F6;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFECF2;
  --md-sys-color-surface-container: #FFE0EC;
  --md-sys-color-surface-container-high: #FFD8E8;
  --md-sys-color-surface-container-highest: #FFD0E4;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #FFD0E4;
  --md-sys-color-on-surface-variant: #371227;
  --md-sys-color-outline: #5C3248;
  --md-sys-color-outline-variant: #7C4D64;
  --md-sys-color-inverse-surface: #220215;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #F67AFD;
  --md-sys-color-primary: #3D0043;
  --md-sys-color-primary-dim: #2C0031;
  --md-sys-color-on-primary: #FFC0FC;
  --md-sys-color-primary-container: #9920A5;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #9920A5;
  --md-sys-color-primary-fixed-dim: #8B0997;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #FFA6FF;
  --md-sys-color-secondary: #391500;
  --md-sys-color-secondary-dim: #290D00;
  --md-sys-color-on-secondary: #FFC9AD;
  --md-sys-color-secondary-container: #FFC5A6;
  --md-sys-color-on-secondary-container: #351300;
  --md-sys-color-secondary-fixed: #974300;
  --md-sys-color-secondary-fixed-dim: #843A00;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #001957;
  --md-sys-color-tertiary-dim: #001141;
  --md-sys-color-on-tertiary: #C9D3FF;
  --md-sys-color-tertiary-container: #3354B7;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #3354B7;
  --md-sys-color-tertiary-fixed-dim: #843A00;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #470013;
  --md-sys-color-error-dim: #34000C;
  --md-sys-color-on-error: #FFC6CB;
  --md-sys-color-error-container: #B41340;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #F67AFD;
  --md-sys-color-control-normal: #FFC4DE;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #220215;
  --md-sys-color-text-secondary-and-tertiary-inverse: #F6B2E0;
  --md-sys-color-text-primary-inverse-disable-only: #FFD8E8;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #FFD8E8;
  --md-sys-color-text-hint-inverse: #FFD8E8;
  --md-sys-color-widget-background: #FFEBFA;
}
.dark {
  --md-sys-color-primary-palette-key-color: #BA43C3;
  --md-sys-color-secondary-palette-key-color: #BD5B15;
  --md-sys-color-tertiary-palette-key-color: #5271D5;
  --md-sys-color-neutral-palette-key-color: #9B6880;
  --md-sys-color-neutral-variant-palette-key-color: #9F648E;
  --md-sys-color-error-palette-key-color: #DB365A;
  --md-sys-color-background: #220215;
  --md-sys-color-on-background: #F4B8D3;
  --md-sys-color-surface: #220215;
  --md-sys-color-surface-dim: #220215;
  --md-sys-color-surface-bright: #461F34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2A041B;
  --md-sys-color-surface-container: #330822;
  --md-sys-color-surface-container-high: #3C0D29;
  --md-sys-color-surface-container-highest: #451230;
  --md-sys-color-on-surface: #FFDCEA;
  --md-sys-color-surface-variant: #3F182D;
  --md-sys-color-on-surface-variant: #D49BB5;
  --md-sys-color-outline: #99667F;
  --md-sys-color-outline-variant: #663A50;
  --md-sys-color-inverse-surface: #FFF8F8;
  --md-sys-color-inverse-on-surface: #75475E;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #F67AFD;
  --md-sys-color-primary: #F97EFF;
  --md-sys-color-primary-dim: #EA6FF1;
  --md-sys-color-on-primary: #56005E;
  --md-sys-color-primary-container: #EA6FF1;
  --md-sys-color-on-primary-container: #420049;
  --md-sys-color-primary-fixed: #F67AFD;
  --md-sys-color-primary-fixed-dim: #E76DEE;
  --md-sys-color-on-primary-fixed: #240028;
  --md-sys-color-on-primary-fixed-variant: #61006A;
  --md-sys-color-inverse-primary: #9D25A9;
  --md-sys-color-secondary: #FC8A43;
  --md-sys-color-secondary-dim: #EE803A;
  --md-sys-color-on-secondary: #491D00;
  --md-sys-color-secondary-container: #9B4500;
  --md-sys-color-on-secondary-container: #FFF6F2;
  --md-sys-color-secondary-fixed: #FFC5A6;
  --md-sys-color-secondary-fixed-dim: #FFB287;
  --md-sys-color-on-secondary-fixed: #592500;
  --md-sys-color-on-secondary-fixed-variant: #863A00;
  --md-sys-color-tertiary: #87A1FF;
  --md-sys-color-tertiary-dim: #7B99FF;
  --md-sys-color-on-tertiary: #00206A;
  --md-sys-color-tertiary-container: #7593FA;
  --md-sys-color-on-tertiary-container: #00154C;
  --md-sys-color-tertiary-fixed: #97ADFF;
  --md-sys-color-tertiary-fixed-dim: #F5853F;
  --md-sys-color-on-tertiary-fixed: #001346;
  --md-sys-color-on-tertiary-fixed-variant: #003091;
  --md-sys-color-error: #FF6E84;
  --md-sys-color-error-dim: #D73357;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #A70138;
  --md-sys-color-on-error-container: #FFDADD;
  --md-sys-color-control-activated: #EA6FF1;
  --md-sys-color-control-normal: #461F34;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FFF8F8;
  --md-sys-color-text-secondary-and-tertiary-inverse: #68355C;
  --md-sys-color-text-primary-inverse-disable-only: #330E23;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #330E23;
  --md-sys-color-text-hint-inverse: #330E23;
  --md-sys-color-widget-background: #590062;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #BA43C3;
  --md-sys-color-secondary-palette-key-color: #BD5B15;
  --md-sys-color-tertiary-palette-key-color: #5271D5;
  --md-sys-color-neutral-palette-key-color: #9B6880;
  --md-sys-color-neutral-variant-palette-key-color: #9F648E;
  --md-sys-color-error-palette-key-color: #DB365A;
  --md-sys-color-background: #220215;
  --md-sys-color-on-background: #F4B8D3;
  --md-sys-color-surface: #220215;
  --md-sys-color-surface-dim: #220215;
  --md-sys-color-surface-bright: #461F34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2A041B;
  --md-sys-color-surface-container: #330822;
  --md-sys-color-surface-container-high: #3C0D29;
  --md-sys-color-surface-container-highest: #451230;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #3F182D;
  --md-sys-color-on-surface-variant: #E3A8C3;
  --md-sys-color-outline: #BA849D;
  --md-sys-color-outline-variant: #99667F;
  --md-sys-color-inverse-surface: #FFF8F8;
  --md-sys-color-inverse-on-surface: #542B40;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #F67AFD;
  --md-sys-color-primary: #FC91FF;
  --md-sys-color-primary-dim: #F67AFD;
  --md-sys-color-on-primary: #52005A;
  --md-sys-color-primary-container: #EA6FF1;
  --md-sys-color-on-primary-container: #2B0030;
  --md-sys-color-primary-fixed: #F67AFD;
  --md-sys-color-primary-fixed-dim: #E76DEE;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #240028;
  --md-sys-color-inverse-primary: #91169E;
  --md-sys-color-secondary: #FFA26C;
  --md-sys-color-secondary-dim: #FE8C45;
  --md-sys-color-on-secondary: #4D1F00;
  --md-sys-color-secondary-container: #9B4500;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #FFC5A6;
  --md-sys-color-secondary-fixed-dim: #FFB287;
  --md-sys-color-on-secondary-fixed: #1C0700;
  --md-sys-color-on-secondary-fixed-variant: #592500;
  --md-sys-color-tertiary: #A2B6FF;
  --md-sys-color-tertiary-dim: #8EA7FF;
  --md-sys-color-on-tertiary: #002473;
  --md-sys-color-tertiary-container: #7B99FF;
  --md-sys-color-on-tertiary-container: #000C36;
  --md-sys-color-tertiary-fixed: #97ADFF;
  --md-sys-color-tertiary-fixed-dim: #F5853F;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #001346;
  --md-sys-color-error: #FF9DA8;
  --md-sys-color-error-dim: #FF8695;
  --md-sys-color-on-error: #5F001C;
  --md-sys-color-error-container: #D73357;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #EA6FF1;
  --md-sys-color-control-normal: #461F34;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FFF8F8;
  --md-sys-color-text-secondary-and-tertiary-inverse: #68355C;
  --md-sys-color-text-primary-inverse-disable-only: #330E23;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #330E23;
  --md-sys-color-text-hint-inverse: #330E23;
  --md-sys-color-widget-background: #590062;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #BA43C3;
  --md-sys-color-secondary-palette-key-color: #BD5B15;
  --md-sys-color-tertiary-palette-key-color: #5271D5;
  --md-sys-color-neutral-palette-key-color: #9B6880;
  --md-sys-color-neutral-variant-palette-key-color: #9F648E;
  --md-sys-color-error-palette-key-color: #DB365A;
  --md-sys-color-background: #220215;
  --md-sys-color-on-background: #F4B8D3;
  --md-sys-color-surface: #220215;
  --md-sys-color-surface-dim: #220215;
  --md-sys-color-surface-bright: #461F34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2A041B;
  --md-sys-color-surface-container: #330822;
  --md-sys-color-surface-container-high: #3C0D29;
  --md-sys-color-surface-container-highest: #451230;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #3F182D;
  --md-sys-color-on-surface-variant: #FFDCEA;
  --md-sys-color-outline: #E3A8C3;
  --md-sys-color-outline-variant: #BA849D;
  --md-sys-color-inverse-surface: #FFF8F8;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #F67AFD;
  --md-sys-color-primary: #FFDBFA;
  --md-sys-color-primary-dim: #FFC1FC;
  --md-sys-color-on-primary: #52005A;
  --md-sys-color-primary-container: #EA6FF1;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #F67AFD;
  --md-sys-color-primary-fixed-dim: #E76DEE;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-inverse-primary: #660070;
  --md-sys-color-secondary: #FFDFCF;
  --md-sys-color-secondary-dim: #FFC9AD;
  --md-sys-color-on-secondary: #4C1E00;
  --md-sys-color-secondary-container: #9B4500;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #FFC5A6;
  --md-sys-color-secondary-fixed-dim: #FFB287;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #1C0700;
  --md-sys-color-tertiary: #E0E4FF;
  --md-sys-color-tertiary-dim: #C9D3FF;
  --md-sys-color-on-tertiary: #002473;
  --md-sys-color-tertiary-container: #7B99FF;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #97ADFF;
  --md-sys-color-tertiary-fixed-dim: #F5853F;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFDDDF;
  --md-sys-color-error-dim: #FFC7CB;
  --md-sys-color-on-error: #5F001C;
  --md-sys-color-error-container: #FF6E84;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #EA6FF1;
  --md-sys-color-control-normal: #461F34;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #FFF8F8;
  --md-sys-color-text-secondary-and-tertiary-inverse: #68355C;
  --md-sys-color-text-primary-inverse-disable-only: #330E23;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #330E23;
  --md-sys-color-text-hint-inverse: #330E23;
  --md-sys-color-widget-background: #590062;
}
