.light {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #817476;
  --md-sys-color-neutral-variant-palette-key-color: #7F747C;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #9B8D8F;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #E7D6D8;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFF0F1;
  --md-sys-color-surface-container: #FBEAEC;
  --md-sys-color-surface-container-high: #F5E4E6;
  --md-sys-color-surface-container-highest: #EFDEE0;
  --md-sys-color-on-surface: #22191B;
  --md-sys-color-surface-variant: #EDDEE8;
  --md-sys-color-on-surface-variant: #4D444C;
  --md-sys-color-outline: #7F747C;
  --md-sys-color-outline-variant: #D0C3CC;
  --md-sys-color-inverse-surface: #382E30;
  --md-sys-color-inverse-on-surface: #FEEDEF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7D4E7D;
  --md-sys-color-primary: #7D4E7D;
  --md-sys-color-primary-dim: #875787;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #FFD6FA;
  --md-sys-color-on-primary-container: #633664;
  --md-sys-color-primary-fixed: #FFD6FA;
  --md-sys-color-primary-fixed-dim: #EDB4EA;
  --md-sys-color-on-primary-fixed: #320935;
  --md-sys-color-on-primary-fixed-variant: #633664;
  --md-sys-color-inverse-primary: #EDB4EA;
  --md-sys-color-secondary: #77574C;
  --md-sys-color-secondary-dim: #816055;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #FFDBCF;
  --md-sys-color-on-secondary-container: #5D4036;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #E7BDB0;
  --md-sys-color-on-secondary-fixed: #2C160D;
  --md-sys-color-on-secondary-fixed-variant: #5D4036;
  --md-sys-color-tertiary: #5A5B7E;
  --md-sys-color-tertiary-dim: #646588;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #E1E0FF;
  --md-sys-color-on-tertiary-container: #434465;
  --md-sys-color-tertiary-fixed: #E1E0FF;
  --md-sys-color-tertiary-fixed-dim: #C3C3EB;
  --md-sys-color-on-tertiary-fixed: #171837;
  --md-sys-color-on-tertiary-fixed-variant: #434465;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #FFD6FA;
  --md-sys-color-control-normal: #4D444C;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #EFDEE0;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D0C3CC;
  --md-sys-color-text-primary-inverse-disable-only: #EFDEE0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EFDEE0;
  --md-sys-color-text-hint-inverse: #EFDEE0;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #817476;
  --md-sys-color-neutral-variant-palette-key-color: #7F747C;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #7C6F71;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #D3C3C5;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFF0F1;
  --md-sys-color-surface-container: #F5E4E6;
  --md-sys-color-surface-container-high: #E9D9DB;
  --md-sys-color-surface-container-highest: #DECED0;
  --md-sys-color-on-surface: #170F11;
  --md-sys-color-surface-variant: #EDDEE8;
  --md-sys-color-on-surface-variant: #3C343B;
  --md-sys-color-outline: #595057;
  --md-sys-color-outline-variant: #756A72;
  --md-sys-color-inverse-surface: #382E30;
  --md-sys-color-inverse-on-surface: #FEEDEF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7D4E7D;
  --md-sys-color-primary: #502652;
  --md-sys-color-primary-dim: #603462;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #8D5C8D;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #8D5C8D;
  --md-sys-color-primary-fixed-dim: #724473;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #EDB4EA;
  --md-sys-color-secondary: #4A3026;
  --md-sys-color-secondary-dim: #5A3E34;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #87655A;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #87655A;
  --md-sys-color-secondary-fixed-dim: #6C4E43;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #323353;
  --md-sys-color-tertiary-dim: #404262;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #696A8D;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #696A8D;
  --md-sys-color-tertiary-fixed-dim: #515273;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8F0009;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #CF2C27;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #FFD6FA;
  --md-sys-color-control-normal: #4D444C;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #EFDEE0;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D0C3CC;
  --md-sys-color-text-primary-inverse-disable-only: #EFDEE0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EFDEE0;
  --md-sys-color-text-hint-inverse: #EFDEE0;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #817476;
  --md-sys-color-neutral-variant-palette-key-color: #7F747C;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #5E5254;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #C4B5B7;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FEEDEF;
  --md-sys-color-surface-container: #EFDEE0;
  --md-sys-color-surface-container-high: #E1D0D2;
  --md-sys-color-surface-container-highest: #D3C3C5;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #EDDEE8;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #322A31;
  --md-sys-color-outline-variant: #50464E;
  --md-sys-color-inverse-surface: #382E30;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7D4E7D;
  --md-sys-color-primary: #451B47;
  --md-sys-color-primary-dim: #360D3A;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #663967;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #663967;
  --md-sys-color-primary-fixed-dim: #4C224E;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #EDB4EA;
  --md-sys-color-secondary: #3F261D;
  --md-sys-color-secondary-dim: #311911;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #604238;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #604238;
  --md-sys-color-secondary-fixed-dim: #462C23;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #282948;
  --md-sys-color-tertiary-dim: #1B1C3B;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #454667;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #454667;
  --md-sys-color-tertiary-fixed-dim: #2E304F;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #98000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #FFD6FA;
  --md-sys-color-control-normal: #4D444C;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #EFDEE0;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D0C3CC;
  --md-sys-color-text-primary-inverse-disable-only: #EFDEE0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EFDEE0;
  --md-sys-color-text-hint-inverse: #EFDEE0;
  --md-sys-color-widget-background: #FFEBFA;
}
.dark {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #817476;
  --md-sys-color-neutral-variant-palette-key-color: #7F747C;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #191113;
  --md-sys-color-on-background: #EFDEE0;
  --md-sys-color-surface: #191113;
  --md-sys-color-surface-dim: #191113;
  --md-sys-color-surface-bright: #413738;
  --md-sys-color-surface-container-lowest: #140C0E;
  --md-sys-color-surface-container-low: #22191B;
  --md-sys-color-surface-container: #261D1F;
  --md-sys-color-surface-container-high: #312829;
  --md-sys-color-surface-container-highest: #3C3234;
  --md-sys-color-on-surface: #EFDEE0;
  --md-sys-color-surface-variant: #4D444C;
  --md-sys-color-on-surface-variant: #D0C3CC;
  --md-sys-color-outline: #998D96;
  --md-sys-color-outline-variant: #4D444C;
  --md-sys-color-inverse-surface: #EFDEE0;
  --md-sys-color-inverse-on-surface: #382E30;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #EDB4EA;
  --md-sys-color-primary: #EDB4EA;
  --md-sys-color-primary-dim: #FCC2F9;
  --md-sys-color-on-primary: #4A204C;
  --md-sys-color-primary-container: #633664;
  --md-sys-color-on-primary-container: #FFD6FA;
  --md-sys-color-primary-fixed: #FFD6FA;
  --md-sys-color-primary-fixed-dim: #EDB4EA;
  --md-sys-color-on-primary-fixed: #320935;
  --md-sys-color-on-primary-fixed-variant: #633664;
  --md-sys-color-inverse-primary: #7D4E7D;
  --md-sys-color-secondary: #E7BDB0;
  --md-sys-color-secondary-dim: #FFD4C5;
  --md-sys-color-on-secondary: #442A21;
  --md-sys-color-secondary-container: #5D4036;
  --md-sys-color-on-secondary-container: #FFDBCF;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #E7BDB0;
  --md-sys-color-on-secondary-fixed: #2C160D;
  --md-sys-color-on-secondary-fixed-variant: #5D4036;
  --md-sys-color-tertiary: #C3C3EB;
  --md-sys-color-tertiary-dim: #D1D1F9;
  --md-sys-color-on-tertiary: #2C2E4D;
  --md-sys-color-tertiary-container: #434465;
  --md-sys-color-on-tertiary-container: #E1E0FF;
  --md-sys-color-tertiary-fixed: #E1E0FF;
  --md-sys-color-tertiary-fixed-dim: #C3C3EB;
  --md-sys-color-on-tertiary-fixed: #171837;
  --md-sys-color-on-tertiary-fixed-variant: #434465;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #633664;
  --md-sys-color-control-normal: #D0C3CC;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #22191B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4D444C;
  --md-sys-color-text-primary-inverse-disable-only: #22191B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #22191B;
  --md-sys-color-text-hint-inverse: #22191B;
  --md-sys-color-widget-background: #4A204C;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #817476;
  --md-sys-color-neutral-variant-palette-key-color: #7F747C;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #191113;
  --md-sys-color-on-background: #EFDEE0;
  --md-sys-color-surface: #191113;
  --md-sys-color-surface-dim: #191113;
  --md-sys-color-surface-bright: #4D4243;
  --md-sys-color-surface-container-lowest: #0C0607;
  --md-sys-color-surface-container-low: #241B1D;
  --md-sys-color-surface-container: #2F2527;
  --md-sys-color-surface-container-high: #3A3032;
  --md-sys-color-surface-container-highest: #463B3D;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #4D444C;
  --md-sys-color-on-surface-variant: #E7D8E2;
  --md-sys-color-outline: #BBAEB7;
  --md-sys-color-outline-variant: #998D96;
  --md-sys-color-inverse-surface: #EFDEE0;
  --md-sys-color-inverse-on-surface: #312829;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #EDB4EA;
  --md-sys-color-primary: #FFCDFB;
  --md-sys-color-primary-dim: #FCC2F9;
  --md-sys-color-on-primary: #3E1440;
  --md-sys-color-primary-container: #B47FB2;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #FFD6FA;
  --md-sys-color-primary-fixed-dim: #EDB4EA;
  --md-sys-color-on-primary-fixed: #25002A;
  --md-sys-color-on-primary-fixed-variant: #502652;
  --md-sys-color-inverse-primary: #643765;
  --md-sys-color-secondary: #FED3C5;
  --md-sys-color-secondary-dim: #FFD4C5;
  --md-sys-color-on-secondary: #381F17;
  --md-sys-color-secondary-container: #AD887C;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #E7BDB0;
  --md-sys-color-on-secondary-fixed: #200B05;
  --md-sys-color-on-secondary-fixed-variant: #4A3026;
  --md-sys-color-tertiary: #D9D9FF;
  --md-sys-color-tertiary-dim: #D1D1F9;
  --md-sys-color-on-tertiary: #212341;
  --md-sys-color-tertiary-container: #8D8EB3;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #E1E0FF;
  --md-sys-color-tertiary-fixed-dim: #C3C3EB;
  --md-sys-color-on-tertiary-fixed: #0C0E2C;
  --md-sys-color-on-tertiary-fixed-variant: #323353;
  --md-sys-color-error: #FFD2CC;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #FF5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #633664;
  --md-sys-color-control-normal: #D0C3CC;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #22191B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4D444C;
  --md-sys-color-text-primary-inverse-disable-only: #22191B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #22191B;
  --md-sys-color-text-hint-inverse: #22191B;
  --md-sys-color-widget-background: #4A204C;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #926F63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #817476;
  --md-sys-color-neutral-variant-palette-key-color: #7F747C;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #191113;
  --md-sys-color-on-background: #EFDEE0;
  --md-sys-color-surface: #191113;
  --md-sys-color-surface-dim: #191113;
  --md-sys-color-surface-bright: #594D4F;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #261D1F;
  --md-sys-color-surface-container: #382E30;
  --md-sys-color-surface-container-high: #43393B;
  --md-sys-color-surface-container-highest: #4F4446;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #4D444C;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FBECF5;
  --md-sys-color-outline-variant: #CCBFC8;
  --md-sys-color-inverse-surface: #EFDEE0;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #EDB4EA;
  --md-sys-color-primary: #FFEAFA;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #E9B0E6;
  --md-sys-color-on-primary-container: #1C001F;
  --md-sys-color-primary-fixed: #FFD6FA;
  --md-sys-color-primary-fixed-dim: #EDB4EA;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #25002A;
  --md-sys-color-inverse-primary: #643765;
  --md-sys-color-secondary: #FFECE6;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #E3BAAC;
  --md-sys-color-on-secondary-container: #190602;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #E7BDB0;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #200B05;
  --md-sys-color-tertiary: #F1EEFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #BFBFE7;
  --md-sys-color-on-tertiary-container: #060726;
  --md-sys-color-tertiary-fixed: #E1E0FF;
  --md-sys-color-tertiary-fixed-dim: #C3C3EB;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0C0E2C;
  --md-sys-color-error: #FFECE9;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #FFAEA4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #633664;
  --md-sys-color-control-normal: #D0C3CC;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #22191B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4D444C;
  --md-sys-color-text-primary-inverse-disable-only: #22191B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #22191B;
  --md-sys-color-text-hint-inverse: #22191B;
  --md-sys-color-widget-background: #4A204C;
}
