.light {
  --md-sys-color-primary-palette-key-color: #EA0FFF;
  --md-sys-color-secondary-palette-key-color: #996E4D;
  --md-sys-color-tertiary-palette-key-color: #5B78A3;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #82727F;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #A18B8E;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #EED4D8;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFF0F1;
  --md-sys-color-surface-container: #FFE8EB;
  --md-sys-color-surface-container-high: #FCE2E6;
  --md-sys-color-surface-container-highest: #F6DCE0;
  --md-sys-color-on-surface: #26181B;
  --md-sys-color-surface-variant: #F1DDEC;
  --md-sys-color-on-surface-variant: #50434F;
  --md-sys-color-outline: #827280;
  --md-sys-color-outline-variant: #D4C1D0;
  --md-sys-color-inverse-surface: #3C2C2F;
  --md-sys-color-inverse-on-surface: #FFECEE;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #A500B4;
  --md-sys-color-primary: #A500B4;
  --md-sys-color-primary-dim: #B400C5;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #FFD6FA;
  --md-sys-color-on-primary-container: #7E008A;
  --md-sys-color-primary-fixed: #FFD6FA;
  --md-sys-color-primary-fixed-dim: #FFA9FE;
  --md-sys-color-on-primary-fixed: #36003C;
  --md-sys-color-on-primary-fixed-variant: #7E008A;
  --md-sys-color-inverse-primary: #FFA9FE;
  --md-sys-color-secondary: #7E5637;
  --md-sys-color-secondary-dim: #885F3F;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #FFDCC4;
  --md-sys-color-on-secondary-container: #633E22;
  --md-sys-color-secondary-fixed: #FFDCC4;
  --md-sys-color-secondary-fixed-dim: #F0BC96;
  --md-sys-color-on-secondary-fixed: #2F1400;
  --md-sys-color-on-secondary-fixed-variant: #633E22;
  --md-sys-color-tertiary: #426089;
  --md-sys-color-tertiary-dim: #4C6993;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #D4E3FF;
  --md-sys-color-on-tertiary-container: #294870;
  --md-sys-color-tertiary-fixed: #D4E3FF;
  --md-sys-color-tertiary-fixed-dim: #ABC8F7;
  --md-sys-color-on-tertiary-fixed: #001C3A;
  --md-sys-color-on-tertiary-fixed-variant: #294870;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #FFD6FA;
  --md-sys-color-control-normal: #50434F;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #F6DCE0;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D4C1D0;
  --md-sys-color-text-primary-inverse-disable-only: #F6DCE0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #F6DCE0;
  --md-sys-color-text-hint-inverse: #F6DCE0;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #EA0FFF;
  --md-sys-color-secondary-palette-key-color: #996E4D;
  --md-sys-color-tertiary-palette-key-color: #5B78A3;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #82727F;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #826D71;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #D9C0C4;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFF0F1;
  --md-sys-color-surface-container: #FCE2E6;
  --md-sys-color-surface-container-high: #F1D7DA;
  --md-sys-color-surface-container-highest: #E5CBCF;
  --md-sys-color-on-surface: #1A0D10;
  --md-sys-color-surface-variant: #F1DDEC;
  --md-sys-color-on-surface-variant: #3F323E;
  --md-sys-color-outline: #5D4E5B;
  --md-sys-color-outline-variant: #786875;
  --md-sys-color-inverse-surface: #3C2C2F;
  --md-sys-color-inverse-on-surface: #FFECEE;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #A500B4;
  --md-sys-color-primary: #62006C;
  --md-sys-color-primary-dim: #7A0086;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #BD00CF;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #BD00CF;
  --md-sys-color-primary-fixed-dim: #9500A3;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #FFA9FE;
  --md-sys-color-secondary: #4F2E13;
  --md-sys-color-secondary-dim: #603C20;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #8E6444;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #8E6444;
  --md-sys-color-secondary-fixed-dim: #734C2E;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #16375E;
  --md-sys-color-tertiary-dim: #27456D;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #516E98;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #516E98;
  --md-sys-color-tertiary-fixed-dim: #38567F;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8F0009;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #CF2C27;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #FFD6FA;
  --md-sys-color-control-normal: #50434F;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #F6DCE0;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D4C1D0;
  --md-sys-color-text-primary-inverse-disable-only: #F6DCE0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #F6DCE0;
  --md-sys-color-text-hint-inverse: #F6DCE0;
  --md-sys-color-widget-background: #FFEBFA;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #EA0FFF;
  --md-sys-color-secondary-palette-key-color: #996E4D;
  --md-sys-color-tertiary-palette-key-color: #5B78A3;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #82727F;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #635054;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #CBB3B7;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFECEE;
  --md-sys-color-surface-container: #F6DCE0;
  --md-sys-color-surface-container-high: #E8CED2;
  --md-sys-color-surface-container-highest: #D9C0C4;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #F1DDEC;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #352834;
  --md-sys-color-outline-variant: #534551;
  --md-sys-color-inverse-surface: #3C2C2F;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #A500B4;
  --md-sys-color-primary: #52005A;
  --md-sys-color-primary-dim: #3D0043;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #82008E;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #82008E;
  --md-sys-color-primary-fixed-dim: #5D0066;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #FFA9FE;
  --md-sys-color-secondary: #44240A;
  --md-sys-color-secondary-dim: #341801;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #654124;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #654124;
  --md-sys-color-secondary-fixed-dim: #4B2B10;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #072D53;
  --md-sys-color-tertiary-dim: #002041;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #2C4A72;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #2C4A72;
  --md-sys-color-tertiary-fixed-dim: #11335A;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #98000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #FFD6FA;
  --md-sys-color-control-normal: #50434F;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #F6DCE0;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D4C1D0;
  --md-sys-color-text-primary-inverse-disable-only: #F6DCE0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #F6DCE0;
  --md-sys-color-text-hint-inverse: #F6DCE0;
  --md-sys-color-widget-background: #FFEBFA;
}
.dark {
  --md-sys-color-primary-palette-key-color: #EA0FFF;
  --md-sys-color-secondary-palette-key-color: #996E4D;
  --md-sys-color-tertiary-palette-key-color: #5B78A3;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #82727F;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #1D1013;
  --md-sys-color-on-background: #F6DCE0;
  --md-sys-color-surface: #1D1013;
  --md-sys-color-surface-dim: #1D1013;
  --md-sys-color-surface-bright: #463538;
  --md-sys-color-surface-container-lowest: #170B0D;
  --md-sys-color-surface-container-low: #26181B;
  --md-sys-color-surface-container: #2A1C1F;
  --md-sys-color-surface-container-high: #352629;
  --md-sys-color-surface-container-highest: #413034;
  --md-sys-color-on-surface: #F6DCE0;
  --md-sys-color-surface-variant: #50434F;
  --md-sys-color-on-surface-variant: #D4C1D0;
  --md-sys-color-outline: #9D8C9A;
  --md-sys-color-outline-variant: #50434F;
  --md-sys-color-inverse-surface: #F6DCE0;
  --md-sys-color-inverse-on-surface: #3C2C2F;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFA9FE;
  --md-sys-color-primary: #FFA9FE;
  --md-sys-color-primary-dim: #FFC0FC;
  --md-sys-color-on-primary: #590062;
  --md-sys-color-primary-container: #7E008A;
  --md-sys-color-on-primary-container: #FFD6FA;
  --md-sys-color-primary-fixed: #FFD6FA;
  --md-sys-color-primary-fixed-dim: #FFA9FE;
  --md-sys-color-on-primary-fixed: #36003C;
  --md-sys-color-on-primary-fixed-variant: #7E008A;
  --md-sys-color-inverse-primary: #A500B4;
  --md-sys-color-secondary: #F0BC96;
  --md-sys-color-secondary-dim: #FFCAA4;
  --md-sys-color-on-secondary: #49290E;
  --md-sys-color-secondary-container: #633E22;
  --md-sys-color-on-secondary-container: #FFDCC4;
  --md-sys-color-secondary-fixed: #FFDCC4;
  --md-sys-color-secondary-fixed-dim: #F0BC96;
  --md-sys-color-on-secondary-fixed: #2F1400;
  --md-sys-color-on-secondary-fixed-variant: #633E22;
  --md-sys-color-tertiary: #ABC8F7;
  --md-sys-color-tertiary-dim: #BDD6FF;
  --md-sys-color-on-tertiary: #0E3158;
  --md-sys-color-tertiary-container: #294870;
  --md-sys-color-on-tertiary-container: #D4E3FF;
  --md-sys-color-tertiary-fixed: #D4E3FF;
  --md-sys-color-tertiary-fixed-dim: #ABC8F7;
  --md-sys-color-on-tertiary-fixed: #001C3A;
  --md-sys-color-on-tertiary-fixed-variant: #294870;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #7E008A;
  --md-sys-color-control-normal: #D4C1D0;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #26181B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #50434F;
  --md-sys-color-text-primary-inverse-disable-only: #26181B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #26181B;
  --md-sys-color-text-hint-inverse: #26181B;
  --md-sys-color-widget-background: #590062;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #EA0FFF;
  --md-sys-color-secondary-palette-key-color: #996E4D;
  --md-sys-color-tertiary-palette-key-color: #5B78A3;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #82727F;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #1D1013;
  --md-sys-color-on-background: #F6DCE0;
  --md-sys-color-surface: #1D1013;
  --md-sys-color-surface-dim: #1D1013;
  --md-sys-color-surface-bright: #524043;
  --md-sys-color-surface-container-lowest: #0F0507;
  --md-sys-color-surface-container-low: #281A1D;
  --md-sys-color-surface-container: #332427;
  --md-sys-color-surface-container-high: #3F2E31;
  --md-sys-color-surface-container-highest: #4A393C;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #50434F;
  --md-sys-color-on-surface-variant: #EBD7E6;
  --md-sys-color-outline: #BFACBB;
  --md-sys-color-outline-variant: #9C8B99;
  --md-sys-color-inverse-surface: #F6DCE0;
  --md-sys-color-inverse-on-surface: #352629;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFA9FE;
  --md-sys-color-primary: #FFCDFB;
  --md-sys-color-primary-dim: #FFC0FC;
  --md-sys-color-on-primary: #47004E;
  --md-sys-color-primary-container: #ED38FF;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #FFD6FA;
  --md-sys-color-primary-fixed-dim: #FFA9FE;
  --md-sys-color-on-primary-fixed: #25002A;
  --md-sys-color-on-primary-fixed-variant: #62006C;
  --md-sys-color-inverse-primary: #80008C;
  --md-sys-color-secondary: #FFD4B6;
  --md-sys-color-secondary-dim: #FFCAA4;
  --md-sys-color-on-secondary: #3C1E05;
  --md-sys-color-secondary-container: #B68765;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #FFDCC4;
  --md-sys-color-secondary-fixed-dim: #F0BC96;
  --md-sys-color-on-secondary-fixed: #200C00;
  --md-sys-color-on-secondary-fixed-variant: #4F2E13;
  --md-sys-color-tertiary: #CADDFF;
  --md-sys-color-tertiary-dim: #BDD6FF;
  --md-sys-color-on-tertiary: #00264B;
  --md-sys-color-tertiary-container: #7592BE;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #D4E3FF;
  --md-sys-color-tertiary-fixed-dim: #ABC8F7;
  --md-sys-color-on-tertiary-fixed: #001128;
  --md-sys-color-on-tertiary-fixed-variant: #16375E;
  --md-sys-color-error: #FFD2CC;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #FF5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #7E008A;
  --md-sys-color-control-normal: #D4C1D0;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #26181B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #50434F;
  --md-sys-color-text-primary-inverse-disable-only: #26181B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #26181B;
  --md-sys-color-text-hint-inverse: #26181B;
  --md-sys-color-widget-background: #590062;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #EA0FFF;
  --md-sys-color-secondary-palette-key-color: #996E4D;
  --md-sys-color-tertiary-palette-key-color: #5B78A3;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #82727F;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #1D1013;
  --md-sys-color-on-background: #F6DCE0;
  --md-sys-color-surface: #1D1013;
  --md-sys-color-surface-dim: #1D1013;
  --md-sys-color-surface-bright: #5E4B4F;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2A1C1F;
  --md-sys-color-surface-container: #3C2C2F;
  --md-sys-color-surface-container-high: #48373A;
  --md-sys-color-surface-container-highest: #544246;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #50434F;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FFEAFA;
  --md-sys-color-outline-variant: #D0BDCC;
  --md-sys-color-inverse-surface: #F6DCE0;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFA9FE;
  --md-sys-color-primary: #FFEAFA;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #FFA2FF;
  --md-sys-color-on-primary-container: #1C001F;
  --md-sys-color-primary-fixed: #FFD6FA;
  --md-sys-color-primary-fixed-dim: #FFA9FE;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #25002A;
  --md-sys-color-inverse-primary: #80008C;
  --md-sys-color-secondary: #FFECE2;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ECB892;
  --md-sys-color-on-secondary-container: #170700;
  --md-sys-color-secondary-fixed: #FFDCC4;
  --md-sys-color-secondary-fixed-dim: #F0BC96;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #200C00;
  --md-sys-color-tertiary: #EAF0FF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #A7C4F3;
  --md-sys-color-on-tertiary-container: #000B1E;
  --md-sys-color-tertiary-fixed: #D4E3FF;
  --md-sys-color-tertiary-fixed-dim: #ABC8F7;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #001128;
  --md-sys-color-error: #FFECE9;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #FFAEA4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #7E008A;
  --md-sys-color-control-normal: #D4C1D0;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #26181B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #50434F;
  --md-sys-color-text-primary-inverse-disable-only: #26181B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #26181B;
  --md-sys-color-text-hint-inverse: #26181B;
  --md-sys-color-widget-background: #590062;
}
