.light {
  --md-sys-color-primary-palette-key-color: #885EDB;
  --md-sys-color-secondary-palette-key-color: #806FA1;
  --md-sys-color-tertiary-palette-key-color: #8468BC;
  --md-sys-color-neutral-palette-key-color: #7B7485;
  --md-sys-color-neutral-variant-palette-key-color: #7B7485;
  --md-sys-color-error-palette-key-color: #CB4B57;
  --md-sys-color-background: #FEF7FF;
  --md-sys-color-on-background: #372E49;
  --md-sys-color-surface: #FEF7FF;
  --md-sys-color-surface-dim: #E2D4F8;
  --md-sys-color-surface-bright: #FEF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F9F1FF;
  --md-sys-color-surface-container: #F4EAFF;
  --md-sys-color-surface-container-high: #EFE3FF;
  --md-sys-color-surface-container-highest: #EADDFF;
  --md-sys-color-on-surface: #372E49;
  --md-sys-color-surface-variant: #EADDFF;
  --md-sys-color-on-surface-variant: #655A78;
  --md-sys-color-outline: #817595;
  --md-sys-color-outline-variant: #B9ACCF;
  --md-sys-color-inverse-surface: #120923;
  --md-sys-color-inverse-on-surface: #A29AAC;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6438B5;
  --md-sys-color-primary: #6438B5;
  --md-sys-color-primary-dim: #6438B5;
  --md-sys-color-on-primary: #EDE1FF;
  --md-sys-color-primary-container: #6438B5;
  --md-sys-color-on-primary-container: #EDE1FF;
  --md-sys-color-primary-fixed: #6438B5;
  --md-sys-color-primary-fixed-dim: #582AA8;
  --md-sys-color-on-primary-fixed: #FCF5FF;
  --md-sys-color-on-primary-fixed-variant: #D4BEFF;
  --md-sys-color-inverse-primary: #AF87FF;
  --md-sys-color-secondary: #675787;
  --md-sys-color-secondary-dim: #675787;
  --md-sys-color-on-secondary: #FDF7FF;
  --md-sys-color-secondary-container: #D7C3FB;
  --md-sys-color-on-secondary-container: #4B3C6A;
  --md-sys-color-secondary-fixed: #D7C3FB;
  --md-sys-color-secondary-fixed-dim: #C8B5EC;
  --md-sys-color-on-secondary-fixed: #372855;
  --md-sys-color-on-secondary-fixed-variant: #544574;
  --md-sys-color-tertiary: #604596;
  --md-sys-color-tertiary-dim: #604596;
  --md-sys-color-on-tertiary: #EDE1FF;
  --md-sys-color-tertiary-container: #604596;
  --md-sys-color-on-tertiary-container: #EDE1FF;
  --md-sys-color-tertiary-fixed: #604596;
  --md-sys-color-tertiary-fixed-dim: #543889;
  --md-sys-color-on-tertiary-fixed: #FCF5FF;
  --md-sys-color-on-tertiary-fixed-variant: #D4BEFF;
  --md-sys-color-error: #AB3341;
  --md-sys-color-error-dim: #AB3341;
  --md-sys-color-on-error: #FFF7F6;
  --md-sys-color-error-container: #FD707B;
  --md-sys-color-on-error-container: #49000E;
  --md-sys-color-control-activated: #6438B5;
  --md-sys-color-control-normal: #655A78;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #A29AAC;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CCC3D6;
  --md-sys-color-text-primary-inverse-disable-only: #E8DFF2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E8DFF2;
  --md-sys-color-text-hint-inverse: #E8DFF2;
  --md-sys-color-widget-background: #F7EDFF;
  --md-sys-color-clock-hour: #453664;
  --md-sys-color-clock-minute: #6539B6;
  --md-sys-color-clock-second: #6A4FA1;
  --md-sys-color-weather-temp: #6F44C0;
  --md-sys-color-theme-app: #EADDFF;
  --md-sys-color-on-theme-app: #5627A7;
  --md-sys-color-theme-app-ring: #BB9AFF;
  --md-sys-color-theme-notif: #D2BBFF;
  --md-sys-color-brand-a: #6C41BD;
  --md-sys-color-brand-b: #B5A2D8;
  --md-sys-color-brand-c: #885EDB;
  --md-sys-color-brand-d: #997DD3;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #754AC7;
  --md-sys-color-on-shade-active-variant: #5627A7;
  --md-sys-color-shade-inactive: #332E3C;
  --md-sys-color-on-shade-inactive: #E8DFF2;
  --md-sys-color-on-shade-inactive-variant: #CCC3D6;
  --md-sys-color-shade-disabled: #100C19;
  --md-sys-color-overview-background: #CCC3D6;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #885EDB;
  --md-sys-color-secondary-palette-key-color: #806FA1;
  --md-sys-color-tertiary-palette-key-color: #8468BC;
  --md-sys-color-neutral-palette-key-color: #7B7485;
  --md-sys-color-neutral-variant-palette-key-color: #7B7485;
  --md-sys-color-error-palette-key-color: #CB4B57;
  --md-sys-color-background: #FEF7FF;
  --md-sys-color-on-background: #281F3A;
  --md-sys-color-surface: #FEF7FF;
  --md-sys-color-surface-dim: #E2D4F8;
  --md-sys-color-surface-bright: #FEF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F9F1FF;
  --md-sys-color-surface-container: #F4EAFF;
  --md-sys-color-surface-container-high: #EFE3FF;
  --md-sys-color-surface-container-highest: #EADDFF;
  --md-sys-color-on-surface: #281F3A;
  --md-sys-color-surface-variant: #EADDFF;
  --md-sys-color-on-surface-variant: #483E5B;
  --md-sys-color-outline: #655A78;
  --md-sys-color-outline-variant: #817595;
  --md-sys-color-inverse-surface: #120923;
  --md-sys-color-inverse-on-surface: #CAC1D4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #5222A3;
  --md-sys-color-primary: #5222A3;
  --md-sys-color-primary-dim: #5222A3;
  --md-sys-color-on-primary: #E3D2FF;
  --md-sys-color-primary-container: #6438B5;
  --md-sys-color-on-primary-container: #FCF5FF;
  --md-sys-color-primary-fixed: #6438B5;
  --md-sys-color-primary-fixed-dim: #582AA8;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FCF5FF;
  --md-sys-color-inverse-primary: #D1B9FF;
  --md-sys-color-secondary: #4A3B69;
  --md-sys-color-secondary-dim: #4A3B69;
  --md-sys-color-on-secondary: #E3D2FF;
  --md-sys-color-secondary-container: #7D6C9E;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #7D6C9E;
  --md-sys-color-secondary-fixed-dim: #706091;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #4E3283;
  --md-sys-color-tertiary-dim: #4E3283;
  --md-sys-color-on-tertiary: #E3D2FF;
  --md-sys-color-tertiary-container: #604596;
  --md-sys-color-on-tertiary-container: #FCF5FF;
  --md-sys-color-tertiary-fixed: #604596;
  --md-sys-color-tertiary-fixed-dim: #543889;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FCF5FF;
  --md-sys-color-error: #841427;
  --md-sys-color-error-dim: #841427;
  --md-sys-color-on-error: #FFCECE;
  --md-sys-color-error-container: #C84855;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #6438B5;
  --md-sys-color-control-normal: #483E5B;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #CAC1D4;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CCC3D6;
  --md-sys-color-text-primary-inverse-disable-only: #E8DFF2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E8DFF2;
  --md-sys-color-text-hint-inverse: #E8DFF2;
  --md-sys-color-widget-background: #F7EDFF;
  --md-sys-color-clock-hour: #2A1B48;
  --md-sys-color-clock-minute: #481399;
  --md-sys-color-clock-second: #000000;
  --md-sys-color-weather-temp: #000000;
  --md-sys-color-theme-app: #EADDFF;
  --md-sys-color-on-theme-app: #37007E;
  --md-sys-color-theme-app-ring: #865CD8;
  --md-sys-color-theme-notif: #D2BBFF;
  --md-sys-color-brand-a: #5121A2;
  --md-sys-color-brand-b: #9584B7;
  --md-sys-color-brand-c: #6235B2;
  --md-sys-color-brand-d: #7B60B3;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #5729A8;
  --md-sys-color-on-shade-active-variant: #5627A7;
  --md-sys-color-shade-inactive: #332E3C;
  --md-sys-color-on-shade-inactive: #E8DFF2;
  --md-sys-color-on-shade-inactive-variant: #CCC3D6;
  --md-sys-color-shade-disabled: #100C19;
  --md-sys-color-overview-background: #CCC3D6;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #885EDB;
  --md-sys-color-secondary-palette-key-color: #806FA1;
  --md-sys-color-tertiary-palette-key-color: #8468BC;
  --md-sys-color-neutral-palette-key-color: #7B7485;
  --md-sys-color-neutral-variant-palette-key-color: #7B7485;
  --md-sys-color-error-palette-key-color: #CB4B57;
  --md-sys-color-background: #FEF7FF;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #FEF7FF;
  --md-sys-color-surface-dim: #E2D4F8;
  --md-sys-color-surface-bright: #FEF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F9F1FF;
  --md-sys-color-surface-container: #F4EAFF;
  --md-sys-color-surface-container-high: #EFE3FF;
  --md-sys-color-surface-container-highest: #EADDFF;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #EADDFF;
  --md-sys-color-on-surface-variant: #281F3A;
  --md-sys-color-outline: #483E5B;
  --md-sys-color-outline-variant: #574D6B;
  --md-sys-color-inverse-surface: #120923;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #2F006F;
  --md-sys-color-primary: #2F006F;
  --md-sys-color-primary-dim: #2F006F;
  --md-sys-color-on-primary: #E3D3FF;
  --md-sys-color-primary-container: #6236B3;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #6236B3;
  --md-sys-color-primary-fixed-dim: #5627A6;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #FFFFFF;
  --md-sys-color-secondary: #2A1B48;
  --md-sys-color-secondary-dim: #2A1B48;
  --md-sys-color-on-secondary: #E3D3FF;
  --md-sys-color-secondary-container: #5A4A7A;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #5A4A7A;
  --md-sys-color-secondary-fixed-dim: #4E3E6D;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #2E0D62;
  --md-sys-color-tertiary-dim: #2E0D62;
  --md-sys-color-on-tertiary: #E3D3FF;
  --md-sys-color-tertiary-container: #5E4294;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #5E4294;
  --md-sys-color-tertiary-fixed-dim: #523687;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #500010;
  --md-sys-color-error-dim: #500010;
  --md-sys-color-on-error: #FFCECF;
  --md-sys-color-error-container: #992635;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #6236B3;
  --md-sys-color-control-normal: #281F3A;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #FFFFFF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CCC3D6;
  --md-sys-color-text-primary-inverse-disable-only: #E8DFF2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E8DFF2;
  --md-sys-color-text-hint-inverse: #E8DFF2;
  --md-sys-color-widget-background: #F7EDFF;
  --md-sys-color-clock-hour: #000000;
  --md-sys-color-clock-minute: #25005A;
  --md-sys-color-clock-second: #3D2172;
  --md-sys-color-weather-temp: #420393;
  --md-sys-color-theme-app: #EADDFF;
  --md-sys-color-on-theme-app: #000000;
  --md-sys-color-theme-app-ring: #784ECA;
  --md-sys-color-theme-notif: #D2BBFF;
  --md-sys-color-brand-a: #3D008A;
  --md-sys-color-brand-b: #776798;
  --md-sys-color-brand-c: #592BA9;
  --md-sys-color-brand-d: #674C9E;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #37007E;
  --md-sys-color-on-shade-active-variant: #37007E;
  --md-sys-color-shade-inactive: #332E3C;
  --md-sys-color-on-shade-inactive: #FFFFFF;
  --md-sys-color-on-shade-inactive-variant: #F2E8FC;
  --md-sys-color-shade-disabled: #100C19;
  --md-sys-color-overview-background: #CCC3D6;
}
.dark {
  --md-sys-color-primary-palette-key-color: #885EDB;
  --md-sys-color-secondary-palette-key-color: #806FA1;
  --md-sys-color-tertiary-palette-key-color: #8468BC;
  --md-sys-color-neutral-palette-key-color: #7B7485;
  --md-sys-color-neutral-variant-palette-key-color: #7B7485;
  --md-sys-color-error-palette-key-color: #CB4B57;
  --md-sys-color-background: #100C19;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #100C19;
  --md-sys-color-surface-dim: #100C19;
  --md-sys-color-surface-bright: #302743;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #161022;
  --md-sys-color-surface-container: #1D162A;
  --md-sys-color-surface-container-high: #231C32;
  --md-sys-color-surface-container-highest: #2A213C;
  --md-sys-color-on-surface: #EDE0FF;
  --md-sys-color-surface-variant: #2A213C;
  --md-sys-color-on-surface-variant: #B2A5C7;
  --md-sys-color-outline: #7B7090;
  --md-sys-color-outline-variant: #4D4360;
  --md-sys-color-inverse-surface: #FEF7FF;
  --md-sys-color-inverse-on-surface: #585262;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #AF88FF;
  --md-sys-color-primary: #AF88FF;
  --md-sys-color-primary-dim: #AF88FF;
  --md-sys-color-on-primary: #2B0065;
  --md-sys-color-primary-container: #6438B5;
  --md-sys-color-on-primary-container: #EDE1FF;
  --md-sys-color-primary-fixed: #6438B5;
  --md-sys-color-primary-fixed-dim: #582AA8;
  --md-sys-color-on-primary-fixed: #FCF5FF;
  --md-sys-color-on-primary-fixed-variant: #D4BEFF;
  --md-sys-color-inverse-primary: #6539B6;
  --md-sys-color-secondary: #A795CA;
  --md-sys-color-secondary-dim: #A795CA;
  --md-sys-color-on-secondary: #261744;
  --md-sys-color-secondary-container: #372855;
  --md-sys-color-on-secondary-container: #BAA7DE;
  --md-sys-color-secondary-fixed: #D7C3FB;
  --md-sys-color-secondary-fixed-dim: #C8B5EC;
  --md-sys-color-on-secondary-fixed: #372855;
  --md-sys-color-on-secondary-fixed-variant: #544574;
  --md-sys-color-tertiary: #AC8FE6;
  --md-sys-color-tertiary-dim: #AC8FE6;
  --md-sys-color-on-tertiary: #2A065F;
  --md-sys-color-tertiary-container: #604596;
  --md-sys-color-on-tertiary-container: #EDE1FF;
  --md-sys-color-tertiary-fixed: #604596;
  --md-sys-color-tertiary-fixed-dim: #543889;
  --md-sys-color-on-tertiary-fixed: #FCF5FF;
  --md-sys-color-on-tertiary-fixed-variant: #D4BEFF;
  --md-sys-color-error: #FD707B;
  --md-sys-color-error-dim: #FD707B;
  --md-sys-color-on-error: #49000E;
  --md-sys-color-error-container: #70011B;
  --md-sys-color-on-error-container: #FF9A9E;
  --md-sys-color-control-activated: #6438B5;
  --md-sys-color-control-normal: #B2A5C7;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #585262;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4A4454;
  --md-sys-color-text-primary-inverse-disable-only: #1E1927;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1E1927;
  --md-sys-color-text-hint-inverse: #1E1927;
  --md-sys-color-widget-background: #372855;
  --md-sys-color-clock-hour: #D2BBFF;
  --md-sys-color-clock-minute: #EADDFF;
  --md-sys-color-clock-second: #EADDFF;
  --md-sys-color-weather-temp: #D2BBFF;
  --md-sys-color-theme-app: #372855;
  --md-sys-color-on-theme-app: #D2BBFF;
  --md-sys-color-theme-app-ring: #BB9AFF;
  --md-sys-color-theme-notif: #AC8FE6;
  --md-sys-color-brand-a: #D2BBFF;
  --md-sys-color-brand-b: #FEF7FF;
  --md-sys-color-brand-c: #A67CFB;
  --md-sys-color-brand-d: #EADDFF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #25005A;
  --md-sys-color-on-shade-active-variant: #5627A7;
  --md-sys-color-shade-inactive: #332E3C;
  --md-sys-color-on-shade-inactive: #B0A8BA;
  --md-sys-color-on-shade-inactive-variant: #CCC3D6;
  --md-sys-color-shade-disabled: #100C19;
  --md-sys-color-overview-background: #56505F;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #885EDB;
  --md-sys-color-secondary-palette-key-color: #806FA1;
  --md-sys-color-tertiary-palette-key-color: #8468BC;
  --md-sys-color-neutral-palette-key-color: #7B7485;
  --md-sys-color-neutral-variant-palette-key-color: #7B7485;
  --md-sys-color-error-palette-key-color: #CB4B57;
  --md-sys-color-background: #100C19;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #100C19;
  --md-sys-color-surface-dim: #100C19;
  --md-sys-color-surface-bright: #302743;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #161022;
  --md-sys-color-surface-container: #1D162A;
  --md-sys-color-surface-container-high: #231C32;
  --md-sys-color-surface-container-highest: #2A213C;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #2A213C;
  --md-sys-color-on-surface-variant: #C0B3D6;
  --md-sys-color-outline: #9A8EAF;
  --md-sys-color-outline-variant: #7B7090;
  --md-sys-color-inverse-surface: #FEF7FF;
  --md-sys-color-inverse-on-surface: #3B3644;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #C7ABFF;
  --md-sys-color-primary: #C7ABFF;
  --md-sys-color-primary-dim: #C7ABFF;
  --md-sys-color-on-primary: #390083;
  --md-sys-color-primary-container: #865CD8;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #865CD8;
  --md-sys-color-primary-fixed-dim: #865DD9;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #471098;
  --md-sys-color-secondary: #C3B0E6;
  --md-sys-color-secondary-dim: #C3B0E6;
  --md-sys-color-on-secondary: #332451;
  --md-sys-color-secondary-container: #7D6C9E;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #D7C3FB;
  --md-sys-color-secondary-fixed-dim: #C8B5EC;
  --md-sys-color-on-secondary-fixed: #050017;
  --md-sys-color-on-secondary-fixed-variant: #372855;
  --md-sys-color-tertiary: #C7ABFF;
  --md-sys-color-tertiary-dim: #C7ABFF;
  --md-sys-color-on-tertiary: #36186B;
  --md-sys-color-tertiary-container: #8165B9;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #8165B9;
  --md-sys-color-tertiary-fixed-dim: #8266BA;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #FF9EA2;
  --md-sys-color-error-dim: #FF9EA2;
  --md-sys-color-on-error: #600015;
  --md-sys-color-error-container: #C84855;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #865CD8;
  --md-sys-color-control-normal: #C0B3D6;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #3B3644;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4A4454;
  --md-sys-color-text-primary-inverse-disable-only: #1E1927;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1E1927;
  --md-sys-color-text-hint-inverse: #1E1927;
  --md-sys-color-widget-background: #372855;
  --md-sys-color-clock-hour: #D2BBFF;
  --md-sys-color-clock-minute: #EADDFF;
  --md-sys-color-clock-second: #FFFFFF;
  --md-sys-color-weather-temp: #FFFFFF;
  --md-sys-color-theme-app: #372855;
  --md-sys-color-on-theme-app: #F3E8FF;
  --md-sys-color-theme-app-ring: #BB9AFF;
  --md-sys-color-theme-notif: #AC8FE6;
  --md-sys-color-brand-a: #DCC8FF;
  --md-sys-color-brand-b: #FEF7FF;
  --md-sys-color-brand-c: #C4A7FF;
  --md-sys-color-brand-d: #EADDFF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #25005A;
  --md-sys-color-on-shade-active-variant: #5627A7;
  --md-sys-color-shade-inactive: #332E3C;
  --md-sys-color-on-shade-inactive: #C4BBCE;
  --md-sys-color-on-shade-inactive-variant: #CCC3D6;
  --md-sys-color-shade-disabled: #100C19;
  --md-sys-color-overview-background: #56505F;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #885EDB;
  --md-sys-color-secondary-palette-key-color: #806FA1;
  --md-sys-color-tertiary-palette-key-color: #8468BC;
  --md-sys-color-neutral-palette-key-color: #7B7485;
  --md-sys-color-neutral-variant-palette-key-color: #7B7485;
  --md-sys-color-error-palette-key-color: #CB4B57;
  --md-sys-color-background: #100C19;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #100C19;
  --md-sys-color-surface-dim: #100C19;
  --md-sys-color-surface-bright: #302743;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #161022;
  --md-sys-color-surface-container: #1D162A;
  --md-sys-color-surface-container-high: #231C32;
  --md-sys-color-surface-container-highest: #2A213C;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #2A213C;
  --md-sys-color-on-surface-variant: #EDE0FF;
  --md-sys-color-outline: #C0B3D6;
  --md-sys-color-outline-variant: #AB9EC0;
  --md-sys-color-inverse-surface: #FEF7FF;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #EDE0FF;
  --md-sys-color-primary: #EDE0FF;
  --md-sys-color-primary-dim: #EDE0FF;
  --md-sys-color-on-primary: #390083;
  --md-sys-color-primary-container: #B490FF;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #B490FF;
  --md-sys-color-primary-fixed-dim: #B490FF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-secondary: #EDE0FF;
  --md-sys-color-secondary-dim: #EDE0FF;
  --md-sys-color-on-secondary: #322451;
  --md-sys-color-secondary-container: #AD9BD0;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #D7C3FB;
  --md-sys-color-secondary-fixed-dim: #C8B5EC;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #050017;
  --md-sys-color-tertiary: #EDE0FF;
  --md-sys-color-tertiary-dim: #EDE0FF;
  --md-sys-color-on-tertiary: #36186B;
  --md-sys-color-tertiary-container: #B295ED;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #B295ED;
  --md-sys-color-tertiary-fixed-dim: #B295ED;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFDEDE;
  --md-sys-color-error-dim: #FFDEDE;
  --md-sys-color-on-error: #5F0015;
  --md-sys-color-error-container: #FF7A83;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #B490FF;
  --md-sys-color-control-normal: #EDE0FF;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4A4454;
  --md-sys-color-text-primary-inverse-disable-only: #1E1927;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1E1927;
  --md-sys-color-text-hint-inverse: #1E1927;
  --md-sys-color-widget-background: #372855;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #FFFFFF;
  --md-sys-color-clock-second: #F3E8FF;
  --md-sys-color-weather-temp: #F3E8FF;
  --md-sys-color-theme-app: #372855;
  --md-sys-color-on-theme-app: #FFFFFF;
  --md-sys-color-theme-app-ring: #BB9AFF;
  --md-sys-color-theme-notif: #AC8FE6;
  --md-sys-color-brand-a: #E2D2FF;
  --md-sys-color-brand-b: #FEF7FF;
  --md-sys-color-brand-c: #D4BEFF;
  --md-sys-color-brand-d: #EFE4FF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #000000;
  --md-sys-color-on-shade-active-variant: #37007E;
  --md-sys-color-shade-inactive: #332E3C;
  --md-sys-color-on-shade-inactive: #F2E8FC;
  --md-sys-color-on-shade-inactive-variant: #F2E8FC;
  --md-sys-color-shade-disabled: #100C19;
  --md-sys-color-overview-background: #56505F;
}
