.light {
  --md-sys-color-primary-palette-key-color: #7707FF;
  --md-sys-color-secondary-palette-key-color: #846F92;
  --md-sys-color-tertiary-palette-key-color: #926995;
  --md-sys-color-neutral-palette-key-color: #7B7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B7484;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FEF7FF;
  --md-sys-color-on-background: #1D1A24;
  --md-sys-color-surface: #FEF7FF;
  --md-sys-color-surface-dim: #DFD7E6;
  --md-sys-color-surface-bright: #FEF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F9F1FF;
  --md-sys-color-surface-container: #F3EBFA;
  --md-sys-color-surface-container-high: #EDE5F4;
  --md-sys-color-surface-container-highest: #E8DFEE;
  --md-sys-color-on-surface: #1D1A24;
  --md-sys-color-surface-variant: #E8DFF1;
  --md-sys-color-on-surface-variant: #4A4453;
  --md-sys-color-outline: #7B7484;
  --md-sys-color-outline-variant: #CCC3D5;
  --md-sys-color-inverse-surface: #332F3A;
  --md-sys-color-inverse-on-surface: #F6EEFD;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7706FF;
  --md-sys-color-primary: #7706FF;
  --md-sys-color-primary-dim: #7706FF;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #EADDFF;
  --md-sys-color-on-primary-container: #5A00C6;
  --md-sys-color-primary-fixed: #EADDFF;
  --md-sys-color-primary-fixed-dim: #D2BBFF;
  --md-sys-color-on-primary-fixed: #25005A;
  --md-sys-color-on-primary-fixed-variant: #5A00C6;
  --md-sys-color-inverse-primary: #D2BBFF;
  --md-sys-color-secondary: #6B5778;
  --md-sys-color-secondary-dim: #756082;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #F2DAFF;
  --md-sys-color-on-secondary-container: #523F5F;
  --md-sys-color-secondary-fixed: #F2DAFF;
  --md-sys-color-secondary-fixed-dim: #D7BEE4;
  --md-sys-color-on-secondary-fixed: #251431;
  --md-sys-color-on-secondary-fixed-variant: #523F5F;
  --md-sys-color-tertiary: #78517B;
  --md-sys-color-tertiary-dim: #825A85;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #FFD5FF;
  --md-sys-color-on-tertiary-container: #5E3962;
  --md-sys-color-tertiary-fixed: #FFD5FF;
  --md-sys-color-tertiary-fixed-dim: #E6B7E8;
  --md-sys-color-on-tertiary-fixed: #2E0D34;
  --md-sys-color-on-tertiary-fixed-variant: #5E3962;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #EADDFF;
  --md-sys-color-control-normal: #4A4453;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E8DFEE;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CCC3D5;
  --md-sys-color-text-primary-inverse-disable-only: #E8DFEE;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E8DFEE;
  --md-sys-color-text-hint-inverse: #E8DFEE;
  --md-sys-color-widget-background: #FBECFF;
  --md-sys-color-clock-hour: #523F5F;
  --md-sys-color-clock-minute: #6B00E9;
  --md-sys-color-clock-second: #78517B;
  --md-sys-color-weather-temp: #7706FF;
  --md-sys-color-theme-app: #7706FF;
  --md-sys-color-on-theme-app: #FFFFFF;
  --md-sys-color-theme-app-ring: #7706FF;
  --md-sys-color-theme-notif: #825A86;
  --md-sys-color-brand-a: #7400FA;
  --md-sys-color-brand-b: #BAA3C8;
  --md-sys-color-brand-c: #8D4FFF;
  --md-sys-color-brand-d: #A97EAC;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #25005A;
  --md-sys-color-on-shade-active-variant: #5A00C6;
  --md-sys-color-shade-inactive: #332F3A;
  --md-sys-color-on-shade-inactive: #B0A8B9;
  --md-sys-color-on-shade-inactive-variant: #CCC3D5;
  --md-sys-color-shade-disabled: #100D16;
  --md-sys-color-overview-background: #CCC3D5;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7707FF;
  --md-sys-color-secondary-palette-key-color: #846F92;
  --md-sys-color-tertiary-palette-key-color: #926995;
  --md-sys-color-neutral-palette-key-color: #7B7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B7484;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FEF7FF;
  --md-sys-color-on-background: #1D1A24;
  --md-sys-color-surface: #FEF7FF;
  --md-sys-color-surface-dim: #CBC4D2;
  --md-sys-color-surface-bright: #FEF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F9F1FF;
  --md-sys-color-surface-container: #EDE5F4;
  --md-sys-color-surface-container-high: #E2DAE9;
  --md-sys-color-surface-container-highest: #D7CFDD;
  --md-sys-color-on-surface: #130F19;
  --md-sys-color-surface-variant: #E8DFF1;
  --md-sys-color-on-surface-variant: #393442;
  --md-sys-color-outline: #56505F;
  --md-sys-color-outline-variant: #716A7A;
  --md-sys-color-inverse-surface: #332F3A;
  --md-sys-color-inverse-on-surface: #F6EEFD;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7706FF;
  --md-sys-color-primary: #46009C;
  --md-sys-color-primary-dim: #5700C0;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #843BFF;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #843BFF;
  --md-sys-color-primary-fixed-dim: #6B00E9;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #D2BBFF;
  --md-sys-color-secondary: #412F4E;
  --md-sys-color-secondary-dim: #503D5D;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #7A6587;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #7A6587;
  --md-sys-color-secondary-fixed-dim: #614D6E;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #4C2951;
  --md-sys-color-tertiary-dim: #5C3760;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #875F8B;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #875F8B;
  --md-sys-color-tertiary-fixed-dim: #6D4771;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8F0009;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #CF2C27;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #EADDFF;
  --md-sys-color-control-normal: #4A4453;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E8DFEE;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CCC3D5;
  --md-sys-color-text-primary-inverse-disable-only: #E8DFEE;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E8DFEE;
  --md-sys-color-text-hint-inverse: #E8DFEE;
  --md-sys-color-widget-background: #FBECFF;
  --md-sys-color-clock-hour: #523F5F;
  --md-sys-color-clock-minute: #4A00A4;
  --md-sys-color-clock-second: #000000;
  --md-sys-color-weather-temp: #000000;
  --md-sys-color-theme-app: #7706FF;
  --md-sys-color-on-theme-app: #FFFFFF;
  --md-sys-color-theme-app-ring: #7706FF;
  --md-sys-color-theme-notif: #C296C5;
  --md-sys-color-brand-a: #5400B9;
  --md-sys-color-brand-b: #9A84A8;
  --md-sys-color-brand-c: #6800E1;
  --md-sys-color-brand-d: #89618D;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #25005A;
  --md-sys-color-on-shade-active-variant: #5A00C6;
  --md-sys-color-shade-inactive: #332F3A;
  --md-sys-color-on-shade-inactive: #B0A8B9;
  --md-sys-color-on-shade-inactive-variant: #CCC3D5;
  --md-sys-color-shade-disabled: #100D16;
  --md-sys-color-overview-background: #CCC3D5;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #7707FF;
  --md-sys-color-secondary-palette-key-color: #846F92;
  --md-sys-color-tertiary-palette-key-color: #926995;
  --md-sys-color-neutral-palette-key-color: #7B7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B7484;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FEF7FF;
  --md-sys-color-on-background: #1D1A24;
  --md-sys-color-surface: #FEF7FF;
  --md-sys-color-surface-dim: #BDB6C4;
  --md-sys-color-surface-bright: #FEF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F6EEFD;
  --md-sys-color-surface-container: #E8DFEE;
  --md-sys-color-surface-container-high: #D9D1E0;
  --md-sys-color-surface-container-highest: #CBC4D2;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E8DFF1;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #2F2A37;
  --md-sys-color-outline-variant: #4C4755;
  --md-sys-color-inverse-surface: #332F3A;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7706FF;
  --md-sys-color-primary: #390083;
  --md-sys-color-primary-dim: #2A0063;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #5D00CC;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #5D00CC;
  --md-sys-color-primary-fixed-dim: #410093;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #D2BBFF;
  --md-sys-color-secondary: #362543;
  --md-sys-color-secondary-dim: #291836;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #554262;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #554262;
  --md-sys-color-secondary-fixed-dim: #3D2B4A;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #411F46;
  --md-sys-color-tertiary-dim: #331138;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #613C65;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #613C65;
  --md-sys-color-tertiary-fixed-dim: #48254D;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #98000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #EADDFF;
  --md-sys-color-control-normal: #4A4453;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E8DFEE;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CCC3D5;
  --md-sys-color-text-primary-inverse-disable-only: #E8DFEE;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E8DFEE;
  --md-sys-color-text-hint-inverse: #E8DFEE;
  --md-sys-color-widget-background: #FBECFF;
  --md-sys-color-clock-hour: #251431;
  --md-sys-color-clock-minute: #25005A;
  --md-sys-color-clock-second: #48264D;
  --md-sys-color-weather-temp: #420095;
  --md-sys-color-theme-app: #7706FF;
  --md-sys-color-on-theme-app: #FFFFFF;
  --md-sys-color-theme-app-ring: #7300FA;
  --md-sys-color-theme-notif: #E6B7E8;
  --md-sys-color-brand-a: #3B0086;
  --md-sys-color-brand-b: #7A6588;
  --md-sys-color-brand-c: #5B00C8;
  --md-sys-color-brand-d: #734D77;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #000000;
  --md-sys-color-on-shade-active-variant: #37007E;
  --md-sys-color-shade-inactive: #332F3A;
  --md-sys-color-on-shade-inactive: #D5CCDE;
  --md-sys-color-on-shade-inactive-variant: #F2E8FB;
  --md-sys-color-shade-disabled: #100D16;
  --md-sys-color-overview-background: #CCC3D5;
}
.dark {
  --md-sys-color-primary-palette-key-color: #7707FF;
  --md-sys-color-secondary-palette-key-color: #846F92;
  --md-sys-color-tertiary-palette-key-color: #926995;
  --md-sys-color-neutral-palette-key-color: #7B7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B7484;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #15121C;
  --md-sys-color-on-background: #E8DFEE;
  --md-sys-color-surface: #15121C;
  --md-sys-color-surface-dim: #15121C;
  --md-sys-color-surface-bright: #3C3743;
  --md-sys-color-surface-container-lowest: #100D16;
  --md-sys-color-surface-container-low: #1D1A24;
  --md-sys-color-surface-container: #221E28;
  --md-sys-color-surface-container-high: #2C2833;
  --md-sys-color-surface-container-highest: #37333E;
  --md-sys-color-on-surface: #E8DFEE;
  --md-sys-color-surface-variant: #4A4453;
  --md-sys-color-on-surface-variant: #CCC3D5;
  --md-sys-color-outline: #958E9E;
  --md-sys-color-outline-variant: #4A4453;
  --md-sys-color-inverse-surface: #E8DFEE;
  --md-sys-color-inverse-on-surface: #332F3A;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D2BBFF;
  --md-sys-color-primary: #D2BBFF;
  --md-sys-color-primary-dim: #DECCFF;
  --md-sys-color-on-primary: #3F008E;
  --md-sys-color-primary-container: #5A00C6;
  --md-sys-color-on-primary-container: #EADDFF;
  --md-sys-color-primary-fixed: #EADDFF;
  --md-sys-color-primary-fixed-dim: #D2BBFF;
  --md-sys-color-on-primary-fixed: #25005A;
  --md-sys-color-on-primary-fixed-variant: #5A00C6;
  --md-sys-color-inverse-primary: #7706FF;
  --md-sys-color-secondary: #D7BEE4;
  --md-sys-color-secondary-dim: #E8CEF6;
  --md-sys-color-on-secondary: #3B2948;
  --md-sys-color-secondary-container: #523F5F;
  --md-sys-color-on-secondary-container: #F2DAFF;
  --md-sys-color-secondary-fixed: #F2DAFF;
  --md-sys-color-secondary-fixed-dim: #D7BEE4;
  --md-sys-color-on-secondary-fixed: #251431;
  --md-sys-color-on-secondary-fixed-variant: #523F5F;
  --md-sys-color-tertiary: #E6B7E8;
  --md-sys-color-tertiary-dim: #FBCAFD;
  --md-sys-color-on-tertiary: #45234B;
  --md-sys-color-tertiary-container: #5E3962;
  --md-sys-color-on-tertiary-container: #FFD5FF;
  --md-sys-color-tertiary-fixed: #FFD5FF;
  --md-sys-color-tertiary-fixed-dim: #E6B7E8;
  --md-sys-color-on-tertiary-fixed: #2E0D34;
  --md-sys-color-on-tertiary-fixed-variant: #5E3962;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #5A00C6;
  --md-sys-color-control-normal: #CCC3D5;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4A4453;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A24;
  --md-sys-color-text-hint-inverse: #1D1A24;
  --md-sys-color-widget-background: #3B2948;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #EADDFF;
  --md-sys-color-clock-second: #FFD5FF;
  --md-sys-color-weather-temp: #D2BBFF;
  --md-sys-color-theme-app: #AF98BD;
  --md-sys-color-on-theme-app: #1C0048;
  --md-sys-color-theme-app-ring: #7706FF;
  --md-sys-color-theme-notif: #E6B7E8;
  --md-sys-color-brand-a: #D2BBFF;
  --md-sys-color-brand-b: #FFF7FD;
  --md-sys-color-brand-c: #AC83FF;
  --md-sys-color-brand-d: #FFD5FF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #D2BBFF;
  --md-sys-color-on-shade-active-variant: #5A00C6;
  --md-sys-color-shade-inactive: #332F3A;
  --md-sys-color-on-shade-inactive: #E8DFF1;
  --md-sys-color-on-shade-inactive-variant: #CCC3D5;
  --md-sys-color-shade-disabled: #100D16;
  --md-sys-color-overview-background: #56505F;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7707FF;
  --md-sys-color-secondary-palette-key-color: #846F92;
  --md-sys-color-tertiary-palette-key-color: #926995;
  --md-sys-color-neutral-palette-key-color: #7B7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B7484;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #15121C;
  --md-sys-color-on-background: #E8DFEE;
  --md-sys-color-surface: #15121C;
  --md-sys-color-surface-dim: #15121C;
  --md-sys-color-surface-bright: #47424E;
  --md-sys-color-surface-container-lowest: #09060F;
  --md-sys-color-surface-container-low: #201C26;
  --md-sys-color-surface-container: #2A2631;
  --md-sys-color-surface-container-high: #35313C;
  --md-sys-color-surface-container-highest: #403C47;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #4A4453;
  --md-sys-color-on-surface-variant: #E2D9EB;
  --md-sys-color-outline: #B7AFC0;
  --md-sys-color-outline-variant: #958D9E;
  --md-sys-color-inverse-surface: #E8DFEE;
  --md-sys-color-inverse-on-surface: #2C2833;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D2BBFF;
  --md-sys-color-primary: #E5D5FF;
  --md-sys-color-primary-dim: #DECCFF;
  --md-sys-color-on-primary: #310073;
  --md-sys-color-primary-container: #A476FF;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #EADDFF;
  --md-sys-color-primary-fixed-dim: #D2BBFF;
  --md-sys-color-on-primary-fixed: #180040;
  --md-sys-color-on-primary-fixed-variant: #46009C;
  --md-sys-color-inverse-primary: #5B00C9;
  --md-sys-color-secondary: #EDD3FB;
  --md-sys-color-secondary-dim: #E8CEF6;
  --md-sys-color-on-secondary: #301E3C;
  --md-sys-color-secondary-container: #9F88AD;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #F2DAFF;
  --md-sys-color-secondary-fixed-dim: #D7BEE4;
  --md-sys-color-on-secondary-fixed: #1A0926;
  --md-sys-color-on-secondary-fixed-variant: #412F4E;
  --md-sys-color-tertiary: #FECDFF;
  --md-sys-color-tertiary-dim: #FBCAFD;
  --md-sys-color-on-tertiary: #3A183F;
  --md-sys-color-tertiary-container: #AD82B0;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #FFD5FF;
  --md-sys-color-tertiary-fixed-dim: #E6B7E8;
  --md-sys-color-on-tertiary-fixed: #220329;
  --md-sys-color-on-tertiary-fixed-variant: #4C2951;
  --md-sys-color-error: #FFD2CC;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #FF5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #5A00C6;
  --md-sys-color-control-normal: #CCC3D5;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4A4453;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A24;
  --md-sys-color-text-hint-inverse: #1D1A24;
  --md-sys-color-widget-background: #3B2948;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #EADDFF;
  --md-sys-color-clock-second: #FFFFFF;
  --md-sys-color-weather-temp: #FFFFFF;
  --md-sys-color-theme-app: #AF98BD;
  --md-sys-color-on-theme-app: #000000;
  --md-sys-color-theme-app-ring: #A476FF;
  --md-sys-color-theme-notif: #E6B7E8;
  --md-sys-color-brand-a: #E4D4FF;
  --md-sys-color-brand-b: #FFFEFF;
  --md-sys-color-brand-c: #CCB2FF;
  --md-sys-color-brand-d: #FFE4FD;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #D2BBFF;
  --md-sys-color-on-shade-active-variant: #5A00C6;
  --md-sys-color-shade-inactive: #332F3A;
  --md-sys-color-on-shade-inactive: #E8DFF1;
  --md-sys-color-on-shade-inactive-variant: #CCC3D5;
  --md-sys-color-shade-disabled: #100D16;
  --md-sys-color-overview-background: #56505F;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #7707FF;
  --md-sys-color-secondary-palette-key-color: #846F92;
  --md-sys-color-tertiary-palette-key-color: #926995;
  --md-sys-color-neutral-palette-key-color: #7B7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B7484;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #15121C;
  --md-sys-color-on-background: #E8DFEE;
  --md-sys-color-surface: #15121C;
  --md-sys-color-surface-dim: #15121C;
  --md-sys-color-surface-bright: #534E5A;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #221E28;
  --md-sys-color-surface-container: #332F3A;
  --md-sys-color-surface-container-high: #3E3945;
  --md-sys-color-surface-container-highest: #494550;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #4A4453;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #F6ECFF;
  --md-sys-color-outline-variant: #C8BFD1;
  --md-sys-color-inverse-surface: #E8DFEE;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D2BBFF;
  --md-sys-color-primary: #F6ECFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #CFB7FF;
  --md-sys-color-on-primary-container: #110031;
  --md-sys-color-primary-fixed: #EADDFF;
  --md-sys-color-primary-fixed-dim: #D2BBFF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #180040;
  --md-sys-color-inverse-primary: #5B00C9;
  --md-sys-color-secondary: #FAEBFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #D3BAE0;
  --md-sys-color-on-secondary-container: #140420;
  --md-sys-color-secondary-fixed: #F2DAFF;
  --md-sys-color-secondary-fixed-dim: #D7BEE4;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #1A0926;
  --md-sys-color-tertiary: #FFEAFC;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #E2B3E4;
  --md-sys-color-on-tertiary-container: #1B0021;
  --md-sys-color-tertiary-fixed: #FFD5FF;
  --md-sys-color-tertiary-fixed-dim: #E6B7E8;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #220329;
  --md-sys-color-error: #FFECE9;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #FFAEA4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #5A00C6;
  --md-sys-color-control-normal: #CCC3D5;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4A4453;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A24;
  --md-sys-color-text-hint-inverse: #1D1A24;
  --md-sys-color-widget-background: #3B2948;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #FFFFFF;
  --md-sys-color-clock-second: #FFE4FD;
  --md-sys-color-weather-temp: #F3E8FF;
  --md-sys-color-theme-app: #AF98BD;
  --md-sys-color-on-theme-app: #000000;
  --md-sys-color-theme-app-ring: #B693FF;
  --md-sys-color-theme-notif: #E6B7E8;
  --md-sys-color-brand-a: #EEE1FF;
  --md-sys-color-brand-b: #FFFFFF;
  --md-sys-color-brand-c: #DFCCFF;
  --md-sys-color-brand-d: #FFF3FB;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #6E00EF;
  --md-sys-color-on-shade-active-variant: #37007E;
  --md-sys-color-shade-inactive: #332F3A;
  --md-sys-color-on-shade-inactive: #FFFFFF;
  --md-sys-color-on-shade-inactive-variant: #F2E8FB;
  --md-sys-color-shade-disabled: #100D16;
  --md-sys-color-overview-background: #56505F;
}
