.light {
  --md-sys-color-primary-palette-key-color: #885EDB;
  --md-sys-color-secondary-palette-key-color: #806FA1;
  --md-sys-color-tertiary-palette-key-color: #922777;
  --md-sys-color-neutral-palette-key-color: #7A757F;
  --md-sys-color-neutral-variant-palette-key-color: #7B7484;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FEF7FF;
  --md-sys-color-on-background: #1D1A22;
  --md-sys-color-surface: #FEF7FF;
  --md-sys-color-surface-dim: #DFD8E3;
  --md-sys-color-surface-bright: #FEF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F9F1FC;
  --md-sys-color-surface-container: #F3EBF7;
  --md-sys-color-surface-container-high: #EDE6F1;
  --md-sys-color-surface-container-highest: #E7E0EB;
  --md-sys-color-on-surface: #1D1A22;
  --md-sys-color-surface-variant: #E8DFF1;
  --md-sys-color-on-surface-variant: #4A4453;
  --md-sys-color-outline: #7B7484;
  --md-sys-color-outline-variant: #CCC3D5;
  --md-sys-color-inverse-surface: #322F37;
  --md-sys-color-inverse-on-surface: #F6EEF9;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6F44C0;
  --md-sys-color-primary: #4C199D;
  --md-sys-color-primary-dim: #784ECA;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #6438B5;
  --md-sys-color-on-primary-container: #D4BEFF;
  --md-sys-color-primary-fixed: #EADDFF;
  --md-sys-color-primary-fixed-dim: #D2BBFF;
  --md-sys-color-on-primary-fixed: #25005A;
  --md-sys-color-on-primary-fixed-variant: #5627A7;
  --md-sys-color-inverse-primary: #D2BBFF;
  --md-sys-color-secondary: #665687;
  --md-sys-color-secondary-dim: #706091;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #D9C6FE;
  --md-sys-color-on-secondary-container: #605080;
  --md-sys-color-secondary-fixed: #EADDFF;
  --md-sys-color-secondary-fixed-dim: #D1BDF5;
  --md-sys-color-on-secondary-fixed: #21123F;
  --md-sys-color-on-secondary-fixed-variant: #4E3F6D;
  --md-sys-color-tertiary: #75055E;
  --md-sys-color-tertiary-dim: #AA3D8C;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #922777;
  --md-sys-color-on-tertiary-container: #FFB1E1;
  --md-sys-color-tertiary-fixed: #FFD8ED;
  --md-sys-color-tertiary-fixed-dim: #FFADE0;
  --md-sys-color-on-tertiary-fixed: #3B002E;
  --md-sys-color-on-tertiary-fixed-variant: #811668;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #EADDFF;
  --md-sys-color-control-normal: #4A4453;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E7E0EB;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CCC3D5;
  --md-sys-color-text-primary-inverse-disable-only: #E7E0EB;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E0EB;
  --md-sys-color-text-hint-inverse: #E7E0EB;
  --md-sys-color-widget-background: #F7EDFF;
  --md-sys-color-clock-hour: #4E3F6D;
  --md-sys-color-clock-minute: #6539B6;
  --md-sys-color-clock-second: #9F3282;
  --md-sys-color-weather-temp: #6F44C0;
  --md-sys-color-theme-app: #EADDFF;
  --md-sys-color-on-theme-app: #5627A7;
  --md-sys-color-theme-app-ring: #BB9AFF;
  --md-sys-color-theme-notif: #AB3D8C;
  --md-sys-color-brand-a: #6C41BD;
  --md-sys-color-brand-b: #B5A2D8;
  --md-sys-color-brand-c: #885EDB;
  --md-sys-color-brand-d: #D662B3;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #25005A;
  --md-sys-color-on-shade-active-variant: #5627A7;
  --md-sys-color-shade-inactive: #322F37;
  --md-sys-color-on-shade-inactive: #B0A8B9;
  --md-sys-color-on-shade-inactive-variant: #CCC3D5;
  --md-sys-color-shade-disabled: #100D14;
  --md-sys-color-overview-background: #CCC3D5;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #885EDB;
  --md-sys-color-secondary-palette-key-color: #806FA1;
  --md-sys-color-tertiary-palette-key-color: #922777;
  --md-sys-color-neutral-palette-key-color: #7A757F;
  --md-sys-color-neutral-variant-palette-key-color: #7B7484;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FEF7FF;
  --md-sys-color-on-background: #1D1A22;
  --md-sys-color-surface: #FEF7FF;
  --md-sys-color-surface-dim: #CBC4CF;
  --md-sys-color-surface-bright: #FEF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F9F1FC;
  --md-sys-color-surface-container: #EDE6F1;
  --md-sys-color-surface-container-high: #E1DAE5;
  --md-sys-color-surface-container-highest: #D6CFDA;
  --md-sys-color-on-surface: #131017;
  --md-sys-color-surface-variant: #E8DFF1;
  --md-sys-color-on-surface-variant: #393442;
  --md-sys-color-outline: #56505F;
  --md-sys-color-outline-variant: #716A7A;
  --md-sys-color-inverse-surface: #322F37;
  --md-sys-color-inverse-on-surface: #F6EEF9;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6F44C0;
  --md-sys-color-primary: #450B96;
  --md-sys-color-primary-dim: #5424A4;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #6438B5;
  --md-sys-color-on-primary-container: #FCF5FF;
  --md-sys-color-primary-fixed: #7E54D0;
  --md-sys-color-primary-fixed-dim: #6539B6;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #D2BBFF;
  --md-sys-color-secondary: #3D2E5B;
  --md-sys-color-secondary-dim: #4C3C6B;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #756596;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #756596;
  --md-sys-color-secondary-fixed-dim: #5C4D7C;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #6A0055;
  --md-sys-color-tertiary-dim: #7E1366;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #922777;
  --md-sys-color-on-tertiary-container: #FFF5F8;
  --md-sys-color-tertiary-fixed: #B14292;
  --md-sys-color-tertiary-fixed-dim: #932878;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8F0009;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #CF2C27;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #EADDFF;
  --md-sys-color-control-normal: #4A4453;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E7E0EB;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CCC3D5;
  --md-sys-color-text-primary-inverse-disable-only: #E7E0EB;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E0EB;
  --md-sys-color-text-hint-inverse: #E7E0EB;
  --md-sys-color-widget-background: #F7EDFF;
  --md-sys-color-clock-hour: #4E3F6D;
  --md-sys-color-clock-minute: #481399;
  --md-sys-color-clock-second: #000000;
  --md-sys-color-weather-temp: #000000;
  --md-sys-color-theme-app: #EADDFF;
  --md-sys-color-on-theme-app: #37007E;
  --md-sys-color-theme-app-ring: #865CD8;
  --md-sys-color-theme-notif: #FFA8DF;
  --md-sys-color-brand-a: #5121A2;
  --md-sys-color-brand-b: #9584B7;
  --md-sys-color-brand-c: #6235B2;
  --md-sys-color-brand-d: #B34494;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #25005A;
  --md-sys-color-on-shade-active-variant: #5627A7;
  --md-sys-color-shade-inactive: #322F37;
  --md-sys-color-on-shade-inactive: #B0A8B9;
  --md-sys-color-on-shade-inactive-variant: #CCC3D5;
  --md-sys-color-shade-disabled: #100D14;
  --md-sys-color-overview-background: #CCC3D5;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #885EDB;
  --md-sys-color-secondary-palette-key-color: #806FA1;
  --md-sys-color-tertiary-palette-key-color: #922777;
  --md-sys-color-neutral-palette-key-color: #7A757F;
  --md-sys-color-neutral-variant-palette-key-color: #7B7484;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FEF7FF;
  --md-sys-color-on-background: #1D1A22;
  --md-sys-color-surface: #FEF7FF;
  --md-sys-color-surface-dim: #BDB6C1;
  --md-sys-color-surface-bright: #FEF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F6EEF9;
  --md-sys-color-surface-container: #E7E0EB;
  --md-sys-color-surface-container-high: #D9D2DD;
  --md-sys-color-surface-container-highest: #CBC4CF;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E8DFF1;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #2F2A37;
  --md-sys-color-outline-variant: #4C4755;
  --md-sys-color-inverse-surface: #322F37;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6F44C0;
  --md-sys-color-primary: #390083;
  --md-sys-color-primary-dim: #2A0063;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #592BA9;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #592BA9;
  --md-sys-color-primary-fixed-dim: #410292;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #D2BBFF;
  --md-sys-color-secondary: #332451;
  --md-sys-color-secondary-dim: #251643;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #504170;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #504170;
  --md-sys-color-secondary-fixed-dim: #392A58;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #580046;
  --md-sys-color-tertiary-dim: #420034;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #84196B;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #84196B;
  --md-sys-color-tertiary-fixed-dim: #630050;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #98000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #EADDFF;
  --md-sys-color-control-normal: #4A4453;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E7E0EB;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CCC3D5;
  --md-sys-color-text-primary-inverse-disable-only: #E7E0EB;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E0EB;
  --md-sys-color-text-hint-inverse: #E7E0EB;
  --md-sys-color-widget-background: #F7EDFF;
  --md-sys-color-clock-hour: #21123F;
  --md-sys-color-clock-minute: #25005A;
  --md-sys-color-clock-second: #640050;
  --md-sys-color-weather-temp: #420393;
  --md-sys-color-theme-app: #EADDFF;
  --md-sys-color-on-theme-app: #000000;
  --md-sys-color-theme-app-ring: #6C40BD;
  --md-sys-color-theme-notif: #FFADE0;
  --md-sys-color-brand-a: #3B0086;
  --md-sys-color-brand-b: #756596;
  --md-sys-color-brand-c: #5729A8;
  --md-sys-color-brand-d: #992E7D;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #000000;
  --md-sys-color-on-shade-active-variant: #37007E;
  --md-sys-color-shade-inactive: #322F37;
  --md-sys-color-on-shade-inactive: #D5CCDE;
  --md-sys-color-on-shade-inactive-variant: #F2E8FB;
  --md-sys-color-shade-disabled: #100D14;
  --md-sys-color-overview-background: #CCC3D5;
}
.dark {
  --md-sys-color-primary-palette-key-color: #885EDB;
  --md-sys-color-secondary-palette-key-color: #806FA1;
  --md-sys-color-tertiary-palette-key-color: #922777;
  --md-sys-color-neutral-palette-key-color: #7A757F;
  --md-sys-color-neutral-variant-palette-key-color: #7B7484;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #15121A;
  --md-sys-color-on-background: #E7E0EB;
  --md-sys-color-surface: #15121A;
  --md-sys-color-surface-dim: #15121A;
  --md-sys-color-surface-bright: #3B3840;
  --md-sys-color-surface-container-lowest: #100D14;
  --md-sys-color-surface-container-low: #1D1A22;
  --md-sys-color-surface-container: #211E26;
  --md-sys-color-surface-container-high: #2C2931;
  --md-sys-color-surface-container-highest: #37333C;
  --md-sys-color-on-surface: #E7E0EB;
  --md-sys-color-surface-variant: #4A4453;
  --md-sys-color-on-surface-variant: #CCC3D5;
  --md-sys-color-outline: #958E9E;
  --md-sys-color-outline-variant: #4A4453;
  --md-sys-color-inverse-surface: #E7E0EB;
  --md-sys-color-inverse-on-surface: #322F37;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D2BBFF;
  --md-sys-color-primary: #D2BBFF;
  --md-sys-color-primary-dim: #DECCFF;
  --md-sys-color-on-primary: #3F008E;
  --md-sys-color-primary-container: #6438B5;
  --md-sys-color-on-primary-container: #D4BEFF;
  --md-sys-color-primary-fixed: #EADDFF;
  --md-sys-color-primary-fixed-dim: #D2BBFF;
  --md-sys-color-on-primary-fixed: #25005A;
  --md-sys-color-on-primary-fixed-variant: #5627A7;
  --md-sys-color-inverse-primary: #6F44C0;
  --md-sys-color-secondary: #D1BDF5;
  --md-sys-color-secondary-dim: #DECCFF;
  --md-sys-color-on-secondary: #372855;
  --md-sys-color-secondary-container: #504170;
  --md-sys-color-on-secondary-container: #C2AFE6;
  --md-sys-color-secondary-fixed: #EADDFF;
  --md-sys-color-secondary-fixed-dim: #D1BDF5;
  --md-sys-color-on-secondary-fixed: #21123F;
  --md-sys-color-on-secondary-fixed-variant: #4E3F6D;
  --md-sys-color-tertiary: #FFADE0;
  --md-sys-color-tertiary-dim: #FFC3E6;
  --md-sys-color-on-tertiary: #60004C;
  --md-sys-color-tertiary-container: #922777;
  --md-sys-color-on-tertiary-container: #FFB1E1;
  --md-sys-color-tertiary-fixed: #FFD8ED;
  --md-sys-color-tertiary-fixed-dim: #FFADE0;
  --md-sys-color-on-tertiary-fixed: #3B002E;
  --md-sys-color-on-tertiary-fixed-variant: #811668;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #5627A7;
  --md-sys-color-control-normal: #CCC3D5;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1A22;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4A4453;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A22;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A22;
  --md-sys-color-text-hint-inverse: #1D1A22;
  --md-sys-color-widget-background: #372855;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #EADDFF;
  --md-sys-color-clock-second: #FFD8ED;
  --md-sys-color-weather-temp: #D2BBFF;
  --md-sys-color-theme-app: #372855;
  --md-sys-color-on-theme-app: #D2BBFF;
  --md-sys-color-theme-app-ring: #BB9AFF;
  --md-sys-color-theme-notif: #FFADE0;
  --md-sys-color-brand-a: #D2BBFF;
  --md-sys-color-brand-b: #FEF7FF;
  --md-sys-color-brand-c: #AC83FF;
  --md-sys-color-brand-d: #FFD8ED;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #D2BBFF;
  --md-sys-color-on-shade-active-variant: #5627A7;
  --md-sys-color-shade-inactive: #322F37;
  --md-sys-color-on-shade-inactive: #E8DFF1;
  --md-sys-color-on-shade-inactive-variant: #CCC3D5;
  --md-sys-color-shade-disabled: #100D14;
  --md-sys-color-overview-background: #56505F;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #885EDB;
  --md-sys-color-secondary-palette-key-color: #806FA1;
  --md-sys-color-tertiary-palette-key-color: #922777;
  --md-sys-color-neutral-palette-key-color: #7A757F;
  --md-sys-color-neutral-variant-palette-key-color: #7B7484;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #15121A;
  --md-sys-color-on-background: #E7E0EB;
  --md-sys-color-surface: #15121A;
  --md-sys-color-surface-dim: #15121A;
  --md-sys-color-surface-bright: #47434C;
  --md-sys-color-surface-container-lowest: #08060D;
  --md-sys-color-surface-container-low: #1F1C24;
  --md-sys-color-surface-container: #2A262F;
  --md-sys-color-surface-container-high: #353139;
  --md-sys-color-surface-container-highest: #403C45;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #4A4453;
  --md-sys-color-on-surface-variant: #E2D9EB;
  --md-sys-color-outline: #B7AFC0;
  --md-sys-color-outline-variant: #958D9E;
  --md-sys-color-inverse-surface: #E7E0EB;
  --md-sys-color-inverse-on-surface: #2C2931;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D2BBFF;
  --md-sys-color-primary: #E5D5FF;
  --md-sys-color-primary-dim: #DECCFF;
  --md-sys-color-on-primary: #310073;
  --md-sys-color-primary-container: #A379F7;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #EADDFF;
  --md-sys-color-primary-fixed-dim: #D2BBFF;
  --md-sys-color-on-primary-fixed: #180040;
  --md-sys-color-on-primary-fixed-variant: #450B96;
  --md-sys-color-inverse-primary: #5729A8;
  --md-sys-color-secondary: #E5D5FF;
  --md-sys-color-secondary-dim: #DECCFF;
  --md-sys-color-on-secondary: #2C1D4A;
  --md-sys-color-secondary-container: #9A88BC;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #EADDFF;
  --md-sys-color-secondary-fixed-dim: #D1BDF5;
  --md-sys-color-on-secondary-fixed: #170634;
  --md-sys-color-on-secondary-fixed-variant: #3D2E5B;
  --md-sys-color-tertiary: #FFCFEA;
  --md-sys-color-tertiary-dim: #FFC3E6;
  --md-sys-color-on-tertiary: #4D003D;
  --md-sys-color-tertiary-container: #DC66B8;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #FFD8ED;
  --md-sys-color-tertiary-fixed-dim: #FFADE0;
  --md-sys-color-on-tertiary-fixed: #29001F;
  --md-sys-color-on-tertiary-fixed-variant: #6A0055;
  --md-sys-color-error: #FFD2CC;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #FF5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #5627A7;
  --md-sys-color-control-normal: #CCC3D5;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1A22;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4A4453;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A22;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A22;
  --md-sys-color-text-hint-inverse: #1D1A22;
  --md-sys-color-widget-background: #372855;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #EADDFF;
  --md-sys-color-clock-second: #FFFFFF;
  --md-sys-color-weather-temp: #FFFFFF;
  --md-sys-color-theme-app: #372855;
  --md-sys-color-on-theme-app: #F3E8FF;
  --md-sys-color-theme-app-ring: #BB9AFF;
  --md-sys-color-theme-notif: #FFADE0;
  --md-sys-color-brand-a: #E4D4FF;
  --md-sys-color-brand-b: #FFFEFF;
  --md-sys-color-brand-c: #CCB2FF;
  --md-sys-color-brand-d: #FFE5F1;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #D2BBFF;
  --md-sys-color-on-shade-active-variant: #5627A7;
  --md-sys-color-shade-inactive: #322F37;
  --md-sys-color-on-shade-inactive: #E8DFF1;
  --md-sys-color-on-shade-inactive-variant: #CCC3D5;
  --md-sys-color-shade-disabled: #100D14;
  --md-sys-color-overview-background: #56505F;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #885EDB;
  --md-sys-color-secondary-palette-key-color: #806FA1;
  --md-sys-color-tertiary-palette-key-color: #922777;
  --md-sys-color-neutral-palette-key-color: #7A757F;
  --md-sys-color-neutral-variant-palette-key-color: #7B7484;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #15121A;
  --md-sys-color-on-background: #E7E0EB;
  --md-sys-color-surface: #15121A;
  --md-sys-color-surface-dim: #15121A;
  --md-sys-color-surface-bright: #524E57;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #211E26;
  --md-sys-color-surface-container: #322F37;
  --md-sys-color-surface-container-high: #3D3A42;
  --md-sys-color-surface-container-highest: #49454E;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #4A4453;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #F6ECFF;
  --md-sys-color-outline-variant: #C8BFD1;
  --md-sys-color-inverse-surface: #E7E0EB;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D2BBFF;
  --md-sys-color-primary: #F6ECFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #CFB7FF;
  --md-sys-color-on-primary-container: #110031;
  --md-sys-color-primary-fixed: #EADDFF;
  --md-sys-color-primary-fixed-dim: #D2BBFF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #180040;
  --md-sys-color-inverse-primary: #5729A8;
  --md-sys-color-secondary: #F6ECFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #CDBAF1;
  --md-sys-color-on-secondary-container: #11012F;
  --md-sys-color-secondary-fixed: #EADDFF;
  --md-sys-color-secondary-fixed-dim: #D1BDF5;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #170634;
  --md-sys-color-tertiary: #FFEBF4;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #FFA7DE;
  --md-sys-color-on-tertiary-container: #1E0017;
  --md-sys-color-tertiary-fixed: #FFD8ED;
  --md-sys-color-tertiary-fixed-dim: #FFADE0;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #29001F;
  --md-sys-color-error: #FFECE9;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #FFAEA4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #5627A7;
  --md-sys-color-control-normal: #CCC3D5;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1A22;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4A4453;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A22;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A22;
  --md-sys-color-text-hint-inverse: #1D1A22;
  --md-sys-color-widget-background: #372855;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #FFFFFF;
  --md-sys-color-clock-second: #FFE5F2;
  --md-sys-color-weather-temp: #F3E8FF;
  --md-sys-color-theme-app: #372855;
  --md-sys-color-on-theme-app: #FFFFFF;
  --md-sys-color-theme-app-ring: #BB9AFF;
  --md-sys-color-theme-notif: #FFADE0;
  --md-sys-color-brand-a: #EEE1FF;
  --md-sys-color-brand-b: #FFFFFF;
  --md-sys-color-brand-c: #DFCCFF;
  --md-sys-color-brand-d: #FFF3F7;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #673CB8;
  --md-sys-color-on-shade-active-variant: #37007E;
  --md-sys-color-shade-inactive: #322F37;
  --md-sys-color-on-shade-inactive: #FFFFFF;
  --md-sys-color-on-shade-inactive-variant: #F2E8FB;
  --md-sys-color-shade-disabled: #100D14;
  --md-sys-color-overview-background: #56505F;
}
