.light {
  --md-sys-color-primary-palette-key-color: #7F6EA2;
  --md-sys-color-secondary-palette-key-color: #7C738A;
  --md-sys-color-tertiary-palette-key-color: #976987;
  --md-sys-color-neutral-palette-key-color: #7A767C;
  --md-sys-color-neutral-variant-palette-key-color: #7A7580;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #FEF7FE;
  --md-sys-color-on-background: #34313A;
  --md-sys-color-surface: #FEF7FE;
  --md-sys-color-surface-dim: #DFD7E4;
  --md-sys-color-surface-bright: #FEF7FE;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F1FA;
  --md-sys-color-surface-container: #F2EBF5;
  --md-sys-color-surface-container-high: #EDE6F0;
  --md-sys-color-surface-container-highest: #E7E0EC;
  --md-sys-color-on-surface: #34313A;
  --md-sys-color-surface-variant: #E7E0EC;
  --md-sys-color-on-surface-variant: #625D67;
  --md-sys-color-outline: #7E7983;
  --md-sys-color-outline-variant: #B6B0BB;
  --md-sys-color-inverse-surface: #0F0D12;
  --md-sys-color-inverse-on-surface: #A09BA1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #675788;
  --md-sys-color-primary: #675788;
  --md-sys-color-primary-dim: #5B4B7B;
  --md-sys-color-on-primary: #FDF7FF;
  --md-sys-color-primary-container: #D9C5FF;
  --md-sys-color-on-primary-container: #4D3D6D;
  --md-sys-color-primary-fixed: #D9C5FF;
  --md-sys-color-primary-fixed-dim: #CBB8F0;
  --md-sys-color-on-primary-fixed: #392A58;
  --md-sys-color-on-primary-fixed-variant: #564677;
  --md-sys-color-inverse-primary: #D9C5FF;
  --md-sys-color-secondary: #635B71;
  --md-sys-color-secondary-dim: #575065;
  --md-sys-color-on-secondary: #FDF7FF;
  --md-sys-color-secondary-container: #E9DEF8;
  --md-sys-color-on-secondary-container: #564E63;
  --md-sys-color-secondary-fixed: #E9DEF8;
  --md-sys-color-secondary-fixed-dim: #DBD0E9;
  --md-sys-color-on-secondary-fixed: #433C50;
  --md-sys-color-on-secondary-fixed-variant: #60586D;
  --md-sys-color-tertiary: #7D516E;
  --md-sys-color-tertiary-dim: #6F4662;
  --md-sys-color-on-tertiary: #FFF7F9;
  --md-sys-color-tertiary-container: #FBC4E6;
  --md-sys-color-on-tertiary-container: #643C58;
  --md-sys-color-tertiary-fixed: #FBC4E6;
  --md-sys-color-tertiary-fixed-dim: #ECB7D8;
  --md-sys-color-on-tertiary-fixed: #4F2944;
  --md-sys-color-on-tertiary-fixed-variant: #6F4561;
  --md-sys-color-error: #A8364B;
  --md-sys-color-error-dim: #6B0221;
  --md-sys-color-on-error: #FFF7F7;
  --md-sys-color-error-container: #F97386;
  --md-sys-color-on-error-container: #6E0523;
  --md-sys-color-control-activated: #D9C5FF;
  --md-sys-color-control-normal: #625D67;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #A09BA1;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC4D0;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E7;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E7;
  --md-sys-color-text-hint-inverse: #E6E1E7;
  --md-sys-color-widget-background: #F7EDFF;
  --md-sys-color-clock-hour: #413A4E;
  --md-sys-color-clock-minute: #5D4D7D;
  --md-sys-color-clock-second: #7C516E;
  --md-sys-color-weather-temp: #665687;
  --md-sys-color-theme-app: #D9C5FF;
  --md-sys-color-on-theme-app: #433362;
  --md-sys-color-theme-app-ring: #B5A2D9;
  --md-sys-color-theme-notif: #ECB7D8;
  --md-sys-color-brand-a: #645385;
  --md-sys-color-brand-b: #B1A7BF;
  --md-sys-color-brand-c: #806EA2;
  --md-sys-color-brand-d: #AE7E9D;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #6C5C8E;
  --md-sys-color-on-shade-active-variant: #4E3E6E;
  --md-sys-color-shade-inactive: #322F34;
  --md-sys-color-on-shade-inactive: #E7E0EC;
  --md-sys-color-on-shade-inactive-variant: #CBC4D0;
  --md-sys-color-shade-disabled: #0F0D12;
  --md-sys-color-overview-background: #CBC4D0;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7F6EA2;
  --md-sys-color-secondary-palette-key-color: #7C738A;
  --md-sys-color-tertiary-palette-key-color: #976987;
  --md-sys-color-neutral-palette-key-color: #7A767C;
  --md-sys-color-neutral-variant-palette-key-color: #7A7580;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #FEF7FE;
  --md-sys-color-on-background: #26222B;
  --md-sys-color-surface: #FEF7FE;
  --md-sys-color-surface-dim: #DFD7E4;
  --md-sys-color-surface-bright: #FEF7FE;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F1FA;
  --md-sys-color-surface-container: #F2EBF5;
  --md-sys-color-surface-container-high: #EDE6F0;
  --md-sys-color-surface-container-highest: #E7E0EC;
  --md-sys-color-on-surface: #26222B;
  --md-sys-color-surface-variant: #E7E0EC;
  --md-sys-color-on-surface-variant: #45414B;
  --md-sys-color-outline: #625D67;
  --md-sys-color-outline-variant: #7E7983;
  --md-sys-color-inverse-surface: #0F0D12;
  --md-sys-color-inverse-on-surface: #C8C3C9;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4A3A6A;
  --md-sys-color-primary: #4A3A6A;
  --md-sys-color-primary-dim: #3E2F5E;
  --md-sys-color-on-primary: #E3D2FF;
  --md-sys-color-primary-container: #7D6C9F;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #7D6C9F;
  --md-sys-color-primary-fixed-dim: #706092;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #D9C5FF;
  --md-sys-color-secondary: #473F54;
  --md-sys-color-secondary-dim: #3B3448;
  --md-sys-color-on-secondary: #E0D5EF;
  --md-sys-color-secondary-container: #797187;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #797187;
  --md-sys-color-secondary-fixed-dim: #6D647A;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #5D3651;
  --md-sys-color-tertiary-dim: #512B46;
  --md-sys-color-on-tertiary: #FFCBEB;
  --md-sys-color-tertiary-container: #946785;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #946785;
  --md-sys-color-tertiary-fixed-dim: #875A78;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #821830;
  --md-sys-color-error-dim: #6B0221;
  --md-sys-color-on-error: #FFCDD1;
  --md-sys-color-error-container: #C44B5F;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #7D6C9F;
  --md-sys-color-control-normal: #45414B;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #C8C3C9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC4D0;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E7;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E7;
  --md-sys-color-text-hint-inverse: #E6E1E7;
  --md-sys-color-widget-background: #F7EDFF;
  --md-sys-color-clock-hour: #272133;
  --md-sys-color-clock-minute: #403160;
  --md-sys-color-clock-second: #000000;
  --md-sys-color-weather-temp: #000000;
  --md-sys-color-theme-app: #D9C5FF;
  --md-sys-color-on-theme-app: #20113F;
  --md-sys-color-theme-app-ring: #7D6C9F;
  --md-sys-color-theme-notif: #ECB7D8;
  --md-sys-color-brand-a: #493969;
  --md-sys-color-brand-b: #91889F;
  --md-sys-color-brand-c: #59497A;
  --md-sys-color-brand-d: #8E617F;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #4F406F;
  --md-sys-color-on-shade-active-variant: #4E3E6E;
  --md-sys-color-shade-inactive: #322F34;
  --md-sys-color-on-shade-inactive: #E7E0EC;
  --md-sys-color-on-shade-inactive-variant: #CBC4D0;
  --md-sys-color-shade-disabled: #0F0D12;
  --md-sys-color-overview-background: #CBC4D0;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #7F6EA2;
  --md-sys-color-secondary-palette-key-color: #7C738A;
  --md-sys-color-tertiary-palette-key-color: #976987;
  --md-sys-color-neutral-palette-key-color: #7A767C;
  --md-sys-color-neutral-variant-palette-key-color: #7A7580;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #FEF7FE;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #FEF7FE;
  --md-sys-color-surface-dim: #DFD7E4;
  --md-sys-color-surface-bright: #FEF7FE;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F1FA;
  --md-sys-color-surface-container: #F2EBF5;
  --md-sys-color-surface-container-high: #EDE6F0;
  --md-sys-color-surface-container-highest: #E7E0EC;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E7E0EC;
  --md-sys-color-on-surface-variant: #26222B;
  --md-sys-color-outline: #45414B;
  --md-sys-color-outline-variant: #55505A;
  --md-sys-color-inverse-surface: #0F0D12;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #2A1B49;
  --md-sys-color-primary: #2A1B49;
  --md-sys-color-primary-dim: #20103E;
  --md-sys-color-on-primary: #E3D3FF;
  --md-sys-color-primary-container: #5A4A7A;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #5A4A7A;
  --md-sys-color-primary-fixed-dim: #4E3E6E;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #D9C5FF;
  --md-sys-color-secondary: #272133;
  --md-sys-color-secondary-dim: #1D1729;
  --md-sys-color-on-secondary: #E1D6EF;
  --md-sys-color-secondary-container: #564F64;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #564F64;
  --md-sys-color-secondary-fixed-dim: #4A4357;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #3A1731;
  --md-sys-color-tertiary-dim: #2E0D26;
  --md-sys-color-on-tertiary: #FFCBEB;
  --md-sys-color-tertiary-container: #6E4561;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #6E4561;
  --md-sys-color-tertiary-fixed-dim: #613955;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #500016;
  --md-sys-color-error-dim: #3D000F;
  --md-sys-color-on-error: #FFCED2;
  --md-sys-color-error-container: #97283E;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #5A4A7A;
  --md-sys-color-control-normal: #26222B;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #FFFFFF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC4D0;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E7;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E7;
  --md-sys-color-text-hint-inverse: #E6E1E7;
  --md-sys-color-widget-background: #F7EDFF;
  --md-sys-color-clock-hour: #000000;
  --md-sys-color-clock-minute: #221240;
  --md-sys-color-clock-second: #4C2641;
  --md-sys-color-weather-temp: #3A2B59;
  --md-sys-color-theme-app: #D9C5FF;
  --md-sys-color-on-theme-app: #000000;
  --md-sys-color-theme-app-ring: #705F92;
  --md-sys-color-theme-notif: #ECB7D8;
  --md-sys-color-brand-a: #362654;
  --md-sys-color-brand-b: #736B81;
  --md-sys-color-brand-c: #514171;
  --md-sys-color-brand-d: #794E6B;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #31214F;
  --md-sys-color-on-shade-active-variant: #31214F;
  --md-sys-color-shade-inactive: #322F34;
  --md-sys-color-on-shade-inactive: #FFFFFF;
  --md-sys-color-on-shade-inactive-variant: #F1E9F6;
  --md-sys-color-shade-disabled: #0F0D12;
  --md-sys-color-overview-background: #CBC4D0;
}
.dark {
  --md-sys-color-primary-palette-key-color: #7E7098;
  --md-sys-color-secondary-palette-key-color: #7C738A;
  --md-sys-color-tertiary-palette-key-color: #976987;
  --md-sys-color-neutral-palette-key-color: #7A767C;
  --md-sys-color-neutral-variant-palette-key-color: #7A7580;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #0F0D12;
  --md-sys-color-on-background: #EAE3EF;
  --md-sys-color-surface: #0F0D12;
  --md-sys-color-surface-dim: #0F0D12;
  --md-sys-color-surface-bright: #2E2B34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #151218;
  --md-sys-color-surface-container: #1B181F;
  --md-sys-color-surface-container-high: #211E26;
  --md-sys-color-surface-container-highest: #28242D;
  --md-sys-color-on-surface: #EAE3EF;
  --md-sys-color-surface-variant: #28242D;
  --md-sys-color-on-surface-variant: #AFA9B4;
  --md-sys-color-outline: #79737E;
  --md-sys-color-outline-variant: #4A4650;
  --md-sys-color-inverse-surface: #FEF7FE;
  --md-sys-color-inverse-on-surface: #575459;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CFBFEB;
  --md-sys-color-primary: #CFBFEB;
  --md-sys-color-primary-dim: #C1B2DD;
  --md-sys-color-on-primary: #463A5E;
  --md-sys-color-primary-container: #594C72;
  --md-sys-color-on-primary-container: #EBDDFF;
  --md-sys-color-primary-fixed: #DECDFA;
  --md-sys-color-primary-fixed-dim: #CFBFEB;
  --md-sys-color-on-primary-fixed: #3C3054;
  --md-sys-color-on-primary-fixed-variant: #594C72;
  --md-sys-color-inverse-primary: #66597F;
  --md-sys-color-secondary: #CDC2DB;
  --md-sys-color-secondary-dim: #BFB4CD;
  --md-sys-color-on-secondary: #443D51;
  --md-sys-color-secondary-container: #3F384C;
  --md-sys-color-on-secondary-container: #C5BBD4;
  --md-sys-color-secondary-fixed: #E9DEF8;
  --md-sys-color-secondary-fixed-dim: #DBD0E9;
  --md-sys-color-on-secondary-fixed: #433C50;
  --md-sys-color-on-secondary-fixed-variant: #60586D;
  --md-sys-color-tertiary: #FFD7EE;
  --md-sys-color-tertiary-dim: #FBC4E6;
  --md-sys-color-on-tertiary: #6E4461;
  --md-sys-color-tertiary-container: #FBC4E6;
  --md-sys-color-on-tertiary-container: #643C58;
  --md-sys-color-tertiary-fixed: #FBC4E6;
  --md-sys-color-tertiary-fixed-dim: #ECB7D8;
  --md-sys-color-on-tertiary-fixed: #4F2944;
  --md-sys-color-on-tertiary-fixed-variant: #6F4561;
  --md-sys-color-error: #F97386;
  --md-sys-color-error-dim: #C44B5F;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #871C34;
  --md-sys-color-on-error-container: #FF97A3;
  --md-sys-color-control-activated: #594C72;
  --md-sys-color-control-normal: #AFA9B4;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #575459;
  --md-sys-color-text-secondary-and-tertiary-inverse: #49454F;
  --md-sys-color-text-primary-inverse-disable-only: #1D1B1F;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1B1F;
  --md-sys-color-text-hint-inverse: #1D1B1F;
  --md-sys-color-widget-background: #342D40;
  --md-sys-color-clock-hour: #CFBFEB;
  --md-sys-color-clock-minute: #EADDFF;
  --md-sys-color-clock-second: #FFD7EE;
  --md-sys-color-weather-temp: #CFBFEB;
  --md-sys-color-theme-app: #342D40;
  --md-sys-color-on-theme-app: #CFBFEB;
  --md-sys-color-theme-app-ring: #B3A4CF;
  --md-sys-color-theme-notif: #C18FAF;
  --md-sys-color-brand-a: #CFBFEB;
  --md-sys-color-brand-b: #FEF7FF;
  --md-sys-color-brand-c: #9C8DB6;
  --md-sys-color-brand-d: #FFD7EE;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #201537;
  --md-sys-color-on-shade-active-variant: #4D4165;
  --md-sys-color-shade-inactive: #322F34;
  --md-sys-color-on-shade-inactive: #AFA9B4;
  --md-sys-color-on-shade-inactive-variant: #CBC4D0;
  --md-sys-color-shade-disabled: #0F0D12;
  --md-sys-color-overview-background: #55515B;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7E7098;
  --md-sys-color-secondary-palette-key-color: #7C738A;
  --md-sys-color-tertiary-palette-key-color: #976987;
  --md-sys-color-neutral-palette-key-color: #7A767C;
  --md-sys-color-neutral-variant-palette-key-color: #7A7580;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #0F0D12;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #0F0D12;
  --md-sys-color-surface-dim: #0F0D12;
  --md-sys-color-surface-bright: #2E2B34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #151218;
  --md-sys-color-surface-container: #1B181F;
  --md-sys-color-surface-container-high: #211E26;
  --md-sys-color-surface-container-highest: #28242D;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #28242D;
  --md-sys-color-on-surface-variant: #BDB6C2;
  --md-sys-color-outline: #97919C;
  --md-sys-color-outline-variant: #79737E;
  --md-sys-color-inverse-surface: #FEF7FE;
  --md-sys-color-inverse-on-surface: #3A373C;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CFBFEB;
  --md-sys-color-primary: #CFBFEB;
  --md-sys-color-primary-dim: #C1B2DD;
  --md-sys-color-on-primary: #3C3054;
  --md-sys-color-primary-container: #7C6E96;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #DECDFA;
  --md-sys-color-primary-fixed-dim: #CFBFEB;
  --md-sys-color-on-primary-fixed: #160A2C;
  --md-sys-color-on-primary-fixed-variant: #3C3054;
  --md-sys-color-inverse-primary: #5B4F74;
  --md-sys-color-secondary: #CDC2DB;
  --md-sys-color-secondary-dim: #BFB4CD;
  --md-sys-color-on-secondary: #3A3346;
  --md-sys-color-secondary-container: #797187;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #E9DEF8;
  --md-sys-color-secondary-fixed-dim: #DBD0E9;
  --md-sys-color-on-secondary-fixed: #221C2F;
  --md-sys-color-on-secondary-fixed-variant: #433C50;
  --md-sys-color-tertiary: #FFD7EE;
  --md-sys-color-tertiary-dim: #FBC4E6;
  --md-sys-color-on-tertiary: #633B57;
  --md-sys-color-tertiary-container: #FBC4E6;
  --md-sys-color-on-tertiary-container: #59324E;
  --md-sys-color-tertiary-fixed: #FBC4E6;
  --md-sys-color-tertiary-fixed-dim: #ECB7D8;
  --md-sys-color-on-tertiary-fixed: #24041D;
  --md-sys-color-on-tertiary-fixed-variant: #4F2944;
  --md-sys-color-error: #FF9DA8;
  --md-sys-color-error-dim: #FF8695;
  --md-sys-color-on-error: #5F001C;
  --md-sys-color-error-container: #C44B5F;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #7C6E96;
  --md-sys-color-control-normal: #BDB6C2;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #3A373C;
  --md-sys-color-text-secondary-and-tertiary-inverse: #49454F;
  --md-sys-color-text-primary-inverse-disable-only: #1D1B1F;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1B1F;
  --md-sys-color-text-hint-inverse: #1D1B1F;
  --md-sys-color-widget-background: #342D40;
  --md-sys-color-clock-hour: #CFBFEB;
  --md-sys-color-clock-minute: #EADDFF;
  --md-sys-color-clock-second: #FFFFFF;
  --md-sys-color-weather-temp: #FFFFFF;
  --md-sys-color-theme-app: #342D40;
  --md-sys-color-on-theme-app: #F3E8FF;
  --md-sys-color-theme-app-ring: #B3A4CF;
  --md-sys-color-theme-notif: #C18FAF;
  --md-sys-color-brand-a: #DACAF6;
  --md-sys-color-brand-b: #FEF7FF;
  --md-sys-color-brand-c: #BEAFDA;
  --md-sys-color-brand-d: #FFD7EE;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #201537;
  --md-sys-color-on-shade-active-variant: #4D4165;
  --md-sys-color-shade-inactive: #322F34;
  --md-sys-color-on-shade-inactive: #C3BCC8;
  --md-sys-color-on-shade-inactive-variant: #CBC4D0;
  --md-sys-color-shade-disabled: #0F0D12;
  --md-sys-color-overview-background: #55515B;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #7E7098;
  --md-sys-color-secondary-palette-key-color: #7C738A;
  --md-sys-color-tertiary-palette-key-color: #976987;
  --md-sys-color-neutral-palette-key-color: #7A767C;
  --md-sys-color-neutral-variant-palette-key-color: #7A7580;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #0F0D12;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #0F0D12;
  --md-sys-color-surface-dim: #0F0D12;
  --md-sys-color-surface-bright: #2E2B34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #151218;
  --md-sys-color-surface-container: #1B181F;
  --md-sys-color-surface-container-high: #211E26;
  --md-sys-color-surface-container-highest: #28242D;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #28242D;
  --md-sys-color-on-surface-variant: #EAE3EF;
  --md-sys-color-outline: #BDB6C2;
  --md-sys-color-outline-variant: #A8A1AD;
  --md-sys-color-inverse-surface: #FEF7FE;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #EDE0FF;
  --md-sys-color-primary: #EDE0FF;
  --md-sys-color-primary-dim: #DECDFA;
  --md-sys-color-on-primary: #312649;
  --md-sys-color-primary-container: #AC9DC7;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #DECDFA;
  --md-sys-color-primary-fixed-dim: #CFBFEB;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #160A2C;
  --md-sys-color-inverse-primary: #3E3256;
  --md-sys-color-secondary: #ECE1FB;
  --md-sys-color-secondary-dim: #DED3EC;
  --md-sys-color-on-secondary: #2F293C;
  --md-sys-color-secondary-container: #A9A0B7;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #E9DEF8;
  --md-sys-color-secondary-fixed-dim: #DBD0E9;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #221C2F;
  --md-sys-color-tertiary: #FFDCF0;
  --md-sys-color-tertiary-dim: #FBC4E6;
  --md-sys-color-on-tertiary: #441F39;
  --md-sys-color-tertiary-container: #FBC4E6;
  --md-sys-color-on-tertiary-container: #35132C;
  --md-sys-color-tertiary-fixed: #FBC4E6;
  --md-sys-color-tertiary-fixed-dim: #ECB7D8;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #24041D;
  --md-sys-color-error: #FFDDDF;
  --md-sys-color-error-dim: #FFC7CB;
  --md-sys-color-on-error: #5F001C;
  --md-sys-color-error-container: #FF798C;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #AC9DC7;
  --md-sys-color-control-normal: #EAE3EF;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #49454F;
  --md-sys-color-text-primary-inverse-disable-only: #1D1B1F;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1B1F;
  --md-sys-color-text-hint-inverse: #1D1B1F;
  --md-sys-color-widget-background: #342D40;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #FFFFFF;
  --md-sys-color-clock-second: #FFE5F3;
  --md-sys-color-weather-temp: #F3E8FF;
  --md-sys-color-theme-app: #342D40;
  --md-sys-color-on-theme-app: #FFFFFF;
  --md-sys-color-theme-app-ring: #B3A4CF;
  --md-sys-color-theme-notif: #C18FAF;
  --md-sys-color-brand-a: #E2D2FF;
  --md-sys-color-brand-b: #FEF7FF;
  --md-sys-color-brand-c: #D1C1EE;
  --md-sys-color-brand-d: #FFE0F1;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #000000;
  --md-sys-color-on-shade-active-variant: #2F2447;
  --md-sys-color-shade-inactive: #322F34;
  --md-sys-color-on-shade-inactive: #F1E9F6;
  --md-sys-color-on-shade-inactive-variant: #F1E9F6;
  --md-sys-color-shade-disabled: #0F0D12;
  --md-sys-color-overview-background: #55515B;
}
