.light {
  --md-sys-color-primary-palette-key-color: #6C0BFF;
  --md-sys-color-secondary-palette-key-color: #856F92;
  --md-sys-color-tertiary-palette-key-color: #946994;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7A7484;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FDF7FF;
  --md-sys-color-on-background: #1D1A24;
  --md-sys-color-surface: #FDF7FF;
  --md-sys-color-surface-dim: #DED7E6;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F1FF;
  --md-sys-color-surface-container: #F2EBFA;
  --md-sys-color-surface-container-high: #EDE5F4;
  --md-sys-color-surface-container-highest: #E7E0EF;
  --md-sys-color-on-surface: #1D1A24;
  --md-sys-color-surface-variant: #E7DFF2;
  --md-sys-color-on-surface-variant: #494453;
  --md-sys-color-outline: #7A7484;
  --md-sys-color-outline-variant: #CBC3D5;
  --md-sys-color-inverse-surface: #322F3A;
  --md-sys-color-inverse-on-surface: #F5EEFD;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6F19FF;
  --md-sys-color-primary: #6F19FF;
  --md-sys-color-primary-dim: #6C0BFF;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #E9DDFF;
  --md-sys-color-on-primary-container: #5400CC;
  --md-sys-color-primary-fixed: #E9DDFF;
  --md-sys-color-primary-fixed-dim: #CFBCFF;
  --md-sys-color-on-primary-fixed: #22005D;
  --md-sys-color-on-primary-fixed-variant: #5400CC;
  --md-sys-color-inverse-primary: #CFBCFF;
  --md-sys-color-secondary: #6B5778;
  --md-sys-color-secondary-dim: #756082;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #F3DAFF;
  --md-sys-color-on-secondary-container: #523F5F;
  --md-sys-color-secondary-fixed: #F3DAFF;
  --md-sys-color-secondary-fixed-dim: #D7BEE4;
  --md-sys-color-on-secondary-fixed: #251431;
  --md-sys-color-on-secondary-fixed-variant: #523F5F;
  --md-sys-color-tertiary: #79507A;
  --md-sys-color-tertiary-dim: #835A84;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #FFD6FC;
  --md-sys-color-on-tertiary-container: #5F3961;
  --md-sys-color-tertiary-fixed: #FFD6FC;
  --md-sys-color-tertiary-fixed-dim: #E8B7E7;
  --md-sys-color-on-tertiary-fixed: #2F0D33;
  --md-sys-color-on-tertiary-fixed-variant: #5F3961;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #E9DDFF;
  --md-sys-color-control-normal: #494453;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E7E0EF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC3D5;
  --md-sys-color-text-primary-inverse-disable-only: #E7E0EF;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E0EF;
  --md-sys-color-text-hint-inverse: #E7E0EF;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6C0BFF;
  --md-sys-color-secondary-palette-key-color: #856F92;
  --md-sys-color-tertiary-palette-key-color: #946994;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7A7484;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FDF7FF;
  --md-sys-color-on-background: #1D1A24;
  --md-sys-color-surface: #FDF7FF;
  --md-sys-color-surface-dim: #CBC4D2;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F1FF;
  --md-sys-color-surface-container: #EDE5F4;
  --md-sys-color-surface-container-high: #E1DAE9;
  --md-sys-color-surface-container-highest: #D6CFDD;
  --md-sys-color-on-surface: #12101A;
  --md-sys-color-surface-variant: #E7DFF2;
  --md-sys-color-on-surface-variant: #383442;
  --md-sys-color-outline: #55505F;
  --md-sys-color-outline-variant: #706A7A;
  --md-sys-color-inverse-surface: #322F3A;
  --md-sys-color-inverse-on-surface: #F5EEFD;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6F19FF;
  --md-sys-color-primary: #4100A1;
  --md-sys-color-primary-dim: #5100C6;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #7D40FF;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #7D40FF;
  --md-sys-color-primary-fixed-dim: #6400F0;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #CFBCFF;
  --md-sys-color-secondary: #412F4E;
  --md-sys-color-secondary-dim: #503D5D;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #7A6587;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #7A6587;
  --md-sys-color-secondary-fixed-dim: #614D6E;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #4D294F;
  --md-sys-color-tertiary-dim: #5D375F;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #895F89;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #895F89;
  --md-sys-color-tertiary-fixed-dim: #6E4770;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8F0009;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #CF2C27;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #E9DDFF;
  --md-sys-color-control-normal: #494453;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E7E0EF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC3D5;
  --md-sys-color-text-primary-inverse-disable-only: #E7E0EF;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E0EF;
  --md-sys-color-text-hint-inverse: #E7E0EF;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #6C0BFF;
  --md-sys-color-secondary-palette-key-color: #856F92;
  --md-sys-color-tertiary-palette-key-color: #946994;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7A7484;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FDF7FF;
  --md-sys-color-on-background: #1D1A24;
  --md-sys-color-surface: #FDF7FF;
  --md-sys-color-surface-dim: #BDB6C4;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F5EEFD;
  --md-sys-color-surface-container: #E7E0EF;
  --md-sys-color-surface-container-high: #D9D2E0;
  --md-sys-color-surface-container-highest: #CBC4D2;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E7DFF2;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #2E2A38;
  --md-sys-color-outline-variant: #4C4755;
  --md-sys-color-inverse-surface: #322F3A;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6F19FF;
  --md-sys-color-primary: #350087;
  --md-sys-color-primary-dim: #270067;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #5700D2;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #5700D2;
  --md-sys-color-primary-fixed-dim: #3D0098;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #CFBCFF;
  --md-sys-color-secondary: #362543;
  --md-sys-color-secondary-dim: #291835;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #554262;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #554262;
  --md-sys-color-secondary-fixed-dim: #3D2B4A;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #421E45;
  --md-sys-color-tertiary-dim: #331137;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #623B64;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #623B64;
  --md-sys-color-tertiary-fixed-dim: #49254C;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #98000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #E9DDFF;
  --md-sys-color-control-normal: #494453;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E7E0EF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC3D5;
  --md-sys-color-text-primary-inverse-disable-only: #E7E0EF;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E0EF;
  --md-sys-color-text-hint-inverse: #E7E0EF;
}
.dark {
  --md-sys-color-primary-palette-key-color: #6C0BFF;
  --md-sys-color-secondary-palette-key-color: #856F92;
  --md-sys-color-tertiary-palette-key-color: #946994;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7A7484;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #15121C;
  --md-sys-color-on-background: #E7E0EF;
  --md-sys-color-surface: #15121C;
  --md-sys-color-surface-dim: #15121C;
  --md-sys-color-surface-bright: #3B3743;
  --md-sys-color-surface-container-lowest: #0F0D16;
  --md-sys-color-surface-container-low: #1D1A24;
  --md-sys-color-surface-container: #211E28;
  --md-sys-color-surface-container-high: #2C2833;
  --md-sys-color-surface-container-highest: #37333E;
  --md-sys-color-on-surface: #E7E0EF;
  --md-sys-color-surface-variant: #494453;
  --md-sys-color-on-surface-variant: #CBC3D5;
  --md-sys-color-outline: #948E9F;
  --md-sys-color-outline-variant: #494453;
  --md-sys-color-inverse-surface: #E7E0EF;
  --md-sys-color-inverse-on-surface: #322F3A;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CFBCFF;
  --md-sys-color-primary: #CFBCFF;
  --md-sys-color-primary-dim: #DCCDFF;
  --md-sys-color-on-primary: #3A0092;
  --md-sys-color-primary-container: #5400CC;
  --md-sys-color-on-primary-container: #E9DDFF;
  --md-sys-color-primary-fixed: #E9DDFF;
  --md-sys-color-primary-fixed-dim: #CFBCFF;
  --md-sys-color-on-primary-fixed: #22005D;
  --md-sys-color-on-primary-fixed-variant: #5400CC;
  --md-sys-color-inverse-primary: #6F19FF;
  --md-sys-color-secondary: #D7BEE4;
  --md-sys-color-secondary-dim: #E8CEF6;
  --md-sys-color-on-secondary: #3B2948;
  --md-sys-color-secondary-container: #523F5F;
  --md-sys-color-on-secondary-container: #F3DAFF;
  --md-sys-color-secondary-fixed: #F3DAFF;
  --md-sys-color-secondary-fixed-dim: #D7BEE4;
  --md-sys-color-on-secondary-fixed: #251431;
  --md-sys-color-on-secondary-fixed-variant: #523F5F;
  --md-sys-color-tertiary: #E8B7E7;
  --md-sys-color-tertiary-dim: #FDCAFB;
  --md-sys-color-on-tertiary: #462349;
  --md-sys-color-tertiary-container: #5F3961;
  --md-sys-color-on-tertiary-container: #FFD6FC;
  --md-sys-color-tertiary-fixed: #FFD6FC;
  --md-sys-color-tertiary-fixed-dim: #E8B7E7;
  --md-sys-color-on-tertiary-fixed: #2F0D33;
  --md-sys-color-on-tertiary-fixed-variant: #5F3961;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #5400CC;
  --md-sys-color-control-normal: #CBC3D5;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494453;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A24;
  --md-sys-color-text-hint-inverse: #1D1A24;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6C0BFF;
  --md-sys-color-secondary-palette-key-color: #856F92;
  --md-sys-color-tertiary-palette-key-color: #946994;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7A7484;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #15121C;
  --md-sys-color-on-background: #E7E0EF;
  --md-sys-color-surface: #15121C;
  --md-sys-color-surface-dim: #15121C;
  --md-sys-color-surface-bright: #47434E;
  --md-sys-color-surface-container-lowest: #08060F;
  --md-sys-color-surface-container-low: #1F1C26;
  --md-sys-color-surface-container: #292631;
  --md-sys-color-surface-container-high: #34313C;
  --md-sys-color-surface-container-highest: #403C47;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #494453;
  --md-sys-color-on-surface-variant: #E1D9EB;
  --md-sys-color-outline: #B6AFC0;
  --md-sys-color-outline-variant: #948E9E;
  --md-sys-color-inverse-surface: #E7E0EF;
  --md-sys-color-inverse-on-surface: #2C2833;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CFBCFF;
  --md-sys-color-primary: #E3D6FF;
  --md-sys-color-primary-dim: #DCCDFF;
  --md-sys-color-on-primary: #2E0077;
  --md-sys-color-primary-container: #9E79FF;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #E9DDFF;
  --md-sys-color-primary-fixed-dim: #CFBCFF;
  --md-sys-color-on-primary-fixed: #160042;
  --md-sys-color-on-primary-fixed-variant: #4100A1;
  --md-sys-color-inverse-primary: #5500CF;
  --md-sys-color-secondary: #EDD3FB;
  --md-sys-color-secondary-dim: #E8CEF6;
  --md-sys-color-on-secondary: #301E3C;
  --md-sys-color-secondary-container: #9F88AD;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #F3DAFF;
  --md-sys-color-secondary-fixed-dim: #D7BEE4;
  --md-sys-color-on-secondary-fixed: #1A0926;
  --md-sys-color-on-secondary-fixed-variant: #412F4E;
  --md-sys-color-tertiary: #FFCCFD;
  --md-sys-color-tertiary-dim: #FDCAFB;
  --md-sys-color-on-tertiary: #3A183E;
  --md-sys-color-tertiary-container: #AF82AF;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #FFD6FC;
  --md-sys-color-tertiary-fixed-dim: #E8B7E7;
  --md-sys-color-on-tertiary-fixed: #230328;
  --md-sys-color-on-tertiary-fixed-variant: #4D294F;
  --md-sys-color-error: #FFD2CC;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #FF5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #5400CC;
  --md-sys-color-control-normal: #CBC3D5;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494453;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A24;
  --md-sys-color-text-hint-inverse: #1D1A24;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #6C0BFF;
  --md-sys-color-secondary-palette-key-color: #856F92;
  --md-sys-color-tertiary-palette-key-color: #946994;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7A7484;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #15121C;
  --md-sys-color-on-background: #E7E0EF;
  --md-sys-color-surface: #15121C;
  --md-sys-color-surface-dim: #15121C;
  --md-sys-color-surface-bright: #524E5A;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #211E28;
  --md-sys-color-surface-container: #322F3A;
  --md-sys-color-surface-container-high: #3D3A45;
  --md-sys-color-surface-container-highest: #494551;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #494453;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #F5EDFF;
  --md-sys-color-outline-variant: #C7BFD1;
  --md-sys-color-inverse-surface: #E7E0EF;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CFBCFF;
  --md-sys-color-primary: #F5EDFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #CCB8FF;
  --md-sys-color-on-primary-container: #0F0033;
  --md-sys-color-primary-fixed: #E9DDFF;
  --md-sys-color-primary-fixed-dim: #CFBCFF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #160042;
  --md-sys-color-inverse-primary: #5500CF;
  --md-sys-color-secondary: #FAEBFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #D3BAE0;
  --md-sys-color-on-secondary-container: #140420;
  --md-sys-color-secondary-fixed: #F3DAFF;
  --md-sys-color-secondary-fixed-dim: #D7BEE4;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #1A0926;
  --md-sys-color-tertiary: #FFEAFA;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #E4B3E3;
  --md-sys-color-on-tertiary-container: #1B0020;
  --md-sys-color-tertiary-fixed: #FFD6FC;
  --md-sys-color-tertiary-fixed-dim: #E8B7E7;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #230328;
  --md-sys-color-error: #FFECE9;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #FFAEA4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #5400CC;
  --md-sys-color-control-normal: #CBC3D5;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494453;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A24;
  --md-sys-color-text-hint-inverse: #1D1A24;
}
