.light {
  --md-sys-color-primary-palette-key-color: #7D6FA2;
  --md-sys-color-secondary-palette-key-color: #7B748A;
  --md-sys-color-tertiary-palette-key-color: #9A678C;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B738B;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #E0D6F1;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #27242F;
  --md-sys-color-surface-container: #322F3A;
  --md-sys-color-surface-container-high: #3D3A45;
  --md-sys-color-surface-container-highest: #E8DEFA;
  --md-sys-color-on-surface: #EDE5F4;
  --md-sys-color-surface-variant: #E8DEFA;
  --md-sys-color-on-surface-variant: #D2CBDA;
  --md-sys-color-outline: #A9A3B1;
  --md-sys-color-outline-variant: #898391;
  --md-sys-color-inverse-surface: #0F0D16;
  --md-sys-color-inverse-on-surface: #A09AA8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D6C5FF;
  --md-sys-color-primary: #D6C5FF;
  --md-sys-color-primary-dim: #C8B8F0;
  --md-sys-color-on-primary: #362A58;
  --md-sys-color-primary-container: #4C3F6F;
  --md-sys-color-on-primary-container: #E6DAFF;
  --md-sys-color-primary-fixed: #4C3F6F;
  --md-sys-color-primary-fixed-dim: #403463;
  --md-sys-color-on-primary-fixed: #D6C5FF;
  --md-sys-color-on-primary-fixed-variant: #AD9DD4;
  --md-sys-color-inverse-primary: #D4C3FD;
  --md-sys-color-secondary: #E8DEF8;
  --md-sys-color-secondary-dim: #DAD0EA;
  --md-sys-color-on-secondary: #423C50;
  --md-sys-color-secondary-container: #4A4458;
  --md-sys-color-on-secondary-container: #E6DCF6;
  --md-sys-color-secondary-fixed: #4A4458;
  --md-sys-color-secondary-fixed-dim: #3E384C;
  --md-sys-color-on-secondary-fixed: #D3CAE3;
  --md-sys-color-on-secondary-fixed-variant: #AAA2BA;
  --md-sys-color-tertiary: #FFC2EC;
  --md-sys-color-tertiary-dim: #F0B5DE;
  --md-sys-color-on-tertiary: #512749;
  --md-sys-color-tertiary-container: #D29AC2;
  --md-sys-color-on-tertiary-container: #381132;
  --md-sys-color-tertiary-fixed: #D29AC2;
  --md-sys-color-tertiary-fixed-dim: #C48DB4;
  --md-sys-color-on-tertiary-fixed: #250220;
  --md-sys-color-on-tertiary-fixed-variant: #502647;
  --md-sys-color-error: #FFBDC3;
  --md-sys-color-error-dim: #F38593;
  --md-sys-color-on-error: #3F000F;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFD6D9;
  --md-sys-color-control-activated: #D4C3FD;
  --md-sys-color-control-normal: #D2CBDA;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #A09AA8;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CCC2DD;
  --md-sys-color-text-primary-inverse-disable-only: #E7E0EF;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E0EF;
  --md-sys-color-text-hint-inverse: #E7E0EF;
  --md-sys-color-widget-background: #F6EEFF;
  --md-sys-color-clock-hour: #413B4F;
  --md-sys-color-clock-minute: #5A4D7E;
  --md-sys-color-clock-second: #7E4F73;
  --md-sys-color-weather-temp: #645788;
  --md-sys-color-theme-app: #E9DDFF;
  --md-sys-color-on-theme-app: #4C3F6F;
  --md-sys-color-theme-app-ring: #B3A3DA;
  --md-sys-color-theme-notif: #F0B5DE;
  --md-sys-color-brand-a: #AB9CD2;
  --md-sys-color-brand-b: #B0A7C0;
  --md-sys-color-brand-c: #8B7CB0;
  --md-sys-color-brand-d: #B37DA4;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E9DDFF;
  --md-sys-color-on-shade-active: #6A5D8F;
  --md-sys-color-on-shade-active-variant: #4C3F6F;
  --md-sys-color-shade-inactive: #322F3A;
  --md-sys-color-on-shade-inactive: #E8DEFA;
  --md-sys-color-on-shade-inactive-variant: #CCC2DD;
  --md-sys-color-shade-disabled: #0F0D16;
  --md-sys-color-overview-background: #CCC2DD;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7D6FA2;
  --md-sys-color-secondary-palette-key-color: #7B748A;
  --md-sys-color-tertiary-palette-key-color: #9A678C;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B738B;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #E0D6F1;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #27242F;
  --md-sys-color-surface-container: #322F3A;
  --md-sys-color-surface-container-high: #3D3A45;
  --md-sys-color-surface-container-highest: #E8DEFA;
  --md-sys-color-on-surface: #FFFEFF;
  --md-sys-color-surface-variant: #E8DEFA;
  --md-sys-color-on-surface-variant: #FFFEFF;
  --md-sys-color-outline: #D2CBDA;
  --md-sys-color-outline-variant: #A9A3B1;
  --md-sys-color-inverse-surface: #0F0D16;
  --md-sys-color-inverse-on-surface: #C9C2D0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFFEFF;
  --md-sys-color-primary: #FFFEFF;
  --md-sys-color-primary-dim: #D6C5FF;
  --md-sys-color-on-primary: #1E103F;
  --md-sys-color-primary-container: #4C3F6F;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #4C3F6F;
  --md-sys-color-primary-fixed-dim: #403463;
  --md-sys-color-on-primary-fixed: #FFFEFF;
  --md-sys-color-on-primary-fixed-variant: #D6C5FF;
  --md-sys-color-inverse-primary: #D4C3FD;
  --md-sys-color-secondary: #FFFEFF;
  --md-sys-color-secondary-dim: #E8DEF8;
  --md-sys-color-on-secondary: #2C273A;
  --md-sys-color-secondary-container: #4A4458;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #4A4458;
  --md-sys-color-secondary-fixed-dim: #3E384C;
  --md-sys-color-on-secondary-fixed: #FFFEFF;
  --md-sys-color-on-secondary-fixed-variant: #D3CAE3;
  --md-sys-color-tertiary: #FFFEFF;
  --md-sys-color-tertiary-dim: #FFC2EC;
  --md-sys-color-on-tertiary: #371030;
  --md-sys-color-tertiary-container: #E1A7D0;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #D29AC2;
  --md-sys-color-tertiary-fixed-dim: #C48DB4;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #250220;
  --md-sys-color-error: #FFFEFF;
  --md-sys-color-error-dim: #FFBDC3;
  --md-sys-color-on-error: #3D000F;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #D4C3FD;
  --md-sys-color-control-normal: #FFFEFF;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #C9C2D0;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CCC2DD;
  --md-sys-color-text-primary-inverse-disable-only: #E7E0EF;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E0EF;
  --md-sys-color-text-hint-inverse: #E7E0EF;
  --md-sys-color-widget-background: #F6EEFF;
  --md-sys-color-clock-hour: #262134;
  --md-sys-color-clock-minute: #3E3261;
  --md-sys-color-clock-second: #000000;
  --md-sys-color-weather-temp: #000000;
  --md-sys-color-theme-app: #E9DDFF;
  --md-sys-color-on-theme-app: #4C3F6F;
  --md-sys-color-theme-app-ring: #B3A3DA;
  --md-sys-color-theme-notif: #F0B5DE;
  --md-sys-color-brand-a: #D0C0F9;
  --md-sys-color-brand-b: #B0A7C0;
  --md-sys-color-brand-c: #B9A9E0;
  --md-sys-color-brand-d: #B37DA4;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E9DDFF;
  --md-sys-color-on-shade-active: #4D4070;
  --md-sys-color-on-shade-active-variant: #4C3F6F;
  --md-sys-color-shade-inactive: #322F3A;
  --md-sys-color-on-shade-inactive: #E8DEFA;
  --md-sys-color-on-shade-inactive-variant: #CCC2DD;
  --md-sys-color-shade-disabled: #0F0D16;
  --md-sys-color-overview-background: #CCC2DD;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #7D6FA2;
  --md-sys-color-secondary-palette-key-color: #7B748A;
  --md-sys-color-tertiary-palette-key-color: #9A678C;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B738B;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #E0D6F1;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #27242F;
  --md-sys-color-surface-container: #322F3A;
  --md-sys-color-surface-container-high: #3D3A45;
  --md-sys-color-surface-container-highest: #E8DEFA;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #E8DEFA;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FFFEFF;
  --md-sys-color-outline-variant: #D2CBDA;
  --md-sys-color-inverse-surface: #0F0D16;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFFFFF;
  --md-sys-color-primary: #FFFFFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #4C3F6F;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #4C3F6F;
  --md-sys-color-primary-fixed-dim: #403463;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFEFF;
  --md-sys-color-inverse-primary: #FFFFFF;
  --md-sys-color-secondary: #FFFFFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #4A4458;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #4A4458;
  --md-sys-color-secondary-fixed-dim: #3E384C;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFEFF;
  --md-sys-color-tertiary: #FFFFFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #FFC2EC;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #D29AC2;
  --md-sys-color-tertiary-fixed-dim: #C48DB4;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFFFFF;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #D4C3FD;
  --md-sys-color-control-normal: #FFFFFF;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #FFFFFF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CCC2DD;
  --md-sys-color-text-primary-inverse-disable-only: #E7E0EF;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E0EF;
  --md-sys-color-text-hint-inverse: #E7E0EF;
  --md-sys-color-widget-background: #F6EEFF;
  --md-sys-color-clock-hour: #000000;
  --md-sys-color-clock-minute: #201241;
  --md-sys-color-clock-second: #4E2445;
  --md-sys-color-weather-temp: #382B5A;
  --md-sys-color-theme-app: #E9DDFF;
  --md-sys-color-on-theme-app: #352957;
  --md-sys-color-theme-app-ring: #B3A3DA;
  --md-sys-color-theme-notif: #F0B5DE;
  --md-sys-color-brand-a: #ECE1FF;
  --md-sys-color-brand-b: #B0A7C0;
  --md-sys-color-brand-c: #C5B5ED;
  --md-sys-color-brand-d: #CA93BB;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E9DDFF;
  --md-sys-color-on-shade-active: #2F2250;
  --md-sys-color-on-shade-active-variant: #2F2250;
  --md-sys-color-shade-inactive: #322F3A;
  --md-sys-color-on-shade-inactive: #F1E8FF;
  --md-sys-color-on-shade-inactive-variant: #F1E8FF;
  --md-sys-color-shade-disabled: #0F0D16;
  --md-sys-color-overview-background: #CCC2DD;
}
.dark {
  --md-sys-color-primary-palette-key-color: #7D6FA2;
  --md-sys-color-secondary-palette-key-color: #7B748A;
  --md-sys-color-tertiary-palette-key-color: #9A678C;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B738B;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0F0D16;
  --md-sys-color-surface-bright: #2F293E;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #27242F;
  --md-sys-color-surface-container: #322F3A;
  --md-sys-color-surface-container-high: #3D3A45;
  --md-sys-color-surface-container-highest: #282337;
  --md-sys-color-on-surface: #EDE5F4;
  --md-sys-color-surface-variant: #282337;
  --md-sys-color-on-surface-variant: #D2CBDA;
  --md-sys-color-outline: #A9A3B1;
  --md-sys-color-outline-variant: #898391;
  --md-sys-color-inverse-surface: #FDF7FF;
  --md-sys-color-inverse-on-surface: #57535F;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D6C5FF;
  --md-sys-color-primary: #D6C5FF;
  --md-sys-color-primary-dim: #C8B8F0;
  --md-sys-color-on-primary: #362A58;
  --md-sys-color-primary-container: #4C3F6F;
  --md-sys-color-on-primary-container: #E6DAFF;
  --md-sys-color-primary-fixed: #4C3F6F;
  --md-sys-color-primary-fixed-dim: #403463;
  --md-sys-color-on-primary-fixed: #D6C5FF;
  --md-sys-color-on-primary-fixed-variant: #AD9DD4;
  --md-sys-color-inverse-primary: #5B4D7E;
  --md-sys-color-secondary: #E8DEF8;
  --md-sys-color-secondary-dim: #DAD0EA;
  --md-sys-color-on-secondary: #423C50;
  --md-sys-color-secondary-container: #4A4458;
  --md-sys-color-on-secondary-container: #E6DCF6;
  --md-sys-color-secondary-fixed: #4A4458;
  --md-sys-color-secondary-fixed-dim: #3E384C;
  --md-sys-color-on-secondary-fixed: #D3CAE3;
  --md-sys-color-on-secondary-fixed-variant: #AAA2BA;
  --md-sys-color-tertiary: #FFC2EC;
  --md-sys-color-tertiary-dim: #F0B5DE;
  --md-sys-color-on-tertiary: #512749;
  --md-sys-color-tertiary-container: #D29AC2;
  --md-sys-color-on-tertiary-container: #381132;
  --md-sys-color-tertiary-fixed: #D29AC2;
  --md-sys-color-tertiary-fixed-dim: #C48DB4;
  --md-sys-color-on-tertiary-fixed: #250220;
  --md-sys-color-on-tertiary-fixed-variant: #502647;
  --md-sys-color-error: #FFBDC3;
  --md-sys-color-error-dim: #F38593;
  --md-sys-color-on-error: #3F000F;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFD6D9;
  --md-sys-color-control-activated: #D4C3FD;
  --md-sys-color-control-normal: #D2CBDA;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #57535F;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4A4359;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A24;
  --md-sys-color-text-hint-inverse: #1D1A24;
  --md-sys-color-widget-background: #332D41;
  --md-sys-color-clock-hour: #CEBEF7;
  --md-sys-color-clock-minute: #E9DDFF;
  --md-sys-color-clock-second: #FFD7F1;
  --md-sys-color-weather-temp: #CEBEF7;
  --md-sys-color-theme-app: #332D41;
  --md-sys-color-on-theme-app: #CEBEF7;
  --md-sys-color-theme-app-ring: #B3A3DA;
  --md-sys-color-theme-notif: #B680A7;
  --md-sys-color-brand-a: #DACBFF;
  --md-sys-color-brand-b: #FFFFFF;
  --md-sys-color-brand-c: #AB9CD2;
  --md-sys-color-brand-d: #FFE8F5;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E9DDFF;
  --md-sys-color-on-shade-active: #201241;
  --md-sys-color-on-shade-active-variant: #4C3F6F;
  --md-sys-color-shade-inactive: #322F3A;
  --md-sys-color-on-shade-inactive: #CCC2DD;
  --md-sys-color-on-shade-inactive-variant: #CCC2DD;
  --md-sys-color-shade-disabled: #0F0D16;
  --md-sys-color-overview-background: #564F65;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7D6FA2;
  --md-sys-color-secondary-palette-key-color: #7B748A;
  --md-sys-color-tertiary-palette-key-color: #9A678C;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B738B;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0F0D16;
  --md-sys-color-surface-bright: #2F293E;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #27242F;
  --md-sys-color-surface-container: #322F3A;
  --md-sys-color-surface-container-high: #3D3A45;
  --md-sys-color-surface-container-highest: #282337;
  --md-sys-color-on-surface: #FFFEFF;
  --md-sys-color-surface-variant: #282337;
  --md-sys-color-on-surface-variant: #FFFEFF;
  --md-sys-color-outline: #D2CBDA;
  --md-sys-color-outline-variant: #A9A3B1;
  --md-sys-color-inverse-surface: #FDF7FF;
  --md-sys-color-inverse-on-surface: #3A3642;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFFEFF;
  --md-sys-color-primary: #FFFEFF;
  --md-sys-color-primary-dim: #D6C5FF;
  --md-sys-color-on-primary: #1E103F;
  --md-sys-color-primary-container: #4C3F6F;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #4C3F6F;
  --md-sys-color-primary-fixed-dim: #403463;
  --md-sys-color-on-primary-fixed: #FFFEFF;
  --md-sys-color-on-primary-fixed-variant: #D6C5FF;
  --md-sys-color-inverse-primary: #3D305F;
  --md-sys-color-secondary: #FFFEFF;
  --md-sys-color-secondary-dim: #E8DEF8;
  --md-sys-color-on-secondary: #2C273A;
  --md-sys-color-secondary-container: #4A4458;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #4A4458;
  --md-sys-color-secondary-fixed-dim: #3E384C;
  --md-sys-color-on-secondary-fixed: #FFFEFF;
  --md-sys-color-on-secondary-fixed-variant: #D3CAE3;
  --md-sys-color-tertiary: #FFFEFF;
  --md-sys-color-tertiary-dim: #FFC2EC;
  --md-sys-color-on-tertiary: #371030;
  --md-sys-color-tertiary-container: #E1A7D0;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #D29AC2;
  --md-sys-color-tertiary-fixed-dim: #C48DB4;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #250220;
  --md-sys-color-error: #FFFEFF;
  --md-sys-color-error-dim: #FFBDC3;
  --md-sys-color-on-error: #3D000F;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #D4C3FD;
  --md-sys-color-control-normal: #FFFEFF;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #3A3642;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4A4359;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A24;
  --md-sys-color-text-hint-inverse: #1D1A24;
  --md-sys-color-widget-background: #332D41;
  --md-sys-color-clock-hour: #CEBEF7;
  --md-sys-color-clock-minute: #E9DDFF;
  --md-sys-color-clock-second: #FFFFFF;
  --md-sys-color-weather-temp: #FFFFFF;
  --md-sys-color-theme-app: #332D41;
  --md-sys-color-on-theme-app: #CEBEF7;
  --md-sys-color-theme-app-ring: #B3A3DA;
  --md-sys-color-theme-notif: #B680A7;
  --md-sys-color-brand-a: #ECE1FF;
  --md-sys-color-brand-b: #FFFFFF;
  --md-sys-color-brand-c: #D0C0F9;
  --md-sys-color-brand-d: #FFF4F8;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E9DDFF;
  --md-sys-color-on-shade-active: #201241;
  --md-sys-color-on-shade-active-variant: #4C3F6F;
  --md-sys-color-shade-inactive: #322F3A;
  --md-sys-color-on-shade-inactive: #CCC2DD;
  --md-sys-color-on-shade-inactive-variant: #CCC2DD;
  --md-sys-color-shade-disabled: #0F0D16;
  --md-sys-color-overview-background: #564F65;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #7D6FA2;
  --md-sys-color-secondary-palette-key-color: #7B748A;
  --md-sys-color-tertiary-palette-key-color: #9A678C;
  --md-sys-color-neutral-palette-key-color: #7A7582;
  --md-sys-color-neutral-variant-palette-key-color: #7B738B;
  --md-sys-color-error-palette-key-color: #BA5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0F0D16;
  --md-sys-color-surface-bright: #2F293E;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #27242F;
  --md-sys-color-surface-container: #322F3A;
  --md-sys-color-surface-container-high: #3D3A45;
  --md-sys-color-surface-container-highest: #282337;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #282337;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FFFEFF;
  --md-sys-color-outline-variant: #D2CBDA;
  --md-sys-color-inverse-surface: #FDF7FF;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFFFFF;
  --md-sys-color-primary: #FFFFFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #4C3F6F;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #4C3F6F;
  --md-sys-color-primary-fixed-dim: #403463;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFEFF;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-secondary: #FFFFFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #4A4458;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #4A4458;
  --md-sys-color-secondary-fixed-dim: #3E384C;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFEFF;
  --md-sys-color-tertiary: #FFFFFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #FFC2EC;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #D29AC2;
  --md-sys-color-tertiary-fixed-dim: #C48DB4;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFFFFF;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7D2938;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #D4C3FD;
  --md-sys-color-control-normal: #FFFFFF;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4A4359;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A24;
  --md-sys-color-text-hint-inverse: #1D1A24;
  --md-sys-color-widget-background: #332D41;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #FFFFFF;
  --md-sys-color-clock-second: #FFE5F4;
  --md-sys-color-weather-temp: #F1E8FF;
  --md-sys-color-theme-app: #332D41;
  --md-sys-color-on-theme-app: #E8DCFF;
  --md-sys-color-theme-app-ring: #B3A3DA;
  --md-sys-color-theme-notif: #B680A7;
  --md-sys-color-brand-a: #F4EBFF;
  --md-sys-color-brand-b: #FFFFFF;
  --md-sys-color-brand-c: #E3D6FF;
  --md-sys-color-brand-d: #FFFEFF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E9DDFF;
  --md-sys-color-on-shade-active: #000000;
  --md-sys-color-on-shade-active-variant: #2F2250;
  --md-sys-color-shade-inactive: #322F3A;
  --md-sys-color-on-shade-inactive: #F1E8FF;
  --md-sys-color-on-shade-inactive-variant: #F1E8FF;
  --md-sys-color-shade-disabled: #0F0D16;
  --md-sys-color-overview-background: #564F65;
}
