.light {
  --md-sys-color-primary-palette-key-color: #A85AAA;
  --md-sys-color-secondary-palette-key-color: #A36853;
  --md-sys-color-tertiary-palette-key-color: #F2D8FF;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737E;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FDF8F8;
  --md-sys-color-on-background: #1C1B1B;
  --md-sys-color-surface: #FDF8F8;
  --md-sys-color-surface-dim: #DED9D8;
  --md-sys-color-surface-bright: #FDF8F8;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F7F2F2;
  --md-sys-color-surface-container: #F2EDEC;
  --md-sys-color-surface-container-high: #ECE7E6;
  --md-sys-color-surface-container-highest: #E6E1E1;
  --md-sys-color-on-surface: #1C1B1B;
  --md-sys-color-surface-variant: #F0DDEB;
  --md-sys-color-on-surface-variant: #4F434E;
  --md-sys-color-outline: #81737E;
  --md-sys-color-outline-variant: #D3C1CE;
  --md-sys-color-inverse-surface: #323030;
  --md-sys-color-inverse-on-surface: #F5F0EF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #8B418F;
  --md-sys-color-primary: #712876;
  --md-sys-color-primary-dim: #964A9A;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #8C4190;
  --md-sys-color-on-primary-container: #FFC8FB;
  --md-sys-color-primary-fixed: #FFD6FA;
  --md-sys-color-primary-fixed-dim: #FFA9FE;
  --md-sys-color-on-primary-fixed: #36003C;
  --md-sys-color-on-primary-fixed-variant: #702776;
  --md-sys-color-inverse-primary: #FFA9FE;
  --md-sys-color-secondary: #86513D;
  --md-sys-color-secondary-dim: #915A46;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #FDB69D;
  --md-sys-color-on-secondary-container: #784532;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #FDB69D;
  --md-sys-color-on-secondary-fixed: #351003;
  --md-sys-color-on-secondary-fixed-variant: #6B3A28;
  --md-sys-color-tertiary: #53405F;
  --md-sys-color-tertiary-dim: #756081;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #6B5778;
  --md-sys-color-on-tertiary-container: #EAD0F7;
  --md-sys-color-tertiary-fixed: #F3DAFF;
  --md-sys-color-tertiary-fixed-dim: #D7BEE4;
  --md-sys-color-on-tertiary-fixed: #251431;
  --md-sys-color-on-tertiary-fixed-variant: #523F5F;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #FFD6FA;
  --md-sys-color-control-normal: #4F434E;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E6E1E1;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D3C1CE;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E1;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E1;
  --md-sys-color-text-hint-inverse: #E6E1E1;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #A85AAA;
  --md-sys-color-secondary-palette-key-color: #A36853;
  --md-sys-color-tertiary-palette-key-color: #F2D8FF;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737E;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FDF8F8;
  --md-sys-color-on-background: #1C1B1B;
  --md-sys-color-surface: #FDF8F8;
  --md-sys-color-surface-dim: #CAC5C5;
  --md-sys-color-surface-bright: #FDF8F8;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F7F2F2;
  --md-sys-color-surface-container: #ECE7E6;
  --md-sys-color-surface-container-high: #E0DCDB;
  --md-sys-color-surface-container-highest: #D5D1D0;
  --md-sys-color-on-surface: #121111;
  --md-sys-color-surface-variant: #F0DDEB;
  --md-sys-color-on-surface-variant: #3E333D;
  --md-sys-color-outline: #5B4F59;
  --md-sys-color-outline-variant: #776974;
  --md-sys-color-inverse-surface: #323030;
  --md-sys-color-inverse-on-surface: #F5F0EF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #8B418F;
  --md-sys-color-primary: #5D1363;
  --md-sys-color-primary-dim: #6E2573;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #8C4190;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #9C4F9F;
  --md-sys-color-primary-fixed-dim: #803785;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #FFA9FE;
  --md-sys-color-secondary: #562A19;
  --md-sys-color-secondary-dim: #683826;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #975F4A;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #975F4A;
  --md-sys-color-secondary-fixed-dim: #7B4734;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #412F4D;
  --md-sys-color-tertiary-dim: #503D5C;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #6B5778;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #7A6587;
  --md-sys-color-tertiary-fixed-dim: #614D6D;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8F0009;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #CF2C27;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #FFD6FA;
  --md-sys-color-control-normal: #4F434E;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E6E1E1;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D3C1CE;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E1;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E1;
  --md-sys-color-text-hint-inverse: #E6E1E1;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #A85AAA;
  --md-sys-color-secondary-palette-key-color: #A36853;
  --md-sys-color-tertiary-palette-key-color: #F2D8FF;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737E;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FDF8F8;
  --md-sys-color-on-background: #1C1B1B;
  --md-sys-color-surface: #FDF8F8;
  --md-sys-color-surface-dim: #BCB8B7;
  --md-sys-color-surface-bright: #FDF8F8;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F5F0EF;
  --md-sys-color-surface-container: #E6E1E1;
  --md-sys-color-surface-container-high: #D8D3D3;
  --md-sys-color-surface-container-highest: #CAC5C5;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #F0DDEB;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #342933;
  --md-sys-color-outline-variant: #524550;
  --md-sys-color-inverse-surface: #323030;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #8B418F;
  --md-sys-color-primary: #510358;
  --md-sys-color-primary-dim: #3D0043;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #732A78;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #732A78;
  --md-sys-color-primary-fixed-dim: #590E60;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #FFA9FE;
  --md-sys-color-secondary: #4A2010;
  --md-sys-color-secondary-dim: #3A1405;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #6D3C2A;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #6D3C2A;
  --md-sys-color-secondary-fixed-dim: #522616;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #362543;
  --md-sys-color-tertiary-dim: #291835;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #554261;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #554261;
  --md-sys-color-tertiary-fixed-dim: #3D2C49;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #98000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #FFD6FA;
  --md-sys-color-control-normal: #4F434E;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E6E1E1;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D3C1CE;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E1;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E1;
  --md-sys-color-text-hint-inverse: #E6E1E1;
}
.dark {
  --md-sys-color-primary-palette-key-color: #A85AAA;
  --md-sys-color-secondary-palette-key-color: #A36853;
  --md-sys-color-tertiary-palette-key-color: #F2D8FF;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737E;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #141313;
  --md-sys-color-on-background: #E6E1E1;
  --md-sys-color-surface: #141313;
  --md-sys-color-surface-dim: #141313;
  --md-sys-color-surface-bright: #3A3939;
  --md-sys-color-surface-container-lowest: #0F0E0E;
  --md-sys-color-surface-container-low: #1C1B1B;
  --md-sys-color-surface-container: #211F1F;
  --md-sys-color-surface-container-high: #2B2A29;
  --md-sys-color-surface-container-highest: #363434;
  --md-sys-color-on-surface: #E6E1E1;
  --md-sys-color-surface-variant: #4F434E;
  --md-sys-color-on-surface-variant: #D3C1CE;
  --md-sys-color-outline: #9C8C98;
  --md-sys-color-outline-variant: #4F434E;
  --md-sys-color-inverse-surface: #E6E1E1;
  --md-sys-color-inverse-on-surface: #323030;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFA9FE;
  --md-sys-color-primary: #FFA9FE;
  --md-sys-color-primary-dim: #FFC0FC;
  --md-sys-color-on-primary: #560A5D;
  --md-sys-color-primary-container: #8C4190;
  --md-sys-color-on-primary-container: #FFC8FB;
  --md-sys-color-primary-fixed: #FFD6FA;
  --md-sys-color-primary-fixed-dim: #FFA9FE;
  --md-sys-color-on-primary-fixed: #36003C;
  --md-sys-color-on-primary-fixed-variant: #702776;
  --md-sys-color-inverse-primary: #8B418F;
  --md-sys-color-secondary: #FDB69D;
  --md-sys-color-secondary-dim: #FFC8B6;
  --md-sys-color-on-secondary: #4F2414;
  --md-sys-color-secondary-container: #6B3A28;
  --md-sys-color-on-secondary-container: #E9A58D;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #FDB69D;
  --md-sys-color-on-secondary-fixed: #351003;
  --md-sys-color-on-secondary-fixed-variant: #6B3A28;
  --md-sys-color-tertiary: #D7BEE4;
  --md-sys-color-tertiary-dim: #F1D7FE;
  --md-sys-color-on-tertiary: #3B2947;
  --md-sys-color-tertiary-container: #6B5778;
  --md-sys-color-on-tertiary-container: #EAD0F7;
  --md-sys-color-tertiary-fixed: #F3DAFF;
  --md-sys-color-tertiary-fixed-dim: #D7BEE4;
  --md-sys-color-on-tertiary-fixed: #251431;
  --md-sys-color-on-tertiary-fixed-variant: #523F5F;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #702776;
  --md-sys-color-control-normal: #D3C1CE;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1C1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4F434E;
  --md-sys-color-text-primary-inverse-disable-only: #1C1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1C1B1B;
  --md-sys-color-text-hint-inverse: #1C1B1B;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #A85AAA;
  --md-sys-color-secondary-palette-key-color: #A36853;
  --md-sys-color-tertiary-palette-key-color: #F2D8FF;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737E;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #141313;
  --md-sys-color-on-background: #E6E1E1;
  --md-sys-color-surface: #141313;
  --md-sys-color-surface-dim: #141313;
  --md-sys-color-surface-bright: #464444;
  --md-sys-color-surface-container-lowest: #080707;
  --md-sys-color-surface-container-low: #1E1D1D;
  --md-sys-color-surface-container: #292727;
  --md-sys-color-surface-container-high: #343232;
  --md-sys-color-surface-container-highest: #3F3D3D;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #4F434E;
  --md-sys-color-on-surface-variant: #E9D7E4;
  --md-sys-color-outline: #BEADBA;
  --md-sys-color-outline-variant: #9B8C98;
  --md-sys-color-inverse-surface: #E6E1E1;
  --md-sys-color-inverse-on-surface: #2B2A2A;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFA9FE;
  --md-sys-color-primary: #FFCDFB;
  --md-sys-color-primary-dim: #FFC0FC;
  --md-sys-color-on-primary: #47004E;
  --md-sys-color-primary-container: #C473C6;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #FFD6FA;
  --md-sys-color-primary-fixed-dim: #FFA9FE;
  --md-sys-color-on-primary-fixed: #25002A;
  --md-sys-color-on-primary-fixed-variant: #5D1363;
  --md-sys-color-inverse-primary: #722977;
  --md-sys-color-secondary: #FFD3C4;
  --md-sys-color-secondary-dim: #FFC8B6;
  --md-sys-color-on-secondary: #421A0A;
  --md-sys-color-secondary-container: #C0816B;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #FDB69D;
  --md-sys-color-on-secondary-fixed: #270600;
  --md-sys-color-on-secondary-fixed-variant: #562A19;
  --md-sys-color-tertiary: #EDD3FA;
  --md-sys-color-tertiary-dim: #F1D7FE;
  --md-sys-color-on-tertiary: #301F3C;
  --md-sys-color-tertiary-container: #9F89AC;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #F3DAFF;
  --md-sys-color-tertiary-fixed-dim: #D7BEE4;
  --md-sys-color-on-tertiary-fixed: #1A0A26;
  --md-sys-color-on-tertiary-fixed-variant: #412F4D;
  --md-sys-color-error: #FFD2CC;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #FF5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #702776;
  --md-sys-color-control-normal: #D3C1CE;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1C1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4F434E;
  --md-sys-color-text-primary-inverse-disable-only: #1C1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1C1B1B;
  --md-sys-color-text-hint-inverse: #1C1B1B;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #A85AAA;
  --md-sys-color-secondary-palette-key-color: #A36853;
  --md-sys-color-tertiary-palette-key-color: #F2D8FF;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737E;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #141313;
  --md-sys-color-on-background: #E6E1E1;
  --md-sys-color-surface: #141313;
  --md-sys-color-surface-dim: #141313;
  --md-sys-color-surface-bright: #524F4F;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #211F1F;
  --md-sys-color-surface-container: #323030;
  --md-sys-color-surface-container-high: #3D3B3B;
  --md-sys-color-surface-container-highest: #484646;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #4F434E;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FEEBF8;
  --md-sys-color-outline-variant: #CFBECB;
  --md-sys-color-inverse-surface: #E6E1E1;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFA9FE;
  --md-sys-color-primary: #FFEAFA;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #FCA4FB;
  --md-sys-color-on-primary-container: #1C001F;
  --md-sys-color-primary-fixed: #FFD6FA;
  --md-sys-color-primary-fixed-dim: #FFA9FE;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #25002A;
  --md-sys-color-inverse-primary: #722977;
  --md-sys-color-secondary: #FFECE6;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #F8B29A;
  --md-sys-color-on-secondary-container: #1D0400;
  --md-sys-color-secondary-fixed: #FFDBCF;
  --md-sys-color-secondary-fixed-dim: #FDB69D;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #270600;
  --md-sys-color-tertiary: #FBEBFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #D3BAE0;
  --md-sys-color-on-tertiary-container: #140420;
  --md-sys-color-tertiary-fixed: #F3DAFF;
  --md-sys-color-tertiary-fixed-dim: #D7BEE4;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #1A0A26;
  --md-sys-color-error: #FFECE9;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #FFAEA4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #702776;
  --md-sys-color-control-normal: #D3C1CE;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1C1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4F434E;
  --md-sys-color-text-primary-inverse-disable-only: #1C1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1C1B1B;
  --md-sys-color-text-hint-inverse: #1C1B1B;
}
