.light {
  --md-sys-color-primary-palette-key-color: #82727F;
  --md-sys-color-secondary-palette-key-color: #85736D;
  --md-sys-color-tertiary-palette-key-color: #647A83;
  --md-sys-color-neutral-palette-key-color: #7B7676;
  --md-sys-color-neutral-variant-palette-key-color: #7A7677;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #1E1B1B;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #E0D8D8;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FAF2F2;
  --md-sys-color-surface-container: #F4ECEC;
  --md-sys-color-surface-container-high: #EEE6E6;
  --md-sys-color-surface-container-highest: #E8E1E1;
  --md-sys-color-on-surface: #1E1B1B;
  --md-sys-color-surface-variant: #E7E1E2;
  --md-sys-color-on-surface-variant: #494647;
  --md-sys-color-outline: #7A7677;
  --md-sys-color-outline-variant: #CBC5C6;
  --md-sys-color-inverse-surface: #332F30;
  --md-sys-color-inverse-on-surface: #F7EFEF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #695A67;
  --md-sys-color-primary: #695A67;
  --md-sys-color-primary-dim: #736370;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #F1DDEC;
  --md-sys-color-on-primary-container: #50434F;
  --md-sys-color-primary-fixed: #F1DDEC;
  --md-sys-color-primary-fixed-dim: #D4C1D0;
  --md-sys-color-on-primary-fixed: #231823;
  --md-sys-color-on-primary-fixed-variant: #50434F;
  --md-sys-color-inverse-primary: #D4C1D0;
  --md-sys-color-secondary: #6B5B55;
  --md-sys-color-secondary-dim: #75645F;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #F5DED6;
  --md-sys-color-on-secondary-container: #53433E;
  --md-sys-color-secondary-fixed: #F5DED6;
  --md-sys-color-secondary-fixed-dim: #D8C2BB;
  --md-sys-color-on-secondary-fixed: #251915;
  --md-sys-color-on-secondary-fixed-variant: #53433E;
  --md-sys-color-tertiary: #4C626B;
  --md-sys-color-tertiary-dim: #556B74;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #CFE6F1;
  --md-sys-color-on-tertiary-container: #344A52;
  --md-sys-color-tertiary-fixed: #CFE6F1;
  --md-sys-color-tertiary-fixed-dim: #B3CAD4;
  --md-sys-color-on-tertiary-fixed: #071E26;
  --md-sys-color-on-tertiary-fixed-variant: #344A52;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #F1DDEC;
  --md-sys-color-control-normal: #494647;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E8E1E1;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC5C6;
  --md-sys-color-text-primary-inverse-disable-only: #E8E1E1;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E8E1E1;
  --md-sys-color-text-hint-inverse: #E8E1E1;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #82727F;
  --md-sys-color-secondary-palette-key-color: #85736D;
  --md-sys-color-tertiary-palette-key-color: #647A83;
  --md-sys-color-neutral-palette-key-color: #7B7676;
  --md-sys-color-neutral-variant-palette-key-color: #7A7677;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #1E1B1B;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #CCC5C5;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FAF2F2;
  --md-sys-color-surface-container: #EEE6E6;
  --md-sys-color-surface-container-high: #E3DBDB;
  --md-sys-color-surface-container-highest: #D7D0D0;
  --md-sys-color-on-surface: #131011;
  --md-sys-color-surface-variant: #E7E1E2;
  --md-sys-color-on-surface-variant: #383537;
  --md-sys-color-outline: #555153;
  --md-sys-color-outline-variant: #706C6D;
  --md-sys-color-inverse-surface: #332F30;
  --md-sys-color-inverse-on-surface: #F7EFEF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #695A67;
  --md-sys-color-primary: #3F323E;
  --md-sys-color-primary-dim: #4E404C;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #786875;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #786875;
  --md-sys-color-primary-fixed-dim: #5F505D;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #D4C1D0;
  --md-sys-color-secondary: #41332E;
  --md-sys-color-secondary-dim: #50413C;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #7B6964;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #7B6964;
  --md-sys-color-secondary-fixed-dim: #61514C;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #243941;
  --md-sys-color-tertiary-dim: #324850;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #5B707A;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #5B707A;
  --md-sys-color-tertiary-fixed-dim: #425861;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8F0009;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #CF2C27;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #F1DDEC;
  --md-sys-color-control-normal: #494647;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E8E1E1;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC5C6;
  --md-sys-color-text-primary-inverse-disable-only: #E8E1E1;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E8E1E1;
  --md-sys-color-text-hint-inverse: #E8E1E1;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #82727F;
  --md-sys-color-secondary-palette-key-color: #85736D;
  --md-sys-color-tertiary-palette-key-color: #647A83;
  --md-sys-color-neutral-palette-key-color: #7B7676;
  --md-sys-color-neutral-variant-palette-key-color: #7A7677;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #1E1B1B;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #BEB7B7;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F7EFEF;
  --md-sys-color-surface-container: #E8E1E1;
  --md-sys-color-surface-container-high: #DAD3D3;
  --md-sys-color-surface-container-highest: #CCC5C5;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E7E1E2;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #2E2B2D;
  --md-sys-color-outline-variant: #4B484A;
  --md-sys-color-inverse-surface: #332F30;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #695A67;
  --md-sys-color-primary: #352834;
  --md-sys-color-primary-dim: #271C27;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #534551;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #534551;
  --md-sys-color-primary-fixed-dim: #3B2F3A;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #D4C1D0;
  --md-sys-color-secondary: #362925;
  --md-sys-color-secondary-dim: #291D18;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #554641;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #554641;
  --md-sys-color-secondary-fixed-dim: #3D302B;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #192F37;
  --md-sys-color-tertiary-dim: #0B222A;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #374C55;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #374C55;
  --md-sys-color-tertiary-fixed-dim: #20363E;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #98000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #F1DDEC;
  --md-sys-color-control-normal: #494647;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E8E1E1;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC5C6;
  --md-sys-color-text-primary-inverse-disable-only: #E8E1E1;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E8E1E1;
  --md-sys-color-text-hint-inverse: #E8E1E1;
}
.dark {
  --md-sys-color-primary-palette-key-color: #82727F;
  --md-sys-color-secondary-palette-key-color: #85736D;
  --md-sys-color-tertiary-palette-key-color: #647A83;
  --md-sys-color-neutral-palette-key-color: #7B7676;
  --md-sys-color-neutral-variant-palette-key-color: #7A7677;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #161313;
  --md-sys-color-on-background: #E8E1E1;
  --md-sys-color-surface: #161313;
  --md-sys-color-surface-dim: #161313;
  --md-sys-color-surface-bright: #3C3839;
  --md-sys-color-surface-container-lowest: #100D0E;
  --md-sys-color-surface-container-low: #1E1B1B;
  --md-sys-color-surface-container: #221F1F;
  --md-sys-color-surface-container-high: #2D2929;
  --md-sys-color-surface-container-highest: #383434;
  --md-sys-color-on-surface: #E8E1E1;
  --md-sys-color-surface-variant: #494647;
  --md-sys-color-on-surface-variant: #CBC5C6;
  --md-sys-color-outline: #948F91;
  --md-sys-color-outline-variant: #494647;
  --md-sys-color-inverse-surface: #E8E1E1;
  --md-sys-color-inverse-on-surface: #332F30;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D4C1D0;
  --md-sys-color-primary: #D4C1D0;
  --md-sys-color-primary-dim: #E3CFDE;
  --md-sys-color-on-primary: #392C38;
  --md-sys-color-primary-container: #50434F;
  --md-sys-color-on-primary-container: #F1DDEC;
  --md-sys-color-primary-fixed: #F1DDEC;
  --md-sys-color-primary-fixed-dim: #D4C1D0;
  --md-sys-color-on-primary-fixed: #231823;
  --md-sys-color-on-primary-fixed-variant: #50434F;
  --md-sys-color-inverse-primary: #695A67;
  --md-sys-color-secondary: #D8C2BB;
  --md-sys-color-secondary-dim: #E6D0C9;
  --md-sys-color-on-secondary: #3B2D29;
  --md-sys-color-secondary-container: #53433E;
  --md-sys-color-on-secondary-container: #F5DED6;
  --md-sys-color-secondary-fixed: #F5DED6;
  --md-sys-color-secondary-fixed-dim: #D8C2BB;
  --md-sys-color-on-secondary-fixed: #251915;
  --md-sys-color-on-secondary-fixed-variant: #53433E;
  --md-sys-color-tertiary: #B3CAD4;
  --md-sys-color-tertiary-dim: #DAF2FC;
  --md-sys-color-on-tertiary: #1E333B;
  --md-sys-color-tertiary-container: #344A52;
  --md-sys-color-on-tertiary-container: #CFE6F1;
  --md-sys-color-tertiary-fixed: #CFE6F1;
  --md-sys-color-tertiary-fixed-dim: #B3CAD4;
  --md-sys-color-on-tertiary-fixed: #071E26;
  --md-sys-color-on-tertiary-fixed-variant: #344A52;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #50434F;
  --md-sys-color-control-normal: #CBC5C6;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1E1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494647;
  --md-sys-color-text-primary-inverse-disable-only: #1E1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1E1B1B;
  --md-sys-color-text-hint-inverse: #1E1B1B;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #82727F;
  --md-sys-color-secondary-palette-key-color: #85736D;
  --md-sys-color-tertiary-palette-key-color: #647A83;
  --md-sys-color-neutral-palette-key-color: #7B7676;
  --md-sys-color-neutral-variant-palette-key-color: #7A7677;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #161313;
  --md-sys-color-on-background: #E8E1E1;
  --md-sys-color-surface: #161313;
  --md-sys-color-surface-dim: #161313;
  --md-sys-color-surface-bright: #484344;
  --md-sys-color-surface-container-lowest: #090707;
  --md-sys-color-surface-container-low: #201D1D;
  --md-sys-color-surface-container: #2A2727;
  --md-sys-color-surface-container-high: #353232;
  --md-sys-color-surface-container-highest: #413D3D;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #494647;
  --md-sys-color-on-surface-variant: #E1DBDC;
  --md-sys-color-outline: #B6B0B2;
  --md-sys-color-outline-variant: #948F91;
  --md-sys-color-inverse-surface: #E8E1E1;
  --md-sys-color-inverse-on-surface: #2D2929;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D4C1D0;
  --md-sys-color-primary: #EBD7E6;
  --md-sys-color-primary-dim: #E3CFDE;
  --md-sys-color-on-primary: #2E222D;
  --md-sys-color-primary-container: #9D8C9A;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #F1DDEC;
  --md-sys-color-primary-fixed-dim: #D4C1D0;
  --md-sys-color-on-primary-fixed: #180E18;
  --md-sys-color-on-primary-fixed-variant: #3F323E;
  --md-sys-color-inverse-primary: #524450;
  --md-sys-color-secondary: #EED8D0;
  --md-sys-color-secondary-dim: #E6D0C9;
  --md-sys-color-on-secondary: #30231E;
  --md-sys-color-secondary-container: #A08D86;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #F5DED6;
  --md-sys-color-secondary-fixed-dim: #D8C2BB;
  --md-sys-color-on-secondary-fixed: #190F0B;
  --md-sys-color-on-secondary-fixed-variant: #41332E;
  --md-sys-color-tertiary: #C9E0EB;
  --md-sys-color-tertiary-dim: #DAF2FC;
  --md-sys-color-on-tertiary: #122830;
  --md-sys-color-tertiary-container: #7E949E;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #CFE6F1;
  --md-sys-color-tertiary-fixed-dim: #B3CAD4;
  --md-sys-color-on-tertiary-fixed: #00141B;
  --md-sys-color-on-tertiary-fixed-variant: #243941;
  --md-sys-color-error: #FFD2CC;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #FF5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #50434F;
  --md-sys-color-control-normal: #CBC5C6;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1E1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494647;
  --md-sys-color-text-primary-inverse-disable-only: #1E1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1E1B1B;
  --md-sys-color-text-hint-inverse: #1E1B1B;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #82727F;
  --md-sys-color-secondary-palette-key-color: #85736D;
  --md-sys-color-tertiary-palette-key-color: #647A83;
  --md-sys-color-neutral-palette-key-color: #7B7676;
  --md-sys-color-neutral-variant-palette-key-color: #7A7677;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #161313;
  --md-sys-color-on-background: #E8E1E1;
  --md-sys-color-surface: #161313;
  --md-sys-color-surface-dim: #161313;
  --md-sys-color-surface-bright: #534F4F;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #221F1F;
  --md-sys-color-surface-container: #332F30;
  --md-sys-color-surface-container-high: #3E3A3B;
  --md-sys-color-surface-container-highest: #4A4646;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #494647;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #F5EEF0;
  --md-sys-color-outline-variant: #C7C1C3;
  --md-sys-color-inverse-surface: #E8E1E1;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D4C1D0;
  --md-sys-color-primary: #FFEAFA;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #D0BDCC;
  --md-sys-color-on-primary-container: #120812;
  --md-sys-color-primary-fixed: #F1DDEC;
  --md-sys-color-primary-fixed-dim: #D4C1D0;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #180E18;
  --md-sys-color-inverse-primary: #524450;
  --md-sys-color-secondary: #FFECE6;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #D4BEB7;
  --md-sys-color-on-secondary-container: #130906;
  --md-sys-color-secondary-fixed: #F5DED6;
  --md-sys-color-secondary-fixed-dim: #D8C2BB;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #190F0B;
  --md-sys-color-tertiary: #DCF4FE;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #AFC6D0;
  --md-sys-color-on-tertiary-container: #000D13;
  --md-sys-color-tertiary-fixed: #CFE6F1;
  --md-sys-color-tertiary-fixed-dim: #B3CAD4;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #00141B;
  --md-sys-color-error: #FFECE9;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #FFAEA4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #50434F;
  --md-sys-color-control-normal: #CBC5C6;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1E1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494647;
  --md-sys-color-text-primary-inverse-disable-only: #1E1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1E1B1B;
  --md-sys-color-text-hint-inverse: #1E1B1B;
}
