.light {
  --md-sys-color-primary-palette-key-color: #6570C4;
  --md-sys-color-secondary-palette-key-color: #A36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #26181B;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #EED4D8;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFF0F1;
  --md-sys-color-surface-container: #FFE8EB;
  --md-sys-color-surface-container-high: #FCE2E6;
  --md-sys-color-surface-container-highest: #F6DCE0;
  --md-sys-color-on-surface: #26181B;
  --md-sys-color-surface-variant: #F5DBF0;
  --md-sys-color-on-surface-variant: #534152;
  --md-sys-color-outline: #867183;
  --md-sys-color-outline-variant: #D8BFD4;
  --md-sys-color-inverse-surface: #3C2C2F;
  --md-sys-color-inverse-on-surface: #FFECEE;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4C57A9;
  --md-sys-color-primary: #4C57A9;
  --md-sys-color-primary-dim: #5661B4;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #DFE0FF;
  --md-sys-color-on-primary-container: #343F90;
  --md-sys-color-primary-fixed: #DFE0FF;
  --md-sys-color-primary-fixed-dim: #BCC2FF;
  --md-sys-color-on-primary-fixed: #000B62;
  --md-sys-color-on-primary-fixed-variant: #343F90;
  --md-sys-color-inverse-primary: #BCC2FF;
  --md-sys-color-secondary: #874B6D;
  --md-sys-color-secondary-dim: #925477;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #FFD8EA;
  --md-sys-color-on-secondary-container: #6C3454;
  --md-sys-color-secondary-fixed: #FFD8EA;
  --md-sys-color-secondary-fixed-dim: #FBB0D7;
  --md-sys-color-on-secondary-fixed: #370727;
  --md-sys-color-on-secondary-fixed-variant: #6C3454;
  --md-sys-color-tertiary: #08677F;
  --md-sys-color-tertiary-dim: #1D7189;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #B8EAFF;
  --md-sys-color-on-tertiary-container: #004D61;
  --md-sys-color-tertiary-fixed: #B8EAFF;
  --md-sys-color-tertiary-fixed-dim: #88D1EC;
  --md-sys-color-on-tertiary-fixed: #001F28;
  --md-sys-color-on-tertiary-fixed-variant: #004D61;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #DFE0FF;
  --md-sys-color-control-normal: #534152;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #F6DCE0;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D8BFD4;
  --md-sys-color-text-primary-inverse-disable-only: #F6DCE0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #F6DCE0;
  --md-sys-color-text-hint-inverse: #F6DCE0;
  --md-sys-color-widget-background: #FFECF3;
  --md-sys-color-clock-hour: #6C3454;
  --md-sys-color-clock-minute: #434D9F;
  --md-sys-color-clock-second: #08677F;
  --md-sys-color-weather-temp: #4C57A9;
  --md-sys-color-theme-app: #DFE0FF;
  --md-sys-color-on-theme-app: #343F90;
  --md-sys-color-theme-app-ring: #9AA5FD;
  --md-sys-color-theme-notif: #509AB4;
  --md-sys-color-brand-a: #4A54A6;
  --md-sys-color-brand-b: #DD96BC;
  --md-sys-color-brand-c: #6570C4;
  --md-sys-color-brand-d: #4B95AF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #DFE0FF;
  --md-sys-color-on-shade-active: #000B62;
  --md-sys-color-on-shade-active-variant: #343F90;
  --md-sys-color-shade-inactive: #3C2C2F;
  --md-sys-color-on-shade-inactive: #F5DBF0;
  --md-sys-color-on-shade-inactive-variant: #D8BFD4;
  --md-sys-color-shade-disabled: #170B0D;
  --md-sys-color-overview-background: #D8BFD4;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6570C4;
  --md-sys-color-secondary-palette-key-color: #A36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #26181B;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #D9C0C4;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFF0F1;
  --md-sys-color-surface-container: #FCE2E6;
  --md-sys-color-surface-container-high: #F1D7DA;
  --md-sys-color-surface-container-highest: #E5CBCF;
  --md-sys-color-on-surface: #1A0D10;
  --md-sys-color-surface-variant: #F5DBF0;
  --md-sys-color-on-surface-variant: #423141;
  --md-sys-color-outline: #604C5E;
  --md-sys-color-outline-variant: #7C6779;
  --md-sys-color-inverse-surface: #3C2C2F;
  --md-sys-color-inverse-on-surface: #FFECEE;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4C57A9;
  --md-sys-color-primary: #222D7E;
  --md-sys-color-primary-dim: #313C8D;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #5B66B9;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #5B66B9;
  --md-sys-color-primary-fixed-dim: #424D9F;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #BCC2FF;
  --md-sys-color-secondary: #582343;
  --md-sys-color-secondary-dim: #693152;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #98597C;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #98597C;
  --md-sys-color-secondary-fixed-dim: #7C4163;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #003C4B;
  --md-sys-color-tertiary-dim: #004B5E;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #25768F;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #25768F;
  --md-sys-color-tertiary-fixed-dim: #005D73;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8F0009;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #CF2C27;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #DFE0FF;
  --md-sys-color-control-normal: #534152;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #F6DCE0;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D8BFD4;
  --md-sys-color-text-primary-inverse-disable-only: #F6DCE0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #F6DCE0;
  --md-sys-color-text-hint-inverse: #F6DCE0;
  --md-sys-color-widget-background: #FFECF3;
  --md-sys-color-clock-hour: #6C3454;
  --md-sys-color-clock-minute: #253082;
  --md-sys-color-clock-second: #000000;
  --md-sys-color-weather-temp: #000000;
  --md-sys-color-theme-app: #DFE0FF;
  --md-sys-color-on-theme-app: #343F90;
  --md-sys-color-theme-app-ring: #9AA5FD;
  --md-sys-color-theme-notif: #509AB4;
  --md-sys-color-brand-a: #2E398B;
  --md-sys-color-brand-b: #BB789C;
  --md-sys-color-brand-c: #3F4A9C;
  --md-sys-color-brand-d: #277890;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #DFE0FF;
  --md-sys-color-on-shade-active: #000B62;
  --md-sys-color-on-shade-active-variant: #343F90;
  --md-sys-color-shade-inactive: #3C2C2F;
  --md-sys-color-on-shade-inactive: #F5DBF0;
  --md-sys-color-on-shade-inactive-variant: #D8BFD4;
  --md-sys-color-shade-disabled: #170B0D;
  --md-sys-color-overview-background: #D8BFD4;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #6570C4;
  --md-sys-color-secondary-palette-key-color: #A36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #26181B;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #CBB3B7;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFECEE;
  --md-sys-color-surface-container: #F6DCE0;
  --md-sys-color-surface-container-high: #E8CED2;
  --md-sys-color-surface-container-highest: #D9C0C4;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #F5DBF0;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #372737;
  --md-sys-color-outline-variant: #564354;
  --md-sys-color-inverse-surface: #3C2C2F;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4C57A9;
  --md-sys-color-primary: #162174;
  --md-sys-color-primary-dim: #031068;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #364192;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #364192;
  --md-sys-color-primary-fixed-dim: #1D297B;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #BCC2FF;
  --md-sys-color-secondary: #4C1939;
  --md-sys-color-secondary-dim: #3C0B2B;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #6E3657;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #6E3657;
  --md-sys-color-secondary-fixed-dim: #542040;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #00313E;
  --md-sys-color-tertiary-dim: #00232D;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #005064;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #005064;
  --md-sys-color-tertiary-fixed-dim: #003847;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #98000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #DFE0FF;
  --md-sys-color-control-normal: #534152;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #F6DCE0;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D8BFD4;
  --md-sys-color-text-primary-inverse-disable-only: #F6DCE0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #F6DCE0;
  --md-sys-color-text-hint-inverse: #F6DCE0;
  --md-sys-color-widget-background: #FFECF3;
  --md-sys-color-clock-hour: #370727;
  --md-sys-color-clock-minute: #000B62;
  --md-sys-color-clock-second: #003847;
  --md-sys-color-weather-temp: #1E297B;
  --md-sys-color-theme-app: #DFE0FF;
  --md-sys-color-on-theme-app: #1B2779;
  --md-sys-color-theme-app-ring: #9AA5FD;
  --md-sys-color-theme-notif: #509AB4;
  --md-sys-color-brand-a: #172275;
  --md-sys-color-brand-b: #98597C;
  --md-sys-color-brand-c: #354091;
  --md-sys-color-brand-d: #00627A;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #DFE0FF;
  --md-sys-color-on-shade-active: #000000;
  --md-sys-color-on-shade-active-variant: #131F72;
  --md-sys-color-shade-inactive: #3C2C2F;
  --md-sys-color-on-shade-inactive: #FFE4FA;
  --md-sys-color-on-shade-inactive-variant: #FFE4FA;
  --md-sys-color-shade-disabled: #170B0D;
  --md-sys-color-overview-background: #D8BFD4;
}
.dark {
  --md-sys-color-primary-palette-key-color: #6570C4;
  --md-sys-color-secondary-palette-key-color: #A36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #1D1013;
  --md-sys-color-on-background: #F6DCE0;
  --md-sys-color-surface: #1D1013;
  --md-sys-color-surface-dim: #1D1013;
  --md-sys-color-surface-bright: #463538;
  --md-sys-color-surface-container-lowest: #170B0D;
  --md-sys-color-surface-container-low: #26181B;
  --md-sys-color-surface-container: #2A1C1F;
  --md-sys-color-surface-container-high: #352629;
  --md-sys-color-surface-container-highest: #413034;
  --md-sys-color-on-surface: #F6DCE0;
  --md-sys-color-surface-variant: #534152;
  --md-sys-color-on-surface-variant: #D8BFD4;
  --md-sys-color-outline: #A18A9D;
  --md-sys-color-outline-variant: #534152;
  --md-sys-color-inverse-surface: #F6DCE0;
  --md-sys-color-inverse-on-surface: #3C2C2F;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #BCC2FF;
  --md-sys-color-primary: #BCC2FF;
  --md-sys-color-primary-dim: #CDD1FF;
  --md-sys-color-on-primary: #1B2678;
  --md-sys-color-primary-container: #343F90;
  --md-sys-color-on-primary-container: #DFE0FF;
  --md-sys-color-primary-fixed: #DFE0FF;
  --md-sys-color-primary-fixed-dim: #BCC2FF;
  --md-sys-color-on-primary-fixed: #000B62;
  --md-sys-color-on-primary-fixed-variant: #343F90;
  --md-sys-color-inverse-primary: #4C57A9;
  --md-sys-color-secondary: #FBB0D7;
  --md-sys-color-secondary-dim: #FFC4E1;
  --md-sys-color-on-secondary: #511D3D;
  --md-sys-color-secondary-container: #6C3454;
  --md-sys-color-on-secondary-container: #FFD8EA;
  --md-sys-color-secondary-fixed: #FFD8EA;
  --md-sys-color-secondary-fixed-dim: #FBB0D7;
  --md-sys-color-on-secondary-fixed: #370727;
  --md-sys-color-on-secondary-fixed-variant: #6C3454;
  --md-sys-color-tertiary: #88D1EC;
  --md-sys-color-tertiary-dim: #96DFFB;
  --md-sys-color-on-tertiary: #003544;
  --md-sys-color-tertiary-container: #004D61;
  --md-sys-color-on-tertiary-container: #B8EAFF;
  --md-sys-color-tertiary-fixed: #B8EAFF;
  --md-sys-color-tertiary-fixed-dim: #88D1EC;
  --md-sys-color-on-tertiary-fixed: #001F28;
  --md-sys-color-on-tertiary-fixed-variant: #004D61;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #343F90;
  --md-sys-color-control-normal: #D8BFD4;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #26181B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #534152;
  --md-sys-color-text-primary-inverse-disable-only: #26181B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #26181B;
  --md-sys-color-text-hint-inverse: #26181B;
  --md-sys-color-widget-background: #511D3D;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #DFE0FF;
  --md-sys-color-clock-second: #B8EAFF;
  --md-sys-color-weather-temp: #BCC2FF;
  --md-sys-color-theme-app: #511D3D;
  --md-sys-color-on-theme-app: #BCC2FF;
  --md-sys-color-theme-app-ring: #9AA5FD;
  --md-sys-color-theme-notif: #88D1EC;
  --md-sys-color-brand-a: #BCC2FF;
  --md-sys-color-brand-b: #FFF8F8;
  --md-sys-color-brand-c: #8993EA;
  --md-sys-color-brand-d: #B8EAFF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #DFE0FF;
  --md-sys-color-on-shade-active: #BCC2FF;
  --md-sys-color-on-shade-active-variant: #343F90;
  --md-sys-color-shade-inactive: #3C2C2F;
  --md-sys-color-on-shade-inactive: #F5DBF0;
  --md-sys-color-on-shade-inactive-variant: #D8BFD4;
  --md-sys-color-shade-disabled: #170B0D;
  --md-sys-color-overview-background: #604C5E;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6570C4;
  --md-sys-color-secondary-palette-key-color: #A36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #1D1013;
  --md-sys-color-on-background: #F6DCE0;
  --md-sys-color-surface: #1D1013;
  --md-sys-color-surface-dim: #1D1013;
  --md-sys-color-surface-bright: #524043;
  --md-sys-color-surface-container-lowest: #0F0507;
  --md-sys-color-surface-container-low: #281A1D;
  --md-sys-color-surface-container: #332427;
  --md-sys-color-surface-container-high: #3F2E31;
  --md-sys-color-surface-container-highest: #4A393C;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #534152;
  --md-sys-color-on-surface-variant: #EFD5EA;
  --md-sys-color-outline: #C3ABBF;
  --md-sys-color-outline-variant: #A0899D;
  --md-sys-color-inverse-surface: #F6DCE0;
  --md-sys-color-inverse-on-surface: #352629;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #BCC2FF;
  --md-sys-color-primary: #D7DAFF;
  --md-sys-color-primary-dim: #CDD1FF;
  --md-sys-color-on-primary: #0D196E;
  --md-sys-color-primary-container: #7F8AE0;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #DFE0FF;
  --md-sys-color-primary-fixed-dim: #BCC2FF;
  --md-sys-color-on-primary-fixed: #000646;
  --md-sys-color-on-primary-fixed-variant: #222D7E;
  --md-sys-color-inverse-primary: #354091;
  --md-sys-color-secondary: #FFCFE6;
  --md-sys-color-secondary-dim: #FFC4E1;
  --md-sys-color-on-secondary: #441232;
  --md-sys-color-secondary-container: #C07CA0;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #FFD8EA;
  --md-sys-color-secondary-fixed-dim: #FBB0D7;
  --md-sys-color-on-secondary-fixed: #29001C;
  --md-sys-color-on-secondary-fixed-variant: #582343;
  --md-sys-color-tertiary: #A6E6FF;
  --md-sys-color-tertiary-dim: #96DFFB;
  --md-sys-color-on-tertiary: #002A35;
  --md-sys-color-tertiary-container: #509AB4;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #B8EAFF;
  --md-sys-color-tertiary-fixed-dim: #88D1EC;
  --md-sys-color-on-tertiary-fixed: #00141B;
  --md-sys-color-on-tertiary-fixed-variant: #003C4B;
  --md-sys-color-error: #FFD2CC;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #FF5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #343F90;
  --md-sys-color-control-normal: #D8BFD4;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #26181B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #534152;
  --md-sys-color-text-primary-inverse-disable-only: #26181B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #26181B;
  --md-sys-color-text-hint-inverse: #26181B;
  --md-sys-color-widget-background: #511D3D;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #DFE0FF;
  --md-sys-color-clock-second: #FFFFFF;
  --md-sys-color-weather-temp: #FFFFFF;
  --md-sys-color-theme-app: #511D3D;
  --md-sys-color-on-theme-app: #BCC2FF;
  --md-sys-color-theme-app-ring: #9AA5FD;
  --md-sys-color-theme-notif: #88D1EC;
  --md-sys-color-brand-a: #D6D9FF;
  --md-sys-color-brand-b: #FFFEFF;
  --md-sys-color-brand-c: #B3BAFF;
  --md-sys-color-brand-d: #D1F1FF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #DFE0FF;
  --md-sys-color-on-shade-active: #BCC2FF;
  --md-sys-color-on-shade-active-variant: #343F90;
  --md-sys-color-shade-inactive: #3C2C2F;
  --md-sys-color-on-shade-inactive: #F5DBF0;
  --md-sys-color-on-shade-inactive-variant: #D8BFD4;
  --md-sys-color-shade-disabled: #170B0D;
  --md-sys-color-overview-background: #604C5E;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #6570C4;
  --md-sys-color-secondary-palette-key-color: #A36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #1D1013;
  --md-sys-color-on-background: #F6DCE0;
  --md-sys-color-surface: #1D1013;
  --md-sys-color-surface-dim: #1D1013;
  --md-sys-color-surface-bright: #5E4B4F;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2A1C1F;
  --md-sys-color-surface-container: #3C2C2F;
  --md-sys-color-surface-container-high: #48373A;
  --md-sys-color-surface-container-highest: #544246;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #534152;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FFEAFA;
  --md-sys-color-outline-variant: #D4BBD0;
  --md-sys-color-inverse-surface: #F6DCE0;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #BCC2FF;
  --md-sys-color-primary: #F0EEFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #B7BEFF;
  --md-sys-color-on-primary-container: #000336;
  --md-sys-color-primary-fixed: #DFE0FF;
  --md-sys-color-primary-fixed-dim: #BCC2FF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000646;
  --md-sys-color-inverse-primary: #354091;
  --md-sys-color-secondary: #FFEBF2;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #F7ADD3;
  --md-sys-color-on-secondary-container: #1F0014;
  --md-sys-color-secondary-fixed: #FFD8EA;
  --md-sys-color-secondary-fixed-dim: #FBB0D7;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #29001C;
  --md-sys-color-tertiary: #DBF4FF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #84CDE8;
  --md-sys-color-on-tertiary-container: #000D13;
  --md-sys-color-tertiary-fixed: #B8EAFF;
  --md-sys-color-tertiary-fixed-dim: #88D1EC;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #00141B;
  --md-sys-color-error: #FFECE9;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #FFAEA4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #343F90;
  --md-sys-color-control-normal: #D8BFD4;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #26181B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #534152;
  --md-sys-color-text-primary-inverse-disable-only: #26181B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #26181B;
  --md-sys-color-text-hint-inverse: #26181B;
  --md-sys-color-widget-background: #511D3D;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #FFFFFF;
  --md-sys-color-clock-second: #D1F1FF;
  --md-sys-color-weather-temp: #EBEAFF;
  --md-sys-color-theme-app: #511D3D;
  --md-sys-color-on-theme-app: #DEDFFF;
  --md-sys-color-theme-app-ring: #9AA5FD;
  --md-sys-color-theme-notif: #88D1EC;
  --md-sys-color-brand-a: #E4E4FF;
  --md-sys-color-brand-b: #FFFFFF;
  --md-sys-color-brand-c: #CED2FF;
  --md-sys-color-brand-d: #EBF8FF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #DFE0FF;
  --md-sys-color-on-shade-active: #4550A1;
  --md-sys-color-on-shade-active-variant: #131F72;
  --md-sys-color-shade-inactive: #3C2C2F;
  --md-sys-color-on-shade-inactive: #F5DBF0;
  --md-sys-color-on-shade-inactive-variant: #FFE4FA;
  --md-sys-color-shade-disabled: #170B0D;
  --md-sys-color-overview-background: #604C5E;
}
