.light {
  --md-sys-color-primary-palette-key-color: #0A8695;
  --md-sys-color-secondary-palette-key-color: #6B7D56;
  --md-sys-color-tertiary-palette-key-color: #4B7C9C;
  --md-sys-color-neutral-palette-key-color: #857372;
  --md-sys-color-neutral-variant-palette-key-color: #86717B;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #251918;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #ECD5D4;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFF0EF;
  --md-sys-color-surface-container: #FFE9E8;
  --md-sys-color-surface-container-high: #FAE3E1;
  --md-sys-color-surface-container-highest: #F4DDDC;
  --md-sys-color-on-surface: #251918;
  --md-sys-color-surface-variant: #F5DCE7;
  --md-sys-color-on-surface-variant: #53424B;
  --md-sys-color-outline: #86717C;
  --md-sys-color-outline-variant: #D8C0CB;
  --md-sys-color-inverse-surface: #3B2D2C;
  --md-sys-color-inverse-on-surface: #FFEDEB;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006875;
  --md-sys-color-primary: #006875;
  --md-sys-color-primary-dim: #007380;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #9AF0FF;
  --md-sys-color-on-primary-container: #004F58;
  --md-sys-color-primary-fixed: #9AF0FF;
  --md-sys-color-primary-fixed-dim: #74D4E5;
  --md-sys-color-on-primary-fixed: #001F24;
  --md-sys-color-on-primary-fixed-variant: #004F58;
  --md-sys-color-inverse-primary: #74D4E5;
  --md-sys-color-secondary: #52643F;
  --md-sys-color-secondary-dim: #5C6E47;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #D5EABA;
  --md-sys-color-on-secondary-container: #3B4C29;
  --md-sys-color-secondary-fixed: #D5EABA;
  --md-sys-color-secondary-fixed-dim: #B9CDA0;
  --md-sys-color-on-secondary-fixed: #111F03;
  --md-sys-color-on-secondary-fixed-variant: #3B4C29;
  --md-sys-color-tertiary: #306382;
  --md-sys-color-tertiary-dim: #3B6D8C;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #C7E7FF;
  --md-sys-color-on-tertiary-container: #114B69;
  --md-sys-color-tertiary-fixed: #C7E7FF;
  --md-sys-color-tertiary-fixed-dim: #9BCCF0;
  --md-sys-color-on-tertiary-fixed: #001E2E;
  --md-sys-color-on-tertiary-fixed-variant: #114B69;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #9AF0FF;
  --md-sys-color-control-normal: #53424B;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #F4DDDC;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D8C0CB;
  --md-sys-color-text-primary-inverse-disable-only: #F4DDDC;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #F4DDDC;
  --md-sys-color-text-hint-inverse: #F4DDDC;
  --md-sys-color-widget-background: #E3F8C8;
  --md-sys-color-clock-hour: #3B4C29;
  --md-sys-color-clock-minute: #005E69;
  --md-sys-color-clock-second: #306382;
  --md-sys-color-weather-temp: #006875;
  --md-sys-color-theme-app: #9AF0FF;
  --md-sys-color-on-theme-app: #004F58;
  --md-sys-color-theme-app-ring: #57B9C8;
  --md-sys-color-theme-notif: #6596B7;
  --md-sys-color-brand-a: #006571;
  --md-sys-color-brand-b: #9EB286;
  --md-sys-color-brand-c: #008392;
  --md-sys-color-brand-d: #6192B3;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #9AF0FF;
  --md-sys-color-on-shade-active: #001F24;
  --md-sys-color-on-shade-active-variant: #004F58;
  --md-sys-color-shade-inactive: #3B2D2C;
  --md-sys-color-on-shade-inactive: #F5DCE7;
  --md-sys-color-on-shade-inactive-variant: #D8C0CB;
  --md-sys-color-shade-disabled: #160B0B;
  --md-sys-color-overview-background: #D8C0CB;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #0A8695;
  --md-sys-color-secondary-palette-key-color: #6B7D56;
  --md-sys-color-tertiary-palette-key-color: #4B7C9C;
  --md-sys-color-neutral-palette-key-color: #857372;
  --md-sys-color-neutral-variant-palette-key-color: #86717B;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #251918;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #D7C1C0;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFF0EF;
  --md-sys-color-surface-container: #FAE3E1;
  --md-sys-color-surface-container-high: #EFD8D6;
  --md-sys-color-surface-container-highest: #E3CDCB;
  --md-sys-color-on-surface: #190E0E;
  --md-sys-color-surface-variant: #F5DCE7;
  --md-sys-color-on-surface-variant: #42313A;
  --md-sys-color-outline: #604D57;
  --md-sys-color-outline-variant: #7C6872;
  --md-sys-color-inverse-surface: #3B2D2C;
  --md-sys-color-inverse-on-surface: #FFEDEB;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006875;
  --md-sys-color-primary: #003C44;
  --md-sys-color-primary-dim: #004C55;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #007886;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #007886;
  --md-sys-color-primary-fixed-dim: #005E69;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #74D4E5;
  --md-sys-color-secondary: #2B3B1A;
  --md-sys-color-secondary-dim: #394A27;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #61734C;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #61734C;
  --md-sys-color-secondary-fixed-dim: #495A36;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #003A54;
  --md-sys-color-tertiary-dim: #0D4967;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #407292;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #407292;
  --md-sys-color-tertiary-fixed-dim: #255A78;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8F0009;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #CF2C27;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #9AF0FF;
  --md-sys-color-control-normal: #53424B;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #F4DDDC;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D8C0CB;
  --md-sys-color-text-primary-inverse-disable-only: #F4DDDC;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #F4DDDC;
  --md-sys-color-text-hint-inverse: #F4DDDC;
  --md-sys-color-widget-background: #E3F8C8;
  --md-sys-color-clock-hour: #3B4C29;
  --md-sys-color-clock-minute: #004048;
  --md-sys-color-clock-second: #000000;
  --md-sys-color-weather-temp: #000000;
  --md-sys-color-theme-app: #9AF0FF;
  --md-sys-color-on-theme-app: #004F58;
  --md-sys-color-theme-app-ring: #57B9C8;
  --md-sys-color-theme-notif: #6596B7;
  --md-sys-color-brand-a: #004952;
  --md-sys-color-brand-b: #7F9269;
  --md-sys-color-brand-c: #005B65;
  --md-sys-color-brand-d: #427494;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #9AF0FF;
  --md-sys-color-on-shade-active: #001F24;
  --md-sys-color-on-shade-active-variant: #004F58;
  --md-sys-color-shade-inactive: #3B2D2C;
  --md-sys-color-on-shade-inactive: #F5DCE7;
  --md-sys-color-on-shade-inactive-variant: #D8C0CB;
  --md-sys-color-shade-disabled: #160B0B;
  --md-sys-color-overview-background: #D8C0CB;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #0A8695;
  --md-sys-color-secondary-palette-key-color: #6B7D56;
  --md-sys-color-tertiary-palette-key-color: #4B7C9C;
  --md-sys-color-neutral-palette-key-color: #857372;
  --md-sys-color-neutral-variant-palette-key-color: #86717B;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF8F7;
  --md-sys-color-on-background: #251918;
  --md-sys-color-surface: #FFF8F7;
  --md-sys-color-surface-dim: #C9B4B3;
  --md-sys-color-surface-bright: #FFF8F7;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFEDEB;
  --md-sys-color-surface-container: #F4DDDC;
  --md-sys-color-surface-container-high: #E6CFCE;
  --md-sys-color-surface-container-highest: #D7C1C0;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #F5DCE7;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #372830;
  --md-sys-color-outline-variant: #56444E;
  --md-sys-color-inverse-surface: #3B2D2C;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006875;
  --md-sys-color-primary: #003138;
  --md-sys-color-primary-dim: #002429;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #00515B;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #00515B;
  --md-sys-color-primary-fixed-dim: #003940;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #74D4E5;
  --md-sys-color-secondary: #213111;
  --md-sys-color-secondary-dim: #152305;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #3D4E2B;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #3D4E2B;
  --md-sys-color-secondary-fixed-dim: #273717;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #003046;
  --md-sys-color-tertiary-dim: #002234;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #154E6C;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #154E6C;
  --md-sys-color-tertiary-fixed-dim: #00374F;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #98000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #9AF0FF;
  --md-sys-color-control-normal: #53424B;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #F4DDDC;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D8C0CB;
  --md-sys-color-text-primary-inverse-disable-only: #F4DDDC;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #F4DDDC;
  --md-sys-color-text-hint-inverse: #F4DDDC;
  --md-sys-color-widget-background: #E3F8C8;
  --md-sys-color-clock-hour: #111F03;
  --md-sys-color-clock-minute: #001F24;
  --md-sys-color-clock-second: #003750;
  --md-sys-color-weather-temp: #003940;
  --md-sys-color-theme-app: #9AF0FF;
  --md-sys-color-on-theme-app: #00373E;
  --md-sys-color-theme-app-ring: #57B9C8;
  --md-sys-color-theme-notif: #6596B7;
  --md-sys-color-brand-a: #003339;
  --md-sys-color-brand-b: #61734C;
  --md-sys-color-brand-c: #005059;
  --md-sys-color-brand-d: #2B5F7E;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #9AF0FF;
  --md-sys-color-on-shade-active: #000000;
  --md-sys-color-on-shade-active-variant: #002F35;
  --md-sys-color-shade-inactive: #3B2D2C;
  --md-sys-color-on-shade-inactive: #FFE5F1;
  --md-sys-color-on-shade-inactive-variant: #FFE5F1;
  --md-sys-color-shade-disabled: #160B0B;
  --md-sys-color-overview-background: #D8C0CB;
}
.dark {
  --md-sys-color-primary-palette-key-color: #0A8695;
  --md-sys-color-secondary-palette-key-color: #6B7D56;
  --md-sys-color-tertiary-palette-key-color: #4B7C9C;
  --md-sys-color-neutral-palette-key-color: #857372;
  --md-sys-color-neutral-variant-palette-key-color: #86717B;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #1C1010;
  --md-sys-color-on-background: #F4DDDC;
  --md-sys-color-surface: #1C1010;
  --md-sys-color-surface-dim: #1C1010;
  --md-sys-color-surface-bright: #443635;
  --md-sys-color-surface-container-lowest: #160B0B;
  --md-sys-color-surface-container-low: #251918;
  --md-sys-color-surface-container: #291C1C;
  --md-sys-color-surface-container-high: #342726;
  --md-sys-color-surface-container-highest: #3F3131;
  --md-sys-color-on-surface: #F4DDDC;
  --md-sys-color-surface-variant: #53424B;
  --md-sys-color-on-surface-variant: #D8C0CB;
  --md-sys-color-outline: #A18B95;
  --md-sys-color-outline-variant: #53424B;
  --md-sys-color-inverse-surface: #F4DDDC;
  --md-sys-color-inverse-on-surface: #3B2D2C;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #74D4E5;
  --md-sys-color-primary: #74D4E5;
  --md-sys-color-primary-dim: #83E3F3;
  --md-sys-color-on-primary: #00363D;
  --md-sys-color-primary-container: #004F58;
  --md-sys-color-on-primary-container: #9AF0FF;
  --md-sys-color-primary-fixed: #9AF0FF;
  --md-sys-color-primary-fixed-dim: #74D4E5;
  --md-sys-color-on-primary-fixed: #001F24;
  --md-sys-color-on-primary-fixed-variant: #004F58;
  --md-sys-color-inverse-primary: #006875;
  --md-sys-color-secondary: #B9CDA0;
  --md-sys-color-secondary-dim: #D5EABA;
  --md-sys-color-on-secondary: #253515;
  --md-sys-color-secondary-container: #3B4C29;
  --md-sys-color-on-secondary-container: #D5EABA;
  --md-sys-color-secondary-fixed: #D5EABA;
  --md-sys-color-secondary-fixed-dim: #B9CDA0;
  --md-sys-color-on-secondary-fixed: #111F03;
  --md-sys-color-on-secondary-fixed-variant: #3B4C29;
  --md-sys-color-tertiary: #9BCCF0;
  --md-sys-color-tertiary-dim: #A9DAFE;
  --md-sys-color-on-tertiary: #00344C;
  --md-sys-color-tertiary-container: #114B69;
  --md-sys-color-on-tertiary-container: #C7E7FF;
  --md-sys-color-tertiary-fixed: #C7E7FF;
  --md-sys-color-tertiary-fixed-dim: #9BCCF0;
  --md-sys-color-on-tertiary-fixed: #001E2E;
  --md-sys-color-on-tertiary-fixed-variant: #114B69;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #004F58;
  --md-sys-color-control-normal: #D8C0CB;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #251918;
  --md-sys-color-text-secondary-and-tertiary-inverse: #53424B;
  --md-sys-color-text-primary-inverse-disable-only: #251918;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #251918;
  --md-sys-color-text-hint-inverse: #251918;
  --md-sys-color-widget-background: #253515;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #9AF0FF;
  --md-sys-color-clock-second: #C7E7FF;
  --md-sys-color-weather-temp: #74D4E5;
  --md-sys-color-theme-app: #253515;
  --md-sys-color-on-theme-app: #74D4E5;
  --md-sys-color-theme-app-ring: #57B9C8;
  --md-sys-color-theme-notif: #9BCCF0;
  --md-sys-color-brand-a: #74D4E5;
  --md-sys-color-brand-b: #EFFFD9;
  --md-sys-color-brand-c: #42A7B7;
  --md-sys-color-brand-d: #C7E7FF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #9AF0FF;
  --md-sys-color-on-shade-active: #74D4E5;
  --md-sys-color-on-shade-active-variant: #004F58;
  --md-sys-color-shade-inactive: #3B2D2C;
  --md-sys-color-on-shade-inactive: #F5DCE7;
  --md-sys-color-on-shade-inactive-variant: #D8C0CB;
  --md-sys-color-shade-disabled: #160B0B;
  --md-sys-color-overview-background: #604D57;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #0A8695;
  --md-sys-color-secondary-palette-key-color: #6B7D56;
  --md-sys-color-tertiary-palette-key-color: #4B7C9C;
  --md-sys-color-neutral-palette-key-color: #857372;
  --md-sys-color-neutral-variant-palette-key-color: #86717B;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #1C1010;
  --md-sys-color-on-background: #F4DDDC;
  --md-sys-color-surface: #1C1010;
  --md-sys-color-surface-dim: #1C1010;
  --md-sys-color-surface-bright: #504140;
  --md-sys-color-surface-container-lowest: #0E0505;
  --md-sys-color-surface-container-low: #271A1A;
  --md-sys-color-surface-container: #322524;
  --md-sys-color-surface-container-high: #3D2F2F;
  --md-sys-color-surface-container-highest: #493A39;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #53424B;
  --md-sys-color-on-surface-variant: #EFD6E1;
  --md-sys-color-outline: #C3ACB7;
  --md-sys-color-outline-variant: #A08A95;
  --md-sys-color-inverse-surface: #F4DDDC;
  --md-sys-color-inverse-on-surface: #342726;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #74D4E5;
  --md-sys-color-primary: #8BEBFB;
  --md-sys-color-primary-dim: #83E3F3;
  --md-sys-color-on-primary: #002A30;
  --md-sys-color-primary-container: #369EAD;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #9AF0FF;
  --md-sys-color-primary-fixed-dim: #74D4E5;
  --md-sys-color-on-primary-fixed: #001417;
  --md-sys-color-on-primary-fixed-variant: #003C44;
  --md-sys-color-inverse-primary: #005059;
  --md-sys-color-secondary: #CFE3B5;
  --md-sys-color-secondary-dim: #D5EABA;
  --md-sys-color-on-secondary: #1B2A0B;
  --md-sys-color-secondary-container: #84976D;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #D5EABA;
  --md-sys-color-secondary-fixed-dim: #B9CDA0;
  --md-sys-color-on-secondary-fixed: #081400;
  --md-sys-color-on-secondary-fixed-variant: #2B3B1A;
  --md-sys-color-tertiary: #BAE1FF;
  --md-sys-color-tertiary-dim: #A9DAFE;
  --md-sys-color-on-tertiary: #00293D;
  --md-sys-color-tertiary-container: #6596B7;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #C7E7FF;
  --md-sys-color-tertiary-fixed-dim: #9BCCF0;
  --md-sys-color-on-tertiary-fixed: #00131F;
  --md-sys-color-on-tertiary-fixed-variant: #003A54;
  --md-sys-color-error: #FFD2CC;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #FF5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #004F58;
  --md-sys-color-control-normal: #D8C0CB;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #251918;
  --md-sys-color-text-secondary-and-tertiary-inverse: #53424B;
  --md-sys-color-text-primary-inverse-disable-only: #251918;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #251918;
  --md-sys-color-text-hint-inverse: #251918;
  --md-sys-color-widget-background: #253515;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #9AF0FF;
  --md-sys-color-clock-second: #FFFFFF;
  --md-sys-color-weather-temp: #FFFFFF;
  --md-sys-color-theme-app: #253515;
  --md-sys-color-on-theme-app: #74D4E5;
  --md-sys-color-theme-app-ring: #57B9C8;
  --md-sys-color-theme-notif: #9BCCF0;
  --md-sys-color-brand-a: #8AEAFA;
  --md-sys-color-brand-b: #FFFFF5;
  --md-sys-color-brand-c: #6CCDDD;
  --md-sys-color-brand-d: #DBEEFF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #9AF0FF;
  --md-sys-color-on-shade-active: #74D4E5;
  --md-sys-color-on-shade-active-variant: #004F58;
  --md-sys-color-shade-inactive: #3B2D2C;
  --md-sys-color-on-shade-inactive: #F5DCE7;
  --md-sys-color-on-shade-inactive-variant: #D8C0CB;
  --md-sys-color-shade-disabled: #160B0B;
  --md-sys-color-overview-background: #604D57;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #0A8695;
  --md-sys-color-secondary-palette-key-color: #6B7D56;
  --md-sys-color-tertiary-palette-key-color: #4B7C9C;
  --md-sys-color-neutral-palette-key-color: #857372;
  --md-sys-color-neutral-variant-palette-key-color: #86717B;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #1C1010;
  --md-sys-color-on-background: #F4DDDC;
  --md-sys-color-surface: #1C1010;
  --md-sys-color-surface-dim: #1C1010;
  --md-sys-color-surface-bright: #5C4C4C;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #291C1C;
  --md-sys-color-surface-container: #3B2D2C;
  --md-sys-color-surface-container-high: #473837;
  --md-sys-color-surface-container-highest: #524342;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #53424B;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FFEBF3;
  --md-sys-color-outline-variant: #D4BCC7;
  --md-sys-color-inverse-surface: #F4DDDC;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #74D4E5;
  --md-sys-color-primary: #CEF7FF;
  --md-sys-color-primary-dim: #FEFFFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #70D0E1;
  --md-sys-color-on-primary-container: #000E10;
  --md-sys-color-primary-fixed: #9AF0FF;
  --md-sys-color-primary-fixed-dim: #74D4E5;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001417;
  --md-sys-color-inverse-primary: #005059;
  --md-sys-color-secondary: #E2F7C7;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #B5C99C;
  --md-sys-color-on-secondary-container: #050E00;
  --md-sys-color-secondary-fixed: #D5EABA;
  --md-sys-color-secondary-fixed-dim: #B9CDA0;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #081400;
  --md-sys-color-tertiary: #E3F2FF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #97C9EC;
  --md-sys-color-on-tertiary-container: #000D16;
  --md-sys-color-tertiary-fixed: #C7E7FF;
  --md-sys-color-tertiary-fixed-dim: #9BCCF0;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #00131F;
  --md-sys-color-error: #FFECE9;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #FFAEA4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #004F58;
  --md-sys-color-control-normal: #D8C0CB;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #251918;
  --md-sys-color-text-secondary-and-tertiary-inverse: #53424B;
  --md-sys-color-text-primary-inverse-disable-only: #251918;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #251918;
  --md-sys-color-text-hint-inverse: #251918;
  --md-sys-color-widget-background: #253515;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #FFFFFF;
  --md-sys-color-clock-second: #DBEFFF;
  --md-sys-color-weather-temp: #C0F5FF;
  --md-sys-color-theme-app: #253515;
  --md-sys-color-on-theme-app: #97EFFF;
  --md-sys-color-theme-app-ring: #57B9C8;
  --md-sys-color-theme-notif: #9BCCF0;
  --md-sys-color-brand-a: #AAF2FF;
  --md-sys-color-brand-b: #FFFFFF;
  --md-sys-color-brand-c: #83E3F3;
  --md-sys-color-brand-d: #EFF7FF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #9AF0FF;
  --md-sys-color-on-shade-active: #00616C;
  --md-sys-color-on-shade-active-variant: #002F35;
  --md-sys-color-shade-inactive: #3B2D2C;
  --md-sys-color-on-shade-inactive: #F5DCE7;
  --md-sys-color-on-shade-inactive-variant: #FFE5F1;
  --md-sys-color-shade-disabled: #160B0B;
  --md-sys-color-overview-background: #604D57;
}
