.light {
  --md-sys-color-primary-palette-key-color: #7A757F;
  --md-sys-color-secondary-palette-key-color: #79767A;
  --md-sys-color-tertiary-palette-key-color: #767491;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #BD5665;
  --md-sys-color-background: #FDF8F9;
  --md-sys-color-on-background: #343234;
  --md-sys-color-surface: #FDF8F9;
  --md-sys-color-surface-dim: #DED8DD;
  --md-sys-color-surface-bright: #FDF8F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F7F2F4;
  --md-sys-color-surface-container: #F1EDEF;
  --md-sys-color-surface-container-high: #ECE7EA;
  --md-sys-color-surface-container-highest: #E6E1E4;
  --md-sys-color-on-surface: #343234;
  --md-sys-color-surface-variant: #E6E1E4;
  --md-sys-color-on-surface-variant: #615E61;
  --md-sys-color-outline: #7D7A7D;
  --md-sys-color-outline-variant: #B5B1B4;
  --md-sys-color-inverse-surface: #0F0E0F;
  --md-sys-color-inverse-on-surface: #9F9C9D;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #615D66;
  --md-sys-color-primary: #615D66;
  --md-sys-color-primary-dim: #55515A;
  --md-sys-color-on-primary: #FCF5FF;
  --md-sys-color-primary-container: #E7E0EB;
  --md-sys-color-on-primary-container: #545059;
  --md-sys-color-primary-fixed: #E7E0EB;
  --md-sys-color-primary-fixed-dim: #D9D2DD;
  --md-sys-color-on-primary-fixed: #413E47;
  --md-sys-color-on-primary-fixed-variant: #5E5A63;
  --md-sys-color-inverse-primary: #F9F1FD;
  --md-sys-color-secondary: #615E62;
  --md-sys-color-secondary-dim: #555256;
  --md-sys-color-on-secondary: #FDF7FC;
  --md-sys-color-secondary-container: #E6E1E6;
  --md-sys-color-on-secondary-container: #535155;
  --md-sys-color-secondary-fixed: #E6E1E6;
  --md-sys-color-secondary-fixed-dim: #D8D3D8;
  --md-sys-color-on-secondary-fixed: #413E42;
  --md-sys-color-on-secondary-fixed-variant: #5D5A5F;
  --md-sys-color-tertiary: #5D5C78;
  --md-sys-color-tertiary-dim: #51506C;
  --md-sys-color-on-tertiary: #FBF7FF;
  --md-sys-color-tertiary-container: #DCD9FA;
  --md-sys-color-on-tertiary-container: #4D4C67;
  --md-sys-color-tertiary-fixed: #DCD9FA;
  --md-sys-color-tertiary-fixed-dim: #CECCEC;
  --md-sys-color-on-tertiary-fixed: #3A3953;
  --md-sys-color-on-tertiary-fixed-variant: #565571;
  --md-sys-color-error: #9E3F4E;
  --md-sys-color-error-dim: #4F0116;
  --md-sys-color-on-error: #FFF7F7;
  --md-sys-color-error-container: #FF8B9A;
  --md-sys-color-on-error-container: #782232;
  --md-sys-color-control-activated: #E7E0EB;
  --md-sys-color-control-normal: #615E61;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #9F9C9D;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CAC5C8;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E2;
  --md-sys-color-text-hint-inverse: #E6E1E2;
  --md-sys-color-widget-background: #F5EFF4;
  --md-sys-color-clock-hour: #3F3D41;
  --md-sys-color-clock-minute: #57535C;
  --md-sys-color-clock-second: #5D5C77;
  --md-sys-color-weather-temp: #615D66;
  --md-sys-color-theme-app: #E7E0EB;
  --md-sys-color-on-theme-app: #49454E;
  --md-sys-color-theme-app-ring: #AFA9B4;
  --md-sys-color-theme-notif: #C6C3E3;
  --md-sys-color-brand-a: #5E5A63;
  --md-sys-color-brand-b: #AEAAAE;
  --md-sys-color-brand-c: #7A757F;
  --md-sys-color-brand-d: #8B89A7;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E7E0EB;
  --md-sys-color-on-shade-active: #67626C;
  --md-sys-color-on-shade-active-variant: #49454E;
  --md-sys-color-shade-inactive: #313031;
  --md-sys-color-on-shade-inactive: #E6E1E4;
  --md-sys-color-on-shade-inactive-variant: #CAC5C8;
  --md-sys-color-shade-disabled: #0F0E0F;
  --md-sys-color-overview-background: #CAC5C8;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7A757F;
  --md-sys-color-secondary-palette-key-color: #79767A;
  --md-sys-color-tertiary-palette-key-color: #767491;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #BD5665;
  --md-sys-color-background: #FDF8F9;
  --md-sys-color-on-background: #252326;
  --md-sys-color-surface: #FDF8F9;
  --md-sys-color-surface-dim: #DED8DD;
  --md-sys-color-surface-bright: #FDF8F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F7F2F4;
  --md-sys-color-surface-container: #F1EDEF;
  --md-sys-color-surface-container-high: #ECE7EA;
  --md-sys-color-surface-container-highest: #E6E1E4;
  --md-sys-color-on-surface: #252326;
  --md-sys-color-surface-variant: #E6E1E4;
  --md-sys-color-on-surface-variant: #444245;
  --md-sys-color-outline: #615E61;
  --md-sys-color-outline-variant: #7D7A7D;
  --md-sys-color-inverse-surface: #0F0E0F;
  --md-sys-color-inverse-on-surface: #C8C4C5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #45414A;
  --md-sys-color-primary: #45414A;
  --md-sys-color-primary-dim: #3A363F;
  --md-sys-color-on-primary: #DED7E2;
  --md-sys-color-primary-container: #78737C;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #78737C;
  --md-sys-color-primary-fixed-dim: #6B6670;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #F9F1FD;
  --md-sys-color-secondary: #444246;
  --md-sys-color-secondary-dim: #39373B;
  --md-sys-color-on-secondary: #DDD8DD;
  --md-sys-color-secondary-container: #777378;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #777378;
  --md-sys-color-secondary-fixed-dim: #6A676B;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #41405A;
  --md-sys-color-tertiary-dim: #36354F;
  --md-sys-color-on-tertiary: #D9D6F7;
  --md-sys-color-tertiary-container: #73728E;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #73728E;
  --md-sys-color-tertiary-fixed-dim: #676582;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #7A2333;
  --md-sys-color-error-dim: #4F0116;
  --md-sys-color-on-error: #FFCDD1;
  --md-sys-color-error-container: #B95463;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #78737C;
  --md-sys-color-control-normal: #444245;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #C8C4C5;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CAC5C8;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E2;
  --md-sys-color-text-hint-inverse: #E6E1E2;
  --md-sys-color-widget-background: #F5EFF4;
  --md-sys-color-clock-hour: #252327;
  --md-sys-color-clock-minute: #3C3841;
  --md-sys-color-clock-second: #000000;
  --md-sys-color-weather-temp: #000000;
  --md-sys-color-theme-app: #E7E0EB;
  --md-sys-color-on-theme-app: #49454E;
  --md-sys-color-theme-app-ring: #AFA9B4;
  --md-sys-color-theme-notif: #C6C3E3;
  --md-sys-color-brand-a: #444049;
  --md-sys-color-brand-b: #8F8B8F;
  --md-sys-color-brand-c: #545059;
  --md-sys-color-brand-d: #6D6C89;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E7E0EB;
  --md-sys-color-on-shade-active: #4A464F;
  --md-sys-color-on-shade-active-variant: #49454E;
  --md-sys-color-shade-inactive: #313031;
  --md-sys-color-on-shade-inactive: #E6E1E4;
  --md-sys-color-on-shade-inactive-variant: #CAC5C8;
  --md-sys-color-shade-disabled: #0F0E0F;
  --md-sys-color-overview-background: #CAC5C8;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #7A757F;
  --md-sys-color-secondary-palette-key-color: #79767A;
  --md-sys-color-tertiary-palette-key-color: #767491;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #BD5665;
  --md-sys-color-background: #FDF8F9;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #FDF8F9;
  --md-sys-color-surface-dim: #DED8DD;
  --md-sys-color-surface-bright: #FDF8F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F7F2F4;
  --md-sys-color-surface-container: #F1EDEF;
  --md-sys-color-surface-container-high: #ECE7EA;
  --md-sys-color-surface-container-highest: #E6E1E4;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E6E1E4;
  --md-sys-color-on-surface-variant: #252326;
  --md-sys-color-outline: #444245;
  --md-sys-color-outline-variant: #545154;
  --md-sys-color-inverse-surface: #0F0E0F;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #26232B;
  --md-sys-color-primary: #26232B;
  --md-sys-color-primary-dim: #1B1820;
  --md-sys-color-on-primary: #DFD8E3;
  --md-sys-color-primary-container: #55505A;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #55505A;
  --md-sys-color-primary-fixed-dim: #49454E;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #F9F1FD;
  --md-sys-color-secondary: #252327;
  --md-sys-color-secondary-dim: #1B191D;
  --md-sys-color-on-secondary: #DED8DD;
  --md-sys-color-secondary-container: #545155;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #545155;
  --md-sys-color-secondary-fixed-dim: #484649;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #22213A;
  --md-sys-color-tertiary-dim: #18172F;
  --md-sys-color-on-tertiary: #DAD7F8;
  --md-sys-color-tertiary-container: #504F6B;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #504F6B;
  --md-sys-color-tertiary-fixed-dim: #45445E;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #4F0116;
  --md-sys-color-error-dim: #3D000F;
  --md-sys-color-on-error: #FFCED2;
  --md-sys-color-error-container: #8E3242;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #55505A;
  --md-sys-color-control-normal: #252326;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #FFFFFF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CAC5C8;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E2;
  --md-sys-color-text-hint-inverse: #E6E1E2;
  --md-sys-color-widget-background: #F5EFF4;
  --md-sys-color-clock-hour: #000000;
  --md-sys-color-clock-minute: #1D1A22;
  --md-sys-color-clock-second: #31314A;
  --md-sys-color-weather-temp: #35323A;
  --md-sys-color-theme-app: #E7E0EB;
  --md-sys-color-on-theme-app: #332F38;
  --md-sys-color-theme-app-ring: #AFA9B4;
  --md-sys-color-theme-notif: #C6C3E3;
  --md-sys-color-brand-a: #312D36;
  --md-sys-color-brand-b: #716E72;
  --md-sys-color-brand-c: #4C4851;
  --md-sys-color-brand-d: #5A5975;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E7E0EB;
  --md-sys-color-on-shade-active: #2C2931;
  --md-sys-color-on-shade-active-variant: #2C2931;
  --md-sys-color-shade-inactive: #313031;
  --md-sys-color-on-shade-inactive: #F0EBEE;
  --md-sys-color-on-shade-inactive-variant: #F0EBEE;
  --md-sys-color-shade-disabled: #0F0E0F;
  --md-sys-color-overview-background: #CAC5C8;
}
.dark {
  --md-sys-color-primary-palette-key-color: #7A757F;
  --md-sys-color-secondary-palette-key-color: #79767A;
  --md-sys-color-tertiary-palette-key-color: #767491;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #BD5665;
  --md-sys-color-background: #0F0E0F;
  --md-sys-color-on-background: #E9E4E7;
  --md-sys-color-surface: #0F0E0F;
  --md-sys-color-surface-dim: #0F0E0F;
  --md-sys-color-surface-bright: #2D2B2F;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141314;
  --md-sys-color-surface-container: #1A191B;
  --md-sys-color-surface-container-high: #201F21;
  --md-sys-color-surface-container-highest: #272528;
  --md-sys-color-on-surface: #E9E4E7;
  --md-sys-color-surface-variant: #272528;
  --md-sys-color-on-surface-variant: #AEAAAD;
  --md-sys-color-outline: #777478;
  --md-sys-color-outline-variant: #49474A;
  --md-sys-color-inverse-surface: #FDF8F9;
  --md-sys-color-inverse-on-surface: #565455;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CBC4CF;
  --md-sys-color-primary: #CBC4CF;
  --md-sys-color-primary-dim: #BDB6C1;
  --md-sys-color-on-primary: #423F47;
  --md-sys-color-primary-container: #49454E;
  --md-sys-color-on-primary-container: #D5CED9;
  --md-sys-color-primary-fixed: #E7E0EB;
  --md-sys-color-primary-fixed-dim: #D9D2DD;
  --md-sys-color-on-primary-fixed: #413E47;
  --md-sys-color-on-primary-fixed-variant: #5E5A63;
  --md-sys-color-inverse-primary: #625D67;
  --md-sys-color-secondary: #A19CA1;
  --md-sys-color-secondary-dim: #A19CA1;
  --md-sys-color-on-secondary: #211F23;
  --md-sys-color-secondary-container: #3D3B3E;
  --md-sys-color-on-secondary-container: #C3BEC2;
  --md-sys-color-secondary-fixed: #E6E1E6;
  --md-sys-color-secondary-fixed-dim: #D8D3D8;
  --md-sys-color-on-secondary-fixed: #413E42;
  --md-sys-color-on-secondary-fixed-variant: #5D5A5F;
  --md-sys-color-tertiary: #ECE8FF;
  --md-sys-color-tertiary-dim: #DCD9FA;
  --md-sys-color-on-tertiary: #55546F;
  --md-sys-color-tertiary-container: #DCD9FA;
  --md-sys-color-on-tertiary-container: #4D4C67;
  --md-sys-color-tertiary-fixed: #DCD9FA;
  --md-sys-color-tertiary-fixed-dim: #CECCEC;
  --md-sys-color-on-tertiary-fixed: #3A3953;
  --md-sys-color-on-tertiary-fixed-variant: #565571;
  --md-sys-color-error: #EC7C8A;
  --md-sys-color-error-dim: #B95463;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #7F2737;
  --md-sys-color-on-error-container: #FF97A3;
  --md-sys-color-control-activated: #49454E;
  --md-sys-color-control-normal: #AEAAAD;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #565455;
  --md-sys-color-text-secondary-and-tertiary-inverse: #484649;
  --md-sys-color-text-primary-inverse-disable-only: #1C1B1C;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1C1B1C;
  --md-sys-color-text-hint-inverse: #1C1B1C;
  --md-sys-color-widget-background: #323033;
  --md-sys-color-clock-hour: #CBC4CF;
  --md-sys-color-clock-minute: #E7E0EB;
  --md-sys-color-clock-second: #E2DFFF;
  --md-sys-color-weather-temp: #CBC4CF;
  --md-sys-color-theme-app: #323033;
  --md-sys-color-on-theme-app: #CBC4CF;
  --md-sys-color-theme-app-ring: #AFA9B4;
  --md-sys-color-theme-notif: #908EAC;
  --md-sys-color-brand-a: #CBC4CF;
  --md-sys-color-brand-b: #FDF8FD;
  --md-sys-color-brand-c: #97929C;
  --md-sys-color-brand-d: #E2DFFF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E7E0EB;
  --md-sys-color-on-shade-active: #1D1A22;
  --md-sys-color-on-shade-active-variant: #49454E;
  --md-sys-color-shade-inactive: #313031;
  --md-sys-color-on-shade-inactive: #CAC5C8;
  --md-sys-color-on-shade-inactive-variant: #CAC5C8;
  --md-sys-color-shade-disabled: #0F0E0F;
  --md-sys-color-overview-background: #545255;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7A757F;
  --md-sys-color-secondary-palette-key-color: #79767A;
  --md-sys-color-tertiary-palette-key-color: #767491;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #BD5665;
  --md-sys-color-background: #0F0E0F;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #0F0E0F;
  --md-sys-color-surface-dim: #0F0E0F;
  --md-sys-color-surface-bright: #2D2B2F;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141314;
  --md-sys-color-surface-container: #1A191B;
  --md-sys-color-surface-container-high: #201F21;
  --md-sys-color-surface-container-highest: #272528;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #272528;
  --md-sys-color-on-surface-variant: #BCB7BB;
  --md-sys-color-outline: #969295;
  --md-sys-color-outline-variant: #777478;
  --md-sys-color-inverse-surface: #FDF8F9;
  --md-sys-color-inverse-on-surface: #393839;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CBC4CF;
  --md-sys-color-primary: #CBC4CF;
  --md-sys-color-primary-dim: #BDB6C1;
  --md-sys-color-on-primary: #38353D;
  --md-sys-color-primary-container: #78737C;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #E7E0EB;
  --md-sys-color-primary-fixed-dim: #D9D2DD;
  --md-sys-color-on-primary-fixed: #211E26;
  --md-sys-color-on-primary-fixed-variant: #413E47;
  --md-sys-color-inverse-primary: #58535D;
  --md-sys-color-secondary: #BCB7BC;
  --md-sys-color-secondary-dim: #AEAAAE;
  --md-sys-color-on-secondary: #2D2B2F;
  --md-sys-color-secondary-container: #777378;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #E6E1E6;
  --md-sys-color-secondary-fixed-dim: #D8D3D8;
  --md-sys-color-on-secondary-fixed: #201F22;
  --md-sys-color-on-secondary-fixed-variant: #413E42;
  --md-sys-color-tertiary: #ECE8FF;
  --md-sys-color-tertiary-dim: #DCD9FA;
  --md-sys-color-on-tertiary: #4B4A65;
  --md-sys-color-tertiary-container: #DCD9FA;
  --md-sys-color-on-tertiary-container: #43425C;
  --md-sys-color-tertiary-fixed: #DCD9FA;
  --md-sys-color-tertiary-fixed-dim: #CECCEC;
  --md-sys-color-on-tertiary-fixed: #181830;
  --md-sys-color-on-tertiary-fixed-variant: #3A3953;
  --md-sys-color-error: #FF9DA8;
  --md-sys-color-error-dim: #FB8896;
  --md-sys-color-on-error: #5B0A1E;
  --md-sys-color-error-container: #B95463;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #78737C;
  --md-sys-color-control-normal: #BCB7BB;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #393839;
  --md-sys-color-text-secondary-and-tertiary-inverse: #484649;
  --md-sys-color-text-primary-inverse-disable-only: #1C1B1C;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1C1B1C;
  --md-sys-color-text-hint-inverse: #1C1B1C;
  --md-sys-color-widget-background: #323033;
  --md-sys-color-clock-hour: #CBC4CF;
  --md-sys-color-clock-minute: #E7E0EB;
  --md-sys-color-clock-second: #FFFFFF;
  --md-sys-color-weather-temp: #FFFFFF;
  --md-sys-color-theme-app: #323033;
  --md-sys-color-on-theme-app: #CBC4CF;
  --md-sys-color-theme-app-ring: #AFA9B4;
  --md-sys-color-theme-notif: #908EAC;
  --md-sys-color-brand-a: #D6CFDA;
  --md-sys-color-brand-b: #FDF8FD;
  --md-sys-color-brand-c: #BAB4BE;
  --md-sys-color-brand-d: #E2DFFF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E7E0EB;
  --md-sys-color-on-shade-active: #1D1A22;
  --md-sys-color-on-shade-active-variant: #49454E;
  --md-sys-color-shade-inactive: #313031;
  --md-sys-color-on-shade-inactive: #CAC5C8;
  --md-sys-color-on-shade-inactive-variant: #CAC5C8;
  --md-sys-color-shade-disabled: #0F0E0F;
  --md-sys-color-overview-background: #545255;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #7A757F;
  --md-sys-color-secondary-palette-key-color: #79767A;
  --md-sys-color-tertiary-palette-key-color: #767491;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #BD5665;
  --md-sys-color-background: #0F0E0F;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #0F0E0F;
  --md-sys-color-surface-dim: #0F0E0F;
  --md-sys-color-surface-bright: #2D2B2F;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141314;
  --md-sys-color-surface-container: #1A191B;
  --md-sys-color-surface-container-high: #201F21;
  --md-sys-color-surface-container-highest: #272528;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #272528;
  --md-sys-color-on-surface-variant: #E9E4E7;
  --md-sys-color-outline: #BCB7BB;
  --md-sys-color-outline-variant: #A6A2A6;
  --md-sys-color-inverse-surface: #FDF8F9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #EAE3EE;
  --md-sys-color-primary: #EAE3EE;
  --md-sys-color-primary-dim: #D9D2DD;
  --md-sys-color-on-primary: #2E2B33;
  --md-sys-color-primary-container: #A7A1AC;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #E7E0EB;
  --md-sys-color-primary-fixed-dim: #D9D2DD;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #211E26;
  --md-sys-color-inverse-primary: #3A373F;
  --md-sys-color-secondary: #E9E4E9;
  --md-sys-color-secondary-dim: #D8D3D8;
  --md-sys-color-on-secondary: #2D2B2F;
  --md-sys-color-secondary-container: #A7A2A7;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #E6E1E6;
  --md-sys-color-secondary-fixed-dim: #D8D3D8;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #201F22;
  --md-sys-color-tertiary: #ECE8FF;
  --md-sys-color-tertiary-dim: #DCD9FA;
  --md-sys-color-on-tertiary: #2E2D46;
  --md-sys-color-tertiary-container: #DCD9FA;
  --md-sys-color-on-tertiary-container: #24233C;
  --md-sys-color-tertiary-fixed: #DCD9FA;
  --md-sys-color-tertiary-fixed-dim: #CECCEC;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #181830;
  --md-sys-color-error: #FFDDDF;
  --md-sys-color-error-dim: #FFC7CB;
  --md-sys-color-on-error: #5B0A1E;
  --md-sys-color-error-container: #F38190;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #A7A1AC;
  --md-sys-color-control-normal: #E9E4E7;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #484649;
  --md-sys-color-text-primary-inverse-disable-only: #1C1B1C;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1C1B1C;
  --md-sys-color-text-hint-inverse: #1C1B1C;
  --md-sys-color-widget-background: #323033;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #FFFFFF;
  --md-sys-color-clock-second: #EDEAFF;
  --md-sys-color-weather-temp: #F1E9F5;
  --md-sys-color-theme-app: #323033;
  --md-sys-color-on-theme-app: #E6DFEB;
  --md-sys-color-theme-app-ring: #AFA9B4;
  --md-sys-color-theme-notif: #908EAC;
  --md-sys-color-brand-a: #DED7E2;
  --md-sys-color-brand-b: #FDF8FD;
  --md-sys-color-brand-c: #CDC6D1;
  --md-sys-color-brand-d: #E9E6FF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E7E0EB;
  --md-sys-color-on-shade-active: #000000;
  --md-sys-color-on-shade-active-variant: #2C2931;
  --md-sys-color-shade-inactive: #313031;
  --md-sys-color-on-shade-inactive: #F0EBEE;
  --md-sys-color-on-shade-inactive-variant: #F0EBEE;
  --md-sys-color-shade-disabled: #0F0E0F;
  --md-sys-color-overview-background: #545255;
}
