.light {
  --md-sys-color-primary-palette-key-color: #2D7BBD;
  --md-sys-color-secondary-palette-key-color: #4E7AA8;
  --md-sys-color-tertiary-palette-key-color: #816DA8;
  --md-sys-color-neutral-palette-key-color: #7B7582;
  --md-sys-color-neutral-variant-palette-key-color: #7C738A;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FEF7FF;
  --md-sys-color-on-background: #1D1A24;
  --md-sys-color-surface: #FEF7FF;
  --md-sys-color-surface-dim: #DFD7E6;
  --md-sys-color-surface-bright: #FEF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F9F1FF;
  --md-sys-color-surface-container: #F3EBFA;
  --md-sys-color-surface-container-high: #EDE5F4;
  --md-sys-color-surface-container-highest: #E8DFEE;
  --md-sys-color-on-surface: #1D1A24;
  --md-sys-color-surface-variant: #E9DEF8;
  --md-sys-color-on-surface-variant: #4B4358;
  --md-sys-color-outline: #7C738A;
  --md-sys-color-outline-variant: #CDC2DB;
  --md-sys-color-inverse-surface: #332F3A;
  --md-sys-color-inverse-on-surface: #F6EEFD;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #0062A0;
  --md-sys-color-primary: #0062A0;
  --md-sys-color-primary-dim: #126CAD;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #D0E4FF;
  --md-sys-color-on-primary-container: #00497A;
  --md-sys-color-primary-fixed: #D0E4FF;
  --md-sys-color-primary-fixed-dim: #9CCAFF;
  --md-sys-color-on-primary-fixed: #001D35;
  --md-sys-color-on-primary-fixed-variant: #00497A;
  --md-sys-color-inverse-primary: #9CCAFF;
  --md-sys-color-secondary: #33618D;
  --md-sys-color-secondary-dim: #3E6B98;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #D0E4FF;
  --md-sys-color-on-secondary-container: #164974;
  --md-sys-color-secondary-fixed: #D0E4FF;
  --md-sys-color-secondary-fixed-dim: #9ECAFC;
  --md-sys-color-on-secondary-fixed: #001D35;
  --md-sys-color-on-secondary-fixed-variant: #164974;
  --md-sys-color-tertiary: #67548E;
  --md-sys-color-tertiary-dim: #715E98;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #EADDFF;
  --md-sys-color-on-tertiary-container: #4F3D74;
  --md-sys-color-tertiary-fixed: #EADDFF;
  --md-sys-color-tertiary-fixed-dim: #D2BCFD;
  --md-sys-color-on-tertiary-fixed: #220F46;
  --md-sys-color-on-tertiary-fixed-variant: #4F3D74;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #D0E4FF;
  --md-sys-color-control-normal: #4B4358;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E8DFEE;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CDC2DB;
  --md-sys-color-text-primary-inverse-disable-only: #E8DFEE;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E8DFEE;
  --md-sys-color-text-hint-inverse: #E8DFEE;
  --md-sys-color-widget-background: #E9F1FF;
  --md-sys-color-clock-hour: #164974;
  --md-sys-color-clock-minute: #005891;
  --md-sys-color-clock-second: #67548E;
  --md-sys-color-weather-temp: #0062A0;
  --md-sys-color-theme-app: #D0E4FF;
  --md-sys-color-on-theme-app: #00497A;
  --md-sys-color-theme-app-ring: #6BB0F5;
  --md-sys-color-theme-notif: #9B86C4;
  --md-sys-color-brand-a: #005F9C;
  --md-sys-color-brand-b: #83AFDF;
  --md-sys-color-brand-c: #2D7BBD;
  --md-sys-color-brand-d: #9682BF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #D0E4FF;
  --md-sys-color-on-shade-active: #001D35;
  --md-sys-color-on-shade-active-variant: #00497A;
  --md-sys-color-shade-inactive: #332F3A;
  --md-sys-color-on-shade-inactive: #E9DEF8;
  --md-sys-color-on-shade-inactive-variant: #CDC2DB;
  --md-sys-color-shade-disabled: #100D16;
  --md-sys-color-overview-background: #CDC2DB;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #2D7BBD;
  --md-sys-color-secondary-palette-key-color: #4E7AA8;
  --md-sys-color-tertiary-palette-key-color: #816DA8;
  --md-sys-color-neutral-palette-key-color: #7B7582;
  --md-sys-color-neutral-variant-palette-key-color: #7C738A;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FEF7FF;
  --md-sys-color-on-background: #1D1A24;
  --md-sys-color-surface: #FEF7FF;
  --md-sys-color-surface-dim: #CBC4D2;
  --md-sys-color-surface-bright: #FEF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F9F1FF;
  --md-sys-color-surface-container: #EDE5F4;
  --md-sys-color-surface-container-high: #E2DAE9;
  --md-sys-color-surface-container-highest: #D7CFDD;
  --md-sys-color-on-surface: #130F19;
  --md-sys-color-surface-variant: #E9DEF8;
  --md-sys-color-on-surface-variant: #3A3346;
  --md-sys-color-outline: #574F64;
  --md-sys-color-outline-variant: #72697F;
  --md-sys-color-inverse-surface: #332F3A;
  --md-sys-color-inverse-on-surface: #F6EEFD;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #0062A0;
  --md-sys-color-primary: #003860;
  --md-sys-color-primary-dim: #004777;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #1D71B2;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #1D71B2;
  --md-sys-color-primary-fixed-dim: #005891;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #9CCAFF;
  --md-sys-color-secondary: #003860;
  --md-sys-color-secondary-dim: #124772;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #43709D;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #43709D;
  --md-sys-color-secondary-fixed-dim: #285883;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #3E2C62;
  --md-sys-color-tertiary-dim: #4D3A72;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #76639E;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #76639E;
  --md-sys-color-tertiary-fixed-dim: #5D4B83;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8F0009;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #CF2C27;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #D0E4FF;
  --md-sys-color-control-normal: #4B4358;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E8DFEE;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CDC2DB;
  --md-sys-color-text-primary-inverse-disable-only: #E8DFEE;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E8DFEE;
  --md-sys-color-text-hint-inverse: #E8DFEE;
  --md-sys-color-widget-background: #E9F1FF;
  --md-sys-color-clock-hour: #164974;
  --md-sys-color-clock-minute: #003C65;
  --md-sys-color-clock-second: #000000;
  --md-sys-color-weather-temp: #000000;
  --md-sys-color-theme-app: #D0E4FF;
  --md-sys-color-on-theme-app: #00497A;
  --md-sys-color-theme-app-ring: #6BB0F5;
  --md-sys-color-theme-notif: #9B86C4;
  --md-sys-color-brand-a: #004472;
  --md-sys-color-brand-b: #6490BE;
  --md-sys-color-brand-c: #00558C;
  --md-sys-color-brand-d: #7865A0;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #D0E4FF;
  --md-sys-color-on-shade-active: #001D35;
  --md-sys-color-on-shade-active-variant: #00497A;
  --md-sys-color-shade-inactive: #332F3A;
  --md-sys-color-on-shade-inactive: #E9DEF8;
  --md-sys-color-on-shade-inactive-variant: #CDC2DB;
  --md-sys-color-shade-disabled: #100D16;
  --md-sys-color-overview-background: #CDC2DB;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #2D7BBD;
  --md-sys-color-secondary-palette-key-color: #4E7AA8;
  --md-sys-color-tertiary-palette-key-color: #816DA8;
  --md-sys-color-neutral-palette-key-color: #7B7582;
  --md-sys-color-neutral-variant-palette-key-color: #7C738A;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FEF7FF;
  --md-sys-color-on-background: #1D1A24;
  --md-sys-color-surface: #FEF7FF;
  --md-sys-color-surface-dim: #BDB6C4;
  --md-sys-color-surface-bright: #FEF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F6EEFD;
  --md-sys-color-surface-container: #E8DFEE;
  --md-sys-color-surface-container-high: #D9D1E0;
  --md-sys-color-surface-container-highest: #CBC4D2;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E9DEF8;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #2F293C;
  --md-sys-color-outline-variant: #4D465A;
  --md-sys-color-inverse-surface: #332F3A;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #0062A0;
  --md-sys-color-primary: #002E4F;
  --md-sys-color-primary-dim: #00213B;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #004C7E;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #004C7E;
  --md-sys-color-primary-fixed-dim: #00355A;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #9CCAFF;
  --md-sys-color-secondary: #002E4F;
  --md-sys-color-secondary-dim: #00213B;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #194C77;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #194C77;
  --md-sys-color-secondary-fixed-dim: #00355A;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #342158;
  --md-sys-color-tertiary-dim: #26134A;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #513F77;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #513F77;
  --md-sys-color-tertiary-fixed-dim: #3A285F;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #98000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #D0E4FF;
  --md-sys-color-control-normal: #4B4358;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E8DFEE;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CDC2DB;
  --md-sys-color-text-primary-inverse-disable-only: #E8DFEE;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E8DFEE;
  --md-sys-color-text-hint-inverse: #E8DFEE;
  --md-sys-color-widget-background: #E9F1FF;
  --md-sys-color-clock-hour: #001D35;
  --md-sys-color-clock-minute: #001D35;
  --md-sys-color-clock-second: #3B295F;
  --md-sys-color-weather-temp: #00355B;
  --md-sys-color-theme-app: #D0E4FF;
  --md-sys-color-on-theme-app: #003357;
  --md-sys-color-theme-app-ring: #6BB0F5;
  --md-sys-color-theme-notif: #9B86C4;
  --md-sys-color-brand-a: #002F51;
  --md-sys-color-brand-b: #44709D;
  --md-sys-color-brand-c: #004A7C;
  --md-sys-color-brand-d: #635089;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #D0E4FF;
  --md-sys-color-on-shade-active: #000000;
  --md-sys-color-on-shade-active-variant: #002C4C;
  --md-sys-color-shade-inactive: #332F3A;
  --md-sys-color-on-shade-inactive: #F3E8FF;
  --md-sys-color-on-shade-inactive-variant: #F3E8FF;
  --md-sys-color-shade-disabled: #100D16;
  --md-sys-color-overview-background: #CDC2DB;
}
.dark {
  --md-sys-color-primary-palette-key-color: #2D7BBD;
  --md-sys-color-secondary-palette-key-color: #4E7AA8;
  --md-sys-color-tertiary-palette-key-color: #816DA8;
  --md-sys-color-neutral-palette-key-color: #7B7582;
  --md-sys-color-neutral-variant-palette-key-color: #7C738A;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #15121C;
  --md-sys-color-on-background: #E8DFEE;
  --md-sys-color-surface: #15121C;
  --md-sys-color-surface-dim: #15121C;
  --md-sys-color-surface-bright: #3C3743;
  --md-sys-color-surface-container-lowest: #100D16;
  --md-sys-color-surface-container-low: #1D1A24;
  --md-sys-color-surface-container: #221E28;
  --md-sys-color-surface-container-high: #2C2833;
  --md-sys-color-surface-container-highest: #37333E;
  --md-sys-color-on-surface: #E8DFEE;
  --md-sys-color-surface-variant: #4B4358;
  --md-sys-color-on-surface-variant: #CDC2DB;
  --md-sys-color-outline: #968DA4;
  --md-sys-color-outline-variant: #4B4358;
  --md-sys-color-inverse-surface: #E8DFEE;
  --md-sys-color-inverse-on-surface: #332F3A;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9CCAFF;
  --md-sys-color-primary: #9CCAFF;
  --md-sys-color-primary-dim: #B7D7FF;
  --md-sys-color-on-primary: #003256;
  --md-sys-color-primary-container: #00497A;
  --md-sys-color-on-primary-container: #D0E4FF;
  --md-sys-color-primary-fixed: #D0E4FF;
  --md-sys-color-primary-fixed-dim: #9CCAFF;
  --md-sys-color-on-primary-fixed: #001D35;
  --md-sys-color-on-primary-fixed-variant: #00497A;
  --md-sys-color-inverse-primary: #0062A0;
  --md-sys-color-secondary: #9ECAFC;
  --md-sys-color-secondary-dim: #B7D7FF;
  --md-sys-color-on-secondary: #003256;
  --md-sys-color-secondary-container: #164974;
  --md-sys-color-on-secondary-container: #D0E4FF;
  --md-sys-color-secondary-fixed: #D0E4FF;
  --md-sys-color-secondary-fixed-dim: #9ECAFC;
  --md-sys-color-on-secondary-fixed: #001D35;
  --md-sys-color-on-secondary-fixed-variant: #164974;
  --md-sys-color-tertiary: #D2BCFD;
  --md-sys-color-tertiary-dim: #DECCFF;
  --md-sys-color-on-tertiary: #38265C;
  --md-sys-color-tertiary-container: #4F3D74;
  --md-sys-color-on-tertiary-container: #EADDFF;
  --md-sys-color-tertiary-fixed: #EADDFF;
  --md-sys-color-tertiary-fixed-dim: #D2BCFD;
  --md-sys-color-on-tertiary-fixed: #220F46;
  --md-sys-color-on-tertiary-fixed-variant: #4F3D74;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #00497A;
  --md-sys-color-control-normal: #CDC2DB;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4B4358;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A24;
  --md-sys-color-text-hint-inverse: #1D1A24;
  --md-sys-color-widget-background: #003256;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #D0E4FF;
  --md-sys-color-clock-second: #EADDFF;
  --md-sys-color-weather-temp: #9CCAFF;
  --md-sys-color-theme-app: #003256;
  --md-sys-color-on-theme-app: #9CCAFF;
  --md-sys-color-theme-app-ring: #6BB0F5;
  --md-sys-color-theme-notif: #D2BCFD;
  --md-sys-color-brand-a: #9CCAFF;
  --md-sys-color-brand-b: #F8F9FF;
  --md-sys-color-brand-c: #589FE3;
  --md-sys-color-brand-d: #EADDFF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #D0E4FF;
  --md-sys-color-on-shade-active: #9CCAFF;
  --md-sys-color-on-shade-active-variant: #00497A;
  --md-sys-color-shade-inactive: #332F3A;
  --md-sys-color-on-shade-inactive: #E9DEF8;
  --md-sys-color-on-shade-inactive-variant: #CDC2DB;
  --md-sys-color-shade-disabled: #100D16;
  --md-sys-color-overview-background: #564F64;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #2D7BBD;
  --md-sys-color-secondary-palette-key-color: #4E7AA8;
  --md-sys-color-tertiary-palette-key-color: #816DA8;
  --md-sys-color-neutral-palette-key-color: #7B7582;
  --md-sys-color-neutral-variant-palette-key-color: #7C738A;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #15121C;
  --md-sys-color-on-background: #E8DFEE;
  --md-sys-color-surface: #15121C;
  --md-sys-color-surface-dim: #15121C;
  --md-sys-color-surface-bright: #47424E;
  --md-sys-color-surface-container-lowest: #09060F;
  --md-sys-color-surface-container-low: #201C26;
  --md-sys-color-surface-container: #2A2631;
  --md-sys-color-surface-container-high: #35313C;
  --md-sys-color-surface-container-highest: #403C47;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #4B4358;
  --md-sys-color-on-surface-variant: #E3D8F1;
  --md-sys-color-outline: #B8AEC6;
  --md-sys-color-outline-variant: #968CA4;
  --md-sys-color-inverse-surface: #E8DFEE;
  --md-sys-color-inverse-on-surface: #2C2833;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9CCAFF;
  --md-sys-color-primary: #C5DFFF;
  --md-sys-color-primary-dim: #B7D7FF;
  --md-sys-color-on-primary: #002745;
  --md-sys-color-primary-container: #4D95D9;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #D0E4FF;
  --md-sys-color-primary-fixed-dim: #9CCAFF;
  --md-sys-color-on-primary-fixed: #001224;
  --md-sys-color-on-primary-fixed-variant: #003860;
  --md-sys-color-inverse-primary: #004B7C;
  --md-sys-color-secondary: #C5DFFF;
  --md-sys-color-secondary-dim: #B7D7FF;
  --md-sys-color-on-secondary: #002745;
  --md-sys-color-secondary-container: #6894C3;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #D0E4FF;
  --md-sys-color-secondary-fixed-dim: #9ECAFC;
  --md-sys-color-on-secondary-fixed: #001224;
  --md-sys-color-on-secondary-fixed-variant: #003860;
  --md-sys-color-tertiary: #E5D5FF;
  --md-sys-color-tertiary-dim: #DECCFF;
  --md-sys-color-on-tertiary: #2D1A51;
  --md-sys-color-tertiary-container: #9B86C4;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #EADDFF;
  --md-sys-color-tertiary-fixed-dim: #D2BCFD;
  --md-sys-color-on-tertiary-fixed: #18023C;
  --md-sys-color-on-tertiary-fixed-variant: #3E2C62;
  --md-sys-color-error: #FFD2CC;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #FF5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #00497A;
  --md-sys-color-control-normal: #CDC2DB;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4B4358;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A24;
  --md-sys-color-text-hint-inverse: #1D1A24;
  --md-sys-color-widget-background: #003256;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #D0E4FF;
  --md-sys-color-clock-second: #FFFFFF;
  --md-sys-color-weather-temp: #FFFFFF;
  --md-sys-color-theme-app: #003256;
  --md-sys-color-on-theme-app: #9CCAFF;
  --md-sys-color-theme-app-ring: #6BB0F5;
  --md-sys-color-theme-notif: #D2BCFD;
  --md-sys-color-brand-a: #C3DEFF;
  --md-sys-color-brand-b: #FFFEFF;
  --md-sys-color-brand-c: #8CC3FF;
  --md-sys-color-brand-d: #F2E7FF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #D0E4FF;
  --md-sys-color-on-shade-active: #9CCAFF;
  --md-sys-color-on-shade-active-variant: #00497A;
  --md-sys-color-shade-inactive: #332F3A;
  --md-sys-color-on-shade-inactive: #E9DEF8;
  --md-sys-color-on-shade-inactive-variant: #CDC2DB;
  --md-sys-color-shade-disabled: #100D16;
  --md-sys-color-overview-background: #564F64;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #2D7BBD;
  --md-sys-color-secondary-palette-key-color: #4E7AA8;
  --md-sys-color-tertiary-palette-key-color: #816DA8;
  --md-sys-color-neutral-palette-key-color: #7B7582;
  --md-sys-color-neutral-variant-palette-key-color: #7C738A;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #15121C;
  --md-sys-color-on-background: #E8DFEE;
  --md-sys-color-surface: #15121C;
  --md-sys-color-surface-dim: #15121C;
  --md-sys-color-surface-bright: #534E5A;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #221E28;
  --md-sys-color-surface-container: #332F3A;
  --md-sys-color-surface-container-high: #3E3945;
  --md-sys-color-surface-container-highest: #494550;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #4B4358;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #F6ECFF;
  --md-sys-color-outline-variant: #C9BED7;
  --md-sys-color-inverse-surface: #E8DFEE;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9CCAFF;
  --md-sys-color-primary: #E8F1FF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #94C7FF;
  --md-sys-color-on-primary-container: #000C1A;
  --md-sys-color-primary-fixed: #D0E4FF;
  --md-sys-color-primary-fixed-dim: #9CCAFF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001224;
  --md-sys-color-inverse-primary: #004B7C;
  --md-sys-color-secondary: #E8F1FF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #9AC6F8;
  --md-sys-color-on-secondary-container: #000C1A;
  --md-sys-color-secondary-fixed: #D0E4FF;
  --md-sys-color-secondary-fixed-dim: #9ECAFC;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #001224;
  --md-sys-color-tertiary: #F6ECFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #CEB8F9;
  --md-sys-color-on-tertiary-container: #110031;
  --md-sys-color-tertiary-fixed: #EADDFF;
  --md-sys-color-tertiary-fixed-dim: #D2BCFD;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #18023C;
  --md-sys-color-error: #FFECE9;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #FFAEA4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #00497A;
  --md-sys-color-control-normal: #CDC2DB;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4B4358;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A24;
  --md-sys-color-text-hint-inverse: #1D1A24;
  --md-sys-color-widget-background: #003256;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #FFFFFF;
  --md-sys-color-clock-second: #F3E8FF;
  --md-sys-color-weather-temp: #E1EDFF;
  --md-sys-color-theme-app: #003256;
  --md-sys-color-on-theme-app: #CFE4FF;
  --md-sys-color-theme-app-ring: #6BB0F5;
  --md-sys-color-theme-notif: #D2BCFD;
  --md-sys-color-brand-a: #D7E8FF;
  --md-sys-color-brand-b: #FFFFFF;
  --md-sys-color-brand-c: #B7D8FF;
  --md-sys-color-brand-d: #FBF3FF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #D0E4FF;
  --md-sys-color-on-shade-active: #005A95;
  --md-sys-color-on-shade-active-variant: #002C4C;
  --md-sys-color-shade-inactive: #332F3A;
  --md-sys-color-on-shade-inactive: #E9DEF8;
  --md-sys-color-on-shade-inactive-variant: #F3E8FF;
  --md-sys-color-shade-disabled: #100D16;
  --md-sys-color-overview-background: #564F64;
}
