.light {
  --md-sys-color-primary-palette-key-color: #158676;
  --md-sys-color-secondary-palette-key-color: #956B81;
  --md-sys-color-tertiary-palette-key-color: #8F6A99;
  --md-sys-color-neutral-palette-key-color: #7C747E;
  --md-sys-color-neutral-variant-palette-key-color: #7F7382;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF7FC;
  --md-sys-color-on-background: #1F1A21;
  --md-sys-color-surface: #FFF7FC;
  --md-sys-color-surface-dim: #E2D7E1;
  --md-sys-color-surface-bright: #FFF7FC;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FCF0FB;
  --md-sys-color-surface-container: #F6EAF5;
  --md-sys-color-surface-container-high: #F0E5F0;
  --md-sys-color-surface-container-highest: #EADFEA;
  --md-sys-color-on-surface: #1F1A21;
  --md-sys-color-surface-variant: #EDDEEF;
  --md-sys-color-on-surface-variant: #4D4351;
  --md-sys-color-outline: #7F7382;
  --md-sys-color-outline-variant: #D0C2D3;
  --md-sys-color-inverse-surface: #342E36;
  --md-sys-color-inverse-on-surface: #F9EDF8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006B5D;
  --md-sys-color-primary: #006B5D;
  --md-sys-color-primary-dim: #007566;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #93F4E0;
  --md-sys-color-on-primary-container: #005046;
  --md-sys-color-primary-fixed: #93F4E0;
  --md-sys-color-primary-fixed-dim: #77D7C4;
  --md-sys-color-on-primary-fixed: #00201B;
  --md-sys-color-on-primary-fixed-variant: #005046;
  --md-sys-color-inverse-primary: #77D7C4;
  --md-sys-color-secondary: #7A5368;
  --md-sys-color-secondary-dim: #845C72;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #FFD8EA;
  --md-sys-color-on-secondary-container: #603C50;
  --md-sys-color-secondary-fixed: #FFD8EA;
  --md-sys-color-secondary-fixed-dim: #EAB9D2;
  --md-sys-color-on-secondary-fixed: #2F1124;
  --md-sys-color-on-secondary-fixed-variant: #603C50;
  --md-sys-color-tertiary: #74527E;
  --md-sys-color-tertiary-dim: #7F5B89;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #FAD7FF;
  --md-sys-color-on-tertiary-container: #5B3A65;
  --md-sys-color-tertiary-fixed: #FAD7FF;
  --md-sys-color-tertiary-fixed-dim: #E2B8EC;
  --md-sys-color-on-tertiary-fixed: #2C0E37;
  --md-sys-color-on-tertiary-fixed-variant: #5B3A65;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #93F4E0;
  --md-sys-color-control-normal: #4D4351;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #EADFEA;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D0C2D3;
  --md-sys-color-text-primary-inverse-disable-only: #EADFEA;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EADFEA;
  --md-sys-color-text-hint-inverse: #EADFEA;
  --md-sys-color-widget-background: #B6FFEE;
  --md-sys-color-clock-hour: #603C50;
  --md-sys-color-clock-minute: #006054;
  --md-sys-color-clock-second: #74527E;
  --md-sys-color-weather-temp: #007364;
  --md-sys-color-theme-app: #93F4E0;
  --md-sys-color-on-theme-app: #006B5D;
  --md-sys-color-theme-app-ring: #5ABBA9;
  --md-sys-color-theme-notif: #AA83B4;
  --md-sys-color-brand-a: #00685A;
  --md-sys-color-brand-b: #CD9EB6;
  --md-sys-color-brand-c: #158675;
  --md-sys-color-brand-d: #A57FAF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #93F4E0;
  --md-sys-color-on-shade-active: #00201B;
  --md-sys-color-on-shade-active-variant: #005046;
  --md-sys-color-shade-inactive: #342E36;
  --md-sys-color-on-shade-inactive: #EDDEEF;
  --md-sys-color-on-shade-inactive-variant: #D0C2D3;
  --md-sys-color-shade-disabled: #110C13;
  --md-sys-color-overview-background: #D0C2D3;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #158676;
  --md-sys-color-secondary-palette-key-color: #956B81;
  --md-sys-color-tertiary-palette-key-color: #8F6A99;
  --md-sys-color-neutral-palette-key-color: #7C747E;
  --md-sys-color-neutral-variant-palette-key-color: #7F7382;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF7FC;
  --md-sys-color-on-background: #1F1A21;
  --md-sys-color-surface: #FFF7FC;
  --md-sys-color-surface-dim: #CEC3CE;
  --md-sys-color-surface-bright: #FFF7FC;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FCF0FB;
  --md-sys-color-surface-container: #F0E5F0;
  --md-sys-color-surface-container-high: #E4DAE4;
  --md-sys-color-surface-container-highest: #D9CED9;
  --md-sys-color-on-surface: #140F17;
  --md-sys-color-surface-variant: #EDDEEF;
  --md-sys-color-on-surface-variant: #3C3340;
  --md-sys-color-outline: #594F5D;
  --md-sys-color-outline-variant: #756978;
  --md-sys-color-inverse-surface: #342E36;
  --md-sys-color-inverse-on-surface: #F9EDF8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006B5D;
  --md-sys-color-primary: #003E35;
  --md-sys-color-primary-dim: #004E43;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #007B6B;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #007B6B;
  --md-sys-color-primary-fixed-dim: #006053;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #77D7C4;
  --md-sys-color-secondary: #4D2B3F;
  --md-sys-color-secondary-dim: #5D394E;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #8A6177;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #8A6177;
  --md-sys-color-secondary-fixed-dim: #6F495E;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #492A54;
  --md-sys-color-tertiary-dim: #593863;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #84608E;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #84608E;
  --md-sys-color-tertiary-fixed-dim: #6A4874;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8F0009;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #CF2C27;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #93F4E0;
  --md-sys-color-control-normal: #4D4351;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #EADFEA;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D0C2D3;
  --md-sys-color-text-primary-inverse-disable-only: #EADFEA;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EADFEA;
  --md-sys-color-text-hint-inverse: #EADFEA;
  --md-sys-color-widget-background: #B6FFEE;
  --md-sys-color-clock-hour: #603C50;
  --md-sys-color-clock-minute: #004238;
  --md-sys-color-clock-second: #000000;
  --md-sys-color-weather-temp: #000000;
  --md-sys-color-theme-app: #93F4E0;
  --md-sys-color-on-theme-app: #005247;
  --md-sys-color-theme-app-ring: #5ABBA9;
  --md-sys-color-theme-notif: #AA83B4;
  --md-sys-color-brand-a: #004B41;
  --md-sys-color-brand-b: #AB8097;
  --md-sys-color-brand-c: #005D50;
  --md-sys-color-brand-d: #866290;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #93F4E0;
  --md-sys-color-on-shade-active: #00201B;
  --md-sys-color-on-shade-active-variant: #005046;
  --md-sys-color-shade-inactive: #342E36;
  --md-sys-color-on-shade-inactive: #EDDEEF;
  --md-sys-color-on-shade-inactive-variant: #D0C2D3;
  --md-sys-color-shade-disabled: #110C13;
  --md-sys-color-overview-background: #D0C2D3;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #158676;
  --md-sys-color-secondary-palette-key-color: #956B81;
  --md-sys-color-tertiary-palette-key-color: #8F6A99;
  --md-sys-color-neutral-palette-key-color: #7C747E;
  --md-sys-color-neutral-variant-palette-key-color: #7F7382;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF7FC;
  --md-sys-color-on-background: #1F1A21;
  --md-sys-color-surface: #FFF7FC;
  --md-sys-color-surface-dim: #C0B6C0;
  --md-sys-color-surface-bright: #FFF7FC;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F9EDF8;
  --md-sys-color-surface-container: #EADFEA;
  --md-sys-color-surface-container-high: #DCD1DC;
  --md-sys-color-surface-container-highest: #CEC3CE;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #EDDEEF;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #322936;
  --md-sys-color-outline-variant: #504653;
  --md-sys-color-inverse-surface: #342E36;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006B5D;
  --md-sys-color-primary: #00332B;
  --md-sys-color-primary-dim: #00251F;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #005348;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #005348;
  --md-sys-color-primary-fixed-dim: #003A32;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #77D7C4;
  --md-sys-color-secondary: #422135;
  --md-sys-color-secondary-dim: #331528;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #623E52;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #623E52;
  --md-sys-color-secondary-fixed-dim: #49283B;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #3E2049;
  --md-sys-color-tertiary-dim: #30123B;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #5E3D68;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #5E3D68;
  --md-sys-color-tertiary-fixed-dim: #452650;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #98000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #93F4E0;
  --md-sys-color-control-normal: #4D4351;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #EADFEA;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D0C2D3;
  --md-sys-color-text-primary-inverse-disable-only: #EADFEA;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EADFEA;
  --md-sys-color-text-hint-inverse: #EADFEA;
  --md-sys-color-widget-background: #B6FFEE;
  --md-sys-color-clock-hour: #2F1124;
  --md-sys-color-clock-minute: #00201B;
  --md-sys-color-clock-second: #462750;
  --md-sys-color-weather-temp: #003B32;
  --md-sys-color-theme-app: #93F4E0;
  --md-sys-color-on-theme-app: #003830;
  --md-sys-color-theme-app-ring: #5ABBA9;
  --md-sys-color-theme-notif: #AA83B4;
  --md-sys-color-brand-a: #00342C;
  --md-sys-color-brand-b: #8A6177;
  --md-sys-color-brand-c: #005247;
  --md-sys-color-brand-d: #704D7A;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #93F4E0;
  --md-sys-color-on-shade-active: #000000;
  --md-sys-color-on-shade-active-variant: #003029;
  --md-sys-color-shade-inactive: #342E36;
  --md-sys-color-on-shade-inactive: #F7E7F9;
  --md-sys-color-on-shade-inactive-variant: #F7E7F9;
  --md-sys-color-shade-disabled: #110C13;
  --md-sys-color-overview-background: #D0C2D3;
}
.dark {
  --md-sys-color-primary-palette-key-color: #158676;
  --md-sys-color-secondary-palette-key-color: #956B81;
  --md-sys-color-tertiary-palette-key-color: #8F6A99;
  --md-sys-color-neutral-palette-key-color: #7C747E;
  --md-sys-color-neutral-variant-palette-key-color: #7F7382;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #171219;
  --md-sys-color-on-background: #EADFEA;
  --md-sys-color-surface: #171219;
  --md-sys-color-surface-dim: #171219;
  --md-sys-color-surface-bright: #3D373F;
  --md-sys-color-surface-container-lowest: #110C13;
  --md-sys-color-surface-container-low: #1F1A21;
  --md-sys-color-surface-container: #231E25;
  --md-sys-color-surface-container-high: #2E2830;
  --md-sys-color-surface-container-highest: #39333B;
  --md-sys-color-on-surface: #EADFEA;
  --md-sys-color-surface-variant: #4D4351;
  --md-sys-color-on-surface-variant: #D0C2D3;
  --md-sys-color-outline: #998D9C;
  --md-sys-color-outline-variant: #4D4351;
  --md-sys-color-inverse-surface: #EADFEA;
  --md-sys-color-inverse-on-surface: #342E36;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #77D7C4;
  --md-sys-color-primary: #77D7C4;
  --md-sys-color-primary-dim: #9CFDE8;
  --md-sys-color-on-primary: #003730;
  --md-sys-color-primary-container: #005046;
  --md-sys-color-on-primary-container: #93F4E0;
  --md-sys-color-primary-fixed: #93F4E0;
  --md-sys-color-primary-fixed-dim: #77D7C4;
  --md-sys-color-on-primary-fixed: #00201B;
  --md-sys-color-on-primary-fixed-variant: #005046;
  --md-sys-color-inverse-primary: #006B5D;
  --md-sys-color-secondary: #EAB9D2;
  --md-sys-color-secondary-dim: #FCC9E3;
  --md-sys-color-on-secondary: #472639;
  --md-sys-color-secondary-container: #603C50;
  --md-sys-color-on-secondary-container: #FFD8EA;
  --md-sys-color-secondary-fixed: #FFD8EA;
  --md-sys-color-secondary-fixed-dim: #EAB9D2;
  --md-sys-color-on-secondary-fixed: #2F1124;
  --md-sys-color-on-secondary-fixed-variant: #603C50;
  --md-sys-color-tertiary: #E2B8EC;
  --md-sys-color-tertiary-dim: #F1C6FA;
  --md-sys-color-on-tertiary: #43244D;
  --md-sys-color-tertiary-container: #5B3A65;
  --md-sys-color-on-tertiary-container: #FAD7FF;
  --md-sys-color-tertiary-fixed: #FAD7FF;
  --md-sys-color-tertiary-fixed-dim: #E2B8EC;
  --md-sys-color-on-tertiary-fixed: #2C0E37;
  --md-sys-color-on-tertiary-fixed-variant: #5B3A65;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #005046;
  --md-sys-color-control-normal: #D0C2D3;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1F1A21;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4D4351;
  --md-sys-color-text-primary-inverse-disable-only: #1F1A21;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1F1A21;
  --md-sys-color-text-hint-inverse: #1F1A21;
  --md-sys-color-widget-background: #003730;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #93F4E0;
  --md-sys-color-clock-second: #FAD7FF;
  --md-sys-color-weather-temp: #77D7C4;
  --md-sys-color-theme-app: #005046;
  --md-sys-color-on-theme-app: #77D7C4;
  --md-sys-color-theme-app-ring: #5ABBA9;
  --md-sys-color-theme-notif: #E2B8EC;
  --md-sys-color-brand-a: #77D7C4;
  --md-sys-color-brand-b: #FFF8F8;
  --md-sys-color-brand-c: #47AA98;
  --md-sys-color-brand-d: #FAD7FF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #93F4E0;
  --md-sys-color-on-shade-active: #77D7C4;
  --md-sys-color-on-shade-active-variant: #005046;
  --md-sys-color-shade-inactive: #342E36;
  --md-sys-color-on-shade-inactive: #EDDEEF;
  --md-sys-color-on-shade-inactive-variant: #D0C2D3;
  --md-sys-color-shade-disabled: #110C13;
  --md-sys-color-overview-background: #594F5D;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #158676;
  --md-sys-color-secondary-palette-key-color: #956B81;
  --md-sys-color-tertiary-palette-key-color: #8F6A99;
  --md-sys-color-neutral-palette-key-color: #7C747E;
  --md-sys-color-neutral-variant-palette-key-color: #7F7382;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #171219;
  --md-sys-color-on-background: #EADFEA;
  --md-sys-color-surface: #171219;
  --md-sys-color-surface-dim: #171219;
  --md-sys-color-surface-bright: #49424B;
  --md-sys-color-surface-container-lowest: #0A060C;
  --md-sys-color-surface-container-low: #211C23;
  --md-sys-color-surface-container: #2C262E;
  --md-sys-color-surface-container-high: #373039;
  --md-sys-color-surface-container-highest: #423B44;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #4D4351;
  --md-sys-color-on-surface-variant: #E7D8E9;
  --md-sys-color-outline: #BBADBE;
  --md-sys-color-outline-variant: #998C9C;
  --md-sys-color-inverse-surface: #EADFEA;
  --md-sys-color-inverse-on-surface: #2E2830;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #77D7C4;
  --md-sys-color-primary: #8DEEDA;
  --md-sys-color-primary-dim: #9CFDE8;
  --md-sys-color-on-primary: #002C25;
  --md-sys-color-primary-container: #3CA08F;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #93F4E0;
  --md-sys-color-primary-fixed-dim: #77D7C4;
  --md-sys-color-on-primary-fixed: #001511;
  --md-sys-color-on-primary-fixed-variant: #003E35;
  --md-sys-color-inverse-primary: #005247;
  --md-sys-color-secondary: #FFCFE7;
  --md-sys-color-secondary-dim: #FCC9E3;
  --md-sys-color-on-secondary: #3B1B2E;
  --md-sys-color-secondary-container: #B0849B;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #FFD8EA;
  --md-sys-color-secondary-fixed-dim: #EAB9D2;
  --md-sys-color-on-secondary-fixed: #230719;
  --md-sys-color-on-secondary-fixed-variant: #4D2B3F;
  --md-sys-color-tertiary: #F7CFFF;
  --md-sys-color-tertiary-dim: #F1C6FA;
  --md-sys-color-on-tertiary: #371942;
  --md-sys-color-tertiary-container: #AA83B4;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #FAD7FF;
  --md-sys-color-tertiary-fixed-dim: #E2B8EC;
  --md-sys-color-on-tertiary-fixed: #20032C;
  --md-sys-color-on-tertiary-fixed-variant: #492A54;
  --md-sys-color-error: #FFD2CC;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #FF5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #005046;
  --md-sys-color-control-normal: #D0C2D3;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1F1A21;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4D4351;
  --md-sys-color-text-primary-inverse-disable-only: #1F1A21;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1F1A21;
  --md-sys-color-text-hint-inverse: #1F1A21;
  --md-sys-color-widget-background: #003730;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #93F4E0;
  --md-sys-color-clock-second: #FFFFFF;
  --md-sys-color-weather-temp: #FFFFFF;
  --md-sys-color-theme-app: #005046;
  --md-sys-color-on-theme-app: #91F2DE;
  --md-sys-color-theme-app-ring: #5ABBA9;
  --md-sys-color-theme-notif: #E2B8EC;
  --md-sys-color-brand-a: #8CEDD9;
  --md-sys-color-brand-b: #FFFEFF;
  --md-sys-color-brand-c: #6FD0BD;
  --md-sys-color-brand-d: #FDE4FF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #93F4E0;
  --md-sys-color-on-shade-active: #77D7C4;
  --md-sys-color-on-shade-active-variant: #005046;
  --md-sys-color-shade-inactive: #342E36;
  --md-sys-color-on-shade-inactive: #EDDEEF;
  --md-sys-color-on-shade-inactive-variant: #D0C2D3;
  --md-sys-color-shade-disabled: #110C13;
  --md-sys-color-overview-background: #594F5D;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #158676;
  --md-sys-color-secondary-palette-key-color: #956B81;
  --md-sys-color-tertiary-palette-key-color: #8F6A99;
  --md-sys-color-neutral-palette-key-color: #7C747E;
  --md-sys-color-neutral-variant-palette-key-color: #7F7382;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #171219;
  --md-sys-color-on-background: #EADFEA;
  --md-sys-color-surface: #171219;
  --md-sys-color-surface-dim: #171219;
  --md-sys-color-surface-bright: #554E56;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #231E25;
  --md-sys-color-surface-container: #342E36;
  --md-sys-color-surface-container-high: #403942;
  --md-sys-color-surface-container-highest: #4B444D;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #4D4351;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FBEBFD;
  --md-sys-color-outline-variant: #CCBECF;
  --md-sys-color-inverse-surface: #EADFEA;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #77D7C4;
  --md-sys-color-primary: #B1FFEE;
  --md-sys-color-primary-dim: #FEFFFD;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #73D3C0;
  --md-sys-color-on-primary-container: #000E0B;
  --md-sys-color-primary-fixed: #93F4E0;
  --md-sys-color-primary-fixed-dim: #77D7C4;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001511;
  --md-sys-color-inverse-primary: #005247;
  --md-sys-color-secondary: #FFEBF3;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #E6B5CE;
  --md-sys-color-on-secondary-container: #1B0313;
  --md-sys-color-secondary-fixed: #FFD8EA;
  --md-sys-color-secondary-fixed-dim: #EAB9D2;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #230719;
  --md-sys-color-tertiary: #FEEAFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #DEB4E8;
  --md-sys-color-on-tertiary-container: #190024;
  --md-sys-color-tertiary-fixed: #FAD7FF;
  --md-sys-color-tertiary-fixed-dim: #E2B8EC;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #20032C;
  --md-sys-color-error: #FFECE9;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #FFAEA4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #005046;
  --md-sys-color-control-normal: #D0C2D3;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1F1A21;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4D4351;
  --md-sys-color-text-primary-inverse-disable-only: #1F1A21;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1F1A21;
  --md-sys-color-text-hint-inverse: #1F1A21;
  --md-sys-color-widget-background: #003730;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #FFFFFF;
  --md-sys-color-clock-second: #FDE4FF;
  --md-sys-color-weather-temp: #9DFEE9;
  --md-sys-color-theme-app: #005046;
  --md-sys-color-on-theme-app: #FFFFFF;
  --md-sys-color-theme-app-ring: #5ABBA9;
  --md-sys-color-theme-notif: #E2B8EC;
  --md-sys-color-brand-a: #97F8E4;
  --md-sys-color-brand-b: #FFFFFF;
  --md-sys-color-brand-c: #86E6D2;
  --md-sys-color-brand-d: #FFF2FD;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #93F4E0;
  --md-sys-color-on-shade-active: #006356;
  --md-sys-color-on-shade-active-variant: #003029;
  --md-sys-color-shade-inactive: #342E36;
  --md-sys-color-on-shade-inactive: #EDDEEF;
  --md-sys-color-on-shade-inactive-variant: #F7E7F9;
  --md-sys-color-shade-disabled: #110C13;
  --md-sys-color-overview-background: #594F5D;
}
