.light {
  --md-sys-color-primary-palette-key-color: #8B54F3;
  --md-sys-color-secondary-palette-key-color: #945EC4;
  --md-sys-color-tertiary-palette-key-color: #C15173;
  --md-sys-color-neutral-palette-key-color: #856E98;
  --md-sys-color-neutral-variant-palette-key-color: #896AA4;
  --md-sys-color-error-palette-key-color: #DB365A;
  --md-sys-color-background: #FEF3FF;
  --md-sys-color-on-background: #3A264B;
  --md-sys-color-surface: #FEF3FF;
  --md-sys-color-surface-dim: #E8C9FF;
  --md-sys-color-surface-bright: #FEF3FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FAECFF;
  --md-sys-color-surface-container: #F5E2FF;
  --md-sys-color-surface-container-high: #F1DAFF;
  --md-sys-color-surface-container-highest: #EDD3FF;
  --md-sys-color-on-surface: #3A264B;
  --md-sys-color-surface-variant: #EDD3FF;
  --md-sys-color-on-surface-variant: #69537B;
  --md-sys-color-outline: #856E98;
  --md-sys-color-outline-variant: #BDA3D1;
  --md-sys-color-inverse-surface: #180429;
  --md-sys-color-inverse-on-surface: #AD93C0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6F33D5;
  --md-sys-color-primary: #6F33D5;
  --md-sys-color-primary-dim: #6221C9;
  --md-sys-color-on-primary: #F8F0FF;
  --md-sys-color-primary-container: #B28CFF;
  --md-sys-color-on-primary-container: #2E006C;
  --md-sys-color-primary-fixed: #B28CFF;
  --md-sys-color-primary-fixed-dim: #A67AFF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #390083;
  --md-sys-color-inverse-primary: #A476FF;
  --md-sys-color-secondary: #7742A6;
  --md-sys-color-secondary-dim: #6A3599;
  --md-sys-color-on-secondary: #FBEFFF;
  --md-sys-color-secondary-container: #E6C5FF;
  --md-sys-color-on-secondary-container: #612C90;
  --md-sys-color-secondary-fixed: #E6C5FF;
  --md-sys-color-secondary-fixed-dim: #DDB3FF;
  --md-sys-color-on-secondary-fixed: #4D137B;
  --md-sys-color-on-secondary-fixed-variant: #6B369A;
  --md-sys-color-tertiary: #9E3657;
  --md-sys-color-tertiary-dim: #8E294C;
  --md-sys-color-on-tertiary: #FFEFF1;
  --md-sys-color-tertiary-container: #FF8EAC;
  --md-sys-color-on-tertiary-container: #64042D;
  --md-sys-color-tertiary-fixed: #FF8EAC;
  --md-sys-color-tertiary-fixed-dim: #F77C9E;
  --md-sys-color-on-tertiary-fixed: #380016;
  --md-sys-color-on-tertiary-fixed-variant: #711036;
  --md-sys-color-error: #B41340;
  --md-sys-color-error-dim: #A20036;
  --md-sys-color-on-error: #FFEFEF;
  --md-sys-color-error-container: #F74B6D;
  --md-sys-color-on-error-container: #510017;
  --md-sys-color-control-activated: #B28CFF;
  --md-sys-color-control-normal: #69537B;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #AD93C0;
  --md-sys-color-text-secondary-and-tertiary-inverse: #DCB9F8;
  --md-sys-color-text-primary-inverse-disable-only: #F1DAFF;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #F1DAFF;
  --md-sys-color-text-hint-inverse: #F1DAFF;
  --md-sys-color-widget-background: #FAECFF;
  --md-sys-color-clock-hour: #572085;
  --md-sys-color-clock-minute: #6829CE;
  --md-sys-color-clock-second: #A2395A;
  --md-sys-color-weather-temp: #7237D8;
  --md-sys-color-theme-app: #EADDFF;
  --md-sys-color-on-theme-app: #590DC0;
  --md-sys-color-theme-app-ring: #BB9AFF;
  --md-sys-color-theme-notif: #FFB1C3;
  --md-sys-color-brand-a: #6D31D4;
  --md-sys-color-brand-b: #CC93FD;
  --md-sys-color-brand-c: #8A52F1;
  --md-sys-color-brand-d: #D96486;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #783EDF;
  --md-sys-color-on-shade-active-variant: #590DC0;
  --md-sys-color-shade-inactive: #3C284D;
  --md-sys-color-on-shade-inactive: #F1DAFF;
  --md-sys-color-on-shade-inactive-variant: #DCB9F8;
  --md-sys-color-shade-disabled: #180429;
  --md-sys-color-overview-background: #DCB9F8;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8B54F3;
  --md-sys-color-secondary-palette-key-color: #945EC4;
  --md-sys-color-tertiary-palette-key-color: #C15173;
  --md-sys-color-neutral-palette-key-color: #856E98;
  --md-sys-color-neutral-variant-palette-key-color: #896AA4;
  --md-sys-color-error-palette-key-color: #DB365A;
  --md-sys-color-background: #FEF3FF;
  --md-sys-color-on-background: #2A163B;
  --md-sys-color-surface: #FEF3FF;
  --md-sys-color-surface-dim: #E8C9FF;
  --md-sys-color-surface-bright: #FEF3FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FAECFF;
  --md-sys-color-surface-container: #F5E2FF;
  --md-sys-color-surface-container-high: #F1DAFF;
  --md-sys-color-surface-container-highest: #EDD3FF;
  --md-sys-color-on-surface: #2A163B;
  --md-sys-color-surface-variant: #EDD3FF;
  --md-sys-color-on-surface-variant: #4B375D;
  --md-sys-color-outline: #69537B;
  --md-sys-color-outline-variant: #856E98;
  --md-sys-color-inverse-surface: #180429;
  --md-sys-color-inverse-on-surface: #D6BBE9;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #5100B3;
  --md-sys-color-primary: #5100B3;
  --md-sys-color-primary-dim: #430097;
  --md-sys-color-on-primary: #DECCFF;
  --md-sys-color-primary-container: #8952F0;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #8952F0;
  --md-sys-color-primary-fixed-dim: #7C43E3;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #AF87FF;
  --md-sys-color-secondary: #592287;
  --md-sys-color-secondary-dim: #4D127B;
  --md-sys-color-on-secondary: #E8C8FF;
  --md-sys-color-secondary-container: #925CC1;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #925CC1;
  --md-sys-color-secondary-fixed-dim: #844FB4;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #79183C;
  --md-sys-color-tertiary-dim: #690931;
  --md-sys-color-on-tertiary: #FFC5D1;
  --md-sys-color-tertiary-container: #BE4E70;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #BE4E70;
  --md-sys-color-tertiary-fixed-dim: #AE4264;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #83002A;
  --md-sys-color-error-dim: #6E0022;
  --md-sys-color-on-error: #FFC6CA;
  --md-sys-color-error-container: #D73357;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #8952F0;
  --md-sys-color-control-normal: #4B375D;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #D6BBE9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #DCB9F8;
  --md-sys-color-text-primary-inverse-disable-only: #F1DAFF;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #F1DAFF;
  --md-sys-color-text-hint-inverse: #F1DAFF;
  --md-sys-color-widget-background: #FAECFF;
  --md-sys-color-clock-hour: #390062;
  --md-sys-color-clock-minute: #4A00A4;
  --md-sys-color-clock-second: #000000;
  --md-sys-color-weather-temp: #000000;
  --md-sys-color-theme-app: #EADDFF;
  --md-sys-color-on-theme-app: #590DC0;
  --md-sys-color-theme-app-ring: #BB9AFF;
  --md-sys-color-theme-notif: #FFB1C3;
  --md-sys-color-brand-a: #5200B5;
  --md-sys-color-brand-b: #A972D9;
  --md-sys-color-brand-c: #6322CA;
  --md-sys-color-brand-d: #B44769;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #5B11C1;
  --md-sys-color-on-shade-active-variant: #590DC0;
  --md-sys-color-shade-inactive: #3C284D;
  --md-sys-color-on-shade-inactive: #F1DAFF;
  --md-sys-color-on-shade-inactive-variant: #DCB9F8;
  --md-sys-color-shade-disabled: #180429;
  --md-sys-color-overview-background: #DCB9F8;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #8B54F3;
  --md-sys-color-secondary-palette-key-color: #945EC4;
  --md-sys-color-tertiary-palette-key-color: #C15173;
  --md-sys-color-neutral-palette-key-color: #856E98;
  --md-sys-color-neutral-variant-palette-key-color: #896AA4;
  --md-sys-color-error-palette-key-color: #DB365A;
  --md-sys-color-background: #FEF3FF;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #FEF3FF;
  --md-sys-color-surface-dim: #E8C9FF;
  --md-sys-color-surface-bright: #FEF3FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FAECFF;
  --md-sys-color-surface-container: #F5E2FF;
  --md-sys-color-surface-container-high: #F1DAFF;
  --md-sys-color-surface-container-highest: #EDD3FF;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #EDD3FF;
  --md-sys-color-on-surface-variant: #2A163B;
  --md-sys-color-outline: #4B375D;
  --md-sys-color-outline-variant: #5B466D;
  --md-sys-color-inverse-surface: #180429;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #2A0063;
  --md-sys-color-primary: #2A0063;
  --md-sys-color-primary-dim: #1D004A;
  --md-sys-color-on-primary: #DECCFF;
  --md-sys-color-primary-container: #611FC8;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #611FC8;
  --md-sys-color-primary-fixed-dim: #5500BC;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #D1B9FF;
  --md-sys-color-secondary: #320058;
  --md-sys-color-secondary-dim: #240042;
  --md-sys-color-on-secondary: #E8C9FF;
  --md-sys-color-secondary-container: #693498;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #693498;
  --md-sys-color-secondary-fixed-dim: #5D278B;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #46001D;
  --md-sys-color-tertiary-dim: #340013;
  --md-sys-color-on-tertiary: #FFC6D2;
  --md-sys-color-tertiary-container: #8D284B;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #8D284B;
  --md-sys-color-tertiary-fixed-dim: #7E1C3F;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #470013;
  --md-sys-color-error-dim: #34000C;
  --md-sys-color-on-error: #FFC6CB;
  --md-sys-color-error-container: #A00035;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #611FC8;
  --md-sys-color-control-normal: #2A163B;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #FFFFFF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #DCB9F8;
  --md-sys-color-text-primary-inverse-disable-only: #F1DAFF;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #F1DAFF;
  --md-sys-color-text-hint-inverse: #F1DAFF;
  --md-sys-color-widget-background: #FAECFF;
  --md-sys-color-clock-hour: #000000;
  --md-sys-color-clock-minute: #25005A;
  --md-sys-color-clock-second: #680830;
  --md-sys-color-weather-temp: #420095;
  --md-sys-color-theme-app: #EADDFF;
  --md-sys-color-on-theme-app: #3F008F;
  --md-sys-color-theme-app-ring: #BB9AFF;
  --md-sys-color-theme-notif: #FFB1C3;
  --md-sys-color-brand-a: #3B0086;
  --md-sys-color-brand-b: #8A54B9;
  --md-sys-color-brand-c: #5A10C1;
  --md-sys-color-brand-d: #9C3456;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #37007E;
  --md-sys-color-on-shade-active-variant: #37007E;
  --md-sys-color-shade-inactive: #3C284D;
  --md-sys-color-on-shade-inactive: #F7E6FF;
  --md-sys-color-on-shade-inactive-variant: #F7E6FF;
  --md-sys-color-shade-disabled: #180429;
  --md-sys-color-overview-background: #DCB9F8;
}
.dark {
  --md-sys-color-primary-palette-key-color: #8B54F3;
  --md-sys-color-secondary-palette-key-color: #945EC4;
  --md-sys-color-tertiary-palette-key-color: #C15173;
  --md-sys-color-neutral-palette-key-color: #856E98;
  --md-sys-color-neutral-variant-palette-key-color: #896AA4;
  --md-sys-color-error-palette-key-color: #DB365A;
  --md-sys-color-background: #180429;
  --md-sys-color-on-background: #F3DEFF;
  --md-sys-color-surface: #180429;
  --md-sys-color-surface-dim: #180429;
  --md-sys-color-surface-bright: #3C1D56;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1E0831;
  --md-sys-color-surface-container: #250D3A;
  --md-sys-color-surface-container-high: #2C1343;
  --md-sys-color-surface-container-highest: #34184C;
  --md-sys-color-on-surface: #F3DEFF;
  --md-sys-color-surface-variant: #34184C;
  --md-sys-color-on-surface-variant: #BBA1CF;
  --md-sys-color-outline: #846C96;
  --md-sys-color-outline-variant: #543F66;
  --md-sys-color-inverse-surface: #FFF7FE;
  --md-sys-color-inverse-on-surface: #624C74;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #BD9DFF;
  --md-sys-color-primary: #BD9DFF;
  --md-sys-color-primary-dim: #8952F0;
  --md-sys-color-on-primary: #3C0089;
  --md-sys-color-primary-container: #B28CFF;
  --md-sys-color-on-primary-container: #2E006C;
  --md-sys-color-primary-fixed: #B28CFF;
  --md-sys-color-primary-fixed-dim: #A67AFF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #390083;
  --md-sys-color-inverse-primary: #7337D9;
  --md-sys-color-secondary: #C38BF5;
  --md-sys-color-secondary-dim: #BE86EF;
  --md-sys-color-on-secondary: #3B0065;
  --md-sys-color-secondary-container: #612B8F;
  --md-sys-color-on-secondary-container: #E5C4FF;
  --md-sys-color-secondary-fixed: #E6C5FF;
  --md-sys-color-secondary-fixed-dim: #DDB3FF;
  --md-sys-color-on-secondary-fixed: #4D137B;
  --md-sys-color-on-secondary-fixed-variant: #6B369A;
  --md-sys-color-tertiary: #FF97B2;
  --md-sys-color-tertiary-dim: #FE81A4;
  --md-sys-color-on-tertiary: #6A0A31;
  --md-sys-color-tertiary-container: #FE81A4;
  --md-sys-color-on-tertiary-container: #5A0027;
  --md-sys-color-tertiary-fixed: #FF8EAC;
  --md-sys-color-tertiary-fixed-dim: #F77C9E;
  --md-sys-color-on-tertiary-fixed: #380016;
  --md-sys-color-on-tertiary-fixed-variant: #711036;
  --md-sys-color-error: #FF6E84;
  --md-sys-color-error-dim: #D73357;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #A70138;
  --md-sys-color-on-error-container: #FFB2B9;
  --md-sys-color-control-activated: #B28CFF;
  --md-sys-color-control-normal: #BBA1CF;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #624C74;
  --md-sys-color-text-secondary-and-tertiary-inverse: #573A70;
  --md-sys-color-text-primary-inverse-disable-only: #261237;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #261237;
  --md-sys-color-text-hint-inverse: #261237;
  --md-sys-color-widget-background: #490C77;
  --md-sys-color-clock-hour: #D2BBFF;
  --md-sys-color-clock-minute: #EADDFF;
  --md-sys-color-clock-second: #FFD9E0;
  --md-sys-color-weather-temp: #D2BBFF;
  --md-sys-color-theme-app: #490C77;
  --md-sys-color-on-theme-app: #D2BBFF;
  --md-sys-color-theme-app-ring: #BB9AFF;
  --md-sys-color-theme-notif: #E16A8C;
  --md-sys-color-brand-a: #D2BBFF;
  --md-sys-color-brand-b: #FFF7FE;
  --md-sys-color-brand-c: #A77BFF;
  --md-sys-color-brand-d: #FFD9E0;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #25005A;
  --md-sys-color-on-shade-active-variant: #590DC0;
  --md-sys-color-shade-inactive: #3C284D;
  --md-sys-color-on-shade-inactive: #DCB9F8;
  --md-sys-color-on-shade-inactive-variant: #DCB9F8;
  --md-sys-color-shade-disabled: #180429;
  --md-sys-color-overview-background: #63467D;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8B54F3;
  --md-sys-color-secondary-palette-key-color: #945EC4;
  --md-sys-color-tertiary-palette-key-color: #C15173;
  --md-sys-color-neutral-palette-key-color: #856E98;
  --md-sys-color-neutral-variant-palette-key-color: #896AA4;
  --md-sys-color-error-palette-key-color: #DB365A;
  --md-sys-color-background: #180429;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #180429;
  --md-sys-color-surface-dim: #180429;
  --md-sys-color-surface-bright: #3C1D56;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1E0831;
  --md-sys-color-surface-container: #250D3A;
  --md-sys-color-surface-container-high: #2C1343;
  --md-sys-color-surface-container-highest: #34184C;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #34184C;
  --md-sys-color-on-surface-variant: #C9AFDD;
  --md-sys-color-outline: #A38AB6;
  --md-sys-color-outline-variant: #846C96;
  --md-sys-color-inverse-surface: #FFF7FE;
  --md-sys-color-inverse-on-surface: #443055;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #C7ABFF;
  --md-sys-color-primary: #C7ABFF;
  --md-sys-color-primary-dim: #BA99FF;
  --md-sys-color-on-primary: #390083;
  --md-sys-color-primary-container: #B28CFF;
  --md-sys-color-on-primary-container: #1C0048;
  --md-sys-color-primary-fixed: #B28CFF;
  --md-sys-color-primary-fixed-dim: #A67AFF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-inverse-primary: #682ACF;
  --md-sys-color-secondary: #D5A5FF;
  --md-sys-color-secondary-dim: #CB92FD;
  --md-sys-color-on-secondary: #440373;
  --md-sys-color-secondary-container: #925CC1;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #E6C5FF;
  --md-sys-color-secondary-fixed-dim: #DDB3FF;
  --md-sys-color-on-secondary-fixed: #18002F;
  --md-sys-color-on-secondary-fixed-variant: #4D137B;
  --md-sys-color-tertiary: #FF9CB5;
  --md-sys-color-tertiary-dim: #FF84A6;
  --md-sys-color-on-tertiary: #5E0029;
  --md-sys-color-tertiary-container: #FE81A4;
  --md-sys-color-on-tertiary-container: #43001B;
  --md-sys-color-tertiary-fixed: #FF8EAC;
  --md-sys-color-tertiary-fixed-dim: #F77C9E;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #380016;
  --md-sys-color-error: #FF9DA8;
  --md-sys-color-error-dim: #FF8695;
  --md-sys-color-on-error: #5F001C;
  --md-sys-color-error-container: #D73357;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #B28CFF;
  --md-sys-color-control-normal: #C9AFDD;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #443055;
  --md-sys-color-text-secondary-and-tertiary-inverse: #573A70;
  --md-sys-color-text-primary-inverse-disable-only: #261237;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #261237;
  --md-sys-color-text-hint-inverse: #261237;
  --md-sys-color-widget-background: #490C77;
  --md-sys-color-clock-hour: #D2BBFF;
  --md-sys-color-clock-minute: #EADDFF;
  --md-sys-color-clock-second: #FFFFFF;
  --md-sys-color-weather-temp: #FFFFFF;
  --md-sys-color-theme-app: #490C77;
  --md-sys-color-on-theme-app: #D2BBFF;
  --md-sys-color-theme-app-ring: #BB9AFF;
  --md-sys-color-theme-notif: #E16A8C;
  --md-sys-color-brand-a: #DCC8FF;
  --md-sys-color-brand-b: #FFF7FE;
  --md-sys-color-brand-c: #C4A7FF;
  --md-sys-color-brand-d: #FFD9E0;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #25005A;
  --md-sys-color-on-shade-active-variant: #590DC0;
  --md-sys-color-shade-inactive: #3C284D;
  --md-sys-color-on-shade-inactive: #DCB9F8;
  --md-sys-color-on-shade-inactive-variant: #DCB9F8;
  --md-sys-color-shade-disabled: #180429;
  --md-sys-color-overview-background: #63467D;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8B54F3;
  --md-sys-color-secondary-palette-key-color: #945EC4;
  --md-sys-color-tertiary-palette-key-color: #C15173;
  --md-sys-color-neutral-palette-key-color: #856E98;
  --md-sys-color-neutral-variant-palette-key-color: #896AA4;
  --md-sys-color-error-palette-key-color: #DB365A;
  --md-sys-color-background: #180429;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #180429;
  --md-sys-color-surface-dim: #180429;
  --md-sys-color-surface-bright: #3C1D56;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1E0831;
  --md-sys-color-surface-container: #250D3A;
  --md-sys-color-surface-container-high: #2C1343;
  --md-sys-color-surface-container-highest: #34184C;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #34184C;
  --md-sys-color-on-surface-variant: #F3DEFF;
  --md-sys-color-outline: #C9AFDD;
  --md-sys-color-outline-variant: #B49AC7;
  --md-sys-color-inverse-surface: #FFF7FE;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #EDE0FF;
  --md-sys-color-primary: #EDE0FF;
  --md-sys-color-primary-dim: #DFCCFF;
  --md-sys-color-on-primary: #390083;
  --md-sys-color-primary-container: #B490FF;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #B490FF;
  --md-sys-color-primary-fixed-dim: #A97EFF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-inverse-primary: #4800A1;
  --md-sys-color-secondary: #F3DEFF;
  --md-sys-color-secondary-dim: #E8C9FF;
  --md-sys-color-on-secondary: #440373;
  --md-sys-color-secondary-container: #C48BF5;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #E6C5FF;
  --md-sys-color-secondary-fixed-dim: #DDB3FF;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #18002F;
  --md-sys-color-tertiary: #FFDDE3;
  --md-sys-color-tertiary-dim: #FFC6D2;
  --md-sys-color-on-tertiary: #5D0029;
  --md-sys-color-tertiary-container: #FE81A4;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #FF8EAC;
  --md-sys-color-tertiary-fixed-dim: #F77C9E;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFDDDF;
  --md-sys-color-error-dim: #FFC7CB;
  --md-sys-color-on-error: #5F001C;
  --md-sys-color-error-container: #FF798C;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #B490FF;
  --md-sys-color-control-normal: #F3DEFF;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #573A70;
  --md-sys-color-text-primary-inverse-disable-only: #261237;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #261237;
  --md-sys-color-text-hint-inverse: #261237;
  --md-sys-color-widget-background: #490C77;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #FFFFFF;
  --md-sys-color-clock-second: #FFE6EA;
  --md-sys-color-weather-temp: #F3E8FF;
  --md-sys-color-theme-app: #490C77;
  --md-sys-color-on-theme-app: #EADCFF;
  --md-sys-color-theme-app-ring: #BB9AFF;
  --md-sys-color-theme-notif: #E16A8C;
  --md-sys-color-brand-a: #E2D2FF;
  --md-sys-color-brand-b: #FFF7FE;
  --md-sys-color-brand-c: #D4BEFF;
  --md-sys-color-brand-d: #FFE1E6;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #000000;
  --md-sys-color-on-shade-active-variant: #37007E;
  --md-sys-color-shade-inactive: #3C284D;
  --md-sys-color-on-shade-inactive: #F7E6FF;
  --md-sys-color-on-shade-inactive-variant: #F7E6FF;
  --md-sys-color-shade-disabled: #180429;
  --md-sys-color-overview-background: #63467D;
}
