.light {
  --md-sys-color-primary-palette-key-color: #7B7484;
  --md-sys-color-secondary-palette-key-color: #7A757F;
  --md-sys-color-tertiary-palette-key-color: #7C738A;
  --md-sys-color-neutral-palette-key-color: #797678;
  --md-sys-color-neutral-variant-palette-key-color: #797678;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FDF8FA;
  --md-sys-color-on-background: #1C1B1D;
  --md-sys-color-surface: #FDF8FA;
  --md-sys-color-surface-dim: #DDD9DB;
  --md-sys-color-surface-bright: #FDF8FA;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F7F2F4;
  --md-sys-color-surface-container: #F1EDEE;
  --md-sys-color-surface-container-high: #ECE7E9;
  --md-sys-color-surface-container-highest: #E6E1E3;
  --md-sys-color-on-surface: #1C1B1D;
  --md-sys-color-surface-variant: #E6E1E3;
  --md-sys-color-on-surface-variant: #484648;
  --md-sys-color-outline: #797678;
  --md-sys-color-outline-variant: #C9C5C7;
  --md-sys-color-inverse-surface: #313031;
  --md-sys-color-inverse-on-surface: #F4EFF1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #625C6B;
  --md-sys-color-primary: #625C6B;
  --md-sys-color-primary-dim: #6B6575;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #E8DFF1;
  --md-sys-color-on-primary-container: #4A4453;
  --md-sys-color-primary-fixed: #E8DFF1;
  --md-sys-color-primary-fixed-dim: #CCC3D5;
  --md-sys-color-on-primary-fixed: #1E1926;
  --md-sys-color-on-primary-fixed-variant: #4A4453;
  --md-sys-color-inverse-primary: #CCC3D5;
  --md-sys-color-secondary: #615D66;
  --md-sys-color-secondary-dim: #6B6670;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #E7E0EB;
  --md-sys-color-on-secondary-container: #49454E;
  --md-sys-color-secondary-fixed: #E7E0EB;
  --md-sys-color-secondary-fixed-dim: #CBC4CF;
  --md-sys-color-on-secondary-fixed: #1D1A22;
  --md-sys-color-on-secondary-fixed-variant: #49454E;
  --md-sys-color-tertiary: #635B70;
  --md-sys-color-tertiary-dim: #6C647A;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #E9DEF8;
  --md-sys-color-on-tertiary-container: #4B4358;
  --md-sys-color-tertiary-fixed: #E9DEF8;
  --md-sys-color-tertiary-fixed-dim: #CDC2DB;
  --md-sys-color-on-tertiary-fixed: #1E182B;
  --md-sys-color-on-tertiary-fixed-variant: #4B4358;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #E8DFF1;
  --md-sys-color-control-normal: #484648;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E6E1E3;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C9C5C7;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E3;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E3;
  --md-sys-color-text-hint-inverse: #E6E1E3;
  --md-sys-color-widget-background: #F7EDFF;
  --md-sys-color-clock-hour: #49454E;
  --md-sys-color-clock-minute: #585261;
  --md-sys-color-clock-second: #635B70;
  --md-sys-color-weather-temp: #6A6373;
  --md-sys-color-theme-app: #E8DFF1;
  --md-sys-color-on-theme-app: #625C6B;
  --md-sys-color-theme-app-ring: #B0A8B9;
  --md-sys-color-theme-notif: #968DA4;
  --md-sys-color-brand-a: #5F5968;
  --md-sys-color-brand-b: #AFA9B4;
  --md-sys-color-brand-c: #7B7484;
  --md-sys-color-brand-d: #91889F;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E8DFF1;
  --md-sys-color-on-shade-active: #1E1926;
  --md-sys-color-on-shade-active-variant: #4A4453;
  --md-sys-color-shade-inactive: #313031;
  --md-sys-color-on-shade-inactive: #E6E1E3;
  --md-sys-color-on-shade-inactive-variant: #C9C5C7;
  --md-sys-color-shade-disabled: #0F0E0F;
  --md-sys-color-overview-background: #C9C5C7;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7B7484;
  --md-sys-color-secondary-palette-key-color: #7A757F;
  --md-sys-color-tertiary-palette-key-color: #7C738A;
  --md-sys-color-neutral-palette-key-color: #797678;
  --md-sys-color-neutral-variant-palette-key-color: #797678;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FDF8FA;
  --md-sys-color-on-background: #1C1B1D;
  --md-sys-color-surface: #FDF8FA;
  --md-sys-color-surface-dim: #C9C5C7;
  --md-sys-color-surface-bright: #FDF8FA;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F7F2F4;
  --md-sys-color-surface-container: #ECE7E9;
  --md-sys-color-surface-container-high: #E0DCDD;
  --md-sys-color-surface-container-highest: #D5D0D2;
  --md-sys-color-on-surface: #121112;
  --md-sys-color-surface-variant: #E6E1E3;
  --md-sys-color-on-surface-variant: #373637;
  --md-sys-color-outline: #545253;
  --md-sys-color-outline-variant: #6F6C6E;
  --md-sys-color-inverse-surface: #313031;
  --md-sys-color-inverse-on-surface: #F4EFF1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #625C6B;
  --md-sys-color-primary: #393442;
  --md-sys-color-primary-dim: #484251;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #716A7A;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #716A7A;
  --md-sys-color-primary-fixed-dim: #585261;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #CCC3D5;
  --md-sys-color-secondary: #38353D;
  --md-sys-color-secondary-dim: #47434C;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #706B75;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #706B75;
  --md-sys-color-secondary-fixed-dim: #57535C;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #3A3346;
  --md-sys-color-tertiary-dim: #484155;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #72697F;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #72697F;
  --md-sys-color-tertiary-fixed-dim: #595166;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8F0009;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #CF2C27;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #E8DFF1;
  --md-sys-color-control-normal: #484648;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E6E1E3;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C9C5C7;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E3;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E3;
  --md-sys-color-text-hint-inverse: #E6E1E3;
  --md-sys-color-widget-background: #F7EDFF;
  --md-sys-color-clock-hour: #49454E;
  --md-sys-color-clock-minute: #3C3745;
  --md-sys-color-clock-second: #000000;
  --md-sys-color-weather-temp: #000000;
  --md-sys-color-theme-app: #E8DFF1;
  --md-sys-color-on-theme-app: #4B4554;
  --md-sys-color-theme-app-ring: #B0A8B9;
  --md-sys-color-theme-notif: #968DA4;
  --md-sys-color-brand-a: #453F4E;
  --md-sys-color-brand-b: #908A94;
  --md-sys-color-brand-c: #554F5E;
  --md-sys-color-brand-d: #736B81;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E8DFF1;
  --md-sys-color-on-shade-active: #1E1926;
  --md-sys-color-on-shade-active-variant: #4A4453;
  --md-sys-color-shade-inactive: #313031;
  --md-sys-color-on-shade-inactive: #E6E1E3;
  --md-sys-color-on-shade-inactive-variant: #C9C5C7;
  --md-sys-color-shade-disabled: #0F0E0F;
  --md-sys-color-overview-background: #C9C5C7;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #7B7484;
  --md-sys-color-secondary-palette-key-color: #7A757F;
  --md-sys-color-tertiary-palette-key-color: #7C738A;
  --md-sys-color-neutral-palette-key-color: #797678;
  --md-sys-color-neutral-variant-palette-key-color: #797678;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FDF8FA;
  --md-sys-color-on-background: #1C1B1D;
  --md-sys-color-surface: #FDF8FA;
  --md-sys-color-surface-dim: #BCB8B9;
  --md-sys-color-surface-bright: #FDF8FA;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F4EFF1;
  --md-sys-color-surface-container: #E6E1E3;
  --md-sys-color-surface-container-high: #D8D3D5;
  --md-sys-color-surface-container-highest: #C9C5C7;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E6E1E3;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #2D2C2D;
  --md-sys-color-outline-variant: #4A484A;
  --md-sys-color-inverse-surface: #313031;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #625C6B;
  --md-sys-color-primary: #2F2A37;
  --md-sys-color-primary-dim: #221D2A;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #4C4755;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #4C4755;
  --md-sys-color-primary-fixed-dim: #35303E;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #CCC3D5;
  --md-sys-color-secondary: #2E2B33;
  --md-sys-color-secondary-dim: #211E26;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #4B4751;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #4B4751;
  --md-sys-color-secondary-fixed-dim: #35313A;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #2F293C;
  --md-sys-color-tertiary-dim: #221C2F;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #4D465A;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #4D465A;
  --md-sys-color-tertiary-fixed-dim: #362F43;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #98000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #E8DFF1;
  --md-sys-color-control-normal: #484648;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E6E1E3;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C9C5C7;
  --md-sys-color-text-primary-inverse-disable-only: #E6E1E3;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E6E1E3;
  --md-sys-color-text-hint-inverse: #E6E1E3;
  --md-sys-color-widget-background: #F7EDFF;
  --md-sys-color-clock-hour: #1D1A22;
  --md-sys-color-clock-minute: #1E1926;
  --md-sys-color-clock-second: #373043;
  --md-sys-color-weather-temp: #36313F;
  --md-sys-color-theme-app: #E8DFF1;
  --md-sys-color-on-theme-app: #332E3C;
  --md-sys-color-theme-app-ring: #B0A8B9;
  --md-sys-color-theme-notif: #968DA4;
  --md-sys-color-brand-a: #302B38;
  --md-sys-color-brand-b: #706B75;
  --md-sys-color-brand-c: #4B4554;
  --md-sys-color-brand-d: #5E576C;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E8DFF1;
  --md-sys-color-on-shade-active: #000000;
  --md-sys-color-on-shade-active-variant: #2D2835;
  --md-sys-color-shade-inactive: #313031;
  --md-sys-color-on-shade-inactive: #F0EBED;
  --md-sys-color-on-shade-inactive-variant: #F0EBED;
  --md-sys-color-shade-disabled: #0F0E0F;
  --md-sys-color-overview-background: #C9C5C7;
}
.dark {
  --md-sys-color-primary-palette-key-color: #7B7484;
  --md-sys-color-secondary-palette-key-color: #7A757F;
  --md-sys-color-tertiary-palette-key-color: #7C738A;
  --md-sys-color-neutral-palette-key-color: #797678;
  --md-sys-color-neutral-variant-palette-key-color: #797678;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #141314;
  --md-sys-color-on-background: #E6E1E3;
  --md-sys-color-surface: #141314;
  --md-sys-color-surface-dim: #141314;
  --md-sys-color-surface-bright: #3A393A;
  --md-sys-color-surface-container-lowest: #0F0E0F;
  --md-sys-color-surface-container-low: #1C1B1D;
  --md-sys-color-surface-container: #201F21;
  --md-sys-color-surface-container-high: #2B292B;
  --md-sys-color-surface-container-highest: #363436;
  --md-sys-color-on-surface: #E6E1E3;
  --md-sys-color-surface-variant: #484648;
  --md-sys-color-on-surface-variant: #C9C5C7;
  --md-sys-color-outline: #939092;
  --md-sys-color-outline-variant: #484648;
  --md-sys-color-inverse-surface: #E6E1E3;
  --md-sys-color-inverse-on-surface: #313031;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CCC3D5;
  --md-sys-color-primary: #CCC3D5;
  --md-sys-color-primary-dim: #DAD1E3;
  --md-sys-color-on-primary: #332E3C;
  --md-sys-color-primary-container: #4A4453;
  --md-sys-color-on-primary-container: #E8DFF1;
  --md-sys-color-primary-fixed: #E8DFF1;
  --md-sys-color-primary-fixed-dim: #CCC3D5;
  --md-sys-color-on-primary-fixed: #1E1926;
  --md-sys-color-on-primary-fixed-variant: #4A4453;
  --md-sys-color-inverse-primary: #625C6B;
  --md-sys-color-secondary: #CBC4CF;
  --md-sys-color-secondary-dim: #D9D2DD;
  --md-sys-color-on-secondary: #322F37;
  --md-sys-color-secondary-container: #49454E;
  --md-sys-color-on-secondary-container: #E7E0EB;
  --md-sys-color-secondary-fixed: #E7E0EB;
  --md-sys-color-secondary-fixed-dim: #CBC4CF;
  --md-sys-color-on-secondary-fixed: #1D1A22;
  --md-sys-color-on-secondary-fixed-variant: #49454E;
  --md-sys-color-tertiary: #CDC2DB;
  --md-sys-color-tertiary-dim: #ECE1FB;
  --md-sys-color-on-tertiary: #342D40;
  --md-sys-color-tertiary-container: #4B4358;
  --md-sys-color-on-tertiary-container: #E9DEF8;
  --md-sys-color-tertiary-fixed: #E9DEF8;
  --md-sys-color-tertiary-fixed-dim: #CDC2DB;
  --md-sys-color-on-tertiary-fixed: #1E182B;
  --md-sys-color-on-tertiary-fixed-variant: #4B4358;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #4A4453;
  --md-sys-color-control-normal: #C9C5C7;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1C1B1D;
  --md-sys-color-text-secondary-and-tertiary-inverse: #484648;
  --md-sys-color-text-primary-inverse-disable-only: #1C1B1D;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1C1B1D;
  --md-sys-color-text-hint-inverse: #1C1B1D;
  --md-sys-color-widget-background: #332E3C;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #E8DFF1;
  --md-sys-color-clock-second: #E9DEF8;
  --md-sys-color-weather-temp: #CCC3D5;
  --md-sys-color-theme-app: #4A4453;
  --md-sys-color-on-theme-app: #CCC3D5;
  --md-sys-color-theme-app-ring: #B0A8B9;
  --md-sys-color-theme-notif: #CDC2DB;
  --md-sys-color-brand-a: #CCC3D5;
  --md-sys-color-brand-b: #FEF7FF;
  --md-sys-color-brand-c: #9E97A8;
  --md-sys-color-brand-d: #E9DEF8;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E8DFF1;
  --md-sys-color-on-shade-active: #CCC3D5;
  --md-sys-color-on-shade-active-variant: #4A4453;
  --md-sys-color-shade-inactive: #313031;
  --md-sys-color-on-shade-inactive: #E6E1E3;
  --md-sys-color-on-shade-inactive-variant: #C9C5C7;
  --md-sys-color-shade-disabled: #0F0E0F;
  --md-sys-color-overview-background: #545253;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7B7484;
  --md-sys-color-secondary-palette-key-color: #7A757F;
  --md-sys-color-tertiary-palette-key-color: #7C738A;
  --md-sys-color-neutral-palette-key-color: #797678;
  --md-sys-color-neutral-variant-palette-key-color: #797678;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #141314;
  --md-sys-color-on-background: #E6E1E3;
  --md-sys-color-surface: #141314;
  --md-sys-color-surface-dim: #141314;
  --md-sys-color-surface-bright: #464446;
  --md-sys-color-surface-container-lowest: #080708;
  --md-sys-color-surface-container-low: #1E1D1F;
  --md-sys-color-surface-container: #292729;
  --md-sys-color-surface-container-high: #343234;
  --md-sys-color-surface-container-highest: #3F3D3F;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #484648;
  --md-sys-color-on-surface-variant: #E0DBDD;
  --md-sys-color-outline: #B5B1B3;
  --md-sys-color-outline-variant: #938F91;
  --md-sys-color-inverse-surface: #E6E1E3;
  --md-sys-color-inverse-on-surface: #2B292B;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CCC3D5;
  --md-sys-color-primary: #E2D9EB;
  --md-sys-color-primary-dim: #DAD1E3;
  --md-sys-color-on-primary: #282331;
  --md-sys-color-primary-container: #958E9E;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #E8DFF1;
  --md-sys-color-primary-fixed-dim: #CCC3D5;
  --md-sys-color-on-primary-fixed: #130F1B;
  --md-sys-color-on-primary-fixed-variant: #393442;
  --md-sys-color-inverse-primary: #4B4554;
  --md-sys-color-secondary: #E1DAE5;
  --md-sys-color-secondary-dim: #D9D2DD;
  --md-sys-color-on-secondary: #27242C;
  --md-sys-color-secondary-container: #948F99;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #E7E0EB;
  --md-sys-color-secondary-fixed-dim: #CBC4CF;
  --md-sys-color-on-secondary-fixed: #131017;
  --md-sys-color-on-secondary-fixed-variant: #38353D;
  --md-sys-color-tertiary: #E3D8F1;
  --md-sys-color-tertiary-dim: #ECE1FB;
  --md-sys-color-on-tertiary: #292335;
  --md-sys-color-tertiary-container: #968DA4;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #E9DEF8;
  --md-sys-color-tertiary-fixed-dim: #CDC2DB;
  --md-sys-color-on-tertiary-fixed: #140E20;
  --md-sys-color-on-tertiary-fixed-variant: #3A3346;
  --md-sys-color-error: #FFD2CC;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #FF5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #4A4453;
  --md-sys-color-control-normal: #C9C5C7;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1C1B1D;
  --md-sys-color-text-secondary-and-tertiary-inverse: #484648;
  --md-sys-color-text-primary-inverse-disable-only: #1C1B1D;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1C1B1D;
  --md-sys-color-text-hint-inverse: #1C1B1D;
  --md-sys-color-widget-background: #332E3C;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #E8DFF1;
  --md-sys-color-clock-second: #FFFFFF;
  --md-sys-color-weather-temp: #FFFFFF;
  --md-sys-color-theme-app: #4A4453;
  --md-sys-color-on-theme-app: #E6DDEF;
  --md-sys-color-theme-app-ring: #B0A8B9;
  --md-sys-color-theme-notif: #CDC2DB;
  --md-sys-color-brand-a: #E1D8EA;
  --md-sys-color-brand-b: #FFFEFF;
  --md-sys-color-brand-c: #C4BCCD;
  --md-sys-color-brand-d: #F2E7FF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E8DFF1;
  --md-sys-color-on-shade-active: #CCC3D5;
  --md-sys-color-on-shade-active-variant: #4A4453;
  --md-sys-color-shade-inactive: #313031;
  --md-sys-color-on-shade-inactive: #E6E1E3;
  --md-sys-color-on-shade-inactive-variant: #C9C5C7;
  --md-sys-color-shade-disabled: #0F0E0F;
  --md-sys-color-overview-background: #545253;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #7B7484;
  --md-sys-color-secondary-palette-key-color: #7A757F;
  --md-sys-color-tertiary-palette-key-color: #7C738A;
  --md-sys-color-neutral-palette-key-color: #797678;
  --md-sys-color-neutral-variant-palette-key-color: #797678;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #141314;
  --md-sys-color-on-background: #E6E1E3;
  --md-sys-color-surface: #141314;
  --md-sys-color-surface-dim: #141314;
  --md-sys-color-surface-bright: #514F51;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #201F21;
  --md-sys-color-surface-container: #313031;
  --md-sys-color-surface-container-high: #3D3B3C;
  --md-sys-color-surface-container-highest: #484648;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #484648;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #F4EFF0;
  --md-sys-color-outline-variant: #C6C1C3;
  --md-sys-color-inverse-surface: #E6E1E3;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #CCC3D5;
  --md-sys-color-primary: #F6ECFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #C8BFD1;
  --md-sys-color-on-primary-container: #0D0915;
  --md-sys-color-primary-fixed: #E8DFF1;
  --md-sys-color-primary-fixed-dim: #CCC3D5;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #130F1B;
  --md-sys-color-inverse-primary: #4B4554;
  --md-sys-color-secondary: #F5EDF9;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #C7C0CB;
  --md-sys-color-on-secondary-container: #0D0A11;
  --md-sys-color-secondary-fixed: #E7E0EB;
  --md-sys-color-secondary-fixed-dim: #CBC4CF;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #131017;
  --md-sys-color-tertiary: #F6ECFF;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #C9BED7;
  --md-sys-color-on-tertiary-container: #0E0819;
  --md-sys-color-tertiary-fixed: #E9DEF8;
  --md-sys-color-tertiary-fixed-dim: #CDC2DB;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #140E20;
  --md-sys-color-error: #FFECE9;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #FFAEA4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #4A4453;
  --md-sys-color-control-normal: #C9C5C7;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1C1B1D;
  --md-sys-color-text-secondary-and-tertiary-inverse: #484648;
  --md-sys-color-text-primary-inverse-disable-only: #1C1B1D;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1C1B1D;
  --md-sys-color-text-hint-inverse: #1C1B1D;
  --md-sys-color-widget-background: #332E3C;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #FFFFFF;
  --md-sys-color-clock-second: #F3E8FF;
  --md-sys-color-weather-temp: #F2E8FB;
  --md-sys-color-theme-app: #4A4453;
  --md-sys-color-on-theme-app: #FFFFFF;
  --md-sys-color-theme-app-ring: #B0A8B9;
  --md-sys-color-theme-notif: #CDC2DB;
  --md-sys-color-brand-a: #ECE3F5;
  --md-sys-color-brand-b: #FFFFFF;
  --md-sys-color-brand-c: #DAD1E3;
  --md-sys-color-brand-d: #FBF3FF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E8DFF1;
  --md-sys-color-on-shade-active: #5B5564;
  --md-sys-color-on-shade-active-variant: #2D2835;
  --md-sys-color-shade-inactive: #313031;
  --md-sys-color-on-shade-inactive: #E6E1E3;
  --md-sys-color-on-shade-inactive-variant: #F0EBED;
  --md-sys-color-shade-disabled: #0F0E0F;
  --md-sys-color-overview-background: #545253;
}
