.light {
  --md-sys-color-primary-palette-key-color: #816DA8;
  --md-sys-color-secondary-palette-key-color: #7C738A;
  --md-sys-color-tertiary-palette-key-color: #9A6A77;
  --md-sys-color-neutral-palette-key-color: #79757C;
  --md-sys-color-neutral-variant-palette-key-color: #7A757F;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FEF7FF;
  --md-sys-color-on-background: #1D1B20;
  --md-sys-color-surface: #FEF7FF;
  --md-sys-color-surface-dim: #DED8E0;
  --md-sys-color-surface-bright: #FEF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F1FA;
  --md-sys-color-surface-container: #F2ECF4;
  --md-sys-color-surface-container-high: #ECE6EE;
  --md-sys-color-surface-container-highest: #E7E0E8;
  --md-sys-color-on-surface: #1D1B20;
  --md-sys-color-surface-variant: #E7E0EB;
  --md-sys-color-on-surface-variant: #49454E;
  --md-sys-color-outline: #7A757F;
  --md-sys-color-outline-variant: #CBC4CF;
  --md-sys-color-inverse-surface: #322F35;
  --md-sys-color-inverse-on-surface: #F5EFF7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #67548E;
  --md-sys-color-primary: #67548E;
  --md-sys-color-primary-dim: #715E98;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #EADDFF;
  --md-sys-color-on-primary-container: #4F3D74;
  --md-sys-color-primary-fixed: #EADDFF;
  --md-sys-color-primary-fixed-dim: #D2BCFD;
  --md-sys-color-on-primary-fixed: #220F46;
  --md-sys-color-on-primary-fixed-variant: #4F3D74;
  --md-sys-color-inverse-primary: #D2BCFD;
  --md-sys-color-secondary: #635B70;
  --md-sys-color-secondary-dim: #6C647A;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #E9DEF8;
  --md-sys-color-on-secondary-container: #4B4358;
  --md-sys-color-secondary-fixed: #E9DEF8;
  --md-sys-color-secondary-fixed-dim: #CDC2DB;
  --md-sys-color-on-secondary-fixed: #1E182B;
  --md-sys-color-on-secondary-fixed-variant: #4B4358;
  --md-sys-color-tertiary: #7E525E;
  --md-sys-color-tertiary-dim: #895B67;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #FFD9E1;
  --md-sys-color-on-tertiary-container: #643B46;
  --md-sys-color-tertiary-fixed: #FFD9E1;
  --md-sys-color-tertiary-fixed-dim: #F0B7C5;
  --md-sys-color-on-tertiary-fixed: #31101B;
  --md-sys-color-on-tertiary-fixed-variant: #643B46;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #EADDFF;
  --md-sys-color-control-normal: #49454E;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E7E0E8;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC4CF;
  --md-sys-color-text-primary-inverse-disable-only: #E7E0E8;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E0E8;
  --md-sys-color-text-hint-inverse: #E7E0E8;
  --md-sys-color-widget-background: #F7EDFF;
  --md-sys-color-clock-hour: #4B4358;
  --md-sys-color-clock-minute: #5E4B84;
  --md-sys-color-clock-second: #7E525E;
  --md-sys-color-weather-temp: #6F5C96;
  --md-sys-color-theme-app: #EADDFF;
  --md-sys-color-on-theme-app: #67548E;
  --md-sys-color-theme-app-ring: #B6A1E0;
  --md-sys-color-theme-notif: #B68390;
  --md-sys-color-brand-a: #65528B;
  --md-sys-color-brand-b: #B1A7BF;
  --md-sys-color-brand-c: #816DA8;
  --md-sys-color-brand-d: #B17E8B;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #220F46;
  --md-sys-color-on-shade-active-variant: #4F3D74;
  --md-sys-color-shade-inactive: #322F35;
  --md-sys-color-on-shade-inactive: #E7E0EB;
  --md-sys-color-on-shade-inactive-variant: #CBC4CF;
  --md-sys-color-shade-disabled: #0F0D13;
  --md-sys-color-overview-background: #CBC4CF;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #816DA8;
  --md-sys-color-secondary-palette-key-color: #7C738A;
  --md-sys-color-tertiary-palette-key-color: #9A6A77;
  --md-sys-color-neutral-palette-key-color: #79757C;
  --md-sys-color-neutral-variant-palette-key-color: #7A757F;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FEF7FF;
  --md-sys-color-on-background: #1D1B20;
  --md-sys-color-surface: #FEF7FF;
  --md-sys-color-surface-dim: #CAC5CC;
  --md-sys-color-surface-bright: #FEF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F1FA;
  --md-sys-color-surface-container: #ECE6EE;
  --md-sys-color-surface-container-high: #E1DBE3;
  --md-sys-color-surface-container-highest: #D6D0D7;
  --md-sys-color-on-surface: #121016;
  --md-sys-color-surface-variant: #E7E0EB;
  --md-sys-color-on-surface-variant: #38353D;
  --md-sys-color-outline: #55515A;
  --md-sys-color-outline-variant: #706B75;
  --md-sys-color-inverse-surface: #322F35;
  --md-sys-color-inverse-on-surface: #F5EFF7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #67548E;
  --md-sys-color-primary: #3E2C62;
  --md-sys-color-primary-dim: #4D3A72;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #76639E;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #76639E;
  --md-sys-color-primary-fixed-dim: #5D4B83;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #D2BCFD;
  --md-sys-color-secondary: #3A3346;
  --md-sys-color-secondary-dim: #484155;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #72697F;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #72697F;
  --md-sys-color-secondary-fixed-dim: #595166;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #512A36;
  --md-sys-color-tertiary-dim: #613844;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #8F606C;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #8F606C;
  --md-sys-color-tertiary-fixed-dim: #744854;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8F0009;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #CF2C27;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #EADDFF;
  --md-sys-color-control-normal: #49454E;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E7E0E8;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC4CF;
  --md-sys-color-text-primary-inverse-disable-only: #E7E0E8;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E0E8;
  --md-sys-color-text-hint-inverse: #E7E0E8;
  --md-sys-color-widget-background: #F7EDFF;
  --md-sys-color-clock-hour: #4B4358;
  --md-sys-color-clock-minute: #412F66;
  --md-sys-color-clock-second: #000000;
  --md-sys-color-weather-temp: #000000;
  --md-sys-color-theme-app: #EADDFF;
  --md-sys-color-on-theme-app: #503E76;
  --md-sys-color-theme-app-ring: #B6A1E0;
  --md-sys-color-theme-notif: #B68390;
  --md-sys-color-brand-a: #4A386F;
  --md-sys-color-brand-b: #91889F;
  --md-sys-color-brand-c: #5A4880;
  --md-sys-color-brand-d: #91626E;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #220F46;
  --md-sys-color-on-shade-active-variant: #4F3D74;
  --md-sys-color-shade-inactive: #322F35;
  --md-sys-color-on-shade-inactive: #E7E0EB;
  --md-sys-color-on-shade-inactive-variant: #CBC4CF;
  --md-sys-color-shade-disabled: #0F0D13;
  --md-sys-color-overview-background: #CBC4CF;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #816DA8;
  --md-sys-color-secondary-palette-key-color: #7C738A;
  --md-sys-color-tertiary-palette-key-color: #9A6A77;
  --md-sys-color-neutral-palette-key-color: #79757C;
  --md-sys-color-neutral-variant-palette-key-color: #7A757F;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FEF7FF;
  --md-sys-color-on-background: #1D1B20;
  --md-sys-color-surface: #FEF7FF;
  --md-sys-color-surface-dim: #BCB7BF;
  --md-sys-color-surface-bright: #FEF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F5EFF7;
  --md-sys-color-surface-container: #E7E0E8;
  --md-sys-color-surface-container-high: #D8D2DA;
  --md-sys-color-surface-container-highest: #CAC5CC;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E7E0EB;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #2E2B33;
  --md-sys-color-outline-variant: #4B4751;
  --md-sys-color-inverse-surface: #322F35;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #67548E;
  --md-sys-color-primary: #342158;
  --md-sys-color-primary-dim: #26134A;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #513F77;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #513F77;
  --md-sys-color-primary-fixed-dim: #3A285F;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #D2BCFD;
  --md-sys-color-secondary: #2F293C;
  --md-sys-color-secondary-dim: #221C2F;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #4D465A;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #4D465A;
  --md-sys-color-secondary-fixed-dim: #362F43;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #45212C;
  --md-sys-color-tertiary-dim: #36141F;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #663D49;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #663D49;
  --md-sys-color-tertiary-fixed-dim: #4D2732;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #98000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #EADDFF;
  --md-sys-color-control-normal: #49454E;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E7E0E8;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC4CF;
  --md-sys-color-text-primary-inverse-disable-only: #E7E0E8;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E0E8;
  --md-sys-color-text-hint-inverse: #E7E0E8;
  --md-sys-color-widget-background: #F7EDFF;
  --md-sys-color-clock-hour: #1E182B;
  --md-sys-color-clock-minute: #220F46;
  --md-sys-color-clock-second: #4D2833;
  --md-sys-color-weather-temp: #3B295F;
  --md-sys-color-theme-app: #EADDFF;
  --md-sys-color-on-theme-app: #38265D;
  --md-sys-color-theme-app-ring: #B6A1E0;
  --md-sys-color-theme-notif: #B68390;
  --md-sys-color-brand-a: #352259;
  --md-sys-color-brand-b: #72697F;
  --md-sys-color-brand-c: #503E75;
  --md-sys-color-brand-d: #7A4D5A;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #000000;
  --md-sys-color-on-shade-active-variant: #311F55;
  --md-sys-color-shade-inactive: #322F35;
  --md-sys-color-on-shade-inactive: #F1E9F5;
  --md-sys-color-on-shade-inactive-variant: #F1E9F5;
  --md-sys-color-shade-disabled: #0F0D13;
  --md-sys-color-overview-background: #CBC4CF;
}
.dark {
  --md-sys-color-primary-palette-key-color: #816DA8;
  --md-sys-color-secondary-palette-key-color: #7C738A;
  --md-sys-color-tertiary-palette-key-color: #9A6A77;
  --md-sys-color-neutral-palette-key-color: #79757C;
  --md-sys-color-neutral-variant-palette-key-color: #7A757F;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #151218;
  --md-sys-color-on-background: #E7E0E8;
  --md-sys-color-surface: #151218;
  --md-sys-color-surface-dim: #151218;
  --md-sys-color-surface-bright: #3B383E;
  --md-sys-color-surface-container-lowest: #0F0D13;
  --md-sys-color-surface-container-low: #1D1B20;
  --md-sys-color-surface-container: #211F24;
  --md-sys-color-surface-container-high: #2B292F;
  --md-sys-color-surface-container-highest: #36343A;
  --md-sys-color-on-surface: #E7E0E8;
  --md-sys-color-surface-variant: #49454E;
  --md-sys-color-on-surface-variant: #CBC4CF;
  --md-sys-color-outline: #948F99;
  --md-sys-color-outline-variant: #49454E;
  --md-sys-color-inverse-surface: #E7E0E8;
  --md-sys-color-inverse-on-surface: #322F35;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D2BCFD;
  --md-sys-color-primary: #D2BCFD;
  --md-sys-color-primary-dim: #DECCFF;
  --md-sys-color-on-primary: #38265C;
  --md-sys-color-primary-container: #4F3D74;
  --md-sys-color-on-primary-container: #EADDFF;
  --md-sys-color-primary-fixed: #EADDFF;
  --md-sys-color-primary-fixed-dim: #D2BCFD;
  --md-sys-color-on-primary-fixed: #220F46;
  --md-sys-color-on-primary-fixed-variant: #4F3D74;
  --md-sys-color-inverse-primary: #67548E;
  --md-sys-color-secondary: #CDC2DB;
  --md-sys-color-secondary-dim: #E9DEF8;
  --md-sys-color-on-secondary: #342D40;
  --md-sys-color-secondary-container: #4B4358;
  --md-sys-color-on-secondary-container: #E9DEF8;
  --md-sys-color-secondary-fixed: #E9DEF8;
  --md-sys-color-secondary-fixed-dim: #CDC2DB;
  --md-sys-color-on-secondary-fixed: #1E182B;
  --md-sys-color-on-secondary-fixed-variant: #4B4358;
  --md-sys-color-tertiary: #F0B7C5;
  --md-sys-color-tertiary-dim: #FFC5D3;
  --md-sys-color-on-tertiary: #4A2530;
  --md-sys-color-tertiary-container: #643B46;
  --md-sys-color-on-tertiary-container: #FFD9E1;
  --md-sys-color-tertiary-fixed: #FFD9E1;
  --md-sys-color-tertiary-fixed-dim: #F0B7C5;
  --md-sys-color-on-tertiary-fixed: #31101B;
  --md-sys-color-on-tertiary-fixed-variant: #643B46;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #4F3D74;
  --md-sys-color-control-normal: #CBC4CF;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1B20;
  --md-sys-color-text-secondary-and-tertiary-inverse: #49454E;
  --md-sys-color-text-primary-inverse-disable-only: #1D1B20;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1B20;
  --md-sys-color-text-hint-inverse: #1D1B20;
  --md-sys-color-widget-background: #38265C;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #EADDFF;
  --md-sys-color-clock-second: #FFD9E1;
  --md-sys-color-weather-temp: #D2BCFD;
  --md-sys-color-theme-app: #4F3D74;
  --md-sys-color-on-theme-app: #D2BCFD;
  --md-sys-color-theme-app-ring: #B6A1E0;
  --md-sys-color-theme-notif: #F0B7C5;
  --md-sys-color-brand-a: #D2BCFD;
  --md-sys-color-brand-b: #FEF7FF;
  --md-sys-color-brand-c: #A590CE;
  --md-sys-color-brand-d: #FFD9E1;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #D2BCFD;
  --md-sys-color-on-shade-active-variant: #4F3D74;
  --md-sys-color-shade-inactive: #322F35;
  --md-sys-color-on-shade-inactive: #E7E0EB;
  --md-sys-color-on-shade-inactive-variant: #CBC4CF;
  --md-sys-color-shade-disabled: #0F0D13;
  --md-sys-color-overview-background: #55515A;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #816DA8;
  --md-sys-color-secondary-palette-key-color: #7C738A;
  --md-sys-color-tertiary-palette-key-color: #9A6A77;
  --md-sys-color-neutral-palette-key-color: #79757C;
  --md-sys-color-neutral-variant-palette-key-color: #7A757F;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #151218;
  --md-sys-color-on-background: #E7E0E8;
  --md-sys-color-surface: #151218;
  --md-sys-color-surface-dim: #151218;
  --md-sys-color-surface-bright: #46434A;
  --md-sys-color-surface-container-lowest: #08070B;
  --md-sys-color-surface-container-low: #1F1D22;
  --md-sys-color-surface-container: #29272D;
  --md-sys-color-surface-container-high: #343137;
  --md-sys-color-surface-container-highest: #3F3C43;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #49454E;
  --md-sys-color-on-surface-variant: #E1DAE5;
  --md-sys-color-outline: #B6B0BA;
  --md-sys-color-outline-variant: #948E99;
  --md-sys-color-inverse-surface: #E7E0E8;
  --md-sys-color-inverse-on-surface: #2B292F;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D2BCFD;
  --md-sys-color-primary: #E5D5FF;
  --md-sys-color-primary-dim: #DECCFF;
  --md-sys-color-on-primary: #2D1A51;
  --md-sys-color-primary-container: #9B86C4;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #EADDFF;
  --md-sys-color-primary-fixed-dim: #D2BCFD;
  --md-sys-color-on-primary-fixed: #18023C;
  --md-sys-color-on-primary-fixed-variant: #3E2C62;
  --md-sys-color-inverse-primary: #503E76;
  --md-sys-color-secondary: #E3D8F1;
  --md-sys-color-secondary-dim: #E9DEF8;
  --md-sys-color-on-secondary: #292335;
  --md-sys-color-secondary-container: #968DA4;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #E9DEF8;
  --md-sys-color-secondary-fixed-dim: #CDC2DB;
  --md-sys-color-on-secondary-fixed: #140E20;
  --md-sys-color-on-secondary-fixed-variant: #3A3346;
  --md-sys-color-tertiary: #FFD0DB;
  --md-sys-color-tertiary-dim: #FFC5D3;
  --md-sys-color-on-tertiary: #3D1A25;
  --md-sys-color-tertiary-container: #B68390;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #FFD9E1;
  --md-sys-color-tertiary-fixed-dim: #F0B7C5;
  --md-sys-color-on-tertiary-fixed: #250611;
  --md-sys-color-on-tertiary-fixed-variant: #512A36;
  --md-sys-color-error: #FFD2CC;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #FF5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #4F3D74;
  --md-sys-color-control-normal: #CBC4CF;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1B20;
  --md-sys-color-text-secondary-and-tertiary-inverse: #49454E;
  --md-sys-color-text-primary-inverse-disable-only: #1D1B20;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1B20;
  --md-sys-color-text-hint-inverse: #1D1B20;
  --md-sys-color-widget-background: #38265C;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #EADDFF;
  --md-sys-color-clock-second: #FFFFFF;
  --md-sys-color-weather-temp: #FFFFFF;
  --md-sys-color-theme-app: #4F3D74;
  --md-sys-color-on-theme-app: #E8DAFF;
  --md-sys-color-theme-app-ring: #B6A1E0;
  --md-sys-color-theme-notif: #F0B7C5;
  --md-sys-color-brand-a: #E4D4FF;
  --md-sys-color-brand-b: #FFFEFF;
  --md-sys-color-brand-c: #CAB4F5;
  --md-sys-color-brand-d: #FFE6EA;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #D2BCFD;
  --md-sys-color-on-shade-active-variant: #4F3D74;
  --md-sys-color-shade-inactive: #322F35;
  --md-sys-color-on-shade-inactive: #E7E0EB;
  --md-sys-color-on-shade-inactive-variant: #CBC4CF;
  --md-sys-color-shade-disabled: #0F0D13;
  --md-sys-color-overview-background: #55515A;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #816DA8;
  --md-sys-color-secondary-palette-key-color: #7C738A;
  --md-sys-color-tertiary-palette-key-color: #9A6A77;
  --md-sys-color-neutral-palette-key-color: #79757C;
  --md-sys-color-neutral-variant-palette-key-color: #7A757F;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #151218;
  --md-sys-color-on-background: #E7E0E8;
  --md-sys-color-surface: #151218;
  --md-sys-color-surface-dim: #151218;
  --md-sys-color-surface-bright: #524F55;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #211F24;
  --md-sys-color-surface-container: #322F35;
  --md-sys-color-surface-container-high: #3D3A40;
  --md-sys-color-surface-container-highest: #49454C;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #49454E;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #F5EDF9;
  --md-sys-color-outline-variant: #C7C0CB;
  --md-sys-color-inverse-surface: #E7E0E8;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D2BCFD;
  --md-sys-color-primary: #F6ECFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #CEB8F9;
  --md-sys-color-on-primary-container: #110031;
  --md-sys-color-primary-fixed: #EADDFF;
  --md-sys-color-primary-fixed-dim: #D2BCFD;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #18023C;
  --md-sys-color-inverse-primary: #503E76;
  --md-sys-color-secondary: #F6ECFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #C9BED7;
  --md-sys-color-on-secondary-container: #0E0819;
  --md-sys-color-secondary-fixed: #E9DEF8;
  --md-sys-color-secondary-fixed-dim: #CDC2DB;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #140E20;
  --md-sys-color-tertiary: #FFEBEE;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ECB4C2;
  --md-sys-color-on-tertiary-container: #1D020B;
  --md-sys-color-tertiary-fixed: #FFD9E1;
  --md-sys-color-tertiary-fixed-dim: #F0B7C5;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #250611;
  --md-sys-color-error: #FFECE9;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #FFAEA4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #4F3D74;
  --md-sys-color-control-normal: #CBC4CF;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1B20;
  --md-sys-color-text-secondary-and-tertiary-inverse: #49454E;
  --md-sys-color-text-primary-inverse-disable-only: #1D1B20;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1B20;
  --md-sys-color-text-hint-inverse: #1D1B20;
  --md-sys-color-widget-background: #38265C;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #FFFFFF;
  --md-sys-color-clock-second: #FFE6EA;
  --md-sys-color-weather-temp: #F3E8FF;
  --md-sys-color-theme-app: #4F3D74;
  --md-sys-color-on-theme-app: #FFFFFF;
  --md-sys-color-theme-app-ring: #B6A1E0;
  --md-sys-color-theme-notif: #F0B7C5;
  --md-sys-color-brand-a: #EEE1FF;
  --md-sys-color-brand-b: #FFFFFF;
  --md-sys-color-brand-c: #DFCCFF;
  --md-sys-color-brand-d: #FFF3F4;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #604D86;
  --md-sys-color-on-shade-active-variant: #311F55;
  --md-sys-color-shade-inactive: #322F35;
  --md-sys-color-on-shade-inactive: #E7E0EB;
  --md-sys-color-on-shade-inactive-variant: #F1E9F5;
  --md-sys-color-shade-disabled: #0F0D13;
  --md-sys-color-overview-background: #55515A;
}
