.light {
  --md-sys-color-primary-palette-key-color: #8468BE;
  --md-sys-color-secondary-palette-key-color: #7C738A;
  --md-sys-color-tertiary-palette-key-color: #9A6A77;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #F9F9F9;
  --md-sys-color-on-background: #1B1B1B;
  --md-sys-color-surface: #F9F9F9;
  --md-sys-color-surface-dim: #DADADA;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F3F3F3;
  --md-sys-color-surface-container: #EEEEEE;
  --md-sys-color-surface-container-high: #E8E8E8;
  --md-sys-color-surface-container-highest: #E2E2E2;
  --md-sys-color-on-surface: #1B1B1B;
  --md-sys-color-surface-variant: #E2E2E2;
  --md-sys-color-on-surface-variant: #474747;
  --md-sys-color-outline: #777777;
  --md-sys-color-outline-variant: #C6C6C6;
  --md-sys-color-inverse-surface: #303030;
  --md-sys-color-inverse-on-surface: #F1F1F1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6A4FA3;
  --md-sys-color-primary: #6A4FA3;
  --md-sys-color-primary-dim: #7458AD;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #EADDFF;
  --md-sys-color-on-primary-container: #523689;
  --md-sys-color-primary-fixed: #EADDFF;
  --md-sys-color-primary-fixed-dim: #D2BBFF;
  --md-sys-color-on-primary-fixed: #25005A;
  --md-sys-color-on-primary-fixed-variant: #523689;
  --md-sys-color-inverse-primary: #D2BBFF;
  --md-sys-color-secondary: #635B70;
  --md-sys-color-secondary-dim: #6C647A;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #E9DEF8;
  --md-sys-color-on-secondary-container: #4B4358;
  --md-sys-color-secondary-fixed: #E9DEF8;
  --md-sys-color-secondary-fixed-dim: #CDC2DB;
  --md-sys-color-on-secondary-fixed: #1E182B;
  --md-sys-color-on-secondary-fixed-variant: #4B4358;
  --md-sys-color-tertiary: #7E525E;
  --md-sys-color-tertiary-dim: #895B67;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #FFD9E1;
  --md-sys-color-on-tertiary-container: #643B46;
  --md-sys-color-tertiary-fixed: #FFD9E1;
  --md-sys-color-tertiary-fixed-dim: #F0B7C5;
  --md-sys-color-on-tertiary-fixed: #31101B;
  --md-sys-color-on-tertiary-fixed-variant: #643B46;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #EADDFF;
  --md-sys-color-control-normal: #474747;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C6C6C6;
  --md-sys-color-text-primary-inverse-disable-only: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E2E2E2;
  --md-sys-color-text-hint-inverse: #E2E2E2;
  --md-sys-color-widget-background: #F7EDFF;
  --md-sys-color-clock-hour: #4B4358;
  --md-sys-color-clock-minute: #614598;
  --md-sys-color-clock-second: #7E525E;
  --md-sys-color-weather-temp: #7256AB;
  --md-sys-color-theme-app: #EADDFF;
  --md-sys-color-on-theme-app: #6A4FA3;
  --md-sys-color-theme-app-ring: #BA9CF6;
  --md-sys-color-theme-notif: #B68390;
  --md-sys-color-brand-a: #684CA0;
  --md-sys-color-brand-b: #B1A7BF;
  --md-sys-color-brand-c: #8468BD;
  --md-sys-color-brand-d: #B17E8B;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #25005A;
  --md-sys-color-on-shade-active-variant: #523689;
  --md-sys-color-shade-inactive: #303030;
  --md-sys-color-on-shade-inactive: #E2E2E2;
  --md-sys-color-on-shade-inactive-variant: #C6C6C6;
  --md-sys-color-shade-disabled: #0E0E0E;
  --md-sys-color-overview-background: #C6C6C6;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8468BE;
  --md-sys-color-secondary-palette-key-color: #7C738A;
  --md-sys-color-tertiary-palette-key-color: #9A6A77;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #F9F9F9;
  --md-sys-color-on-background: #1B1B1B;
  --md-sys-color-surface: #F9F9F9;
  --md-sys-color-surface-dim: #C6C6C6;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F3F3F3;
  --md-sys-color-surface-container: #E8E8E8;
  --md-sys-color-surface-container-high: #DDDDDD;
  --md-sys-color-surface-container-highest: #D1D1D1;
  --md-sys-color-on-surface: #111111;
  --md-sys-color-surface-variant: #E2E2E2;
  --md-sys-color-on-surface-variant: #363636;
  --md-sys-color-outline: #525252;
  --md-sys-color-outline-variant: #6D6D6D;
  --md-sys-color-inverse-surface: #303030;
  --md-sys-color-inverse-on-surface: #F1F1F1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6A4FA3;
  --md-sys-color-primary: #412477;
  --md-sys-color-primary-dim: #503486;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #7A5EB3;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #7A5EB3;
  --md-sys-color-primary-fixed-dim: #604598;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #D2BBFF;
  --md-sys-color-secondary: #3A3346;
  --md-sys-color-secondary-dim: #484155;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #72697F;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #72697F;
  --md-sys-color-secondary-fixed-dim: #595166;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #512A36;
  --md-sys-color-tertiary-dim: #613844;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #8F606C;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #8F606C;
  --md-sys-color-tertiary-fixed-dim: #744854;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8F0009;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #CF2C27;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #EADDFF;
  --md-sys-color-control-normal: #474747;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C6C6C6;
  --md-sys-color-text-primary-inverse-disable-only: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E2E2E2;
  --md-sys-color-text-hint-inverse: #E2E2E2;
  --md-sys-color-widget-background: #F7EDFF;
  --md-sys-color-clock-hour: #4B4358;
  --md-sys-color-clock-minute: #44287A;
  --md-sys-color-clock-second: #000000;
  --md-sys-color-weather-temp: #000000;
  --md-sys-color-theme-app: #EADDFF;
  --md-sys-color-on-theme-app: #53378A;
  --md-sys-color-theme-app-ring: #BA9CF6;
  --md-sys-color-theme-notif: #B68390;
  --md-sys-color-brand-a: #4D3183;
  --md-sys-color-brand-b: #91889F;
  --md-sys-color-brand-c: #5D4295;
  --md-sys-color-brand-d: #91626E;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #25005A;
  --md-sys-color-on-shade-active-variant: #523689;
  --md-sys-color-shade-inactive: #303030;
  --md-sys-color-on-shade-inactive: #E2E2E2;
  --md-sys-color-on-shade-inactive-variant: #C6C6C6;
  --md-sys-color-shade-disabled: #0E0E0E;
  --md-sys-color-overview-background: #C6C6C6;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #8468BE;
  --md-sys-color-secondary-palette-key-color: #7C738A;
  --md-sys-color-tertiary-palette-key-color: #9A6A77;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #F9F9F9;
  --md-sys-color-on-background: #1B1B1B;
  --md-sys-color-surface: #F9F9F9;
  --md-sys-color-surface-dim: #B9B9B9;
  --md-sys-color-surface-bright: #F9F9F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F1F1F1;
  --md-sys-color-surface-container: #E2E2E2;
  --md-sys-color-surface-container-high: #D4D4D4;
  --md-sys-color-surface-container-highest: #C6C6C6;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E2E2E2;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #2C2C2C;
  --md-sys-color-outline-variant: #494949;
  --md-sys-color-inverse-surface: #303030;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6A4FA3;
  --md-sys-color-primary: #36186C;
  --md-sys-color-primary-dim: #29045F;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #54398B;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #54398B;
  --md-sys-color-primary-fixed-dim: #3D2073;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #D2BBFF;
  --md-sys-color-secondary: #2F293C;
  --md-sys-color-secondary-dim: #221C2F;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #4D465A;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #4D465A;
  --md-sys-color-secondary-fixed-dim: #362F43;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #45212C;
  --md-sys-color-tertiary-dim: #36141F;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #663D49;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #663D49;
  --md-sys-color-tertiary-fixed-dim: #4D2732;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #98000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #EADDFF;
  --md-sys-color-control-normal: #474747;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse: #C6C6C6;
  --md-sys-color-text-primary-inverse-disable-only: #E2E2E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E2E2E2;
  --md-sys-color-text-hint-inverse: #E2E2E2;
  --md-sys-color-widget-background: #F7EDFF;
  --md-sys-color-clock-hour: #1E182B;
  --md-sys-color-clock-minute: #25005A;
  --md-sys-color-clock-second: #4D2833;
  --md-sys-color-weather-temp: #3E2074;
  --md-sys-color-theme-app: #EADDFF;
  --md-sys-color-on-theme-app: #3B1D71;
  --md-sys-color-theme-app-ring: #BA9CF6;
  --md-sys-color-theme-notif: #B68390;
  --md-sys-color-brand-a: #37196D;
  --md-sys-color-brand-b: #72697F;
  --md-sys-color-brand-c: #53378A;
  --md-sys-color-brand-d: #7A4D5A;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #000000;
  --md-sys-color-on-shade-active-variant: #34156A;
  --md-sys-color-shade-inactive: #303030;
  --md-sys-color-on-shade-inactive: #ECECEC;
  --md-sys-color-on-shade-inactive-variant: #ECECEC;
  --md-sys-color-shade-disabled: #0E0E0E;
  --md-sys-color-overview-background: #C6C6C6;
}
.dark {
  --md-sys-color-primary-palette-key-color: #8468BE;
  --md-sys-color-secondary-palette-key-color: #7C738A;
  --md-sys-color-tertiary-palette-key-color: #9A6A77;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #E2E2E2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #393939;
  --md-sys-color-surface-container-lowest: #0E0E0E;
  --md-sys-color-surface-container-low: #1B1B1B;
  --md-sys-color-surface-container: #1F1F1F;
  --md-sys-color-surface-container-high: #2A2A2A;
  --md-sys-color-surface-container-highest: #353535;
  --md-sys-color-on-surface: #E2E2E2;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #C6C6C6;
  --md-sys-color-outline: #919191;
  --md-sys-color-outline-variant: #474747;
  --md-sys-color-inverse-surface: #E2E2E2;
  --md-sys-color-inverse-on-surface: #303030;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D2BBFF;
  --md-sys-color-primary: #D2BBFF;
  --md-sys-color-primary-dim: #DECCFF;
  --md-sys-color-on-primary: #3B1D71;
  --md-sys-color-primary-container: #523689;
  --md-sys-color-on-primary-container: #EADDFF;
  --md-sys-color-primary-fixed: #EADDFF;
  --md-sys-color-primary-fixed-dim: #D2BBFF;
  --md-sys-color-on-primary-fixed: #25005A;
  --md-sys-color-on-primary-fixed-variant: #523689;
  --md-sys-color-inverse-primary: #6A4FA3;
  --md-sys-color-secondary: #CDC2DB;
  --md-sys-color-secondary-dim: #E9DEF8;
  --md-sys-color-on-secondary: #342D40;
  --md-sys-color-secondary-container: #4B4358;
  --md-sys-color-on-secondary-container: #E9DEF8;
  --md-sys-color-secondary-fixed: #E9DEF8;
  --md-sys-color-secondary-fixed-dim: #CDC2DB;
  --md-sys-color-on-secondary-fixed: #1E182B;
  --md-sys-color-on-secondary-fixed-variant: #4B4358;
  --md-sys-color-tertiary: #F0B7C5;
  --md-sys-color-tertiary-dim: #FFC5D3;
  --md-sys-color-on-tertiary: #4A2530;
  --md-sys-color-tertiary-container: #643B46;
  --md-sys-color-on-tertiary-container: #FFD9E1;
  --md-sys-color-tertiary-fixed: #FFD9E1;
  --md-sys-color-tertiary-fixed-dim: #F0B7C5;
  --md-sys-color-on-tertiary-fixed: #31101B;
  --md-sys-color-on-tertiary-fixed-variant: #643B46;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #523689;
  --md-sys-color-control-normal: #C6C6C6;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1B1B1B;
  --md-sys-color-text-hint-inverse: #1B1B1B;
  --md-sys-color-widget-background: #3B1D71;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #EADDFF;
  --md-sys-color-clock-second: #FFD9E1;
  --md-sys-color-weather-temp: #D2BBFF;
  --md-sys-color-theme-app: #523689;
  --md-sys-color-on-theme-app: #D2BBFF;
  --md-sys-color-theme-app-ring: #BA9CF6;
  --md-sys-color-theme-notif: #F0B7C5;
  --md-sys-color-brand-a: #D2BBFF;
  --md-sys-color-brand-b: #FEF7FF;
  --md-sys-color-brand-c: #A88BE4;
  --md-sys-color-brand-d: #FFD9E1;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #D2BBFF;
  --md-sys-color-on-shade-active-variant: #523689;
  --md-sys-color-shade-inactive: #303030;
  --md-sys-color-on-shade-inactive: #E2E2E2;
  --md-sys-color-on-shade-inactive-variant: #C6C6C6;
  --md-sys-color-shade-disabled: #0E0E0E;
  --md-sys-color-overview-background: #525252;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8468BE;
  --md-sys-color-secondary-palette-key-color: #7C738A;
  --md-sys-color-tertiary-palette-key-color: #9A6A77;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #E2E2E2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #444444;
  --md-sys-color-surface-container-lowest: #070707;
  --md-sys-color-surface-container-low: #1D1D1D;
  --md-sys-color-surface-container: #282828;
  --md-sys-color-surface-container-high: #323232;
  --md-sys-color-surface-container-highest: #3E3E3E;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #DCDCDC;
  --md-sys-color-outline: #B2B2B2;
  --md-sys-color-outline-variant: #909090;
  --md-sys-color-inverse-surface: #E2E2E2;
  --md-sys-color-inverse-on-surface: #2A2A2A;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D2BBFF;
  --md-sys-color-primary: #E5D5FF;
  --md-sys-color-primary-dim: #DECCFF;
  --md-sys-color-on-primary: #300E66;
  --md-sys-color-primary-container: #9E81D9;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #EADDFF;
  --md-sys-color-primary-fixed-dim: #D2BBFF;
  --md-sys-color-on-primary-fixed: #180040;
  --md-sys-color-on-primary-fixed-variant: #412477;
  --md-sys-color-inverse-primary: #53378A;
  --md-sys-color-secondary: #E3D8F1;
  --md-sys-color-secondary-dim: #E9DEF8;
  --md-sys-color-on-secondary: #292335;
  --md-sys-color-secondary-container: #968DA4;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #E9DEF8;
  --md-sys-color-secondary-fixed-dim: #CDC2DB;
  --md-sys-color-on-secondary-fixed: #140E20;
  --md-sys-color-on-secondary-fixed-variant: #3A3346;
  --md-sys-color-tertiary: #FFD0DB;
  --md-sys-color-tertiary-dim: #FFC5D3;
  --md-sys-color-on-tertiary: #3D1A25;
  --md-sys-color-tertiary-container: #B68390;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #FFD9E1;
  --md-sys-color-tertiary-fixed-dim: #F0B7C5;
  --md-sys-color-on-tertiary-fixed: #250611;
  --md-sys-color-on-tertiary-fixed-variant: #512A36;
  --md-sys-color-error: #FFD2CC;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #FF5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #523689;
  --md-sys-color-control-normal: #C6C6C6;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1B1B1B;
  --md-sys-color-text-hint-inverse: #1B1B1B;
  --md-sys-color-widget-background: #3B1D71;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #EADDFF;
  --md-sys-color-clock-second: #FFFFFF;
  --md-sys-color-weather-temp: #FFFFFF;
  --md-sys-color-theme-app: #523689;
  --md-sys-color-on-theme-app: #E8DAFF;
  --md-sys-color-theme-app-ring: #BA9CF6;
  --md-sys-color-theme-notif: #F0B7C5;
  --md-sys-color-brand-a: #E4D4FF;
  --md-sys-color-brand-b: #FFFEFF;
  --md-sys-color-brand-c: #CCB2FF;
  --md-sys-color-brand-d: #FFE6EA;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #D2BBFF;
  --md-sys-color-on-shade-active-variant: #523689;
  --md-sys-color-shade-inactive: #303030;
  --md-sys-color-on-shade-inactive: #E2E2E2;
  --md-sys-color-on-shade-inactive-variant: #C6C6C6;
  --md-sys-color-shade-disabled: #0E0E0E;
  --md-sys-color-overview-background: #525252;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8468BE;
  --md-sys-color-secondary-palette-key-color: #7C738A;
  --md-sys-color-tertiary-palette-key-color: #9A6A77;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #E2E2E2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #505050;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1F1F1F;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3B3B3B;
  --md-sys-color-surface-container-highest: #474747;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #F0F0F0;
  --md-sys-color-outline-variant: #C2C2C2;
  --md-sys-color-inverse-surface: #E2E2E2;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D2BBFF;
  --md-sys-color-primary: #F6ECFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #CFB7FF;
  --md-sys-color-on-primary-container: #110031;
  --md-sys-color-primary-fixed: #EADDFF;
  --md-sys-color-primary-fixed-dim: #D2BBFF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #180040;
  --md-sys-color-inverse-primary: #53378A;
  --md-sys-color-secondary: #F6ECFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #C9BED7;
  --md-sys-color-on-secondary-container: #0E0819;
  --md-sys-color-secondary-fixed: #E9DEF8;
  --md-sys-color-secondary-fixed-dim: #CDC2DB;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #140E20;
  --md-sys-color-tertiary: #FFEBEE;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ECB4C2;
  --md-sys-color-on-tertiary-container: #1D020B;
  --md-sys-color-tertiary-fixed: #FFD9E1;
  --md-sys-color-tertiary-fixed-dim: #F0B7C5;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #250611;
  --md-sys-color-error: #FFECE9;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #FFAEA4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #523689;
  --md-sys-color-control-normal: #C6C6C6;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1B1B1B;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1B1B1B;
  --md-sys-color-text-hint-inverse: #1B1B1B;
  --md-sys-color-widget-background: #3B1D71;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #FFFFFF;
  --md-sys-color-clock-second: #FFE6EA;
  --md-sys-color-weather-temp: #F3E8FF;
  --md-sys-color-theme-app: #523689;
  --md-sys-color-on-theme-app: #FFFFFF;
  --md-sys-color-theme-app-ring: #BA9CF6;
  --md-sys-color-theme-notif: #F0B7C5;
  --md-sys-color-brand-a: #EEE1FF;
  --md-sys-color-brand-b: #FFFFFF;
  --md-sys-color-brand-c: #DFCCFF;
  --md-sys-color-brand-d: #FFF3F4;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #EADDFF;
  --md-sys-color-on-shade-active: #63479B;
  --md-sys-color-on-shade-active-variant: #34156A;
  --md-sys-color-shade-inactive: #303030;
  --md-sys-color-on-shade-inactive: #E2E2E2;
  --md-sys-color-on-shade-inactive-variant: #ECECEC;
  --md-sys-color-shade-disabled: #0E0E0E;
  --md-sys-color-overview-background: #525252;
}
