.light {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #867184;
  --md-sys-color-tertiary-palette-key-color: #A1676F;
  --md-sys-color-neutral-palette-key-color: #7C757A;
  --md-sys-color-neutral-variant-palette-key-color: #80747D;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #FFF7FA;
  --md-sys-color-on-background: #393037;
  --md-sys-color-surface: #FFF7FA;
  --md-sys-color-surface-dim: #E5D6E0;
  --md-sys-color-surface-bright: #FFF7FA;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FDF0F7;
  --md-sys-color-surface-container: #F8EAF2;
  --md-sys-color-surface-container-high: #F2E4ED;
  --md-sys-color-surface-container-highest: #EDDEE8;
  --md-sys-color-on-surface: #393037;
  --md-sys-color-surface-variant: #EDDEE8;
  --md-sys-color-on-surface-variant: #675C64;
  --md-sys-color-outline: #837780;
  --md-sys-color-outline-variant: #BCAEB8;
  --md-sys-color-inverse-surface: #110D10;
  --md-sys-color-inverse-on-surface: #A39BA0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7A517A;
  --md-sys-color-primary: #7A517A;
  --md-sys-color-primary-dim: #6D456D;
  --md-sys-color-on-primary: #FFF7FA;
  --md-sys-color-primary-container: #F8C4F4;
  --md-sys-color-on-primary-container: #623B63;
  --md-sys-color-primary-fixed: #F8C4F4;
  --md-sys-color-primary-fixed-dim: #E9B6E6;
  --md-sys-color-on-primary-fixed: #4E284F;
  --md-sys-color-on-primary-fixed-variant: #6D446D;
  --md-sys-color-inverse-primary: #F8C4F4;
  --md-sys-color-secondary: #6D596B;
  --md-sys-color-secondary-dim: #604D5F;
  --md-sys-color-on-secondary: #FFF7FA;
  --md-sys-color-secondary-container: #F5DBF0;
  --md-sys-color-on-secondary-container: #5F4C5D;
  --md-sys-color-secondary-fixed: #F5DBF0;
  --md-sys-color-secondary-fixed-dim: #E7CDE2;
  --md-sys-color-on-secondary-fixed: #4C3A4A;
  --md-sys-color-on-secondary-fixed-variant: #695567;
  --md-sys-color-tertiary: #865057;
  --md-sys-color-tertiary-dim: #78444B;
  --md-sys-color-on-tertiary: #FFF7F7;
  --md-sys-color-tertiary-container: #FDB7BF;
  --md-sys-color-on-tertiary-container: #64333B;
  --md-sys-color-tertiary-fixed: #FDB7BF;
  --md-sys-color-tertiary-fixed-dim: #EEAAB2;
  --md-sys-color-on-tertiary-fixed: #4C2028;
  --md-sys-color-on-tertiary-fixed-variant: #6F3C44;
  --md-sys-color-error: #A8364B;
  --md-sys-color-error-dim: #6B0221;
  --md-sys-color-on-error: #FFF7F7;
  --md-sys-color-error-container: #F97386;
  --md-sys-color-on-error-container: #6E0523;
  --md-sys-color-control-activated: #F8C4F4;
  --md-sys-color-control-normal: #675C64;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #A39BA0;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D1C2CC;
  --md-sys-color-text-primary-inverse-disable-only: #EAE0E5;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EAE0E5;
  --md-sys-color-text-hint-inverse: #EAE0E5;
  --md-sys-color-widget-background: #FFEBFA;
  --md-sys-color-clock-hour: #4A3849;
  --md-sys-color-clock-minute: #6F476F;
  --md-sys-color-clock-second: #854F56;
  --md-sys-color-weather-temp: #7A5079;
  --md-sys-color-theme-app: #F8C4F4;
  --md-sys-color-on-theme-app: #583158;
  --md-sys-color-theme-app-ring: #CC9CC9;
  --md-sys-color-theme-notif: #FAB4BC;
  --md-sys-color-brand-a: #774E76;
  --md-sys-color-brand-b: #BCA4B8;
  --md-sys-color-brand-c: #946893;
  --md-sys-color-brand-d: #B97B83;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #FFD6FA;
  --md-sys-color-on-shade-active: #80567F;
  --md-sys-color-on-shade-active-variant: #603960;
  --md-sys-color-shade-inactive: #342F33;
  --md-sys-color-on-shade-inactive: #EDDEE8;
  --md-sys-color-on-shade-inactive-variant: #D1C2CC;
  --md-sys-color-shade-disabled: #110D10;
  --md-sys-color-overview-background: #D1C2CC;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #867184;
  --md-sys-color-tertiary-palette-key-color: #A1676F;
  --md-sys-color-neutral-palette-key-color: #7C757A;
  --md-sys-color-neutral-variant-palette-key-color: #80747D;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #FFF7FA;
  --md-sys-color-on-background: #2A2129;
  --md-sys-color-surface: #FFF7FA;
  --md-sys-color-surface-dim: #E5D6E0;
  --md-sys-color-surface-bright: #FFF7FA;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FDF0F7;
  --md-sys-color-surface-container: #F8EAF2;
  --md-sys-color-surface-container-high: #F2E4ED;
  --md-sys-color-surface-container-highest: #EDDEE8;
  --md-sys-color-on-surface: #2A2129;
  --md-sys-color-surface-variant: #EDDEE8;
  --md-sys-color-on-surface-variant: #4A4048;
  --md-sys-color-outline: #675C64;
  --md-sys-color-outline-variant: #837780;
  --md-sys-color-inverse-surface: #110D10;
  --md-sys-color-inverse-on-surface: #CCC2C7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #5C355C;
  --md-sys-color-primary: #5C355C;
  --md-sys-color-primary-dim: #4F2A50;
  --md-sys-color-on-primary: #FEC9F9;
  --md-sys-color-primary-container: #926690;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #926690;
  --md-sys-color-primary-fixed-dim: #845A83;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #F8C4F4;
  --md-sys-color-secondary: #4F3D4E;
  --md-sys-color-secondary-dim: #433242;
  --md-sys-color-on-secondary: #ECD2E7;
  --md-sys-color-secondary-container: #836E81;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #836E81;
  --md-sys-color-secondary-fixed-dim: #766274;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #65343C;
  --md-sys-color-tertiary-dim: #582931;
  --md-sys-color-on-tertiary: #FFCDD2;
  --md-sys-color-tertiary-container: #9E646C;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #9E646C;
  --md-sys-color-tertiary-fixed-dim: #905860;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #821830;
  --md-sys-color-error-dim: #6B0221;
  --md-sys-color-on-error: #FFCDD1;
  --md-sys-color-error-container: #C44B5F;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #926690;
  --md-sys-color-control-normal: #4A4048;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #CCC2C7;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D1C2CC;
  --md-sys-color-text-primary-inverse-disable-only: #EAE0E5;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EAE0E5;
  --md-sys-color-text-hint-inverse: #EAE0E5;
  --md-sys-color-widget-background: #FFEBFA;
  --md-sys-color-clock-hour: #2F1F2E;
  --md-sys-color-clock-minute: #512C52;
  --md-sys-color-clock-second: #000000;
  --md-sys-color-weather-temp: #000000;
  --md-sys-color-theme-app: #F8C4F4;
  --md-sys-color-on-theme-app: #341136;
  --md-sys-color-theme-app-ring: #926690;
  --md-sys-color-theme-notif: #FAB4BC;
  --md-sys-color-brand-a: #5A345B;
  --md-sys-color-brand-b: #9C8599;
  --md-sys-color-brand-c: #6C446C;
  --md-sys-color-brand-d: #985F67;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #FFD6FA;
  --md-sys-color-on-shade-active: #613A61;
  --md-sys-color-on-shade-active-variant: #603960;
  --md-sys-color-shade-inactive: #342F33;
  --md-sys-color-on-shade-inactive: #EDDEE8;
  --md-sys-color-on-shade-inactive-variant: #D1C2CC;
  --md-sys-color-shade-disabled: #110D10;
  --md-sys-color-overview-background: #D1C2CC;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #867184;
  --md-sys-color-tertiary-palette-key-color: #A1676F;
  --md-sys-color-neutral-palette-key-color: #7C757A;
  --md-sys-color-neutral-variant-palette-key-color: #80747D;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #FFF7FA;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #FFF7FA;
  --md-sys-color-surface-dim: #E5D6E0;
  --md-sys-color-surface-bright: #FFF7FA;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FDF0F7;
  --md-sys-color-surface-container: #F8EAF2;
  --md-sys-color-surface-container-high: #F2E4ED;
  --md-sys-color-surface-container-highest: #EDDEE8;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #EDDEE8;
  --md-sys-color-on-surface-variant: #2A2129;
  --md-sys-color-outline: #4A4048;
  --md-sys-color-outline-variant: #594F57;
  --md-sys-color-inverse-surface: #110D10;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #39163B;
  --md-sys-color-primary: #39163B;
  --md-sys-color-primary-dim: #2D0B30;
  --md-sys-color-on-primary: #FECAFA;
  --md-sys-color-primary-container: #6C446C;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #6C446C;
  --md-sys-color-primary-fixed-dim: #603960;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #F8C4F4;
  --md-sys-color-secondary: #2F1F2E;
  --md-sys-color-secondary-dim: #241524;
  --md-sys-color-on-secondary: #EDD2E8;
  --md-sys-color-secondary-container: #5F4C5E;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #5F4C5E;
  --md-sys-color-secondary-fixed-dim: #534152;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #40161E;
  --md-sys-color-tertiary-dim: #330C14;
  --md-sys-color-on-tertiary: #FFCED3;
  --md-sys-color-tertiary-container: #77434A;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #77434A;
  --md-sys-color-tertiary-fixed-dim: #69383F;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #500016;
  --md-sys-color-error-dim: #3D000F;
  --md-sys-color-on-error: #FFCED2;
  --md-sys-color-error-container: #97283E;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #6C446C;
  --md-sys-color-control-normal: #2A2129;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #FFFFFF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D1C2CC;
  --md-sys-color-text-primary-inverse-disable-only: #EAE0E5;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EAE0E5;
  --md-sys-color-text-hint-inverse: #EAE0E5;
  --md-sys-color-widget-background: #FFEBFA;
  --md-sys-color-clock-hour: #000000;
  --md-sys-color-clock-minute: #2F0D32;
  --md-sys-color-clock-second: #52252C;
  --md-sys-color-weather-temp: #4A254B;
  --md-sys-color-theme-app: #F8C4F4;
  --md-sys-color-on-theme-app: #000000;
  --md-sys-color-theme-app-ring: #845983;
  --md-sys-color-theme-notif: #FAB4BC;
  --md-sys-color-brand-a: #452147;
  --md-sys-color-brand-b: #7D687B;
  --md-sys-color-brand-c: #633B63;
  --md-sys-color-brand-d: #824C54;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #FFD6FA;
  --md-sys-color-on-shade-active: #401C42;
  --md-sys-color-on-shade-active-variant: #401C42;
  --md-sys-color-shade-inactive: #342F33;
  --md-sys-color-on-shade-inactive: #FFFFFF;
  --md-sys-color-on-shade-inactive-variant: #F7E8F2;
  --md-sys-color-shade-disabled: #110D10;
  --md-sys-color-overview-background: #D1C2CC;
}
.dark {
  --md-sys-color-primary-palette-key-color: #8F6C8D;
  --md-sys-color-secondary-palette-key-color: #867184;
  --md-sys-color-tertiary-palette-key-color: #A1676F;
  --md-sys-color-neutral-palette-key-color: #7C757A;
  --md-sys-color-neutral-variant-palette-key-color: #80747D;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #110D10;
  --md-sys-color-on-background: #F0E1EB;
  --md-sys-color-surface: #110D10;
  --md-sys-color-surface-dim: #110D10;
  --md-sys-color-surface-bright: #322931;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #171216;
  --md-sys-color-surface-container: #1E181D;
  --md-sys-color-surface-container-high: #251D24;
  --md-sys-color-surface-container-highest: #2C232B;
  --md-sys-color-on-surface: #F0E1EB;
  --md-sys-color-surface-variant: #2C232B;
  --md-sys-color-on-surface-variant: #B5A7B1;
  --md-sys-color-outline: #7E727B;
  --md-sys-color-outline-variant: #4F454D;
  --md-sys-color-inverse-surface: #FFF7FA;
  --md-sys-color-inverse-on-surface: #5A5358;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #E3BADF;
  --md-sys-color-primary: #E3BADF;
  --md-sys-color-primary-dim: #D4ACD1;
  --md-sys-color-on-primary: #543654;
  --md-sys-color-primary-container: #684867;
  --md-sys-color-on-primary-container: #FFD7FA;
  --md-sys-color-primary-fixed: #F7CDF3;
  --md-sys-color-primary-fixed-dim: #E9BFE4;
  --md-sys-color-on-primary-fixed: #4D304D;
  --md-sys-color-on-primary-fixed-variant: #6C4B6B;
  --md-sys-color-inverse-primary: #755474;
  --md-sys-color-secondary: #D8BFD4;
  --md-sys-color-secondary-dim: #CAB1C6;
  --md-sys-color-on-secondary: #4D3A4B;
  --md-sys-color-secondary-container: #483646;
  --md-sys-color-on-secondary-container: #D1B8CD;
  --md-sys-color-secondary-fixed: #F5DBF0;
  --md-sys-color-secondary-fixed-dim: #E7CDE2;
  --md-sys-color-on-secondary-fixed: #4C3A4A;
  --md-sys-color-on-secondary-fixed-variant: #695567;
  --md-sys-color-tertiary: #FFCACF;
  --md-sys-color-tertiary-dim: #FDB7BF;
  --md-sys-color-on-tertiary: #6E3C43;
  --md-sys-color-tertiary-container: #FDB7BF;
  --md-sys-color-on-tertiary-container: #64333B;
  --md-sys-color-tertiary-fixed: #FDB7BF;
  --md-sys-color-tertiary-fixed-dim: #EEAAB2;
  --md-sys-color-on-tertiary-fixed: #4C2028;
  --md-sys-color-on-tertiary-fixed-variant: #6F3C44;
  --md-sys-color-error: #F97386;
  --md-sys-color-error-dim: #C44B5F;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #871C34;
  --md-sys-color-on-error-container: #FF97A3;
  --md-sys-color-control-activated: #684867;
  --md-sys-color-control-normal: #B5A7B1;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #5A5358;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4E444C;
  --md-sys-color-text-primary-inverse-disable-only: #1F1A1E;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1F1A1E;
  --md-sys-color-text-hint-inverse: #1F1A1E;
  --md-sys-color-widget-background: #3C2B3B;
  --md-sys-color-clock-hour: #E3BADF;
  --md-sys-color-clock-minute: #FFD6FA;
  --md-sys-color-clock-second: #FFD9DD;
  --md-sys-color-weather-temp: #E3BADF;
  --md-sys-color-theme-app: #3C2B3B;
  --md-sys-color-on-theme-app: #E3BADF;
  --md-sys-color-theme-app-ring: #C69FC3;
  --md-sys-color-theme-notif: #CD8D95;
  --md-sys-color-brand-a: #E3BADF;
  --md-sys-color-brand-b: #FFF7FA;
  --md-sys-color-brand-c: #AD88AB;
  --md-sys-color-brand-d: #FFD9DD;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #FFD6FA;
  --md-sys-color-on-shade-active: #2C112D;
  --md-sys-color-on-shade-active-variant: #5B3C5B;
  --md-sys-color-shade-inactive: #342F33;
  --md-sys-color-on-shade-inactive: #B5A7B1;
  --md-sys-color-on-shade-inactive-variant: #D1C2CC;
  --md-sys-color-shade-disabled: #110D10;
  --md-sys-color-overview-background: #5A4F58;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8F6C8D;
  --md-sys-color-secondary-palette-key-color: #867184;
  --md-sys-color-tertiary-palette-key-color: #A1676F;
  --md-sys-color-neutral-palette-key-color: #7C757A;
  --md-sys-color-neutral-variant-palette-key-color: #80747D;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #110D10;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #110D10;
  --md-sys-color-surface-dim: #110D10;
  --md-sys-color-surface-bright: #322931;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #171216;
  --md-sys-color-surface-container: #1E181D;
  --md-sys-color-surface-container-high: #251D24;
  --md-sys-color-surface-container-highest: #2C232B;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #2C232B;
  --md-sys-color-on-surface-variant: #C3B5BF;
  --md-sys-color-outline: #9C9099;
  --md-sys-color-outline-variant: #7E727B;
  --md-sys-color-inverse-surface: #FFF7FA;
  --md-sys-color-inverse-on-surface: #3C363B;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #E3BADF;
  --md-sys-color-primary: #E3BADF;
  --md-sys-color-primary-dim: #D4ACD1;
  --md-sys-color-on-primary: #492C49;
  --md-sys-color-primary-container: #8C698A;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #F7CDF3;
  --md-sys-color-primary-fixed-dim: #E9BFE4;
  --md-sys-color-on-primary-fixed: #270D29;
  --md-sys-color-on-primary-fixed-variant: #4D304D;
  --md-sys-color-inverse-primary: #6B4A6A;
  --md-sys-color-secondary: #D8BFD4;
  --md-sys-color-secondary-dim: #CAB1C6;
  --md-sys-color-on-secondary: #423141;
  --md-sys-color-secondary-container: #836E81;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #F5DBF0;
  --md-sys-color-secondary-fixed-dim: #E7CDE2;
  --md-sys-color-on-secondary-fixed: #2A1A29;
  --md-sys-color-on-secondary-fixed-variant: #4C3A4A;
  --md-sys-color-tertiary: #FFCACF;
  --md-sys-color-tertiary-dim: #FDB7BF;
  --md-sys-color-on-tertiary: #63333A;
  --md-sys-color-tertiary-container: #FDB7BF;
  --md-sys-color-on-tertiary-container: #582A31;
  --md-sys-color-tertiary-fixed: #FDB7BF;
  --md-sys-color-tertiary-fixed-dim: #EEAAB2;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #4C2028;
  --md-sys-color-error: #FF9DA8;
  --md-sys-color-error-dim: #FF8695;
  --md-sys-color-on-error: #5F001C;
  --md-sys-color-error-container: #C44B5F;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #8C698A;
  --md-sys-color-control-normal: #C3B5BF;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #3C363B;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4E444C;
  --md-sys-color-text-primary-inverse-disable-only: #1F1A1E;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1F1A1E;
  --md-sys-color-text-hint-inverse: #1F1A1E;
  --md-sys-color-widget-background: #3C2B3B;
  --md-sys-color-clock-hour: #E3BADF;
  --md-sys-color-clock-minute: #FFD6FA;
  --md-sys-color-clock-second: #FFFFFF;
  --md-sys-color-weather-temp: #FFFFFF;
  --md-sys-color-theme-app: #3C2B3B;
  --md-sys-color-on-theme-app: #FFE4FA;
  --md-sys-color-theme-app-ring: #C69FC3;
  --md-sys-color-theme-notif: #CD8D95;
  --md-sys-color-brand-a: #EEC4EA;
  --md-sys-color-brand-b: #FFF7FA;
  --md-sys-color-brand-c: #D1A9CE;
  --md-sys-color-brand-d: #FFD9DD;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #FFD6FA;
  --md-sys-color-on-shade-active: #2C112D;
  --md-sys-color-on-shade-active-variant: #5B3C5B;
  --md-sys-color-shade-inactive: #342F33;
  --md-sys-color-on-shade-inactive: #C8BAC4;
  --md-sys-color-on-shade-inactive-variant: #D1C2CC;
  --md-sys-color-shade-disabled: #110D10;
  --md-sys-color-overview-background: #5A4F58;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8F6C8D;
  --md-sys-color-secondary-palette-key-color: #867184;
  --md-sys-color-tertiary-palette-key-color: #A1676F;
  --md-sys-color-neutral-palette-key-color: #7C757A;
  --md-sys-color-neutral-variant-palette-key-color: #80747D;
  --md-sys-color-error-palette-key-color: #C74D61;
  --md-sys-color-background: #110D10;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #110D10;
  --md-sys-color-surface-dim: #110D10;
  --md-sys-color-surface-bright: #322931;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #171216;
  --md-sys-color-surface-container: #1E181D;
  --md-sys-color-surface-container-high: #251D24;
  --md-sys-color-surface-container-highest: #2C232B;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #2C232B;
  --md-sys-color-on-surface-variant: #F0E1EB;
  --md-sys-color-outline: #C3B5BF;
  --md-sys-color-outline-variant: #ADA0A9;
  --md-sys-color-inverse-surface: #FFF7FA;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFDBFA;
  --md-sys-color-primary: #FFDBFA;
  --md-sys-color-primary-dim: #F5CAF0;
  --md-sys-color-on-primary: #3E223E;
  --md-sys-color-primary-container: #BE98BB;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #F7CDF3;
  --md-sys-color-primary-fixed-dim: #E9BFE4;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #270D29;
  --md-sys-color-inverse-primary: #4B2E4B;
  --md-sys-color-secondary: #F8DEF3;
  --md-sys-color-secondary-dim: #EAD0E5;
  --md-sys-color-on-secondary: #372736;
  --md-sys-color-secondary-container: #B49DB1;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #F5DBF0;
  --md-sys-color-secondary-fixed-dim: #E7CDE2;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #2A1A29;
  --md-sys-color-tertiary: #FFDDE0;
  --md-sys-color-tertiary-dim: #FFC6CC;
  --md-sys-color-on-tertiary: #4A1E25;
  --md-sys-color-tertiary-container: #FDB7BF;
  --md-sys-color-on-tertiary-container: #2C070F;
  --md-sys-color-tertiary-fixed: #FDB7BF;
  --md-sys-color-tertiary-fixed-dim: #EEAAB2;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFDDDF;
  --md-sys-color-error-dim: #FFC7CB;
  --md-sys-color-on-error: #5F001C;
  --md-sys-color-error-container: #FF798C;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #BE98BB;
  --md-sys-color-control-normal: #F0E1EB;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4E444C;
  --md-sys-color-text-primary-inverse-disable-only: #1F1A1E;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1F1A1E;
  --md-sys-color-text-hint-inverse: #1F1A1E;
  --md-sys-color-widget-background: #3C2B3B;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #FFFFFF;
  --md-sys-color-clock-second: #FFE6E8;
  --md-sys-color-weather-temp: #FFE4FA;
  --md-sys-color-theme-app: #3C2B3B;
  --md-sys-color-on-theme-app: #FFFFFF;
  --md-sys-color-theme-app-ring: #C69FC3;
  --md-sys-color-theme-notif: #CD8D95;
  --md-sys-color-brand-a: #F7CCF2;
  --md-sys-color-brand-b: #FFF7FA;
  --md-sys-color-brand-c: #E5BCE1;
  --md-sys-color-brand-d: #FFE1E4;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #FFD6FA;
  --md-sys-color-on-shade-active: #000000;
  --md-sys-color-on-shade-active-variant: #3C203C;
  --md-sys-color-shade-inactive: #342F33;
  --md-sys-color-on-shade-inactive: #F7E8F2;
  --md-sys-color-on-shade-inactive-variant: #F7E8F2;
  --md-sys-color-shade-disabled: #110D10;
  --md-sys-color-overview-background: #5A4F58;
}
