.light {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #587F6B;
  --md-sys-color-tertiary-palette-key-color: #198857;
  --md-sys-color-neutral-palette-key-color: #887085;
  --md-sys-color-neutral-variant-palette-key-color: #9D639D;
  --md-sys-color-error-palette-key-color: #CB495F;
  --md-sys-color-background: #FFF7FA;
  --md-sys-color-on-background: #472748;
  --md-sys-color-surface: #FFF7FA;
  --md-sys-color-surface-dim: #FDCAF9;
  --md-sys-color-surface-bright: #FFF7FA;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFEFFA;
  --md-sys-color-surface-container: #FFE7FA;
  --md-sys-color-surface-container-high: #FFDFFA;
  --md-sys-color-surface-container-highest: #FFD6FA;
  --md-sys-color-on-surface: #472748;
  --md-sys-color-surface-variant: #FFD6FA;
  --md-sys-color-on-surface-variant: #785377;
  --md-sys-color-outline: #956E93;
  --md-sys-color-outline-variant: #D0A4CD;
  --md-sys-color-inverse-surface: #180819;
  --md-sys-color-inverse-on-surface: #AF95AC;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #88468A;
  --md-sys-color-primary: #88468A;
  --md-sys-color-primary-dim: #7A3A7D;
  --md-sys-color-on-primary: #FFF7FA;
  --md-sys-color-primary-container: #FAACF9;
  --md-sys-color-on-primary-container: #652669;
  --md-sys-color-primary-fixed: #FAACF9;
  --md-sys-color-primary-fixed-dim: #EB9FEA;
  --md-sys-color-on-primary-fixed: #4D0E53;
  --md-sys-color-on-primary-fixed-variant: #6F2F73;
  --md-sys-color-inverse-primary: #FAACF9;
  --md-sys-color-secondary: #406754;
  --md-sys-color-secondary-dim: #345B48;
  --md-sys-color-on-secondary: #E6FFEF;
  --md-sys-color-secondary-container: #D0FBE2;
  --md-sys-color-on-secondary-container: #3B624F;
  --md-sys-color-secondary-fixed: #D0FBE2;
  --md-sys-color-secondary-fixed-dim: #C2ECD4;
  --md-sys-color-on-secondary-fixed: #294F3D;
  --md-sys-color-on-secondary-fixed-variant: #466C59;
  --md-sys-color-tertiary: #006D43;
  --md-sys-color-tertiary-dim: #00603A;
  --md-sys-color-on-tertiary: #E7FFEC;
  --md-sys-color-tertiary-container: #98FDC1;
  --md-sys-color-on-tertiary-container: #00623C;
  --md-sys-color-tertiary-fixed: #98FDC1;
  --md-sys-color-tertiary-fixed-dim: #8AEEB4;
  --md-sys-color-on-tertiary-fixed: #004D2E;
  --md-sys-color-on-tertiary-fixed-variant: #006D43;
  --md-sys-color-error: #AC3149;
  --md-sys-color-error-dim: #770326;
  --md-sys-color-on-error: #FFF7F7;
  --md-sys-color-error-container: #F76A80;
  --md-sys-color-on-error-container: #68001F;
  --md-sys-color-control-activated: #FAACF9;
  --md-sys-color-control-normal: #785377;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #AF95AC;
  --md-sys-color-text-secondary-and-tertiary-inverse: #F3B1F1;
  --md-sys-color-text-primary-inverse-disable-only: #F8DAF2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #F8DAF2;
  --md-sys-color-text-hint-inverse: #F8DAF2;
  --md-sys-color-widget-background: #D0FBE2;
  --md-sys-color-clock-hour: #1E4533;
  --md-sys-color-clock-minute: #7C3C7F;
  --md-sys-color-clock-second: #006D43;
  --md-sys-color-weather-temp: #87458A;
  --md-sys-color-theme-app: #FAACF9;
  --md-sys-color-on-theme-app: #591B5E;
  --md-sys-color-theme-app-ring: #DC91DC;
  --md-sys-color-theme-notif: #76DAA1;
  --md-sys-color-brand-a: #844287;
  --md-sys-color-brand-b: #8BB49E;
  --md-sys-color-brand-c: #A35EA4;
  --md-sys-color-brand-d: #379E6A;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #FFD6FA;
  --md-sys-color-on-shade-active: #8E4B90;
  --md-sys-color-on-shade-active-variant: #6C2D70;
  --md-sys-color-shade-inactive: #3D2A3D;
  --md-sys-color-on-shade-inactive: #FFD6FA;
  --md-sys-color-on-shade-inactive-variant: #F3B1F1;
  --md-sys-color-shade-disabled: #180819;
  --md-sys-color-overview-background: #F3B1F1;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #587F6B;
  --md-sys-color-tertiary-palette-key-color: #198857;
  --md-sys-color-neutral-palette-key-color: #887085;
  --md-sys-color-neutral-variant-palette-key-color: #9D639D;
  --md-sys-color-error-palette-key-color: #CB495F;
  --md-sys-color-background: #FFF7FA;
  --md-sys-color-on-background: #371838;
  --md-sys-color-surface: #FFF7FA;
  --md-sys-color-surface-dim: #FDCAF9;
  --md-sys-color-surface-bright: #FFF7FA;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFEFFA;
  --md-sys-color-surface-container: #FFE7FA;
  --md-sys-color-surface-container-high: #FFDFFA;
  --md-sys-color-surface-container-highest: #FFD6FA;
  --md-sys-color-on-surface: #371838;
  --md-sys-color-surface-variant: #FFD6FA;
  --md-sys-color-on-surface-variant: #593759;
  --md-sys-color-outline: #785377;
  --md-sys-color-outline-variant: #956E93;
  --md-sys-color-inverse-surface: #180819;
  --md-sys-color-inverse-on-surface: #D9BCD4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #68296C;
  --md-sys-color-primary: #68296C;
  --md-sys-color-primary-dim: #5B1C5F;
  --md-sys-color-on-primary: #FFC8FB;
  --md-sys-color-primary-container: #A05BA2;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #A05BA2;
  --md-sys-color-primary-fixed-dim: #924F94;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #FAACF9;
  --md-sys-color-secondary: #244A38;
  --md-sys-color-secondary-dim: #183F2E;
  --md-sys-color-on-secondary: #B9E3CB;
  --md-sys-color-secondary-container: #567D69;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #567D69;
  --md-sys-color-secondary-fixed-dim: #49705C;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #004D2E;
  --md-sys-color-tertiary-dim: #004126;
  --md-sys-color-on-tertiary: #89EEB4;
  --md-sys-color-tertiary-container: #138554;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #138554;
  --md-sys-color-tertiary-fixed-dim: #00784A;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #85112F;
  --md-sys-color-error-dim: #740124;
  --md-sys-color-on-error: #FFCDD1;
  --md-sys-color-error-container: #C8475D;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #A05BA2;
  --md-sys-color-control-normal: #593759;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #D9BCD4;
  --md-sys-color-text-secondary-and-tertiary-inverse: #F3B1F1;
  --md-sys-color-text-primary-inverse-disable-only: #F8DAF2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #F8DAF2;
  --md-sys-color-text-hint-inverse: #F8DAF2;
  --md-sys-color-widget-background: #D0FBE2;
  --md-sys-color-clock-hour: #002A1B;
  --md-sys-color-clock-minute: #5D1E62;
  --md-sys-color-clock-second: #000000;
  --md-sys-color-weather-temp: #000000;
  --md-sys-color-theme-app: #FAACF9;
  --md-sys-color-on-theme-app: #25002A;
  --md-sys-color-theme-app-ring: #A05BA2;
  --md-sys-color-theme-notif: #76DAA1;
  --md-sys-color-brand-a: #67286B;
  --md-sys-color-brand-b: #6D9580;
  --md-sys-color-brand-c: #79387C;
  --md-sys-color-brand-d: #037F4F;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #FFD6FA;
  --md-sys-color-on-shade-active: #6E2E71;
  --md-sys-color-on-shade-active-variant: #6C2D70;
  --md-sys-color-shade-inactive: #3D2A3D;
  --md-sys-color-on-shade-inactive: #FFD6FA;
  --md-sys-color-on-shade-inactive-variant: #F3B1F1;
  --md-sys-color-shade-disabled: #180819;
  --md-sys-color-overview-background: #F3B1F1;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #A35EA4;
  --md-sys-color-secondary-palette-key-color: #587F6B;
  --md-sys-color-tertiary-palette-key-color: #198857;
  --md-sys-color-neutral-palette-key-color: #887085;
  --md-sys-color-neutral-variant-palette-key-color: #9D639D;
  --md-sys-color-error-palette-key-color: #CB495F;
  --md-sys-color-background: #FFF7FA;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #FFF7FA;
  --md-sys-color-surface-dim: #FDCAF9;
  --md-sys-color-surface-bright: #FFF7FA;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFEFFA;
  --md-sys-color-surface-container: #FFE7FA;
  --md-sys-color-surface-container-high: #FFDFFA;
  --md-sys-color-surface-container-highest: #FFD6FA;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #FFD6FA;
  --md-sys-color-on-surface-variant: #371838;
  --md-sys-color-outline: #593759;
  --md-sys-color-outline-variant: #6A4669;
  --md-sys-color-inverse-surface: #180819;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #43024A;
  --md-sys-color-primary: #43024A;
  --md-sys-color-primary-dim: #340039;
  --md-sys-color-on-primary: #FFC9FB;
  --md-sys-color-primary-container: #79397C;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #79397C;
  --md-sys-color-primary-fixed-dim: #6C2D70;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #FAACF9;
  --md-sys-color-secondary: #002A1B;
  --md-sys-color-secondary-dim: #001F12;
  --md-sys-color-on-secondary: #B9E4CB;
  --md-sys-color-secondary-container: #335A47;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #335A47;
  --md-sys-color-secondary-fixed-dim: #284E3C;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #002A17;
  --md-sys-color-tertiary-dim: #001F10;
  --md-sys-color-on-tertiary: #8AEEB4;
  --md-sys-color-tertiary-container: #005F39;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #005F39;
  --md-sys-color-tertiary-fixed-dim: #005231;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #500016;
  --md-sys-color-error-dim: #3D000F;
  --md-sys-color-on-error: #FFCED2;
  --md-sys-color-error-container: #9A243D;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #79397C;
  --md-sys-color-control-normal: #371838;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #FFFFFF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #F3B1F1;
  --md-sys-color-text-primary-inverse-disable-only: #F8DAF2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #F8DAF2;
  --md-sys-color-text-hint-inverse: #F8DAF2;
  --md-sys-color-widget-background: #D0FBE2;
  --md-sys-color-clock-hour: #000000;
  --md-sys-color-clock-minute: #36003C;
  --md-sys-color-clock-second: #003C22;
  --md-sys-color-weather-temp: #55175B;
  --md-sys-color-theme-app: #FAACF9;
  --md-sys-color-on-theme-app: #000000;
  --md-sys-color-theme-app-ring: #924F94;
  --md-sys-color-theme-notif: #76DAA1;
  --md-sys-color-brand-a: #501256;
  --md-sys-color-brand-b: #507763;
  --md-sys-color-brand-c: #6F3073;
  --md-sys-color-brand-d: #006A41;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #FFD6FA;
  --md-sys-color-on-shade-active: #4B0B51;
  --md-sys-color-on-shade-active-variant: #4B0B51;
  --md-sys-color-shade-inactive: #3D2A3D;
  --md-sys-color-on-shade-inactive: #FFFFFF;
  --md-sys-color-on-shade-inactive-variant: #FFE4FA;
  --md-sys-color-shade-disabled: #180819;
  --md-sys-color-overview-background: #F3B1F1;
}
.dark {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #657C6F;
  --md-sys-color-tertiary-palette-key-color: #198857;
  --md-sys-color-neutral-palette-key-color: #847181;
  --md-sys-color-neutral-variant-palette-key-color: #946893;
  --md-sys-color-error-palette-key-color: #CB495F;
  --md-sys-color-background: #160A16;
  --md-sys-color-on-background: #FFDBFA;
  --md-sys-color-surface: #160A16;
  --md-sys-color-surface-dim: #160A16;
  --md-sys-color-surface-bright: #3D233D;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1D0E1D;
  --md-sys-color-surface-container: #251325;
  --md-sys-color-surface-container-high: #2D182D;
  --md-sys-color-surface-container-highest: #351D35;
  --md-sys-color-on-surface: #FFDBFA;
  --md-sys-color-surface-variant: #351D35;
  --md-sys-color-on-surface-variant: #C2A1BF;
  --md-sys-color-outline: #8A6C88;
  --md-sys-color-outline-variant: #5A3F59;
  --md-sys-color-inverse-surface: #FFF7FA;
  --md-sys-color-inverse-on-surface: #61505F;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFCDFB;
  --md-sys-color-primary: #FFCDFB;
  --md-sys-color-primary-dim: #F6BCF3;
  --md-sys-color-on-primary: #6B3E6C;
  --md-sys-color-primary-container: #F6BCF3;
  --md-sys-color-on-primary-container: #623563;
  --md-sys-color-primary-fixed: #F6BCF3;
  --md-sys-color-primary-fixed-dim: #E8AFE5;
  --md-sys-color-on-primary-fixed: #4C224E;
  --md-sys-color-on-primary-fixed-variant: #6C3E6D;
  --md-sys-color-inverse-primary: #7E4E7E;
  --md-sys-color-secondary: #B4CCBD;
  --md-sys-color-secondary-dim: #A6BFAF;
  --md-sys-color-on-secondary: #2F4539;
  --md-sys-color-secondary-container: #152A20;
  --md-sys-color-on-secondary-container: #91A99B;
  --md-sys-color-secondary-fixed: #DEF7E7;
  --md-sys-color-secondary-fixed-dim: #CFE9D8;
  --md-sys-color-on-secondary-fixed: #374D41;
  --md-sys-color-on-secondary-fixed-variant: #53695D;
  --md-sys-color-tertiary: #DCFFE5;
  --md-sys-color-tertiary-dim: #98FDC1;
  --md-sys-color-on-tertiary: #006B42;
  --md-sys-color-tertiary-container: #98FDC1;
  --md-sys-color-on-tertiary-container: #00623C;
  --md-sys-color-tertiary-fixed: #98FDC1;
  --md-sys-color-tertiary-fixed-dim: #8AEEB4;
  --md-sys-color-on-tertiary-fixed: #004D2E;
  --md-sys-color-on-tertiary-fixed-variant: #006D43;
  --md-sys-color-error: #FD6F85;
  --md-sys-color-error-dim: #C8475D;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #8A1632;
  --md-sys-color-on-error-container: #FF97A3;
  --md-sys-color-control-activated: #F6BCF3;
  --md-sys-color-control-normal: #C2A1BF;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #61505F;
  --md-sys-color-text-secondary-and-tertiary-inverse: #603960;
  --md-sys-color-text-primary-inverse-disable-only: #241724;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #241724;
  --md-sys-color-text-hint-inverse: #241724;
  --md-sys-color-widget-background: #1F352A;
  --md-sys-color-clock-hour: #EDB4EA;
  --md-sys-color-clock-minute: #FFD6FA;
  --md-sys-color-clock-second: #92F7BC;
  --md-sys-color-weather-temp: #EDB4EA;
  --md-sys-color-theme-app: #1F352A;
  --md-sys-color-on-theme-app: #EDB4EA;
  --md-sys-color-theme-app-ring: #D099CE;
  --md-sys-color-theme-notif: #4BB07B;
  --md-sys-color-brand-a: #EDB4EA;
  --md-sys-color-brand-b: #E8FFF0;
  --md-sys-color-brand-c: #B782B5;
  --md-sys-color-brand-d: #92F7BC;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #FFD6FA;
  --md-sys-color-on-shade-active: #320935;
  --md-sys-color-on-shade-active-variant: #633664;
  --md-sys-color-shade-inactive: #3A2C39;
  --md-sys-color-on-shade-inactive: #CC9CCA;
  --md-sys-color-on-shade-inactive-variant: #E9B6E6;
  --md-sys-color-shade-disabled: #160A16;
  --md-sys-color-overview-background: #6D446D;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #657C6F;
  --md-sys-color-tertiary-palette-key-color: #198857;
  --md-sys-color-neutral-palette-key-color: #847181;
  --md-sys-color-neutral-variant-palette-key-color: #946893;
  --md-sys-color-error-palette-key-color: #CB495F;
  --md-sys-color-background: #160A16;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #160A16;
  --md-sys-color-surface-dim: #160A16;
  --md-sys-color-surface-bright: #3D233D;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1D0E1D;
  --md-sys-color-surface-container: #251325;
  --md-sys-color-surface-container-high: #2D182D;
  --md-sys-color-surface-container-highest: #351D35;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #351D35;
  --md-sys-color-on-surface-variant: #D1AECD;
  --md-sys-color-outline: #AA89A6;
  --md-sys-color-outline-variant: #8A6C88;
  --md-sys-color-inverse-surface: #FFF7FA;
  --md-sys-color-inverse-on-surface: #433341;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFCDFB;
  --md-sys-color-primary: #FFCDFB;
  --md-sys-color-primary-dim: #F6BCF3;
  --md-sys-color-on-primary: #603462;
  --md-sys-color-primary-container: #F6BCF3;
  --md-sys-color-on-primary-container: #572B58;
  --md-sys-color-primary-fixed: #F6BCF3;
  --md-sys-color-primary-fixed-dim: #E8AFE5;
  --md-sys-color-on-primary-fixed: #16001A;
  --md-sys-color-on-primary-fixed-variant: #4C224E;
  --md-sys-color-inverse-primary: #734473;
  --md-sys-color-secondary: #B4CCBD;
  --md-sys-color-secondary-dim: #A6BFAF;
  --md-sys-color-on-secondary: #253B30;
  --md-sys-color-secondary-container: #637A6D;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #DEF7E7;
  --md-sys-color-secondary-fixed-dim: #CFE9D8;
  --md-sys-color-on-secondary-fixed: #192E24;
  --md-sys-color-on-secondary-fixed-variant: #374D41;
  --md-sys-color-tertiary: #DCFFE5;
  --md-sys-color-tertiary-dim: #98FDC1;
  --md-sys-color-on-tertiary: #00603A;
  --md-sys-color-tertiary-container: #98FDC1;
  --md-sys-color-on-tertiary-container: #005734;
  --md-sys-color-tertiary-fixed: #98FDC1;
  --md-sys-color-tertiary-fixed-dim: #8AEEB4;
  --md-sys-color-on-tertiary-fixed: #002A17;
  --md-sys-color-on-tertiary-fixed-variant: #004D2E;
  --md-sys-color-error: #FF9DA8;
  --md-sys-color-error-dim: #FF8695;
  --md-sys-color-on-error: #5F001C;
  --md-sys-color-error-container: #C8475D;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #F6BCF3;
  --md-sys-color-control-normal: #D1AECD;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #433341;
  --md-sys-color-text-secondary-and-tertiary-inverse: #603960;
  --md-sys-color-text-primary-inverse-disable-only: #241724;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #241724;
  --md-sys-color-text-hint-inverse: #241724;
  --md-sys-color-widget-background: #1F352A;
  --md-sys-color-clock-hour: #EDB4EA;
  --md-sys-color-clock-minute: #FFD6FA;
  --md-sys-color-clock-second: #FFFFFF;
  --md-sys-color-weather-temp: #FFFFFF;
  --md-sys-color-theme-app: #1F352A;
  --md-sys-color-on-theme-app: #FFE4FA;
  --md-sys-color-theme-app-ring: #D099CE;
  --md-sys-color-theme-notif: #4BB07B;
  --md-sys-color-brand-a: #F9BEF5;
  --md-sys-color-brand-b: #E8FFF0;
  --md-sys-color-brand-c: #DCA4D9;
  --md-sys-color-brand-d: #92F7BC;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #FFD6FA;
  --md-sys-color-on-shade-active: #320935;
  --md-sys-color-on-shade-active-variant: #633664;
  --md-sys-color-shade-inactive: #3A2C39;
  --md-sys-color-on-shade-inactive: #E1AEDD;
  --md-sys-color-on-shade-inactive-variant: #E9B6E6;
  --md-sys-color-shade-disabled: #160A16;
  --md-sys-color-overview-background: #6D446D;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #657C6F;
  --md-sys-color-tertiary-palette-key-color: #198857;
  --md-sys-color-neutral-palette-key-color: #847181;
  --md-sys-color-neutral-variant-palette-key-color: #946893;
  --md-sys-color-error-palette-key-color: #CB495F;
  --md-sys-color-background: #160A16;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #160A16;
  --md-sys-color-surface-dim: #160A16;
  --md-sys-color-surface-bright: #3D233D;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1D0E1D;
  --md-sys-color-surface-container: #251325;
  --md-sys-color-surface-container-high: #2D182D;
  --md-sys-color-surface-container-highest: #351D35;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #351D35;
  --md-sys-color-on-surface-variant: #FFDBFA;
  --md-sys-color-outline: #D1AECD;
  --md-sys-color-outline-variant: #BB99B7;
  --md-sys-color-inverse-surface: #FFF7FA;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #FFDBFA;
  --md-sys-color-primary: #FFDBFA;
  --md-sys-color-primary-dim: #FDC2F9;
  --md-sys-color-on-primary: #451B47;
  --md-sys-color-primary-container: #F6BCF3;
  --md-sys-color-on-primary-container: #310734;
  --md-sys-color-primary-fixed: #F6BCF3;
  --md-sys-color-primary-fixed-dim: #E8AFE5;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #16001A;
  --md-sys-color-inverse-primary: #532854;
  --md-sys-color-secondary: #D2EBDB;
  --md-sys-color-secondary-dim: #C4DDCD;
  --md-sys-color-on-secondary: #1B3026;
  --md-sys-color-secondary-container: #91A99B;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #DEF7E7;
  --md-sys-color-secondary-fixed-dim: #CFE9D8;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #192E24;
  --md-sys-color-tertiary: #DCFFE5;
  --md-sys-color-tertiary-dim: #98FDC1;
  --md-sys-color-on-tertiary: #003F25;
  --md-sys-color-tertiary-container: #98FDC1;
  --md-sys-color-on-tertiary-container: #00361E;
  --md-sys-color-tertiary-fixed: #98FDC1;
  --md-sys-color-tertiary-fixed-dim: #8AEEB4;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #002A17;
  --md-sys-color-error: #FFDDDF;
  --md-sys-color-error-dim: #FFC7CB;
  --md-sys-color-on-error: #5F001C;
  --md-sys-color-error-container: #FF798C;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #F6BCF3;
  --md-sys-color-control-normal: #FFDBFA;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #603960;
  --md-sys-color-text-primary-inverse-disable-only: #241724;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #241724;
  --md-sys-color-text-hint-inverse: #241724;
  --md-sys-color-widget-background: #1F352A;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #FFFFFF;
  --md-sys-color-clock-second: #A6FFC9;
  --md-sys-color-weather-temp: #FFE4FA;
  --md-sys-color-theme-app: #1F352A;
  --md-sys-color-on-theme-app: #FFFFFF;
  --md-sys-color-theme-app-ring: #D099CE;
  --md-sys-color-theme-notif: #4BB07B;
  --md-sys-color-brand-a: #FFC8FB;
  --md-sys-color-brand-b: #E8FFF0;
  --md-sys-color-brand-c: #F0B6EC;
  --md-sys-color-brand-d: #98FDC2;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #FFD6FA;
  --md-sys-color-on-shade-active: #000000;
  --md-sys-color-on-shade-active-variant: #431945;
  --md-sys-color-shade-inactive: #3A2C39;
  --md-sys-color-on-shade-inactive: #FFE4FA;
  --md-sys-color-on-shade-inactive-variant: #FFE4FA;
  --md-sys-color-shade-disabled: #160A16;
  --md-sys-color-overview-background: #6D446D;
}
