.light {
  --md-sys-color-primary-palette-key-color: #6570C4;
  --md-sys-color-secondary-palette-key-color: #6C73AD;
  --md-sys-color-tertiary-palette-key-color: #986697;
  --md-sys-color-neutral-palette-key-color: #81737E;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF7FA;
  --md-sys-color-on-background: #221921;
  --md-sys-color-surface: #FFF7FA;
  --md-sys-color-surface-dim: #E6D5E1;
  --md-sys-color-surface-bright: #FFF7FA;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFEFFA;
  --md-sys-color-surface-container: #FBE9F5;
  --md-sys-color-surface-container-high: #F5E3F0;
  --md-sys-color-surface-container-highest: #EFDEEA;
  --md-sys-color-on-surface: #221921;
  --md-sys-color-surface-variant: #F5DBF0;
  --md-sys-color-on-surface-variant: #534152;
  --md-sys-color-outline: #867183;
  --md-sys-color-outline-variant: #D8BFD4;
  --md-sys-color-inverse-surface: #382D36;
  --md-sys-color-inverse-on-surface: #FEECF8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4C57A9;
  --md-sys-color-primary: #4C57A9;
  --md-sys-color-primary-dim: #5661B4;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #DFE0FF;
  --md-sys-color-on-primary-container: #343F90;
  --md-sys-color-primary-fixed: #DFE0FF;
  --md-sys-color-primary-fixed-dim: #BCC2FF;
  --md-sys-color-on-primary-fixed: #000B62;
  --md-sys-color-on-primary-fixed-variant: #343F90;
  --md-sys-color-inverse-primary: #BCC2FF;
  --md-sys-color-secondary: #535A92;
  --md-sys-color-secondary-dim: #5D649C;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #DFE0FF;
  --md-sys-color-on-secondary-container: #3B4279;
  --md-sys-color-secondary-fixed: #DFE0FF;
  --md-sys-color-secondary-fixed-dim: #BCC2FF;
  --md-sys-color-on-secondary-fixed: #0D154B;
  --md-sys-color-on-secondary-fixed-variant: #3B4279;
  --md-sys-color-tertiary: #7D4E7D;
  --md-sys-color-tertiary-dim: #875787;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #FFD6FA;
  --md-sys-color-on-tertiary-container: #633664;
  --md-sys-color-tertiary-fixed: #FFD6FA;
  --md-sys-color-tertiary-fixed-dim: #EDB4EA;
  --md-sys-color-on-tertiary-fixed: #320935;
  --md-sys-color-on-tertiary-fixed-variant: #633664;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #DFE0FF;
  --md-sys-color-control-normal: #534152;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #EFDEEA;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D8BFD4;
  --md-sys-color-text-primary-inverse-disable-only: #EFDEEA;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EFDEEA;
  --md-sys-color-text-hint-inverse: #EFDEEA;
  --md-sys-color-widget-background: #F1EFFF;
  --md-sys-color-clock-hour: #3B4279;
  --md-sys-color-clock-minute: #434D9F;
  --md-sys-color-clock-second: #7D4E7D;
  --md-sys-color-weather-temp: #4C57A9;
  --md-sys-color-theme-app: #DFE0FF;
  --md-sys-color-on-theme-app: #343F90;
  --md-sys-color-theme-app-ring: #9AA5FD;
  --md-sys-color-theme-notif: #885787;
  --md-sys-color-brand-a: #4A54A6;
  --md-sys-color-brand-b: #A0A7E5;
  --md-sys-color-brand-c: #6570C4;
  --md-sys-color-brand-d: #AF7BAD;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #DFE0FF;
  --md-sys-color-on-shade-active: #000B62;
  --md-sys-color-on-shade-active-variant: #343F90;
  --md-sys-color-shade-inactive: #382D36;
  --md-sys-color-on-shade-inactive: #BCA4B8;
  --md-sys-color-on-shade-inactive-variant: #D8BFD4;
  --md-sys-color-shade-disabled: #140B13;
  --md-sys-color-overview-background: #D8BFD4;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6570C4;
  --md-sys-color-secondary-palette-key-color: #6C73AD;
  --md-sys-color-tertiary-palette-key-color: #986697;
  --md-sys-color-neutral-palette-key-color: #81737E;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF7FA;
  --md-sys-color-on-background: #221921;
  --md-sys-color-surface: #FFF7FA;
  --md-sys-color-surface-dim: #D2C2CE;
  --md-sys-color-surface-bright: #FFF7FA;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FFEFFA;
  --md-sys-color-surface-container: #F5E3F0;
  --md-sys-color-surface-container-high: #E9D8E4;
  --md-sys-color-surface-container-highest: #DECDD9;
  --md-sys-color-on-surface: #170E17;
  --md-sys-color-surface-variant: #F5DBF0;
  --md-sys-color-on-surface-variant: #423141;
  --md-sys-color-outline: #604C5E;
  --md-sys-color-outline-variant: #7C6779;
  --md-sys-color-inverse-surface: #382D36;
  --md-sys-color-inverse-on-surface: #FEECF8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4C57A9;
  --md-sys-color-primary: #222D7E;
  --md-sys-color-primary-dim: #313C8D;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #5B66B9;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #5B66B9;
  --md-sys-color-primary-fixed-dim: #424D9F;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #BCC2FF;
  --md-sys-color-secondary: #2A3167;
  --md-sys-color-secondary-dim: #394076;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #6269A2;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #6269A2;
  --md-sys-color-secondary-fixed-dim: #495088;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #502652;
  --md-sys-color-tertiary-dim: #603462;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #8D5C8D;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #8D5C8D;
  --md-sys-color-tertiary-fixed-dim: #724473;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8F0009;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #CF2C27;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #DFE0FF;
  --md-sys-color-control-normal: #534152;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #EFDEEA;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D8BFD4;
  --md-sys-color-text-primary-inverse-disable-only: #EFDEEA;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EFDEEA;
  --md-sys-color-text-hint-inverse: #EFDEEA;
  --md-sys-color-widget-background: #F1EFFF;
  --md-sys-color-clock-hour: #3B4279;
  --md-sys-color-clock-minute: #253082;
  --md-sys-color-clock-second: #000000;
  --md-sys-color-weather-temp: #000000;
  --md-sys-color-theme-app: #DFE0FF;
  --md-sys-color-on-theme-app: #131F72;
  --md-sys-color-theme-app-ring: #636EC1;
  --md-sys-color-theme-notif: #EAB1E7;
  --md-sys-color-brand-a: #2E398B;
  --md-sys-color-brand-b: #8188C3;
  --md-sys-color-brand-c: #3F4A9C;
  --md-sys-color-brand-d: #8F5E8E;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #DFE0FF;
  --md-sys-color-on-shade-active: #000B62;
  --md-sys-color-on-shade-active-variant: #343F90;
  --md-sys-color-shade-inactive: #382D36;
  --md-sys-color-on-shade-inactive: #BCA4B8;
  --md-sys-color-on-shade-inactive-variant: #D8BFD4;
  --md-sys-color-shade-disabled: #140B13;
  --md-sys-color-overview-background: #D8BFD4;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #6570C4;
  --md-sys-color-secondary-palette-key-color: #6C73AD;
  --md-sys-color-tertiary-palette-key-color: #986697;
  --md-sys-color-neutral-palette-key-color: #81737E;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FFF7FA;
  --md-sys-color-on-background: #221921;
  --md-sys-color-surface: #FFF7FA;
  --md-sys-color-surface-dim: #C4B4C0;
  --md-sys-color-surface-bright: #FFF7FA;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #FEECF8;
  --md-sys-color-surface-container: #EFDEEA;
  --md-sys-color-surface-container-high: #E1D0DC;
  --md-sys-color-surface-container-highest: #D2C2CE;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #F5DBF0;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #372737;
  --md-sys-color-outline-variant: #564354;
  --md-sys-color-inverse-surface: #382D36;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4C57A9;
  --md-sys-color-primary: #162174;
  --md-sys-color-primary-dim: #031068;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #364192;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #364192;
  --md-sys-color-primary-fixed-dim: #1D297B;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #BCC2FF;
  --md-sys-color-secondary: #20275C;
  --md-sys-color-secondary-dim: #12194F;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #3E457B;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #3E457B;
  --md-sys-color-secondary-fixed-dim: #272E63;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #451B47;
  --md-sys-color-tertiary-dim: #360D3A;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #663967;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #663967;
  --md-sys-color-tertiary-fixed-dim: #4C224E;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #98000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #DFE0FF;
  --md-sys-color-control-normal: #534152;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #EFDEEA;
  --md-sys-color-text-secondary-and-tertiary-inverse: #D8BFD4;
  --md-sys-color-text-primary-inverse-disable-only: #EFDEEA;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #EFDEEA;
  --md-sys-color-text-hint-inverse: #EFDEEA;
  --md-sys-color-widget-background: #F1EFFF;
  --md-sys-color-clock-hour: #0D154B;
  --md-sys-color-clock-minute: #000B62;
  --md-sys-color-clock-second: #4D234F;
  --md-sys-color-weather-temp: #1E297B;
  --md-sys-color-theme-app: #DFE0FF;
  --md-sys-color-on-theme-app: #000000;
  --md-sys-color-theme-app-ring: #4954A6;
  --md-sys-color-theme-notif: #EDB4EA;
  --md-sys-color-brand-a: #172275;
  --md-sys-color-brand-b: #6269A2;
  --md-sys-color-brand-c: #354091;
  --md-sys-color-brand-d: #784979;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #DFE0FF;
  --md-sys-color-on-shade-active: #000000;
  --md-sys-color-on-shade-active-variant: #131F72;
  --md-sys-color-shade-inactive: #382D36;
  --md-sys-color-on-shade-inactive: #E2C8DD;
  --md-sys-color-on-shade-inactive-variant: #FFE4FA;
  --md-sys-color-shade-disabled: #140B13;
  --md-sys-color-overview-background: #D8BFD4;
}
.dark {
  --md-sys-color-primary-palette-key-color: #6570C4;
  --md-sys-color-secondary-palette-key-color: #6C73AD;
  --md-sys-color-tertiary-palette-key-color: #986697;
  --md-sys-color-neutral-palette-key-color: #81737E;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #191019;
  --md-sys-color-on-background: #EFDEEA;
  --md-sys-color-surface: #191019;
  --md-sys-color-surface-dim: #191019;
  --md-sys-color-surface-bright: #41363F;
  --md-sys-color-surface-container-lowest: #140B13;
  --md-sys-color-surface-container-low: #221921;
  --md-sys-color-surface-container: #261D25;
  --md-sys-color-surface-container-high: #312730;
  --md-sys-color-surface-container-highest: #3C313B;
  --md-sys-color-on-surface: #EFDEEA;
  --md-sys-color-surface-variant: #534152;
  --md-sys-color-on-surface-variant: #D8BFD4;
  --md-sys-color-outline: #A18A9D;
  --md-sys-color-outline-variant: #534152;
  --md-sys-color-inverse-surface: #EFDEEA;
  --md-sys-color-inverse-on-surface: #382D36;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #BCC2FF;
  --md-sys-color-primary: #BCC2FF;
  --md-sys-color-primary-dim: #CDD1FF;
  --md-sys-color-on-primary: #1B2678;
  --md-sys-color-primary-container: #343F90;
  --md-sys-color-on-primary-container: #DFE0FF;
  --md-sys-color-primary-fixed: #DFE0FF;
  --md-sys-color-primary-fixed-dim: #BCC2FF;
  --md-sys-color-on-primary-fixed: #000B62;
  --md-sys-color-on-primary-fixed-variant: #343F90;
  --md-sys-color-inverse-primary: #4C57A9;
  --md-sys-color-secondary: #BCC2FF;
  --md-sys-color-secondary-dim: #CDD1FF;
  --md-sys-color-on-secondary: #242B61;
  --md-sys-color-secondary-container: #3B4279;
  --md-sys-color-on-secondary-container: #DFE0FF;
  --md-sys-color-secondary-fixed: #DFE0FF;
  --md-sys-color-secondary-fixed-dim: #BCC2FF;
  --md-sys-color-on-secondary-fixed: #0D154B;
  --md-sys-color-on-secondary-fixed-variant: #3B4279;
  --md-sys-color-tertiary: #EDB4EA;
  --md-sys-color-tertiary-dim: #FCC2F9;
  --md-sys-color-on-tertiary: #4A204C;
  --md-sys-color-tertiary-container: #633664;
  --md-sys-color-on-tertiary-container: #FFD6FA;
  --md-sys-color-tertiary-fixed: #FFD6FA;
  --md-sys-color-tertiary-fixed-dim: #EDB4EA;
  --md-sys-color-on-tertiary-fixed: #320935;
  --md-sys-color-on-tertiary-fixed-variant: #633664;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #343F90;
  --md-sys-color-control-normal: #D8BFD4;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #221921;
  --md-sys-color-text-secondary-and-tertiary-inverse: #534152;
  --md-sys-color-text-primary-inverse-disable-only: #221921;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #221921;
  --md-sys-color-text-hint-inverse: #221921;
  --md-sys-color-widget-background: #242B61;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #DFE0FF;
  --md-sys-color-clock-second: #FFD6FA;
  --md-sys-color-weather-temp: #BCC2FF;
  --md-sys-color-theme-app: #242B61;
  --md-sys-color-on-theme-app: #BCC2FF;
  --md-sys-color-theme-app-ring: #9AA5FD;
  --md-sys-color-theme-notif: #EDB4EA;
  --md-sys-color-brand-a: #BCC2FF;
  --md-sys-color-brand-b: #FBF8FF;
  --md-sys-color-brand-c: #8993EA;
  --md-sys-color-brand-d: #FFD6FA;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #DFE0FF;
  --md-sys-color-on-shade-active: #BCC2FF;
  --md-sys-color-on-shade-active-variant: #343F90;
  --md-sys-color-shade-inactive: #382D36;
  --md-sys-color-on-shade-inactive: #F5DBF0;
  --md-sys-color-on-shade-inactive-variant: #D8BFD4;
  --md-sys-color-shade-disabled: #140B13;
  --md-sys-color-overview-background: #604C5E;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6570C4;
  --md-sys-color-secondary-palette-key-color: #6C73AD;
  --md-sys-color-tertiary-palette-key-color: #986697;
  --md-sys-color-neutral-palette-key-color: #81737E;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #191019;
  --md-sys-color-on-background: #EFDEEA;
  --md-sys-color-surface: #191019;
  --md-sys-color-surface-dim: #191019;
  --md-sys-color-surface-bright: #4C414B;
  --md-sys-color-surface-container-lowest: #0C050C;
  --md-sys-color-surface-container-low: #241B23;
  --md-sys-color-surface-container: #2F252E;
  --md-sys-color-surface-container-high: #3A2F39;
  --md-sys-color-surface-container-highest: #453A44;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #534152;
  --md-sys-color-on-surface-variant: #EFD5EA;
  --md-sys-color-outline: #C3ABBF;
  --md-sys-color-outline-variant: #A0899D;
  --md-sys-color-inverse-surface: #EFDEEA;
  --md-sys-color-inverse-on-surface: #312730;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #BCC2FF;
  --md-sys-color-primary: #D7DAFF;
  --md-sys-color-primary-dim: #CDD1FF;
  --md-sys-color-on-primary: #0D196E;
  --md-sys-color-primary-container: #7F8AE0;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #DFE0FF;
  --md-sys-color-primary-fixed-dim: #BCC2FF;
  --md-sys-color-on-primary-fixed: #000646;
  --md-sys-color-on-primary-fixed-variant: #222D7E;
  --md-sys-color-inverse-primary: #354091;
  --md-sys-color-secondary: #D7DAFF;
  --md-sys-color-secondary-dim: #CDD1FF;
  --md-sys-color-on-secondary: #192055;
  --md-sys-color-secondary-container: #868DC8;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #DFE0FF;
  --md-sys-color-secondary-fixed-dim: #BCC2FF;
  --md-sys-color-on-secondary-fixed: #020841;
  --md-sys-color-on-secondary-fixed-variant: #2A3167;
  --md-sys-color-tertiary: #FFCDFB;
  --md-sys-color-tertiary-dim: #FCC2F9;
  --md-sys-color-on-tertiary: #3E1440;
  --md-sys-color-tertiary-container: #B47FB2;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #FFD6FA;
  --md-sys-color-tertiary-fixed-dim: #EDB4EA;
  --md-sys-color-on-tertiary-fixed: #25002A;
  --md-sys-color-on-tertiary-fixed-variant: #502652;
  --md-sys-color-error: #FFD2CC;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #FF5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #343F90;
  --md-sys-color-control-normal: #D8BFD4;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #221921;
  --md-sys-color-text-secondary-and-tertiary-inverse: #534152;
  --md-sys-color-text-primary-inverse-disable-only: #221921;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #221921;
  --md-sys-color-text-hint-inverse: #221921;
  --md-sys-color-widget-background: #242B61;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #DFE0FF;
  --md-sys-color-clock-second: #FFFFFF;
  --md-sys-color-weather-temp: #FFFFFF;
  --md-sys-color-theme-app: #242B61;
  --md-sys-color-on-theme-app: #EBEAFF;
  --md-sys-color-theme-app-ring: #9AA5FD;
  --md-sys-color-theme-notif: #EDB4EA;
  --md-sys-color-brand-a: #D6D9FF;
  --md-sys-color-brand-b: #FFFEFF;
  --md-sys-color-brand-c: #B3BAFF;
  --md-sys-color-brand-d: #FFE4FA;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #DFE0FF;
  --md-sys-color-on-shade-active: #BCC2FF;
  --md-sys-color-on-shade-active-variant: #343F90;
  --md-sys-color-shade-inactive: #382D36;
  --md-sys-color-on-shade-inactive: #F5DBF0;
  --md-sys-color-on-shade-inactive-variant: #D8BFD4;
  --md-sys-color-shade-disabled: #140B13;
  --md-sys-color-overview-background: #604C5E;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #6570C4;
  --md-sys-color-secondary-palette-key-color: #6C73AD;
  --md-sys-color-tertiary-palette-key-color: #986697;
  --md-sys-color-neutral-palette-key-color: #81737E;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #191019;
  --md-sys-color-on-background: #EFDEEA;
  --md-sys-color-surface: #191019;
  --md-sys-color-surface-dim: #191019;
  --md-sys-color-surface-bright: #584C56;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #261D25;
  --md-sys-color-surface-container: #382D36;
  --md-sys-color-surface-container-high: #433842;
  --md-sys-color-surface-container-highest: #4F434D;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #534152;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #FFEAFA;
  --md-sys-color-outline-variant: #D4BBD0;
  --md-sys-color-inverse-surface: #EFDEEA;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #BCC2FF;
  --md-sys-color-primary: #F0EEFF;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #B7BEFF;
  --md-sys-color-on-primary-container: #000336;
  --md-sys-color-primary-fixed: #DFE0FF;
  --md-sys-color-primary-fixed-dim: #BCC2FF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000646;
  --md-sys-color-inverse-primary: #354091;
  --md-sys-color-secondary: #F0EEFF;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #B8BEFD;
  --md-sys-color-on-secondary-container: #000336;
  --md-sys-color-secondary-fixed: #DFE0FF;
  --md-sys-color-secondary-fixed-dim: #BCC2FF;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #020841;
  --md-sys-color-tertiary: #FFEAFA;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #E9B0E6;
  --md-sys-color-on-tertiary-container: #1C001F;
  --md-sys-color-tertiary-fixed: #FFD6FA;
  --md-sys-color-tertiary-fixed-dim: #EDB4EA;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #25002A;
  --md-sys-color-error: #FFECE9;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #FFAEA4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #343F90;
  --md-sys-color-control-normal: #D8BFD4;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #221921;
  --md-sys-color-text-secondary-and-tertiary-inverse: #534152;
  --md-sys-color-text-primary-inverse-disable-only: #221921;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #221921;
  --md-sys-color-text-hint-inverse: #221921;
  --md-sys-color-widget-background: #242B61;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #FFFFFF;
  --md-sys-color-clock-second: #FFE4FA;
  --md-sys-color-weather-temp: #EBEAFF;
  --md-sys-color-theme-app: #242B61;
  --md-sys-color-on-theme-app: #FFFFFF;
  --md-sys-color-theme-app-ring: #9AA5FD;
  --md-sys-color-theme-notif: #EDB4EA;
  --md-sys-color-brand-a: #E4E4FF;
  --md-sys-color-brand-b: #FFFFFF;
  --md-sys-color-brand-c: #CED2FF;
  --md-sys-color-brand-d: #FFF3FA;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #DFE0FF;
  --md-sys-color-on-shade-active: #4550A1;
  --md-sys-color-on-shade-active-variant: #131F72;
  --md-sys-color-shade-inactive: #382D36;
  --md-sys-color-on-shade-inactive: #FFFFFF;
  --md-sys-color-on-shade-inactive-variant: #FFE4FA;
  --md-sys-color-shade-disabled: #140B13;
  --md-sys-color-overview-background: #604C5E;
}
