.light {
  --md-sys-color-primary-palette-key-color: #82727F;
  --md-sys-color-secondary-palette-key-color: #7F747C;
  --md-sys-color-tertiary-palette-key-color: #867184;
  --md-sys-color-neutral-palette-key-color: #7A7677;
  --md-sys-color-neutral-variant-palette-key-color: #7A7677;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FEF8F9;
  --md-sys-color-on-background: #1D1B1C;
  --md-sys-color-surface: #FEF8F9;
  --md-sys-color-surface-dim: #DED8DA;
  --md-sys-color-surface-bright: #FEF8F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F2F3;
  --md-sys-color-surface-container: #F3ECEE;
  --md-sys-color-surface-container-high: #EDE7E8;
  --md-sys-color-surface-container-highest: #E7E1E2;
  --md-sys-color-on-surface: #1D1B1C;
  --md-sys-color-surface-variant: #E7E1E2;
  --md-sys-color-on-surface-variant: #494647;
  --md-sys-color-outline: #7A7677;
  --md-sys-color-outline-variant: #CBC5C6;
  --md-sys-color-inverse-surface: #323031;
  --md-sys-color-inverse-on-surface: #F6EFF1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #695A67;
  --md-sys-color-primary: #695A67;
  --md-sys-color-primary-dim: #736370;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #F1DDEC;
  --md-sys-color-on-primary-container: #50434F;
  --md-sys-color-primary-fixed: #F1DDEC;
  --md-sys-color-primary-fixed-dim: #D4C1D0;
  --md-sys-color-on-primary-fixed: #231823;
  --md-sys-color-on-primary-fixed-variant: #50434F;
  --md-sys-color-inverse-primary: #D4C1D0;
  --md-sys-color-secondary: #665B63;
  --md-sys-color-secondary-dim: #6F656D;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #EDDEE8;
  --md-sys-color-on-secondary-container: #4D444C;
  --md-sys-color-secondary-fixed: #EDDEE8;
  --md-sys-color-secondary-fixed-dim: #D0C3CC;
  --md-sys-color-on-secondary-fixed: #211920;
  --md-sys-color-on-secondary-fixed-variant: #4D444C;
  --md-sys-color-tertiary: #6C586A;
  --md-sys-color-tertiary-dim: #766274;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #F5DBF0;
  --md-sys-color-on-tertiary-container: #534152;
  --md-sys-color-tertiary-fixed: #F5DBF0;
  --md-sys-color-tertiary-fixed-dim: #D8BFD4;
  --md-sys-color-on-tertiary-fixed: #261625;
  --md-sys-color-on-tertiary-fixed-variant: #534152;
  --md-sys-color-error: #BA1A1A;
  --md-sys-color-error-dim: #AC0C12;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;
  --md-sys-color-control-activated: #F1DDEC;
  --md-sys-color-control-normal: #494647;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E7E1E2;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC5C6;
  --md-sys-color-text-primary-inverse-disable-only: #E7E1E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E1E2;
  --md-sys-color-text-hint-inverse: #E7E1E2;
  --md-sys-color-widget-background: #FBEDF6;
  --md-sys-color-clock-hour: #4D444C;
  --md-sys-color-clock-minute: #5F515D;
  --md-sys-color-clock-second: #6C586A;
  --md-sys-color-weather-temp: #695A67;
  --md-sys-color-theme-app: #F1DDEC;
  --md-sys-color-on-theme-app: #50434F;
  --md-sys-color-theme-app-ring: #B8A6B4;
  --md-sys-color-theme-notif: #766274;
  --md-sys-color-brand-a: #665764;
  --md-sys-color-brand-b: #B4A8B1;
  --md-sys-color-brand-c: #827280;
  --md-sys-color-brand-d: #9C8599;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #F1DDEC;
  --md-sys-color-on-shade-active: #231823;
  --md-sys-color-on-shade-active-variant: #50434F;
  --md-sys-color-shade-inactive: #323031;
  --md-sys-color-on-shade-inactive: #AFAAAB;
  --md-sys-color-on-shade-inactive-variant: #CBC5C6;
  --md-sys-color-shade-disabled: #0F0E0F;
  --md-sys-color-overview-background: #CBC5C6;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #82727F;
  --md-sys-color-secondary-palette-key-color: #7F747C;
  --md-sys-color-tertiary-palette-key-color: #867184;
  --md-sys-color-neutral-palette-key-color: #7A7677;
  --md-sys-color-neutral-variant-palette-key-color: #7A7677;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FEF8F9;
  --md-sys-color-on-background: #1D1B1C;
  --md-sys-color-surface: #FEF8F9;
  --md-sys-color-surface-dim: #CBC5C6;
  --md-sys-color-surface-bright: #FEF8F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F2F3;
  --md-sys-color-surface-container: #EDE7E8;
  --md-sys-color-surface-container-high: #E1DBDD;
  --md-sys-color-surface-container-highest: #D6D0D2;
  --md-sys-color-on-surface: #121112;
  --md-sys-color-surface-variant: #E7E1E2;
  --md-sys-color-on-surface-variant: #383537;
  --md-sys-color-outline: #555153;
  --md-sys-color-outline-variant: #706C6D;
  --md-sys-color-inverse-surface: #323031;
  --md-sys-color-inverse-on-surface: #F6EFF1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #695A67;
  --md-sys-color-primary: #3F323E;
  --md-sys-color-primary-dim: #4E404C;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #786875;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #786875;
  --md-sys-color-primary-fixed-dim: #5F505D;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #D4C1D0;
  --md-sys-color-secondary: #3C343B;
  --md-sys-color-secondary-dim: #4B4249;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #756A72;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #756A72;
  --md-sys-color-secondary-fixed-dim: #5C525A;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #423141;
  --md-sys-color-tertiary-dim: #513F50;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #7C6779;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #7C6779;
  --md-sys-color-tertiary-fixed-dim: #624F60;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8F0009;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #CF2C27;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #F1DDEC;
  --md-sys-color-control-normal: #494647;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E7E1E2;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC5C6;
  --md-sys-color-text-primary-inverse-disable-only: #E7E1E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E1E2;
  --md-sys-color-text-hint-inverse: #E7E1E2;
  --md-sys-color-widget-background: #FBEDF6;
  --md-sys-color-clock-hour: #4D444C;
  --md-sys-color-clock-minute: #423541;
  --md-sys-color-clock-second: #000000;
  --md-sys-color-weather-temp: #000000;
  --md-sys-color-theme-app: #F1DDEC;
  --md-sys-color-on-theme-app: #322631;
  --md-sys-color-theme-app-ring: #80707D;
  --md-sys-color-theme-notif: #D5BCD0;
  --md-sys-color-brand-a: #4B3E4A;
  --md-sys-color-brand-b: #958991;
  --md-sys-color-brand-c: #5C4D5A;
  --md-sys-color-brand-d: #7D687B;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #F1DDEC;
  --md-sys-color-on-shade-active: #231823;
  --md-sys-color-on-shade-active-variant: #50434F;
  --md-sys-color-shade-inactive: #323031;
  --md-sys-color-on-shade-inactive: #AFAAAB;
  --md-sys-color-on-shade-inactive-variant: #CBC5C6;
  --md-sys-color-shade-disabled: #0F0E0F;
  --md-sys-color-overview-background: #CBC5C6;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #82727F;
  --md-sys-color-secondary-palette-key-color: #7F747C;
  --md-sys-color-tertiary-palette-key-color: #867184;
  --md-sys-color-neutral-palette-key-color: #7A7677;
  --md-sys-color-neutral-variant-palette-key-color: #7A7677;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #FEF8F9;
  --md-sys-color-on-background: #1D1B1C;
  --md-sys-color-surface: #FEF8F9;
  --md-sys-color-surface-dim: #BDB7B9;
  --md-sys-color-surface-bright: #FEF8F9;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F6EFF1;
  --md-sys-color-surface-container: #E7E1E2;
  --md-sys-color-surface-container-high: #D9D3D4;
  --md-sys-color-surface-container-highest: #CBC5C6;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E7E1E2;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #2E2B2D;
  --md-sys-color-outline-variant: #4B484A;
  --md-sys-color-inverse-surface: #323031;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #695A67;
  --md-sys-color-primary: #352834;
  --md-sys-color-primary-dim: #271C27;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #534551;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #534551;
  --md-sys-color-primary-fixed-dim: #3B2F3A;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #D4C1D0;
  --md-sys-color-secondary: #322A31;
  --md-sys-color-secondary-dim: #251D24;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #50464E;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #50464E;
  --md-sys-color-secondary-fixed-dim: #393037;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #372737;
  --md-sys-color-tertiary-dim: #2A1A29;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #564354;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #564354;
  --md-sys-color-tertiary-fixed-dim: #3E2D3D;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #98000A;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #F1DDEC;
  --md-sys-color-control-normal: #494647;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #E7E1E2;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CBC5C6;
  --md-sys-color-text-primary-inverse-disable-only: #E7E1E2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E1E2;
  --md-sys-color-text-hint-inverse: #E7E1E2;
  --md-sys-color-widget-background: #FBEDF6;
  --md-sys-color-clock-hour: #211920;
  --md-sys-color-clock-minute: #231822;
  --md-sys-color-clock-second: #3F2E3E;
  --md-sys-color-weather-temp: #3C2F3B;
  --md-sys-color-theme-app: #F1DDEC;
  --md-sys-color-on-theme-app: #000000;
  --md-sys-color-theme-app-ring: #665764;
  --md-sys-color-theme-notif: #D8BFD4;
  --md-sys-color-brand-a: #362935;
  --md-sys-color-brand-b: #756A72;
  --md-sys-color-brand-c: #514350;
  --md-sys-color-brand-d: #685466;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #F1DDEC;
  --md-sys-color-on-shade-active: #000000;
  --md-sys-color-on-shade-active-variant: #322631;
  --md-sys-color-shade-inactive: #323031;
  --md-sys-color-on-shade-inactive: #D4CED0;
  --md-sys-color-on-shade-inactive-variant: #F1EAEC;
  --md-sys-color-shade-disabled: #0F0E0F;
  --md-sys-color-overview-background: #CBC5C6;
}
.dark {
  --md-sys-color-primary-palette-key-color: #82727F;
  --md-sys-color-secondary-palette-key-color: #7F747C;
  --md-sys-color-tertiary-palette-key-color: #867184;
  --md-sys-color-neutral-palette-key-color: #7A7677;
  --md-sys-color-neutral-variant-palette-key-color: #7A7677;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #151314;
  --md-sys-color-on-background: #E7E1E2;
  --md-sys-color-surface: #151314;
  --md-sys-color-surface-dim: #151314;
  --md-sys-color-surface-bright: #3B383A;
  --md-sys-color-surface-container-lowest: #0F0E0F;
  --md-sys-color-surface-container-low: #1D1B1C;
  --md-sys-color-surface-container: #211F20;
  --md-sys-color-surface-container-high: #2C292B;
  --md-sys-color-surface-container-highest: #373435;
  --md-sys-color-on-surface: #E7E1E2;
  --md-sys-color-surface-variant: #494647;
  --md-sys-color-on-surface-variant: #CBC5C6;
  --md-sys-color-outline: #948F91;
  --md-sys-color-outline-variant: #494647;
  --md-sys-color-inverse-surface: #E7E1E2;
  --md-sys-color-inverse-on-surface: #323031;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D4C1D0;
  --md-sys-color-primary: #D4C1D0;
  --md-sys-color-primary-dim: #E3CFDE;
  --md-sys-color-on-primary: #392C38;
  --md-sys-color-primary-container: #50434F;
  --md-sys-color-on-primary-container: #F1DDEC;
  --md-sys-color-primary-fixed: #F1DDEC;
  --md-sys-color-primary-fixed-dim: #D4C1D0;
  --md-sys-color-on-primary-fixed: #231823;
  --md-sys-color-on-primary-fixed-variant: #50434F;
  --md-sys-color-inverse-primary: #695A67;
  --md-sys-color-secondary: #D0C3CC;
  --md-sys-color-secondary-dim: #DFD0DA;
  --md-sys-color-on-secondary: #362E35;
  --md-sys-color-secondary-container: #4D444C;
  --md-sys-color-on-secondary-container: #EDDEE8;
  --md-sys-color-secondary-fixed: #EDDEE8;
  --md-sys-color-secondary-fixed-dim: #D0C3CC;
  --md-sys-color-on-secondary-fixed: #211920;
  --md-sys-color-on-secondary-fixed-variant: #4D444C;
  --md-sys-color-tertiary: #D8BFD4;
  --md-sys-color-tertiary-dim: #FEE3F9;
  --md-sys-color-on-tertiary: #3C2B3B;
  --md-sys-color-tertiary-container: #534152;
  --md-sys-color-on-tertiary-container: #F5DBF0;
  --md-sys-color-tertiary-fixed: #F5DBF0;
  --md-sys-color-tertiary-fixed-dim: #D8BFD4;
  --md-sys-color-on-tertiary-fixed: #261625;
  --md-sys-color-on-tertiary-fixed-variant: #534152;
  --md-sys-color-error: #FFB4AB;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;
  --md-sys-color-control-activated: #50434F;
  --md-sys-color-control-normal: #CBC5C6;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1B1C;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494647;
  --md-sys-color-text-primary-inverse-disable-only: #1D1B1C;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1B1C;
  --md-sys-color-text-hint-inverse: #1D1B1C;
  --md-sys-color-widget-background: #362E35;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #F1DDEC;
  --md-sys-color-clock-second: #F5DBF0;
  --md-sys-color-weather-temp: #D4C1D0;
  --md-sys-color-theme-app: #362E35;
  --md-sys-color-on-theme-app: #D4C1D0;
  --md-sys-color-theme-app-ring: #B8A6B4;
  --md-sys-color-theme-notif: #D8BFD4;
  --md-sys-color-brand-a: #D4C1D0;
  --md-sys-color-brand-b: #FFF7FA;
  --md-sys-color-brand-c: #A695A3;
  --md-sys-color-brand-d: #F5DBF0;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #F1DDEC;
  --md-sys-color-on-shade-active: #D4C1D0;
  --md-sys-color-on-shade-active-variant: #50434F;
  --md-sys-color-shade-inactive: #323031;
  --md-sys-color-on-shade-inactive: #E7E1E2;
  --md-sys-color-on-shade-inactive-variant: #CBC5C6;
  --md-sys-color-shade-disabled: #0F0E0F;
  --md-sys-color-overview-background: #555153;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #82727F;
  --md-sys-color-secondary-palette-key-color: #7F747C;
  --md-sys-color-tertiary-palette-key-color: #867184;
  --md-sys-color-neutral-palette-key-color: #7A7677;
  --md-sys-color-neutral-variant-palette-key-color: #7A7677;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #151314;
  --md-sys-color-on-background: #E7E1E2;
  --md-sys-color-surface: #151314;
  --md-sys-color-surface-dim: #151314;
  --md-sys-color-surface-bright: #474445;
  --md-sys-color-surface-container-lowest: #080708;
  --md-sys-color-surface-container-low: #1F1D1E;
  --md-sys-color-surface-container: #2A2728;
  --md-sys-color-surface-container-high: #343233;
  --md-sys-color-surface-container-highest: #403D3E;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #494647;
  --md-sys-color-on-surface-variant: #E1DBDC;
  --md-sys-color-outline: #B6B0B2;
  --md-sys-color-outline-variant: #948F91;
  --md-sys-color-inverse-surface: #E7E1E2;
  --md-sys-color-inverse-on-surface: #2C292B;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D4C1D0;
  --md-sys-color-primary: #EBD7E6;
  --md-sys-color-primary-dim: #E3CFDE;
  --md-sys-color-on-primary: #2E222D;
  --md-sys-color-primary-container: #9D8C9A;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #F1DDEC;
  --md-sys-color-primary-fixed-dim: #D4C1D0;
  --md-sys-color-on-primary-fixed: #180E18;
  --md-sys-color-on-primary-fixed-variant: #3F323E;
  --md-sys-color-inverse-primary: #524450;
  --md-sys-color-secondary: #E7D8E2;
  --md-sys-color-secondary-dim: #DFD0DA;
  --md-sys-color-on-secondary: #2B232A;
  --md-sys-color-secondary-container: #998D96;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #EDDEE8;
  --md-sys-color-secondary-fixed-dim: #D0C3CC;
  --md-sys-color-on-secondary-fixed: #160F15;
  --md-sys-color-on-secondary-fixed-variant: #3C343B;
  --md-sys-color-tertiary: #EFD5EA;
  --md-sys-color-tertiary-dim: #FEE3F9;
  --md-sys-color-on-tertiary: #302030;
  --md-sys-color-tertiary-container: #A18A9D;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #F5DBF0;
  --md-sys-color-tertiary-fixed-dim: #D8BFD4;
  --md-sys-color-on-tertiary-fixed: #1A0C1B;
  --md-sys-color-on-tertiary-fixed-variant: #423141;
  --md-sys-color-error: #FFD2CC;
  --md-sys-color-error-dim: #FFC7C0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #FF5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #50434F;
  --md-sys-color-control-normal: #CBC5C6;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1B1C;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494647;
  --md-sys-color-text-primary-inverse-disable-only: #1D1B1C;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1B1C;
  --md-sys-color-text-hint-inverse: #1D1B1C;
  --md-sys-color-widget-background: #362E35;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #F1DDEC;
  --md-sys-color-clock-second: #FFFFFF;
  --md-sys-color-weather-temp: #FFFFFF;
  --md-sys-color-theme-app: #362E35;
  --md-sys-color-on-theme-app: #FBE6F6;
  --md-sys-color-theme-app-ring: #B8A6B4;
  --md-sys-color-theme-notif: #D8BFD4;
  --md-sys-color-brand-a: #EAD6E5;
  --md-sys-color-brand-b: #FFFEFF;
  --md-sys-color-brand-c: #CDB9C8;
  --md-sys-color-brand-d: #FFE4FA;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #F1DDEC;
  --md-sys-color-on-shade-active: #D4C1D0;
  --md-sys-color-on-shade-active-variant: #50434F;
  --md-sys-color-shade-inactive: #323031;
  --md-sys-color-on-shade-inactive: #E7E1E2;
  --md-sys-color-on-shade-inactive-variant: #CBC5C6;
  --md-sys-color-shade-disabled: #0F0E0F;
  --md-sys-color-overview-background: #555153;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #82727F;
  --md-sys-color-secondary-palette-key-color: #7F747C;
  --md-sys-color-tertiary-palette-key-color: #867184;
  --md-sys-color-neutral-palette-key-color: #7A7677;
  --md-sys-color-neutral-variant-palette-key-color: #7A7677;
  --md-sys-color-error-palette-key-color: #DE3730;
  --md-sys-color-background: #151314;
  --md-sys-color-on-background: #E7E1E2;
  --md-sys-color-surface: #151314;
  --md-sys-color-surface-dim: #151314;
  --md-sys-color-surface-bright: #524F51;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #211F20;
  --md-sys-color-surface-container: #323031;
  --md-sys-color-surface-container-high: #3D3B3C;
  --md-sys-color-surface-container-highest: #494647;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #494647;
  --md-sys-color-on-surface-variant: #FFFFFF;
  --md-sys-color-outline: #F5EEF0;
  --md-sys-color-outline-variant: #C7C1C3;
  --md-sys-color-inverse-surface: #E7E1E2;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #D4C1D0;
  --md-sys-color-primary: #FFEAFA;
  --md-sys-color-primary-dim: #FFFEFF;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #D0BDCC;
  --md-sys-color-on-primary-container: #120812;
  --md-sys-color-primary-fixed: #F1DDEC;
  --md-sys-color-primary-fixed-dim: #D4C1D0;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #180E18;
  --md-sys-color-inverse-primary: #524450;
  --md-sys-color-secondary: #FBECF5;
  --md-sys-color-secondary-dim: #FFFEFF;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #CCBFC8;
  --md-sys-color-on-secondary-container: #10090F;
  --md-sys-color-secondary-fixed: #EDDEE8;
  --md-sys-color-secondary-fixed-dim: #D0C3CC;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #160F15;
  --md-sys-color-tertiary: #FFEAFA;
  --md-sys-color-tertiary-dim: #FFFEFF;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #D4BBD0;
  --md-sys-color-on-tertiary-container: #140614;
  --md-sys-color-tertiary-fixed: #F5DBF0;
  --md-sys-color-tertiary-fixed-dim: #D8BFD4;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #1A0C1B;
  --md-sys-color-error: #FFECE9;
  --md-sys-color-error-dim: #FFFEFF;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #FFAEA4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #50434F;
  --md-sys-color-control-normal: #CBC5C6;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #1D1B1C;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494647;
  --md-sys-color-text-primary-inverse-disable-only: #1D1B1C;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1B1C;
  --md-sys-color-text-hint-inverse: #1D1B1C;
  --md-sys-color-widget-background: #362E35;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #FFFFFF;
  --md-sys-color-clock-second: #FFE4FA;
  --md-sys-color-weather-temp: #FBE6F6;
  --md-sys-color-theme-app: #362E35;
  --md-sys-color-on-theme-app: #FFFFFF;
  --md-sys-color-theme-app-ring: #B8A6B4;
  --md-sys-color-theme-notif: #D8BFD4;
  --md-sys-color-brand-a: #F5E0F0;
  --md-sys-color-brand-b: #FFFFFF;
  --md-sys-color-brand-c: #E3CFDE;
  --md-sys-color-brand-d: #FFF3FA;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #F1DDEC;
  --md-sys-color-on-shade-active: #61535F;
  --md-sys-color-on-shade-active-variant: #322631;
  --md-sys-color-shade-inactive: #323031;
  --md-sys-color-on-shade-inactive: #FFFFFF;
  --md-sys-color-on-shade-inactive-variant: #F1EAEC;
  --md-sys-color-shade-disabled: #0F0E0F;
  --md-sys-color-overview-background: #555153;
}
