.light {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7C7296;
  --md-sys-color-tertiary-palette-key-color: #7E6EA9;
  --md-sys-color-neutral-palette-key-color: #7A7581;
  --md-sys-color-neutral-variant-palette-key-color: #7A7581;
  --md-sys-color-error-palette-key-color: #BD575E;
  --md-sys-color-background: #FDF7FF;
  --md-sys-color-on-background: #352F43;
  --md-sys-color-surface: #FDF7FF;
  --md-sys-color-surface-dim: #DFD6F0;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F1FF;
  --md-sys-color-surface-container: #F3EAFF;
  --md-sys-color-surface-container-high: #EDE4FB;
  --md-sys-color-surface-container-highest: #E8DEF9;
  --md-sys-color-on-surface: #352F43;
  --md-sys-color-surface-variant: #E8DEF9;
  --md-sys-color-on-surface-variant: #625C72;
  --md-sys-color-outline: #7E778E;
  --md-sys-color-outline-variant: #B7AEC7;
  --md-sys-color-inverse-surface: #100B1D;
  --md-sys-color-inverse-on-surface: #A09BA8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #5B4497;
  --md-sys-color-primary: #5B4497;
  --md-sys-color-primary-dim: #5B4497;
  --md-sys-color-on-primary: #EADEFF;
  --md-sys-color-primary-container: #6750A4;
  --md-sys-color-on-primary-container: #FCF6FF;
  --md-sys-color-primary-fixed: #6750A4;
  --md-sys-color-primary-fixed-dim: #5B4497;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #E0D2FF;
  --md-sys-color-inverse-primary: #BBA2FD;
  --md-sys-color-secondary: #645A7D;
  --md-sys-color-secondary-dim: #645A7D;
  --md-sys-color-on-secondary: #FDF7FF;
  --md-sys-color-secondary-container: #DED1FA;
  --md-sys-color-on-secondary-container: #4F4667;
  --md-sys-color-secondary-fixed: #DED1FA;
  --md-sys-color-secondary-fixed-dim: #D0C3EB;
  --md-sys-color-on-secondary-fixed: #3C3353;
  --md-sys-color-on-secondary-fixed-variant: #594F71;
  --md-sys-color-tertiary: #594982;
  --md-sys-color-tertiary-dim: #594982;
  --md-sys-color-on-tertiary: #EADEFF;
  --md-sys-color-tertiary-container: #65558F;
  --md-sys-color-on-tertiary-container: #FCF6FF;
  --md-sys-color-tertiary-fixed: #65558F;
  --md-sys-color-tertiary-fixed-dim: #594982;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #E0D2FF;
  --md-sys-color-error: #9F3F47;
  --md-sys-color-error-dim: #9F3F47;
  --md-sys-color-on-error: #FFF7F6;
  --md-sys-color-error-container: #FA868D;
  --md-sys-color-on-error-container: #580817;
  --md-sys-color-control-activated: #6750A4;
  --md-sys-color-control-normal: #625C72;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #A09BA8;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CAC4D2;
  --md-sys-color-text-primary-inverse-disable-only: #E7E0EE;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E0EE;
  --md-sys-color-text-hint-inverse: #E7E0EE;
  --md-sys-color-widget-background: #F6EEFF;
  --md-sys-color-clock-hour: #423959;
  --md-sys-color-clock-minute: #5D4699;
  --md-sys-color-clock-second: #65558F;
  --md-sys-color-weather-temp: #6750A4;
  --md-sys-color-theme-app: #E9DDFF;
  --md-sys-color-on-theme-app: #4F378A;
  --md-sys-color-theme-app-ring: #B69DF7;
  --md-sys-color-theme-notif: #CFBDFE;
  --md-sys-color-brand-a: #644DA1;
  --md-sys-color-brand-b: #B1A5CC;
  --md-sys-color-brand-c: #8069BF;
  --md-sys-color-brand-d: #9483C0;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E9DDFF;
  --md-sys-color-on-shade-active: #6D56AA;
  --md-sys-color-on-shade-active-variant: #4F378A;
  --md-sys-color-shade-inactive: #322F39;
  --md-sys-color-on-shade-inactive: #E7E0EE;
  --md-sys-color-on-shade-inactive-variant: #CAC4D2;
  --md-sys-color-shade-disabled: #0F0D16;
  --md-sys-color-overview-background: #CAC4D2;
}
.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7C7296;
  --md-sys-color-tertiary-palette-key-color: #7E6EA9;
  --md-sys-color-neutral-palette-key-color: #7A7581;
  --md-sys-color-neutral-variant-palette-key-color: #7A7581;
  --md-sys-color-error-palette-key-color: #BD575E;
  --md-sys-color-background: #FDF7FF;
  --md-sys-color-on-background: #262134;
  --md-sys-color-surface: #FDF7FF;
  --md-sys-color-surface-dim: #DFD6F0;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F1FF;
  --md-sys-color-surface-container: #F3EAFF;
  --md-sys-color-surface-container-high: #EDE4FB;
  --md-sys-color-surface-container-highest: #E8DEF9;
  --md-sys-color-on-surface: #262134;
  --md-sys-color-surface-variant: #E8DEF9;
  --md-sys-color-on-surface-variant: #464054;
  --md-sys-color-outline: #625C72;
  --md-sys-color-outline-variant: #7E778E;
  --md-sys-color-inverse-surface: #100B1D;
  --md-sys-color-inverse-on-surface: #C9C2D0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4B3386;
  --md-sys-color-primary: #4B3386;
  --md-sys-color-primary-dim: #4B3386;
  --md-sys-color-on-primary: #E1D3FF;
  --md-sys-color-primary-container: #6750A4;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #6750A4;
  --md-sys-color-primary-fixed-dim: #5B4497;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #BBA2FD;
  --md-sys-color-secondary: #473E5F;
  --md-sys-color-secondary-dim: #473E5F;
  --md-sys-color-on-secondary: #E0D3FC;
  --md-sys-color-secondary-container: #796F93;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #796F93;
  --md-sys-color-secondary-fixed-dim: #6D6386;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #493971;
  --md-sys-color-tertiary-dim: #493971;
  --md-sys-color-on-tertiary: #E1D3FF;
  --md-sys-color-tertiary-container: #65558F;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #65558F;
  --md-sys-color-tertiary-fixed-dim: #594982;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #7A242D;
  --md-sys-color-error-dim: #7A242D;
  --md-sys-color-on-error: #FFCECE;
  --md-sys-color-error-container: #BA545C;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #6750A4;
  --md-sys-color-control-normal: #464054;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #C9C2D0;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CAC4D2;
  --md-sys-color-text-primary-inverse-disable-only: #E7E0EE;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E0EE;
  --md-sys-color-text-hint-inverse: #E7E0EE;
  --md-sys-color-widget-background: #F6EEFF;
  --md-sys-color-clock-hour: #271F3E;
  --md-sys-color-clock-minute: #41297C;
  --md-sys-color-clock-second: #000000;
  --md-sys-color-weather-temp: #000000;
  --md-sys-color-theme-app: #E9DDFF;
  --md-sys-color-on-theme-app: #31166B;
  --md-sys-color-theme-app-ring: #7E66BC;
  --md-sys-color-theme-notif: #CFBDFE;
  --md-sys-color-brand-a: #4A3285;
  --md-sys-color-brand-b: #9287AC;
  --md-sys-color-brand-c: #5A4396;
  --md-sys-color-brand-d: #7666A0;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E9DDFF;
  --md-sys-color-on-shade-active: #50398B;
  --md-sys-color-on-shade-active-variant: #4F378A;
  --md-sys-color-shade-inactive: #322F39;
  --md-sys-color-on-shade-inactive: #E7E0EE;
  --md-sys-color-on-shade-inactive-variant: #CAC4D2;
  --md-sys-color-shade-disabled: #0F0D16;
  --md-sys-color-overview-background: #CAC4D2;
}
.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7C7296;
  --md-sys-color-tertiary-palette-key-color: #7E6EA9;
  --md-sys-color-neutral-palette-key-color: #7A7581;
  --md-sys-color-neutral-variant-palette-key-color: #7A7581;
  --md-sys-color-error-palette-key-color: #BD575E;
  --md-sys-color-background: #FDF7FF;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #FDF7FF;
  --md-sys-color-surface-dim: #DFD6F0;
  --md-sys-color-surface-bright: #FDF7FF;
  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F8F1FF;
  --md-sys-color-surface-container: #F3EAFF;
  --md-sys-color-surface-container-high: #EDE4FB;
  --md-sys-color-surface-container-highest: #E8DEF9;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #E8DEF9;
  --md-sys-color-on-surface-variant: #262134;
  --md-sys-color-outline: #464054;
  --md-sys-color-outline-variant: #554F64;
  --md-sys-color-inverse-surface: #100B1D;
  --md-sys-color-inverse-on-surface: #FFFFFF;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #2B0D65;
  --md-sys-color-primary: #2B0D65;
  --md-sys-color-primary-dim: #2B0D65;
  --md-sys-color-on-primary: #E1D3FF;
  --md-sys-color-primary-container: #5A4396;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #5A4396;
  --md-sys-color-primary-fixed-dim: #4E378A;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #CEBAFF;
  --md-sys-color-secondary: #271F3E;
  --md-sys-color-secondary-dim: #271F3E;
  --md-sys-color-on-secondary: #E1D4FD;
  --md-sys-color-secondary-container: #564D6F;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #564D6F;
  --md-sys-color-secondary-fixed-dim: #4A4163;
  --md-sys-color-on-secondary-fixed: #FFFFFF;
  --md-sys-color-on-secondary-fixed-variant: #FFFFFF;
  --md-sys-color-tertiary: #291950;
  --md-sys-color-tertiary-dim: #291950;
  --md-sys-color-on-tertiary: #E1D3FF;
  --md-sys-color-tertiary-container: #584981;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #584981;
  --md-sys-color-tertiary-fixed-dim: #4C3D75;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #4F0211;
  --md-sys-color-error-dim: #4F0211;
  --md-sys-color-on-error: #FFCECF;
  --md-sys-color-error-container: #8E333B;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #5A4396;
  --md-sys-color-control-normal: #262134;
  --md-sys-color-control-highlight: #000000;
  --md-sys-color-text-primary-inverse: #FFFFFF;
  --md-sys-color-text-secondary-and-tertiary-inverse: #CAC4D2;
  --md-sys-color-text-primary-inverse-disable-only: #E7E0EE;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #E7E0EE;
  --md-sys-color-text-hint-inverse: #E7E0EE;
  --md-sys-color-widget-background: #F6EEFF;
  --md-sys-color-clock-hour: #000000;
  --md-sys-color-clock-minute: #22005D;
  --md-sys-color-clock-second: #382960;
  --md-sys-color-weather-temp: #3A2275;
  --md-sys-color-theme-app: #E9DDFF;
  --md-sys-color-on-theme-app: #000000;
  --md-sys-color-theme-app-ring: #7159AE;
  --md-sys-color-theme-notif: #CFBDFE;
  --md-sys-color-brand-a: #361C71;
  --md-sys-color-brand-b: #74698D;
  --md-sys-color-brand-c: #513A8D;
  --md-sys-color-brand-d: #62538C;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E9DDFF;
  --md-sys-color-on-shade-active: #31166B;
  --md-sys-color-on-shade-active-variant: #31166B;
  --md-sys-color-shade-inactive: #322F39;
  --md-sys-color-on-shade-inactive: #FFFFFF;
  --md-sys-color-on-shade-inactive-variant: #F1E9F8;
  --md-sys-color-shade-disabled: #0F0D16;
  --md-sys-color-overview-background: #CAC4D2;
}
.dark {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7C7296;
  --md-sys-color-tertiary-palette-key-color: #7E6EA9;
  --md-sys-color-neutral-palette-key-color: #7A7581;
  --md-sys-color-neutral-variant-palette-key-color: #7A7581;
  --md-sys-color-error-palette-key-color: #BD575E;
  --md-sys-color-background: #0F0D16;
  --md-sys-color-on-background: #EBE1FC;
  --md-sys-color-surface: #0F0D16;
  --md-sys-color-surface-dim: #0F0D16;
  --md-sys-color-surface-bright: #2F293D;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #15111E;
  --md-sys-color-surface-container: #1B1726;
  --md-sys-color-surface-container-high: #221D2D;
  --md-sys-color-surface-container-highest: #282336;
  --md-sys-color-on-surface: #EBE1FC;
  --md-sys-color-surface-variant: #282336;
  --md-sys-color-on-surface-variant: #B0A7C0;
  --md-sys-color-outline: #797289;
  --md-sys-color-outline-variant: #4B455A;
  --md-sys-color-inverse-surface: #FDF7FF;
  --md-sys-color-inverse-on-surface: #57535F;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #A890E9;
  --md-sys-color-primary: #A890E9;
  --md-sys-color-primary-dim: #A890E9;
  --md-sys-color-on-primary: #270762;
  --md-sys-color-primary-container: #6750A4;
  --md-sys-color-on-primary-container: #FCF6FF;
  --md-sys-color-primary-fixed: #6750A4;
  --md-sys-color-primary-fixed-dim: #5B4497;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #E0D2FF;
  --md-sys-color-inverse-primary: #6750A4;
  --md-sys-color-secondary: #A398BE;
  --md-sys-color-secondary-dim: #A398BE;
  --md-sys-color-on-secondary: #231B3A;
  --md-sys-color-secondary-container: #342B4B;
  --md-sys-color-on-secondary-container: #B6AAD2;
  --md-sys-color-secondary-fixed: #DED1FA;
  --md-sys-color-secondary-fixed-dim: #D0C3EB;
  --md-sys-color-on-secondary-fixed: #3C3353;
  --md-sys-color-on-secondary-fixed-variant: #594F71;
  --md-sys-color-tertiary: #A694D3;
  --md-sys-color-tertiary-dim: #A694D3;
  --md-sys-color-on-tertiary: #25154C;
  --md-sys-color-tertiary-container: #65558F;
  --md-sys-color-on-tertiary-container: #FCF6FF;
  --md-sys-color-tertiary-fixed: #65558F;
  --md-sys-color-tertiary-fixed-dim: #594982;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #E0D2FF;
  --md-sys-color-error: #FA868D;
  --md-sys-color-error-dim: #FA868D;
  --md-sys-color-on-error: #580817;
  --md-sys-color-error-container: #4C000F;
  --md-sys-color-on-error-container: #EF7E84;
  --md-sys-color-control-activated: #6750A4;
  --md-sys-color-control-normal: #B0A7C0;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #57535F;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494550;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A24;
  --md-sys-color-text-hint-inverse: #1D1A24;
  --md-sys-color-widget-background: #342B4B;
  --md-sys-color-clock-hour: #CFBCFF;
  --md-sys-color-clock-minute: #E9DDFF;
  --md-sys-color-clock-second: #E9DDFF;
  --md-sys-color-weather-temp: #CFBCFF;
  --md-sys-color-theme-app: #342B4B;
  --md-sys-color-on-theme-app: #CFBCFF;
  --md-sys-color-theme-app-ring: #B69DF7;
  --md-sys-color-theme-notif: #A694D3;
  --md-sys-color-brand-a: #CFBCFF;
  --md-sys-color-brand-b: #FDF7FF;
  --md-sys-color-brand-c: #9E86DE;
  --md-sys-color-brand-d: #E9DDFF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E9DDFF;
  --md-sys-color-on-shade-active: #22005D;
  --md-sys-color-on-shade-active-variant: #4F378A;
  --md-sys-color-shade-inactive: #322F39;
  --md-sys-color-on-shade-inactive: #AFA9B6;
  --md-sys-color-on-shade-inactive-variant: #CAC4D2;
  --md-sys-color-shade-disabled: #0F0D16;
  --md-sys-color-overview-background: #55515C;
}
.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7C7296;
  --md-sys-color-tertiary-palette-key-color: #7E6EA9;
  --md-sys-color-neutral-palette-key-color: #7A7581;
  --md-sys-color-neutral-variant-palette-key-color: #7A7581;
  --md-sys-color-error-palette-key-color: #BD575E;
  --md-sys-color-background: #0F0D16;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #0F0D16;
  --md-sys-color-surface-dim: #0F0D16;
  --md-sys-color-surface-bright: #2F293D;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #15111E;
  --md-sys-color-surface-container: #1B1726;
  --md-sys-color-surface-container-high: #221D2D;
  --md-sys-color-surface-container-highest: #282336;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #282336;
  --md-sys-color-on-surface-variant: #BEB5CE;
  --md-sys-color-outline: #9890A8;
  --md-sys-color-outline-variant: #797289;
  --md-sys-color-inverse-surface: #FDF7FF;
  --md-sys-color-inverse-on-surface: #3A3641;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #C3ACFF;
  --md-sys-color-primary: #C3ACFF;
  --md-sys-color-primary-dim: #C3ACFF;
  --md-sys-color-on-primary: #33196E;
  --md-sys-color-primary-container: #7E66BC;
  --md-sys-color-on-primary-container: #FFFFFF;
  --md-sys-color-primary-fixed: #7E66BC;
  --md-sys-color-primary-fixed-dim: #7E67BD;
  --md-sys-color-on-primary-fixed: #FFFFFF;
  --md-sys-color-on-primary-fixed-variant: #FFFFFF;
  --md-sys-color-inverse-primary: #5D469A;
  --md-sys-color-secondary: #BFB3DA;
  --md-sys-color-secondary-dim: #BFB3DA;
  --md-sys-color-on-secondary: #302747;
  --md-sys-color-secondary-container: #796F93;
  --md-sys-color-on-secondary-container: #FFFFFF;
  --md-sys-color-secondary-fixed: #DED1FA;
  --md-sys-color-secondary-fixed-dim: #D0C3EB;
  --md-sys-color-on-secondary-fixed: #180F2E;
  --md-sys-color-on-secondary-fixed-variant: #3C3353;
  --md-sys-color-tertiary: #C1AFEF;
  --md-sys-color-tertiary-dim: #C1AFEF;
  --md-sys-color-on-tertiary: #312258;
  --md-sys-color-tertiary-container: #7B6BA6;
  --md-sys-color-on-tertiary-container: #FFFFFF;
  --md-sys-color-tertiary-fixed: #7B6BA6;
  --md-sys-color-tertiary-fixed-dim: #7C6CA7;
  --md-sys-color-on-tertiary-fixed: #FFFFFF;
  --md-sys-color-on-tertiary-fixed-variant: #FFFFFF;
  --md-sys-color-error: #FF9EA2;
  --md-sys-color-error-dim: #FF9EA2;
  --md-sys-color-on-error: #5B0B18;
  --md-sys-color-error-container: #BA545C;
  --md-sys-color-on-error-container: #FFFFFF;
  --md-sys-color-control-activated: #7E66BC;
  --md-sys-color-control-normal: #BEB5CE;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #3A3641;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494550;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A24;
  --md-sys-color-text-hint-inverse: #1D1A24;
  --md-sys-color-widget-background: #342B4B;
  --md-sys-color-clock-hour: #CFBCFF;
  --md-sys-color-clock-minute: #E9DDFF;
  --md-sys-color-clock-second: #FFFFFF;
  --md-sys-color-weather-temp: #FFFFFF;
  --md-sys-color-theme-app: #342B4B;
  --md-sys-color-on-theme-app: #F1E8FF;
  --md-sys-color-theme-app-ring: #B69DF7;
  --md-sys-color-theme-notif: #A694D3;
  --md-sys-color-brand-a: #D9C9FF;
  --md-sys-color-brand-b: #FDF7FF;
  --md-sys-color-brand-c: #C0A8FF;
  --md-sys-color-brand-d: #E9DDFF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E9DDFF;
  --md-sys-color-on-shade-active: #22005D;
  --md-sys-color-on-shade-active-variant: #4F378A;
  --md-sys-color-shade-inactive: #322F39;
  --md-sys-color-on-shade-inactive: #C2BCC9;
  --md-sys-color-on-shade-inactive-variant: #CAC4D2;
  --md-sys-color-shade-disabled: #0F0D16;
  --md-sys-color-overview-background: #55515C;
}
.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8069BF;
  --md-sys-color-secondary-palette-key-color: #7C7296;
  --md-sys-color-tertiary-palette-key-color: #7E6EA9;
  --md-sys-color-neutral-palette-key-color: #7A7581;
  --md-sys-color-neutral-variant-palette-key-color: #7A7581;
  --md-sys-color-error-palette-key-color: #BD575E;
  --md-sys-color-background: #0F0D16;
  --md-sys-color-on-background: #FFFFFF;
  --md-sys-color-surface: #0F0D16;
  --md-sys-color-surface-dim: #0F0D16;
  --md-sys-color-surface-bright: #2F293D;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #15111E;
  --md-sys-color-surface-container: #1B1726;
  --md-sys-color-surface-container-high: #221D2D;
  --md-sys-color-surface-container-highest: #282336;
  --md-sys-color-on-surface: #FFFFFF;
  --md-sys-color-surface-variant: #282336;
  --md-sys-color-on-surface-variant: #EBE1FC;
  --md-sys-color-outline: #BEB5CE;
  --md-sys-color-outline-variant: #A8A0B8;
  --md-sys-color-inverse-surface: #FDF7FF;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #EBE1FF;
  --md-sys-color-primary: #EBE1FF;
  --md-sys-color-primary-dim: #EBE1FF;
  --md-sys-color-on-primary: #33196E;
  --md-sys-color-primary-container: #AE96EF;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-primary-fixed: #AE96EF;
  --md-sys-color-primary-fixed-dim: #AE96EF;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-inverse-primary: #40277A;
  --md-sys-color-secondary: #EBE1FF;
  --md-sys-color-secondary-dim: #EBE1FF;
  --md-sys-color-on-secondary: #2F2746;
  --md-sys-color-secondary-container: #A99EC4;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #DED1FA;
  --md-sys-color-secondary-fixed-dim: #D0C3EB;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #180F2E;
  --md-sys-color-tertiary: #EBE1FF;
  --md-sys-color-tertiary-dim: #EBE1FF;
  --md-sys-color-on-tertiary: #312258;
  --md-sys-color-tertiary-container: #AC9AD9;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #AC9AD9;
  --md-sys-color-tertiary-fixed-dim: #AC9AD9;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #FFDEDE;
  --md-sys-color-error-dim: #FFDEDE;
  --md-sys-color-on-error: #5B0B18;
  --md-sys-color-error-container: #F48288;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #AE96EF;
  --md-sys-color-control-normal: #EBE1FC;
  --md-sys-color-control-highlight: #FFFFFF;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494550;
  --md-sys-color-text-primary-inverse-disable-only: #1D1A24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1D1A24;
  --md-sys-color-text-hint-inverse: #1D1A24;
  --md-sys-color-widget-background: #342B4B;
  --md-sys-color-clock-hour: #FFFFFF;
  --md-sys-color-clock-minute: #FFFFFF;
  --md-sys-color-clock-second: #F1E8FF;
  --md-sys-color-weather-temp: #F1E8FF;
  --md-sys-color-theme-app: #342B4B;
  --md-sys-color-on-theme-app: #FFFFFF;
  --md-sys-color-theme-app-ring: #B69DF7;
  --md-sys-color-theme-notif: #A694D3;
  --md-sys-color-brand-a: #E0D2FF;
  --md-sys-color-brand-b: #FDF7FF;
  --md-sys-color-brand-c: #D1BFFF;
  --md-sys-color-brand-d: #EEE4FF;
  --md-sys-color-under-surface: #000000;
  --md-sys-color-shade-active: #E9DDFF;
  --md-sys-color-on-shade-active: #000000;
  --md-sys-color-on-shade-active-variant: #31166B;
  --md-sys-color-shade-inactive: #322F39;
  --md-sys-color-on-shade-inactive: #F1E9F8;
  --md-sys-color-on-shade-inactive-variant: #F1E9F8;
  --md-sys-color-shade-disabled: #0F0D16;
  --md-sys-color-overview-background: #55515C;
}
