name: Check
permissions: read-all

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        sdk: ['3.10', dev]
    steps:
      - uses: actions/checkout@v5
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}
      - id: install
        name: Install dependencies
        run: dart pub get
      - name: Run VM tests
        run: dart test --platform vm
        if: always() && steps.install.outcome == 'success'

  # TODO: enable coverage
  # coverage:
  #   needs: test
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v5
  #   - uses: dart-lang/setup-dart@v1
  #     with:
  #       sdk: dev
  #   - name: Install dependencies
  #     run: dart pub get
  #   - name: Install coverage
  #     run: dart pub global activate coverage
  #   - name: Collect and report coverage
  #     run: dart pub global run coverage:test_with_coverage
